Repository TBD54566975/web5-js: changes, and which Codecov flags are due for each by the changed paths.
All: agent, api, common, credentials, crypto, dids, identity-agent, crypto-aws-kms, proxy-agent, user-agent

codecov.yml:

comment:
  layout: "header, diff, components"

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto # auto compares coverage to the previous base commit
        threshold: 5% # allows a 5% drop from the previous base commit coverage
      - type: patch
        target: 90 # every PR opened should strive for at least 90% coverage

  individual_components:
    - component_id: package-agent
      name: agent
      paths: ["packages/agent/**"]

    - component_id: package-api
      name: api
      paths: ["packages/api/**"]

    - component_id: package_common
      name: common
      paths: ["packages/common/**"]

    - component_id: package_credentials
      name: credentials
      paths: ["packages/credentials/**"]

    - component_id: package_crypto
      name: crypto
      paths: ["packages/crypto/**"]

    - component_id: package_dids
      name: dids
      paths: ["packages/dids/**"]

    - component_id: package-identity-agent
      name: identity-agent
      paths: ["packages/identity-agent/**"]

    - component_id: package-crypto-aws-kms
      name: crypto-aws-kms
      paths: ["packages/crypto-aws-kms/**"]

    - component_id: package-proxy-agent
      name: proxy-agent
      paths: ["packages/proxy-agent/**"]

    - component_id: package-user-agent
      name: user-agent
      paths: ["packages/user-agent/**"]

coverage:
  status:
    project:
      default:
        informational: true
    patch:
      default:
        informational: true # Don't gate PRs based on Codecov passing thresholds

Updates to status list 2021 PR (#486)
  packages/credentials/.c8rc.json
  packages/credentials/.vscode/settings.json
  packages/credentials/src/status-list-credential.ts
  packages/credentials/src/verifiable-credential.ts
  packages/credentials/tests/status-list-credential.spec.ts
Due: credentials

updates
  packages/credentials/src/status-list-credential.ts
  packages/credentials/tests/status-list-credential.spec.ts
Due: credentials

updates
  packages/credentials/src/status-list-credential.ts
Due: credentials

upgrade to latest dwn-sdk-js `v0.2.22` (#484)
  .changeset/blue-papayas-leave.md
  package.json
  packages/agent/package.json
  packages/api/package.json
  packages/dev-env/docker-compose.yaml
  pnpm-lock.yaml
Due: agent, api

update various agent dependency patch versions for changest
  packages/api/package.json
  packages/identity-agent/package.json
  packages/proxy-agent/package.json
  packages/user-agent/package.json
  pnpm-lock.yaml
Due: api, identity-agent, proxy-agent, user-agent

updating timeout
  packages/dids/tests/methods/did-dht.spec.ts
Due: dids

updates
  packages/dids/tests/methods/did-dht.spec.ts
Due: dids

test and report vectors for dht resolve independently
  packages/dids/tests/methods/did-dht.spec.ts
Due: dids

cred schema impl
  packages/credentials/src/verifiable-credential.ts
  packages/credentials/tests/verifiable-credential.spec.ts
Due: credentials

bump package version
  packages/credentials/package.json
Due: credentials

remove 1.0.1
  packages/credentials/package.json
Due: credentials

add changesets
  packages/credentials/.changeset/README.md
  packages/credentials/.changeset/config.json
  packages/credentials/.changeset/tasty-otters-approve.md
Due: credentials

wrong dir changeset
  packages/credentials/.changeset/README.md
  packages/credentials/.changeset/config.json
  packages/credentials/.changeset/tasty-otters-approve.md
Due: credentials

update changeset
  .changeset/famous-pianos-drum.md
Due: none

updated
  .changeset/famous-pianos-drum.md
  .changeset/seven-horses-clap.md
Due: none

extract parentContextId from record when updating
  .changeset/big-tomatoes-obey.md
  packages/api/src/record.ts
  packages/api/tests/record.spec.ts
Due: api

fix linting in tests
  packages/api/tests/record.spec.ts
Due: api

extract parentContextId from record when updating (#494)
  .changeset/big-tomatoes-obey.md
  packages/api/src/record.ts
  packages/api/tests/record.spec.ts
Due: api

chore: bump ion
  packages/dids/package.json
  pnpm-lock.yaml
Due: dids

do not cache resolution requests with errors
  .changeset/tall-toes-remember.md
  packages/dids/src/resolver/universal-resolver.ts
  packages/dids/tests/resolver/universal-resolver.spec.ts
Due: dids

do not cache resolution requests with errors (#496)
  .changeset/tall-toes-remember.md
  packages/dids/src/resolver/universal-resolver.ts
  packages/dids/tests/resolver/universal-resolver.spec.ts
Due: dids

add changeset
  .changeset/shy-fireants-exist.md
Due: none

fix cve
  package.json
  pnpm-lock.yaml
Due: none

upgrade api and agent
  .changeset/few-oranges-compare.md
  package.json
  packages/agent/package.json
  packages/api/package.json
  packages/api/src/record.ts
  packages/api/tests/dwn-api.spec.ts
  packages/dev-env/docker-compose.yaml
  packages/identity-agent/package.json
  packages/proxy-agent/package.json
  packages/user-agent/package.json
  pnpm-lock.yaml
Due: agent, api, identity-agent, proxy-agent, user-agent

update tags if new ones are passed, keep original tags if not
  packages/api/src/record.ts
  packages/api/tests/record.spec.ts
Due: api

modify tests
  packages/api/tests/record.spec.ts
Due: api

fix linting issues
  packages/api/tests/dwn-api.spec.ts
  packages/api/tests/record.spec.ts
Due: api

update tests and comments
  packages/api/src/record.ts
  packages/api/tests/record.spec.ts
Due: api

remove empty line and uneeded space
  packages/api/src/record.ts
Due: api

add tag query tests to the api
  packages/api/tests/dwn-api.spec.ts
Due: api

fix linting
  packages/api/tests/dwn-api.spec.ts
Due: api

add shamilovtim to CODEOWNERS for `agent` and `api` packages
  CODEOWNERS
Due: none

Upgrade `api` and `agent` (#500)
  .changeset/few-oranges-compare.md
  CODEOWNERS
  package.json
  packages/agent/package.json
  packages/api/package.json
  packages/api/src/record.ts
  packages/api/tests/dwn-api.spec.ts
  packages/api/tests/record.spec.ts
  packages/dev-env/docker-compose.yaml
  packages/identity-agent/package.json
  packages/proxy-agent/package.json
  packages/user-agent/package.json
  pnpm-lock.yaml
Due: agent, api, identity-agent, proxy-agent, user-agent

no need for override
  package.json
  pnpm-lock.yaml
Due: none

Credential Schema VcDataModel Impl (#491)
  .changeset/seven-horses-clap.md
  packages/credentials/src/verifiable-credential.ts
  packages/credentials/tests/verifiable-credential.spec.ts
Due: credentials

Always set alg and kid on expansion
  packages/dids/src/methods/did-dht.ts
Due: dids

update
  packages/dids/src/methods/did-dht.ts
Due: dids

manually bump `api` and `agent` dependencies
  packages/api/package.json
  packages/common/package.json
  packages/credentials/package.json
  packages/identity-agent/package.json
  packages/proxy-agent/package.json
  packages/user-agent/package.json
  pnpm-lock.yaml
Due: api, common, credentials, identity-agent, proxy-agent, user-agent
