Repository TBD54566975/web5-js: changes, and which Codecov flags are due for each by the changed paths.
All: agent, api, common, credentials, crypto, dids, identity-agent, crypto-aws-kms, proxy-agent, user-agent

update typedoc requirements
  packages/api/src/dwn-api.ts
  packages/api/src/web5.ts
Due: api

identity api `connectedIdentity` method in place of `isConnected`
  packages/agent/src/identity-api.ts
  packages/agent/src/types/agent.ts
  packages/agent/tests/identity-api.spec.ts
  packages/agent/tests/utils/test-agent.ts
  packages/identity-agent/src/identity-agent.ts
  packages/proxy-agent/src/proxy-agent.ts
  packages/user-agent/src/user-agent.ts
Due: agent, identity-agent, proxy-agent, user-agent

update lookup of connected identity
  packages/api/src/web5.ts
Due: api

linting issues
  packages/agent/src/identity-api.ts
  packages/agent/tests/identity-api.spec.ts
  packages/api/src/web5.ts
Due: agent, api

update connectedIdentity method on identity api
  packages/agent/src/identity-api.ts
  packages/agent/tests/identity-api.spec.ts
Due: agent

add wallet connect example. change to portableDid data structure and delegateDid naming.
  examples/wallet-connect.html
  package.json
  packages/agent/src/connect.ts
  packages/agent/src/oidc.ts
  packages/agent/tests/connect.spec.ts
  packages/api/src/web5.ts
Due: agent, api

add connectedDid
  packages/agent/src/connect.ts
Due: agent

cleanup example
  examples/wallet-connect.html
Due: none

cleanup
  codecov.yml
  packages/agent/tests/connect.spec.ts
Due: agent

break out processing grants for connect into separate function, handle edge cases
  packages/api/src/web5.ts
  packages/api/tests/web5.spec.ts
Due: api

test no identities path, remove unecessary console
  packages/agent/tests/did-api.spec.ts
  packages/agent/tests/identity-api.spec.ts
Due: agent

update tests, move methods to concise grants api
  packages/agent/src/dwn-api.ts
  packages/agent/tests/connected-permissions.spec.ts
  packages/agent/tests/dwn-permissions-util.spec.ts
  packages/api/src/dwn-api.ts
  packages/api/src/web5.ts
  packages/api/tests/dwn-api.spec.ts
  packages/api/tests/web5.spec.ts
Due: agent, api

Update wallet-connect.html
  examples/wallet-connect.html
Due: none

additional test coverage, move mocked connect into temp file to ignore test covrage
  packages/api/.c8rc.json
  packages/api/src/dwn-api.ts
  packages/api/src/temp.ts
  packages/api/src/web5.ts
  packages/api/tests/dwn-api.spec.ts
  packages/api/tests/web5.spec.ts
Due: api

refactor api grants interfaces
  packages/api/src/dwn-api.ts
  packages/api/src/web5.ts
  packages/api/tests/web5.spec.ts
Due: api

simplify grants interface, update tests
  packages/api/src/dwn-api.ts
  packages/api/src/web5.ts
  packages/api/tests/dwn-api.spec.ts
  packages/api/tests/web5.spec.ts
Due: api

slight refactor/reording of connect flow, comments and more consistent naming
  .changeset/fuzzy-baboons-own.md
  .changeset/silly-poets-sing.md
  packages/agent/tests/dwn-api.spec.ts
  packages/api/src/dwn-api.ts
  packages/api/src/web5.ts
  packages/api/tests/dwn-api.spec.ts
  packages/api/tests/web5.spec.ts
Due: agent, api

slight refactor/reording of connect flow, comments and more consistent naming
  packages/api/tests/web5.spec.ts
Due: api

include test for multiple identities race conditions
  packages/api/tests/web5.spec.ts
Due: api

update dwn list
  packages/api/src/web5.ts
Due: api

review comments for delegateDid, update dwn-server to latest
  package.json
  packages/api/src/dwn-api.ts
  packages/api/src/web5.ts
  packages/api/tests/dwn-api.spec.ts
  packages/api/tests/web5.spec.ts
  packages/dev-env/docker-compose.yaml
  pnpm-lock.yaml
Due: api

add word wrap and viewport sizing
  examples/wallet-connect.html
Due: none

remove conditional returns in buildOidcUrl
  packages/agent/src/oidc.ts
Due: agent

timeout
  packages/agent/.mocharc.json
  packages/agent/tests/connect.spec.ts
Due: agent

feedback
  packages/agent/src/oidc.ts
Due: agent

Update oidc.ts
  packages/agent/src/oidc.ts
Due: agent

Update connect.ts
  packages/agent/src/connect.ts
Due: agent

cleanup crypto utils
  packages/agent/src/dwn-api.ts
  packages/agent/src/dwn-registrar.ts
  packages/agent/src/prototyping/clients/http-dwn-rpc-client.ts
  packages/agent/src/prototyping/clients/json-rpc-socket.ts
  packages/agent/src/prototyping/clients/web-socket-clients.ts
  packages/agent/src/prototyping/crypto/jose/jwe-flattened.ts
  packages/agent/src/rpc-client.ts
  packages/agent/tests/crypto-api.spec.ts
  packages/agent/tests/local-key-manager.spec.ts
  packages/agent/tests/prototyping/clients/json-rpc-socket.spec.ts
  packages/agent/tests/rpc-client.spec.ts
  packages/agent/tests/sync-engine-level.spec.ts
  packages/api/tests/utils/test-data-generator.ts
  packages/credentials/src/verifiable-credential.ts
  packages/credentials/src/verifiable-presentation.ts
  packages/crypto/README.md
  packages/crypto/src/utils.ts
  packages/crypto/tests/algorithms/aes-ctr.spec.ts
  packages/crypto/tests/algorithms/aes-gcm.spec.ts
  packages/crypto/tests/utils.spec.ts
  packages/dids/src/bearer-did.ts
Due: agent, api, credentials, crypto, dids

changeset
  .changeset/friendly-carrots-return.md
Due: none

Update index.ts
  packages/crypto/src/index.ts
Due: crypto

finish: delete package.json utils export
  packages/crypto/package.json
Due: crypto

scaffold permissions api starting point
  packages/agent/src/permissions-api.ts
  packages/agent/src/types/dwn.ts
Due: agent

only one did for selection
  packages/agent/src/oidc.ts
  packages/agent/tests/connect.spec.ts
Due: agent

Update packages/crypto/tests/utils.spec.ts
  packages/crypto/tests/utils.spec.ts
Due: crypto

fix flakes
  packages/agent/tests/connect.spec.ts
Due: agent

Path conditions:
  agent: any of: packages/agent/**
  api: any of: packages/api/**
  common: any of: packages/common/**
  credentials: any of: packages/credentials/**
  crypto: any of: packages/crypto/**
  dids: any of: packages/dids/**
  identity-agent: any of: packages/identity-agent/**
  crypto-aws-kms: any of: packages/crypto-aws-kms/**
  proxy-agent: any of: packages/proxy-agent/**
  user-agent: any of: packages/user-agent/**
