Repository TBD54566975/web5-js: changes, and which Codecov flags are due for each by the changed paths.
All: agent, api, common, credentials, crypto, dids, identity-agent, crypto-aws-kms, proxy-agent, user-agent

codecov.yml:

comment:
  layout: "header, diff, components"

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto # auto compares coverage to the previous base commit
        threshold: 5% # allows a 5% drop from the previous base commit coverage
      - type: patch
        target: 90 # every PR opened should strive for at least 90% coverage

  individual_components:
    - component_id: package-agent
      name: agent
      paths: ["packages/agent/**"]

    - component_id: package-api
      name: api
      paths: ["packages/api/**"]

    - component_id: package_common
      name: common
      paths: ["packages/common/**"]

    - component_id: package_credentials
      name: credentials
      paths: ["packages/credentials/**"]

    - component_id: package_crypto
      name: crypto
      paths: ["packages/crypto/**"]

    - component_id: package_dids
      name: dids
      paths: ["packages/dids/**"]

    - component_id: package-identity-agent
      name: identity-agent
      paths: ["packages/identity-agent/**"]

    - component_id: package-crypto-aws-kms
      name: crypto-aws-kms
      paths: ["packages/crypto-aws-kms/**"]

    - component_id: package-proxy-agent
      name: proxy-agent
      paths: ["packages/proxy-agent/**"]

    - component_id: package-user-agent
      name: user-agent
      paths: ["packages/user-agent/**"]

coverage:
  status:
    project:
      default:
        informational: true
    patch:
      default:
        informational: true # Don't gate PRs based on Codecov passing thresholds

merged lockfile
  pnpm-lock.yaml
Due: none

clarify comment about the grants
  packages/agent/src/connect-v2.ts
Due: agent

feedback: fail fast and let users catch errors
  packages/agent/src/connect-v2.ts
  packages/agent/src/oidc-v2.ts
Due: agent

Fixed playwright dependencies
  packages/agent/package.json
  packages/api/package.json
  packages/common/package.json
  packages/crypto-aws-kms/package.json
  packages/crypto/package.json
  packages/dids/package.json
  packages/identity-agent/package.json
  packages/proxy-agent/package.json
  packages/user-agent/package.json
  pnpm-lock.yaml
Due: agent, api, common, crypto, dids, identity-agent, crypto-aws-kms, proxy-agent, user-agent

Fixed test
  packages/crypto/tests/utils.spec.ts
Due: crypto

lint
  packages/crypto/tests/utils.spec.ts
Due: crypto

Updated `playwright` dependencies + pnpm-lock.yaml + broken test (#789)
  packages/agent/package.json
  packages/api/package.json
  packages/common/package.json
  packages/crypto-aws-kms/package.json
  packages/crypto/package.json
  packages/crypto/tests/utils.spec.ts
  packages/dids/package.json
  packages/identity-agent/package.json
  packages/proxy-agent/package.json
  packages/user-agent/package.json
  pnpm-lock.yaml
Due: agent, api, common, crypto, dids, identity-agent, crypto-aws-kms, proxy-agent, user-agent

Updated @noble/ciphers package dependency
  .github/workflows/release.yml
  packages/agent/package.json
  packages/agent/src/prototyping/crypto/primitives/aes-gcm.ts
  packages/agent/src/prototyping/crypto/primitives/aes-kw.ts
  packages/agent/src/prototyping/crypto/primitives/hkdf.ts
  packages/agent/src/prototyping/crypto/primitives/pbkdf2.ts
  packages/crypto/package.json
  packages/crypto/src/primitives/aes-ctr.ts
  packages/crypto/src/primitives/aes-gcm.ts
  packages/crypto/src/primitives/xchacha20-poly1305.ts
  packages/crypto/src/primitives/xchacha20.ts
  pnpm-lock.yaml
Due: agent, crypto

More debugging and minor doc improvement
  .github/workflows/alpha-npm.yml
  .github/workflows/tests-ci.yml
Due: none

Updated @noble/ciphers package dependency (#791)
  .github/workflows/alpha-npm.yml
  .github/workflows/release.yml
  .github/workflows/tests-ci.yml
  packages/agent/package.json
  packages/agent/src/prototyping/crypto/primitives/aes-gcm.ts
  packages/agent/src/prototyping/crypto/primitives/aes-kw.ts
  packages/agent/src/prototyping/crypto/primitives/hkdf.ts
  packages/agent/src/prototyping/crypto/primitives/pbkdf2.ts
  packages/crypto/package.json
  packages/crypto/src/primitives/aes-ctr.ts
  packages/crypto/src/primitives/aes-gcm.ts
  packages/crypto/src/primitives/xchacha20-poly1305.ts
  packages/crypto/src/primitives/xchacha20.ts
  pnpm-lock.yaml
Due: agent, crypto

update lockfile
  pnpm-lock.yaml
Due: none

Upgraded node and pnpm using hermit
  bin/.node-20.15.1.pkg
  bin/.pnpm-9.6.0.pkg
  bin/corepack
  bin/node
  bin/npm
  bin/npx
  bin/pnpm
Due: none

Fixed broken test
  packages/agent/package.json
  packages/agent/src/prototyping/clients/dwn-server-info-cache-memory.ts
  packages/agent/tests/prototyping/clients/dwn-server-info-cache.spec.ts
  pnpm-lock.yaml
Due: agent

removed debug log
  packages/agent/src/prototyping/clients/dwn-server-info-cache-memory.ts
Due: agent

Upgraded node and pnpm using hermit (#793)
  bin/.node-20.15.1.pkg
  bin/.pnpm-9.6.0.pkg
  bin/corepack
  bin/node
  bin/npm
  bin/npx
  bin/pnpm
  packages/agent/package.json
  packages/agent/tests/prototyping/clients/dwn-server-info-cache.spec.ts
  pnpm-lock.yaml
Due: agent

permission grant flow for agent/identities
  packages/agent/src/dwn-api.ts
  packages/agent/src/hd-identity-vault.ts
  packages/agent/src/store-data-protocols.ts
  packages/agent/src/store-data.ts
  packages/agent/src/types/identity-vault.ts
  packages/agent/tests/connected-permissions.spec.ts
  packages/agent/tests/dwn-api.spec.ts
  packages/agent/tests/identity-api.spec.ts
Due: agent

feedback
  packages/agent/src/connect-v2.ts
Due: agent

update to be more readable and simpler
  packages/agent/src/hd-identity-vault.ts
Due: agent

refactor into smaller modules, fetching the grants, matchig the grant, singing as owner delegate
  packages/agent/src/dwn-api.ts
  packages/agent/src/hd-identity-vault.ts
  packages/agent/src/store-data-protocols.ts
  packages/agent/src/store-data.ts
  packages/agent/src/test-harness.ts
  packages/agent/src/types/dwn.ts
  packages/agent/src/types/identity-vault.ts
  packages/agent/src/utils.ts
  packages/agent/tests/connected-permissions.spec.ts
  packages/agent/tests/dwn-api.spec.ts
  packages/agent/tests/utils/grants.ts
Due: agent

security updates
  package.json
  pnpm-lock.yaml
Due: none

added edge case error handling and tests
  packages/agent/src/dwn-api.ts
  packages/agent/tests/dwn-api.spec.ts
Due: agent

remove redudant error check
  packages/agent/src/dwn-api.ts
  packages/agent/tests/dwn-api.spec.ts
Due: agent

remove unused tests
  packages/agent/tests/connected-permissions.spec.ts
Due: agent

push up finalizations
  packages/agent/.mocharc.json
  packages/agent/src/connect.ts
  packages/agent/src/index.ts
  packages/agent/src/oidc.ts
  packages/agent/src/utils.ts
  packages/agent/tests/connect-v2.spec.ts
  packages/agent/tests/connect.spec.ts
  packages/agent/tests/server/authServer.js
  packages/api/src/web5.ts
  packages/crypto/src/index.ts
  packages/crypto/src/utils.ts
Due: agent, api, crypto

bump crypto
  packages/agent/package.json
  pnpm-lock.yaml
Due: agent

examples
  examples/signal.html
  examples/twitter.html
Due: none

bump sinon
  packages/agent/package.json
  packages/api/package.json
  packages/identity-agent/package.json
  pnpm-lock.yaml
Due: agent, api, identity-agent

fix dependabot mess
  packages/credentials/package.json
  pnpm-lock.yaml
Due: credentials

try to fix builds
  .github/workflows/tests-ci.yml
Due: none

use v9 lockfile
  package.json
  pnpm-lock.yaml
Due: none

Revert "try to fix builds"
  .github/workflows/tests-ci.yml
Due: none

Create flat-students-compare.md
  .changeset/flat-students-compare.md
Due: none

fix ci
  .github/workflows/docs-ci.yml
  .github/workflows/docs-publish.yml
  .github/workflows/reports.yml
  .github/workflows/tests-ci.yml
Due: none

fix lockfile
  pnpm-lock.yaml
Due: none

Revert "fix lockfile"
  pnpm-lock.yaml
Due: none

cleanup
  packages/agent/src/connect.ts
  packages/agent/src/oidc.ts
  pnpm-lock.yaml
Due: agent
