Repository TBD54566975/web5-js: changes, and which Codecov flags are due for each by the changed paths.
All: agent, api, common, credentials, crypto, dids, identity-agent, crypto-aws-kms, proxy-agent, user-agent

Use @web5/common data and stream utilities
  packages/agent/src/dwn-api.ts
  packages/agent/src/sync-engine-level.ts
  packages/agent/tests/sync-engine-level.spec.ts
  packages/api/tests/record.spec.ts
Due: agent, api

Bump dwn-server dep to 0.1.11
  package.json
  packages/agent/.vscode/launch.json
  pnpm-lock.yaml
Due: agent

Improve docs and remove DWN SDK as a dep from api package
  packages/agent/.vscode/launch.json
  packages/agent/src/dwn-api.ts
  packages/agent/src/local-key-manager.ts
  packages/agent/src/rpc-client.ts
  packages/agent/src/sync-engine-level.ts
  packages/agent/src/types/dwn.ts
  packages/agent/src/utils.ts
  packages/api/.vscode/launch.json
  packages/api/package.json
  packages/api/src/did-api.ts
  packages/api/src/dwn-api.ts
  packages/api/src/protocol.ts
  packages/api/src/record.ts
  packages/api/src/send-cache.ts
  packages/api/src/utils.ts
  packages/api/src/vc-api.ts
  packages/api/src/web5.ts
  packages/api/tests/dwn-api.spec.ts
  packages/api/tests/record.spec.ts
  packages/api/tests/send-cache.spec.ts
  packages/api/tests/utils.spec.ts
  pnpm-lock.yaml
Due: agent, api

Add more docs
  packages/agent/src/rpc-client.ts
  packages/api/src/did-api.ts
Due: agent, api

Rename ResponseStatus detail to message
  packages/agent/src/did-api.ts
  packages/agent/src/types/agent.ts
  packages/api/src/protocol.ts
  packages/api/tests/did-api.spec.ts
  packages/proxy-agent/tests/proxy-agent.spec.ts
  packages/user-agent/tests/user-agent.spec.ts
Due: agent, api, proxy-agent, user-agent

Add local dwn-server node to VSCode launch files
  packages/agent/.vscode/launch.json
  packages/proxy-agent/.vscode/launch.json
  packages/user-agent/.vscode/launch.json
Due: agent, proxy-agent, user-agent

Refactor identity-agent and add docs
  packages/api/package.json
  packages/api/src/web5.ts
  packages/api/tests/web5.spec.ts
  packages/crypto/.vscode/launch.json
  packages/identity-agent/.vscode/launch.json
  packages/identity-agent/README.md
  packages/identity-agent/package.json
  packages/identity-agent/src/identity-agent.ts
  packages/identity-agent/tests/identity-agent.spec.ts
  packages/identity-agent/tests/managing-identities.spec.ts
  packages/identity-agent/tests/utils/test-config.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: api, crypto, identity-agent

Attemp to fix alpha publish workflow
  .github/workflows/alpha-npm.yml
Due: none

Resolve 'Failed to replace env in config' error
  .github/workflows/alpha-npm.yml
  packages/api/tests/web5.spec.ts
Due: api

Revert hermit in Alpha publishing workflow
  .github/workflows/alpha-npm.yml
Due: none

Implement requested changes
  packages/agent/src/dwn-api.ts
  packages/agent/src/identity-api.ts
  packages/agent/src/sync-api.ts
  packages/agent/src/sync-engine-level.ts
  packages/dev-env/docker-compose.yaml
Due: agent

Reintroduce hermit
  .github/workflows/alpha-npm.yml
Due: none

Update to latest web5 deps and DWN SDK
  package.json
  packages/agent/package.json
  packages/agent/src/did-api.ts
  packages/agent/src/dwn-api.ts
  packages/agent/src/utils.ts
  packages/agent/tests/fixtures/protocol-definitions/email.json
  packages/agent/tests/prototyping/dids/resolver-cache-memory.spec.ts
  packages/api/package.json
  packages/api/tests/fixtures/protocol-definitions/email.json
  packages/api/tests/fixtures/protocol-definitions/photos.json
  packages/crypto/package.json
  packages/dev-env/docker-compose.yaml
  packages/identity-agent/package.json
  packages/proxy-agent/package.json
  packages/user-agent/package.json
  pnpm-lock.yaml
Due: agent, api, crypto, identity-agent, proxy-agent, user-agent

update protocol definitions to support new `can` verbs
  packages/api/tests/fixtures/protocol-definitions/photos.json
  packages/api/tests/fixtures/protocol-definitions/thread.json
  packages/api/tests/record.spec.ts
Due: api

fix email protocol and associated tests
  packages/agent/tests/fixtures/protocol-definitions/email.json
  packages/api/tests/dwn-api.spec.ts
  packages/api/tests/fixtures/protocol-definitions/email.json
  packages/api/tests/fixtures/protocol-definitions/thread.json
  packages/api/tests/record.spec.ts
Due: agent, api

update validate
  packages/credentials/tests/presentation-exchange.spec.ts
Due: credentials

add evidence field to vcdatamodel
  packages/credentials/README.md
  packages/credentials/src/verifiable-credential.ts
  packages/credentials/tests/verifiable-credential.spec.ts
Due: credentials

update validate (#464)
  packages/credentials/tests/presentation-exchange.spec.ts
Due: credentials

Update packages/credentials/README.md
  packages/credentials/README.md
Due: credentials

Add evidence field to VerifiableCredential (#465)
  packages/credentials/README.md
  packages/credentials/src/verifiable-credential.ts
  packages/credentials/tests/verifiable-credential.spec.ts
Due: credentials

Add OSP Reusable Workflow for Scans
  .github/workflows/security.yml
Due: none

adding test:node command to top level package.json
  package.json
Due: none

remove vc warnings
  packages/credentials/src/jwt.ts
  packages/credentials/src/presentation-exchange.ts
  packages/credentials/src/verifiable-credential.ts
  packages/credentials/src/verifiable-presentation.ts
Due: credentials

remove vc warnings (#468)
  packages/credentials/src/jwt.ts
  packages/credentials/src/presentation-exchange.ts
  packages/credentials/src/verifiable-credential.ts
  packages/credentials/src/verifiable-presentation.ts
Due: credentials

bumping submodule commit (#466)
  package.json
Due: none

update identity-agent
  package-lock.json
  packages/identity-agent/package.json
Due: identity-agent

upgrade packages and slow test
  package-lock.json
  package.json
  packages/agent/package.json
  packages/agent/src/dwn-manager.ts
  packages/agent/tests/dwn-manager.spec.ts
  packages/agent/tests/sync-manager.spec.ts
  packages/api/package.json
  packages/api/src/dwn-api.ts
  packages/dev-env/docker-compose.yaml
  packages/user-agent/package.json
Due: agent, api, user-agent

update proxy-agent
  package-lock.json
  packages/proxy-agent/package.json
Due: proxy-agent

increase timeouts
  packages/agent/tests/sync-manager.spec.ts
Due: agent

Revert changes to SyncManager tests
  packages/agent/tests/sync-manager.spec.ts
Due: agent

Minor nit - import ordering
  packages/api/src/dwn-api.ts
Due: api

Rebase on main
  package-lock.json
Due: none

Add IdentityApi and more tests
  packages/agent/src/did-api.ts
  packages/agent/src/identity-api.ts
  packages/agent/src/internal.ts
  packages/agent/src/store-did.ts
  packages/agent/src/store-identity.ts
  packages/agent/src/test-harness.ts
  packages/agent/src/types/agent.ts
  packages/agent/src/types/did.ts
  packages/agent/src/types/identity.ts
  packages/agent/src/types/key-manager.ts
  packages/agent/tests/did-api.spec.ts
  packages/agent/tests/dwn-api.spec.ts
  packages/agent/tests/identity-api.spec.ts
  packages/agent/tests/store-did.spec.ts
  packages/agent/tests/store-identity.spec.ts
  packages/agent/tests/utils/test-agent.ts
Due: agent

Improve DidApi type inference and add more tests
  packages/agent/old/tests/dwn-manager.spec.ts
  packages/agent/src/did-api.ts
  packages/agent/src/dwn-api.ts
  packages/agent/src/types/agent-dwn.ts
  packages/agent/tests/did-api.spec.ts
  packages/agent/tests/dwn-api.spec.ts
Due: agent

Added support for Events and Protocols to AgentDwnApi
  packages/agent/old/tests/dwn-manager.spec.ts
  packages/agent/src/types/agent-dwn.ts
  packages/agent/tests/dwn-api.spec.ts
  packages/agent/tests/fixtures/protocol-definitions/email.json
Due: agent

AgentDwnApi sendRequest MVP
  packages/agent/.vscode/launch.json
  packages/agent/old/tests/dwn-manager.spec.ts
  packages/agent/old/tests/identity-manager.spec.ts
  packages/agent/src/bearer-identity.ts
  packages/agent/src/did-api.ts
  packages/agent/src/dwn-api.ts
  packages/agent/src/identity-api.ts
  packages/agent/src/internal.ts
  packages/agent/src/json-rpc.ts
  packages/agent/src/rpc-client.ts
  packages/agent/src/store-did.ts
  packages/agent/src/store-identity.ts
  packages/agent/src/test-harness.ts
  packages/agent/src/types/agent.ts
  packages/agent/src/types/did.ts
  packages/agent/src/types/identity.ts
  packages/agent/tests/did-api.spec.ts
  packages/agent/tests/dwn-api.spec.ts
  packages/agent/tests/identity-api.spec.ts
  packages/agent/tests/store-did.spec.ts
  packages/agent/tests/store-identity.spec.ts
  packages/agent/tests/utils/test-agent.ts
Due: agent

Path conditions:
  agent: any of: packages/agent/**
  api: any of: packages/api/**
  common: any of: packages/common/**
  credentials: any of: packages/credentials/**
  crypto: any of: packages/crypto/**
  dids: any of: packages/dids/**
  identity-agent: any of: packages/identity-agent/**
  crypto-aws-kms: any of: packages/crypto-aws-kms/**
  proxy-agent: any of: packages/proxy-agent/**
  user-agent: any of: packages/user-agent/**
