Repository TBD54566975/web5-js: changes, and which Codecov flags are due for each by the changed paths.
All: agent, api, common, credentials, crypto, dids, identity-agent, crypto-aws-kms, proxy-agent, user-agent

add comment and link to PR explaining why the refence type is there
  packages/api/src/protocol.ts
  packages/api/src/record.ts
Due: api

add identifier to pkarr error for debugging purposes
  packages/dids/src/methods/did-dht.ts
Due: dids

add changeset
  .changeset/tall-mugs-wink.md
Due: none

Updated CODEOWNERS
  CODEOWNERS
Due: none

Updated CODEOWNERS (#509)
  CODEOWNERS
Due: none

add reference types from dwn-sdk-js to avoid pnpm build error (#507)
  .changeset/beige-tools-yawn.md
  packages/api/src/protocol.ts
  packages/api/src/record.ts
Due: api

add identifier to pkarr error for debugging purposes (#508)
  .changeset/tall-mugs-wink.md
  packages/dids/src/methods/did-dht.ts
Due: dids

bump agent-related packages to correct version of agent
  packages/identity-agent/package.json
  packages/proxy-agent/package.json
  packages/user-agent/package.json
  pnpm-lock.yaml
Due: identity-agent, proxy-agent, user-agent

add changeset
  .changeset/cyan-laws-add.md
Due: none

add changeset
  .changeset/old-hotels-yawn.md
Due: none

remove unecessary sinon restore
  packages/agent/tests/rpc-client.spec.ts
Due: agent

ignore prototype clients server-info-types from test coverage
  packages/agent/.c8rc.json
Due: agent

increase coverage for server info requests
  packages/agent/tests/rpc-client.spec.ts
Due: agent

rename server info rpc interface
  packages/agent/src/prototyping/clients/server-info-types.ts
  packages/agent/src/rpc-client.ts
Due: agent

dwn-server-info client and types
  packages/agent/src/prototyping/clients/dwn-server-info-cache-level.ts
  packages/agent/src/prototyping/clients/dwn-server-info-cache-memory.ts
  packages/agent/src/prototyping/clients/dwn-server-info-cache-no-op.ts
  packages/agent/src/prototyping/clients/server-info-types.ts
  packages/agent/tests/prototyping/clients/dwn-server-info-cache.spec.ts
Due: agent

add server info to rpc clients
  packages/agent/src/prototyping/clients/http-dwn-rpc-client.ts
  packages/agent/src/rpc-client.ts
  packages/agent/tests/rpc-client.spec.ts
Due: agent

fix linting
  packages/agent/tests/rpc-client.spec.ts
Due: agent

ignore server info types
  packages/agent/.c8rc.json
Due: agent

linting fixes
  packages/agent/src/prototyping/clients/server-info-types.ts
  packages/agent/tests/rpc-client.spec.ts
Due: agent

clean up sinon after tests
  packages/agent/tests/rpc-client.spec.ts
Due: agent

removing unecessary cache implementations
  packages/agent/src/prototyping/clients/dwn-server-info-cache-level.ts
  packages/agent/src/prototyping/clients/dwn-server-info-cache-no-op.ts
  packages/agent/tests/prototyping/clients/dwn-server-info-cache.spec.ts
Due: agent

update
  pnpm-lock.yaml
Due: none

Delete packages/credentials/.vscode/settings.json
  packages/credentials/.vscode/settings.json
Due: credentials

update
  packages/credentials/.c8rc.json
Due: credentials

Update packages/dids/src/methods/did-dht.ts
  packages/dids/src/methods/did-dht.ts
Due: dids

updating for simpler logic
  packages/dids/src/methods/did-dht.ts
Due: dids

debugging test. array filter is failing
  packages/credentials/tests/presentation-exchange.spec.ts
Due: credentials

removing .only, bumping submodule commit
  packages/credentials/tests/presentation-exchange.spec.ts
Due: credentials

removing extraneous console log
  packages/credentials/tests/presentation-exchange.spec.ts
Due: credentials

update
  packages/credentials/src/verifiable-credential.ts
Due: credentials

Added compliance to vector 2
  CODEOWNERS
  packages/dids/.c8rc.json
  packages/dids/src/methods/did-dht.ts
  packages/dids/tests/fixtures/test-vectors/did-dht/vector-1-did-document.json
  packages/dids/tests/fixtures/test-vectors/did-dht/vector-1-dns-records.json
  packages/dids/tests/fixtures/test-vectors/did-dht/vector-1.json
  packages/dids/tests/fixtures/test-vectors/did-dht/vector-2.json
  packages/dids/tests/methods/did-dht.spec.ts
Due: dids

Minor code refactoring
  packages/dids/src/methods/did-dht.ts
Due: dids

Removed kid from DNS records according to DID DHT spec change
  packages/dids/src/methods/did-dht.ts
  packages/dids/tests/fixtures/test-vectors/did-dht/vector-1.json
  packages/dids/tests/fixtures/test-vectors/did-dht/vector-2.json
  packages/dids/tests/methods/did-dht.spec.ts
Due: dids

Refactored tests
  packages/dids/src/methods/did-dht.ts
  packages/dids/tests/methods/did-dht.spec.ts
Due: dids

Path conditions:
  agent: any of: packages/agent/**
  api: any of: packages/api/**
  common: any of: packages/common/**
  credentials: any of: packages/credentials/**
  crypto: any of: packages/crypto/**
  dids: any of: packages/dids/**
  identity-agent: any of: packages/identity-agent/**
  crypto-aws-kms: any of: packages/crypto-aws-kms/**
  proxy-agent: any of: packages/proxy-agent/**
  user-agent: any of: packages/user-agent/**
