Repository TBD54566975/web5-js: changes, and which Codecov flags are due for each by the changed paths.
All: common, credentials, crypto, dids, web5, web5-agent, web5-proxy-agent, web5-user-agent

Refactor VUK generator and add unit tests
  packages/agent/src/app-data-store.ts
  packages/agent/src/vuk-generator.ts
  packages/agent/tests/vuk-generator.spec.ts
Due: none

Implement VC creation in web5/api
  packages/api/src/vc-api.ts
  packages/api/src/web5.ts
  packages/api/tests/vc-api.spec.ts
Due: none

works
  package-lock.json
  packages/dids/package.json
  packages/dids/src/dht.ts
  packages/dids/tests/dht.spec.ts
Due: dids

remove buffer
  packages/dids/src/dht.ts
Due: dids

Verify VCs
  packages/api/src/vc-api.ts
  packages/api/tests/vc-api.spec.ts
Due: none

pollyfills
  packages/dids/build/buffer-polyfill.cjs
  packages/dids/build/esbuild-browser-config.cjs
  packages/dids/src/dht.ts
  packages/dids/src/did-dht.ts
Due: dids

public
  packages/dids/src/dht.ts
Due: dids

bump timeout
  packages/dids/tests/dht.spec.ts
Due: dids

update how buffer is polyfilled to match approach taken by other packages in this repo
  package-lock.json
  packages/dids/build/buffer-polyfill.cjs
  packages/dids/build/esbuild-browser-config.cjs
  packages/dids/package.json
Due: dids

Revert "bump timeout"
  packages/dids/tests/dht.spec.ts
Due: dids

Revert "update how buffer is polyfilled to match approach taken by other packages in this repo"
  package-lock.json
  packages/dids/build/buffer-polyfill.cjs
  packages/dids/build/esbuild-browser-config.cjs
  packages/dids/package.json
Due: dids

monkey patch buffer polyfill
  package-lock.json
  packages/dids/build/buffer-polyfill.cjs
  packages/dids/package.json
Due: dids

fix root record encoding
  packages/dids/src/dht.ts
Due: dids

crypto: Fix typos in randomPin()
  packages/agent/src/connect.ts
  packages/api/src/web5.ts
  packages/crypto/src/utils.ts
  packages/crypto/tests/utils.spec.ts
Due: crypto

Revert "crypto: Fix typos in randomPin()"
  packages/agent/src/connect.ts
  packages/api/src/web5.ts
  packages/crypto/src/utils.ts
  packages/crypto/tests/utils.spec.ts
Due: crypto

crypto: Fix typos in randomPin()
  packages/crypto/src/utils.ts
  packages/crypto/tests/utils.spec.ts
Due: crypto

crypto: Bump @noble/ciphers to 0.3.0, @noble/curves to 1.2.0, and @noble/hashes to 1.3.2
  packages/crypto/package.json
  packages/crypto/src/crypto-primitives/xchacha20-poly1305.ts
  packages/crypto/tests/crypto-primitives.spec.ts
Due: crypto

crypto: Add deriveKey() method to Secp256k1 and Ed25519
  packages/crypto/src/crypto-primitives/ed25519.ts
  packages/crypto/src/crypto-primitives/secp256k1.ts
  packages/crypto/tests/crypto-primitives.spec.ts
Due: crypto

`Secp256k1` disable malleability check when verifying
  packages/crypto/src/crypto-primitives/secp256k1.ts
Due: crypto

make linter happy
  packages/crypto/src/crypto-primitives/secp256k1.ts
Due: crypto

dids: Minor docs typo
  packages/dids/src/did-key.ts
Due: dids

crypto: Make the Jose.canonicalize() method public, improve edge case handling, and add tests.
  packages/crypto/src/jose.ts
  packages/crypto/tests/jose.spec.ts
Due: crypto

Set assertion method
  packages/dids/src/did-ion.ts
  packages/dids/tests/did-ion.spec.ts
Due: dids

dids: Add did:jwk implementation
  packages/dids/package.json
  packages/dids/src/did-jwk.ts
  packages/dids/src/index.ts
  packages/dids/tests/did-jwk.spec.ts
  packages/dids/tests/fixtures/test-vectors/did-jwk.ts
Due: dids

Fix tests
  packages/dids/tests/fixtures/test-vectors/did-ion.ts
Due: dids

Bump version
  package-lock.json
  packages/agent/package.json
  packages/api/package.json
  packages/common/package.json
  packages/credentials/package.json
  packages/crypto/package.json
  packages/dids/package.json
  packages/proxy-agent/package.json
  packages/user-agent/package.json
Due: common, credentials, crypto, dids

Did ion: Set assertion method (#245)
  package-lock.json
  packages/agent/package.json
  packages/api/package.json
  packages/common/package.json
  packages/credentials/package.json
  packages/crypto/package.json
  packages/dids/package.json
  packages/dids/src/did-ion.ts
  packages/dids/tests/did-ion.spec.ts
  packages/dids/tests/fixtures/test-vectors/did-ion.ts
  packages/proxy-agent/package.json
  packages/user-agent/package.json
Due: common, credentials, crypto, dids

Eliminate use of named exports until React Native adds support
  packages/agent/src/app-data-store.ts
  packages/agent/src/dwn-manager.ts
  packages/agent/src/kms-local.ts
  packages/agent/src/store-managed-key.ts
  packages/api/src/tech-preview.ts
  packages/api/tests/record.spec.ts
  packages/api/tests/utils/test-data-generator.ts
  packages/crypto/src/utils.ts
  packages/dids/src/did-key.ts
Due: crypto, dids

user-agent: Add warning if a passphrase isn't specified
  packages/common/src/convert.ts
  packages/user-agent/package.json
  packages/user-agent/src/user-agent.ts
  packages/user-agent/tests/user-agent.spec.ts
Due: common

crypto: Add XChaCha20 and XChaCha20-Poly1305 to the Web5 Crypto API
  packages/agent/src/app-data-store.ts
  packages/agent/src/types/managed-key.ts
  packages/crypto/src/algorithms-api/chacha/base.ts
  packages/crypto/src/algorithms-api/chacha/index.ts
  packages/crypto/src/algorithms-api/chacha/xchacha20-poly1305.ts
  packages/crypto/src/algorithms-api/chacha/xchacha20.ts
  packages/crypto/src/algorithms-api/index.ts
  packages/crypto/src/crypto-algorithms/index.ts
  packages/crypto/src/crypto-algorithms/xchacha20-poly1305.ts
  packages/crypto/src/crypto-algorithms/xchacha20.ts
  packages/crypto/src/crypto-primitives/aes-gcm.ts
  packages/crypto/src/crypto-primitives/xchacha20-poly1305.ts
  packages/crypto/src/jose.ts
  packages/crypto/src/types/web5-crypto.ts
  packages/crypto/tests/crypto-primitives.spec.ts
Due: crypto

Accessibility for README
  README.md
Due: none

Accessibility for COC
  CODE_OF_CONDUCT.md
Due: none

Accessibility for CONTRIBUTING
  CONTRIBUTING.md
Due: none

Update dwn-sdk-js to v0.2.4 (#241)
  package-lock.json
  packages/agent/package.json
  packages/api/package.json
  packages/api/src/dwn-api.ts
  packages/api/src/record.ts
  packages/dev-env/docker-compose.yaml
  packages/identity-agent/package.json
  packages/proxy-agent/package.json
  packages/user-agent/package.json
Due: none

use our relay
  packages/dids/src/dht.ts
Due: dids

timeout
  packages/dids/tests/dht.spec.ts
Due: dids

more waits
  packages/dids/tests/did-dht.spec.ts
Due: dids

dedup
  packages/dids/tests/did-dht.spec.ts
Due: dids

fix package lock
  package-lock.json
Due: none

Path conditions:
  common: any of: packages/common/**
  credentials: any of: packages/credentials/**
  crypto: any of: packages/crypto/**
  dids: any of: packages/dids/**
  web5: any of: packages/web5/**
  web5-agent: any of: packages/web5-agent/**
  web5-proxy-agent: any of: packages/web5-proxy-agent/**
  web5-user-agent: any of: packages/web5-user-agent/**
