Repository TBD54566975/web5-js: changes, and which Codecov flags are due for each by the changed paths.
All: common, credentials, crypto, dids, web5, web5-agent, web5-proxy-agent, web5-user-agent

codecov.yml:

comment:
  layout: "header, diff, components"

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto # auto compares coverage to the previous base commit
        threshold: 5% # allows a 5% drop from the previous base commit coverage
      - type: patch
        target: 100 # every PR opened should strive for full test coverage

  individual_components:
    - component_id: package_common
      name: common
      paths: ["packages/common/**"]

    - component_id: package_credentials
      name: credentials
      paths: ["packages/credentials/**"]

    - component_id: package_crypto
      name: crypto
      paths: ["packages/crypto/**"]

    - component_id: package_dids
      name: dids
      paths: ["packages/dids/**"]

    - component_id: package-web5
      name: web5
      paths: ["packages/web5/**"]

    - component_id: package-web5-agent
      name: web5-agent
      paths: ["packages/web5-agent/**"]

    - component_id: package-web5-proxy-agent
      name: web5-proxy-agent
      paths: ["packages/web5-proxy-agent/**"]

    - component_id: package-web5-user-agent
      name: web5-user-agent
      paths: ["packages/web5-user-agent/**"]

coverage:
  status:
    project:
      default:
        informational: true
    patch:
      default:
        informational: true # Don't gate PRs based on Codecov passing thresholds

Initial commit of Crypto API types
  packages/crypto/src/api/cipher.ts
  packages/crypto/src/api/crypto-api.ts
  packages/crypto/src/api/hash-function.ts
  packages/crypto/src/api/identifier.ts
  packages/crypto/src/api/key-deriver.ts
  packages/crypto/src/api/key-generator.ts
  packages/crypto/src/api/key-io.ts
  packages/crypto/src/api/signer.ts
Due: crypto

Rename crypto-primitives to primitives
  packages/crypto/src/primitives/aes-ctr.ts
  packages/crypto/src/primitives/aes-gcm.ts
  packages/crypto/src/primitives/api.ts
  packages/crypto/src/primitives/concat-kdf.ts
  packages/crypto/src/primitives/ed25519.ts
  packages/crypto/src/primitives/index.ts
  packages/crypto/src/primitives/pbkdf2.ts
  packages/crypto/src/primitives/secp256k1.ts
  packages/crypto/src/primitives/sha256.ts
  packages/crypto/src/primitives/x25519.ts
  packages/crypto/src/primitives/xchacha20-poly1305.ts
  packages/crypto/src/primitives/xchacha20.ts
Due: crypto

Refactor crypto API types
  packages/crypto/src/crypto-algorithms/eddsa.ts
  packages/crypto/src/index.ts
  packages/crypto/src/kms-local/api.ts
  packages/crypto/src/primitives/ed25519.ts
  packages/crypto/src/primitives/secp256k1.ts
  packages/crypto/src/types/cipher.ts
  packages/crypto/src/types/crypto-api.ts
  packages/crypto/src/types/direct-params.ts
  packages/crypto/src/types/enclosed-params.ts
  packages/crypto/src/types/hash-function.ts
  packages/crypto/src/types/key-converter.ts
  packages/crypto/src/types/key-deriver.ts
  packages/crypto/src/types/key-generator.ts
  packages/crypto/src/types/key-io.ts
  packages/crypto/src/types/key-wrapper.ts
  packages/crypto/src/types/kms-api.ts
  packages/crypto/src/types/primitive-api.ts
  packages/crypto/src/types/signer.ts
  packages/crypto/tests/crypto-algorithms.spec.ts
  packages/crypto/tests/crypto-primitives/ed25519.spec.ts
  packages/crypto/tests/crypto-primitives/secp256k1.spec.ts
  packages/crypto/tests/fixtures/test-vectors/ed25519/compute-public-key.json
Due: crypto

Use TypeDoc @example
  packages/crypto/src/primitives/aes-ctr.ts
  packages/crypto/src/primitives/aes-gcm.ts
  packages/crypto/src/primitives/ed25519.ts
  packages/crypto/src/primitives/pbkdf2.ts
  packages/crypto/src/primitives/sha256.ts
  packages/crypto/src/primitives/x25519.ts
  packages/crypto/src/primitives/xchacha20-poly1305.ts
  packages/crypto/src/primitives/xchacha20.ts
  packages/crypto/src/utils.ts
Due: crypto

Update test dir naming
  packages/crypto/tests/primitives/aes-ctr.spec.ts
  packages/crypto/tests/primitives/aes-gcm.spec.ts
  packages/crypto/tests/primitives/concat-kdf.spec.ts
  packages/crypto/tests/primitives/ed25519.spec.ts
  packages/crypto/tests/primitives/pbkdf2.spec.ts
  packages/crypto/tests/primitives/secp256k1.spec.ts
  packages/crypto/tests/primitives/x25519.spec.ts
  packages/crypto/tests/primitives/xchacha20-poly1305.spec.ts
  packages/crypto/tests/primitives/xchacha20.spec.ts
Due: crypto

Consistent usage of method parameters
  packages/crypto/src/jose.ts
  packages/crypto/src/primitives/aes-ctr.ts
  packages/crypto/src/primitives/aes-gcm.ts
  packages/crypto/src/primitives/concat-kdf.ts
  packages/crypto/src/primitives/pbkdf2.ts
  packages/crypto/src/primitives/sha256.ts
  packages/crypto/src/primitives/x25519.ts
  packages/crypto/src/primitives/xchacha20-poly1305.ts
  packages/crypto/src/primitives/xchacha20.ts
  packages/crypto/src/types/key-wrapper.ts
  packages/crypto/src/utils.ts
  packages/crypto/tests/fixtures/test-vectors/secp256k1/get-curve-points.json
  packages/crypto/tests/fixtures/test-vectors/secp256k1/validate-private-key.json
  packages/crypto/tests/fixtures/test-vectors/secp256k1/validate-public-key.json
  packages/crypto/tests/jose.spec.ts
  packages/crypto/tests/kms-local/api.spec.ts
  packages/crypto/tests/primitives/secp256k1.spec.ts
Due: crypto

Minor fix of method ordering
  packages/crypto/src/primitives/ed25519.ts
  packages/crypto/src/primitives/secp256k1.ts
Due: crypto

Update naming and documentation structure
  packages/crypto/src/index.ts
  packages/crypto/src/jose/jwk.ts
  packages/crypto/src/primitives/aes-ctr.ts
  packages/crypto/src/primitives/aes-gcm.ts
  packages/crypto/src/primitives/concat-kdf.ts
  packages/crypto/src/primitives/ed25519.ts
  packages/crypto/src/primitives/pbkdf2.ts
  packages/crypto/src/primitives/secp256k1.ts
  packages/crypto/src/primitives/sha256.ts
  packages/crypto/src/primitives/x25519.ts
  packages/crypto/src/primitives/xchacha20-poly1305.ts
  packages/crypto/src/primitives/xchacha20.ts
  packages/crypto/src/types/cipher.ts
  packages/crypto/src/types/crypto-api.ts
  packages/crypto/src/types/identifier.ts
  packages/crypto/src/types/key-deriver.ts
  packages/crypto/src/types/key-generator.ts
  packages/crypto/src/types/key-io.ts
  packages/crypto/src/types/params-direct.ts
  packages/crypto/src/types/params-enclosed.ts
  packages/crypto/src/types/params-kms.ts
  packages/crypto/src/types/signer.ts
  packages/crypto/tests/crypto-algorithms.spec.ts
  packages/crypto/tests/primitives/ed25519.spec.ts
  packages/crypto/tests/primitives/secp256k1.spec.ts
  packages/crypto/tests/primitives/x25519.spec.ts
Due: crypto

Bump @types/eslint to resolve duplicate error issue in @web5/crypto
  packages/agent/package.json
  packages/api/package.json
  packages/common/package.json
  packages/credentials/package.json
  packages/dids/package.json
  packages/identity-agent/package.json
  packages/proxy-agent/package.json
  packages/user-agent/package.json
Due: common, credentials, dids

Add convertDerToCompactSignature method to Secp256k1
  packages/crypto/src/primitives/secp256k1.ts
  packages/crypto/tests/primitives/secp256k1.spec.ts
  packages/crypto/tests/primitives/x25519.spec.ts
Due: crypto

Rename hash type and modify CryptoApi
  packages/crypto/src/index.ts
  packages/crypto/src/types/crypto-api.ts
  packages/crypto/src/types/hasher.ts
Due: crypto

Bump deprecated sinon version
  packages/agent/package.json
  packages/api/package.json
  packages/common/package.json
  packages/credentials/package.json
  packages/crypto/package.json
  packages/dids/package.json
  packages/identity-agent/package.json
  packages/proxy-agent/package.json
  packages/user-agent/package.json
Due: common, credentials, crypto, dids

Remove types from dependency that is no longer used
  packages/crypto/package.json
Due: crypto

Bump @noble dependencies
  packages/crypto/package.json
Due: crypto

Implement SHA-256 primitive
  packages/crypto/src/kms-local/sha-2.ts
  packages/crypto/tests/fixtures/test-vectors/sha256/digest.json
  packages/crypto/tests/primitives/sha256.spec.ts
Due: crypto

Minor comment improvement
  packages/crypto/src/primitives/secp256k1.ts
Due: crypto

Local KMS initial implementation
  packages/crypto/src/index.ts
  packages/crypto/src/kms-local/aes-ctr.ts
  packages/crypto/src/kms-local/api.ts
  packages/crypto/src/kms-local/ecdsa.ts
  packages/crypto/src/kms-local/eddsa.ts
  packages/crypto/tests/kms-local/api.spec.ts
Due: crypto

AWS KMS initial implementation
  .github/workflows/alpha-npm.yml
  .github/workflows/release-npm.yml
  .github/workflows/tests-ci.yml
  codecov.yml
  package-lock.json
  package.json
  packages/crypto-aws-kms/.c8rc.json
  packages/crypto-aws-kms/.eslintrc.cjs
  packages/crypto-aws-kms/.mocharc.json
  packages/crypto-aws-kms/.vscode/launch.json
  packages/crypto-aws-kms/.vscode/tasks.json
  packages/crypto-aws-kms/LICENSE
  packages/crypto-aws-kms/README.md
  packages/crypto-aws-kms/package.json
  packages/crypto-aws-kms/src/api.ts
  packages/crypto-aws-kms/src/ecdsa.ts
  packages/crypto-aws-kms/src/index.ts
  packages/crypto-aws-kms/src/utils.ts
  packages/crypto-aws-kms/tests/api.spec.ts
  packages/crypto-aws-kms/tests/ecdsa.spec.ts
  packages/crypto-aws-kms/tests/fixtures/mock-ecdsa-secp256k1.ts
  packages/crypto-aws-kms/tests/tsconfig.json
  packages/crypto-aws-kms/tests/utils.spec.ts
  packages/crypto-aws-kms/tsconfig.cjs.json
  packages/crypto-aws-kms/tsconfig.json
  web5-js.code-workspace
Due: none

Bump default tsconfig from ES6 to ES2022
  tsconfig.json
Due: none

Bump @web5/crypto version
  packages/crypto/package.json
Due: crypto

Remove @web5/crypto-aws-kms from browser tests
  .github/workflows/tests-ci.yml
Due: none

Remove unnecessary polyfill
  package-lock.json
  packages/agent/package.json
  packages/credentials/package.json
  packages/crypto/tests/primitives/aes-ctr.spec.ts
  packages/crypto/tests/primitives/aes-gcm.spec.ts
  packages/crypto/tests/primitives/concat-kdf.spec.ts
  packages/crypto/tests/primitives/ed25519.spec.ts
  packages/crypto/tests/primitives/pbkdf2.spec.ts
  packages/crypto/tests/primitives/secp256k1.spec.ts
  packages/crypto/tests/primitives/sha256.spec.ts
  packages/crypto/tests/primitives/x25519.spec.ts
  packages/crypto/tests/primitives/xchacha20-poly1305.spec.ts
  packages/crypto/tests/primitives/xchacha20.spec.ts
Due: credentials, crypto

Fix missing crypto global
  packages/crypto/src/primitives/xchacha20-poly1305.ts
  packages/crypto/src/primitives/xchacha20.ts
  packages/crypto/tests/primitives/pbkdf2.spec.ts
Due: crypto

Improve LevelStore and add tests for use with LocalKmsCrypto
  packages/agent/src/test-managed-agent.ts
  packages/common/src/stores.ts
  packages/common/tests/stores.spec.ts
  packages/identity-agent/src/identity-agent.ts
  packages/proxy-agent/src/proxy-agent.ts
  packages/user-agent/src/user-agent.ts
Due: common

Initial README updates for crypto and crypto-aws-kms packages
  packages/crypto-aws-kms/README.md
  packages/crypto/README.md
Due: crypto

Remove node:crypto import from PBKDF2 now that web5-wallet polyfills webcrypto
  package-lock.json
  packages/crypto/src/primitives/pbkdf2.ts
  packages/crypto/tests/primitives/pbkdf2.spec.ts
  packages/crypto/tests/utils.spec.ts
Due: crypto

Improve docs
  packages/crypto-aws-kms/README.md
  packages/crypto-aws-kms/src/api.ts
  packages/crypto/README.md
  packages/crypto/src/algorithms/aes-ctr.ts
  packages/crypto/src/algorithms/aes-gcm.ts
  packages/crypto/src/algorithms/ecdsa.ts
  packages/crypto/src/algorithms/eddsa.ts
  packages/crypto/src/algorithms/sha-2.ts
  packages/crypto/src/jose.ts
  packages/crypto/src/jose/jwk.ts
  packages/crypto/src/primitives/aes-ctr.ts
  packages/crypto/src/primitives/aes-gcm.ts
  packages/crypto/src/primitives/concat-kdf.ts
  packages/crypto/src/primitives/ed25519.ts
  packages/crypto/src/primitives/pbkdf2.ts
  packages/crypto/src/primitives/secp256k1.ts
  packages/crypto/src/primitives/xchacha20-poly1305.ts
  packages/crypto/src/primitives/xchacha20.ts
  packages/crypto/src/utils.ts
  packages/crypto/tests/local-kms-crypto.spec.ts
Due: crypto

Improve cipher alg generateKey() and add RNG docs
  packages/crypto/README.md
  packages/crypto/src/primitives/aes-ctr.ts
  packages/crypto/src/primitives/aes-gcm.ts
  packages/crypto/src/primitives/xchacha20-poly1305.ts
  packages/crypto/src/primitives/xchacha20.ts
Due: crypto

Minor tests-ci.yml change
  .github/workflows/tests-ci.yml
Due: none

Correct typo in docs example
  packages/crypto/src/primitives/ed25519.ts
Due: crypto

Mark Ed25519 and Secp256k1 key validation methods public
  packages/crypto/src/primitives/ed25519.ts
  packages/crypto/src/primitives/secp256k1.ts
  packages/crypto/tests/primitives/ed25519.spec.ts
  packages/crypto/tests/primitives/secp256k1.spec.ts
Due: crypto

Generate docs with TBDocs
  .github/workflows/docs-ci.yml
  .github/workflows/docs-publish.yml
Due: none

adjust docs publish workflow
  .github/workflows/docs-publish.yml
Due: none

set tbdocs action version to main branch
  .github/workflows/docs-publish.yml
Due: none

add multiple packages docs
  .github/workflows/docs-ci.yml
  .github/workflows/docs-publish.yml
Due: none

fix export * for api-extractor
  packages/crypto/src/index.ts
  packages/dids/src/index.ts
Due: crypto, dids

add crypto packages to docs pipeline
  .github/workflows/docs-ci.yml
  .github/workflows/docs-publish.yml
Due: none
