Repository TBD54566975/web5-js: changes, and which Codecov flags are due for each by the changed paths.
All: common, credentials, crypto, dids, web5, web5-agent, web5-proxy-agent, web5-user-agent

codecov.yml:

comment:
  layout: "header, diff, components"

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto # auto compares coverage to the previous base commit
        threshold: 5% # allows a 5% drop from the previous base commit coverage
      - type: patch
        target: 100 # every PR opened should strive for full test coverage

  individual_components:
    - component_id: package_common
      name: common
      paths: ["packages/common/**"]

    - component_id: package_credentials
      name: credentials
      paths: ["packages/credentials/**"]

    - component_id: package_crypto
      name: crypto
      paths: ["packages/crypto/**"]

    - component_id: package_dids
      name: dids
      paths: ["packages/dids/**"]

    - component_id: package-web5
      name: web5
      paths: ["packages/web5/**"]

    - component_id: package-web5-agent
      name: web5-agent
      paths: ["packages/web5-agent/**"]

    - component_id: package-web5-proxy-agent
      name: web5-proxy-agent
      paths: ["packages/web5-proxy-agent/**"]

    - component_id: package-web5-user-agent
      name: web5-user-agent
      paths: ["packages/web5-user-agent/**"]

coverage:
  status:
    project:
      default:
        informational: true
    patch:
      default:
        informational: true # Don't gate PRs based on Codecov passing thresholds

Decouples security scanning analysis and add FOSSA
  .github/workflows/security.yml
  .github/workflows/tests-ci.yml
Due: none

Address request to specify did+json DID Resolution Result
  packages/dids/src/did-dht.ts
  packages/dids/tests/did-dht.spec.ts
Due: dids

support signing with secp256k1 and ed25519 keys
  package-lock.json
  packages/credentials/package.json
  packages/credentials/src/verifiable-credential.ts
  packages/credentials/tests/verifiable-credential.spec.ts
Due: credentials

remove unused import
  packages/credentials/src/verifiable-credential.ts
Due: credentials

merge
  package-lock.json
Due: none

pr review: pin commit hashes
  .github/workflows/alpha-npm.yml
  .github/workflows/docs-ci.yml
  .github/workflows/docs-publish.yml
  .github/workflows/release-npm.yml
  .github/workflows/scorecard.yml
  .github/workflows/security.yml
  .github/workflows/tests-ci.yml
Due: none

add did ion test
  package-lock.json
  packages/credentials/tests/verifiable-credential.spec.ts
Due: credentials

Extend and export sphereon type
  packages/credentials/src/presentation-exchange.ts
Due: credentials

Export PEX type directly (#336)
  packages/credentials/src/presentation-exchange.ts
Due: credentials

update vc sign (#332)
  .web5-spec/credentials.ts
  package-lock.json
  packages/credentials/package.json
  packages/credentials/src/verifiable-credential.ts
  packages/credentials/tests/presentation-exchange.spec.ts
  packages/credentials/tests/verifiable-credential.spec.ts
Due: credentials

add readme
  packages/credentials/README.md
Due: credentials

bump dwn-sdk-js to 0.2.9 and pin uint8arrays to fix bug
  package-lock.json
  packages/agent/package.json
  packages/api/package.json
Due: none

add jwt verification and move separate jwt functionality
  packages/credentials/src/compact-jwt.ts
  packages/credentials/src/verifiable-credential.ts
  packages/dids/src/did-resolver.ts
  packages/dids/src/types.ts
  packages/dids/src/utils.ts
Due: credentials, dids

remove `did-jwt` dependency
  package-lock.json
  packages/credentials/package.json
Due: credentials

use backported fix
  package-lock.json
  packages/agent/package.json
  packages/api/package.json
Due: none

fix typo
  packages/dids/src/did-resolver.ts
Due: dids

try pinning inside web5 as well
  package-lock.json
  packages/agent/package.json
  packages/api/package.json
Due: none

Fix typo
  packages/credentials/src/compact-jwt.ts
  packages/dids/src/did-resolver.ts
Due: credentials, dids

add `CompactJwt` tests
  packages/credentials/src/index.ts
  packages/credentials/tests/compact-jwt.spec.ts
Due: credentials

fix tests
  packages/credentials/src/compact-jwt.ts
  packages/credentials/tests/verifiable-credential.spec.ts
Due: credentials

remove unused function
  packages/credentials/tests/verifiable-credential.spec.ts
Due: credentials

Update packages/credentials/README.md
  packages/credentials/README.md
Due: credentials

Update Readme (#337)
  packages/credentials/README.md
Due: credentials

add TSDoc for `DidResolver.dereference`
  packages/dids/src/did-resolver.ts
Due: dids

sync a protocol after update, failing test but not running
  packages/agent/tests/sync-manager.spec.ts
Due: none

Added Typedoc and GitHub Actions for documentation deployment
  .github/workflows/publish-docs.ym
  package-lock.json
  package.json
Due: none

Update .github/workflows/publish-docs.ym
  .github/workflows/publish-docs.ym
Due: none

Implemented auto-publishing of documentation for Issue #333
  .github/workflows/publish-docs.ym
Due: none

change decode to parse and add link to jwt rfc
  packages/credentials/src/compact-jwt.ts
  packages/credentials/src/verifiable-credential.ts
  packages/credentials/tests/compact-jwt.spec.ts
Due: credentials

remove unused type
  packages/credentials/src/compact-jwt.ts
Due: credentials

align DidResolver.dereference implementation with did-core spec and add tests
  packages/dids/src/did-resolver.ts
  packages/dids/src/types.ts
  packages/dids/tests/did-resolver.spec.ts
Due: dids

fix tests
  packages/credentials/src/compact-jwt.ts
  packages/dids/src/did-resolver.ts
Due: credentials, dids

have `VerifiableCredential.verify` validate `vc` property
  packages/credentials/src/compact-jwt.ts
  packages/credentials/src/verifiable-credential.ts
  packages/credentials/tests/verifiable-credential.spec.ts
Due: credentials
