Repository TBD54566975/web5-js: changes, and which Codecov flags are due for each by the changed paths.
All: common, credentials, crypto, dids, web5, web5-agent, web5-proxy-agent, web5-user-agent

codecov.yml:

comment:
  layout: "header, diff, components"

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto # auto compares coverage to the previous base commit
        threshold: 5% # allows a 5% drop from the previous base commit coverage
      - type: patch
        target: 100 # every PR opened should strive for full test coverage

  individual_components:
    - component_id: package_common
      name: common
      paths: ["packages/common/**"]

    - component_id: package_credentials
      name: credentials
      paths: ["packages/credentials/**"]

    - component_id: package_crypto
      name: crypto
      paths: ["packages/crypto/**"]

    - component_id: package_dids
      name: dids
      paths: ["packages/dids/**"]

    - component_id: package-web5
      name: web5
      paths: ["packages/web5/**"]

    - component_id: package-web5-agent
      name: web5-agent
      paths: ["packages/web5-agent/**"]

    - component_id: package-web5-proxy-agent
      name: web5-proxy-agent
      paths: ["packages/web5-proxy-agent/**"]

    - component_id: package-web5-user-agent
      name: web5-user-agent
      paths: ["packages/web5-user-agent/**"]

coverage:
  status:
    project:
      default:
        informational: true
    patch:
      default:
        informational: true # Don't gate PRs based on Codecov passing thresholds

Increase test coverage for common package
  packages/common/tests/convert.spec.ts
Due: common

Minor formatting changes and removed type defs from coverage calculation
  packages/common/.c8rc.json
  packages/common/src/type-utils.ts
  packages/crypto/src/utils-new.ts
  packages/web5/examples/alice.html
Due: common, crypto, web5

Add AES-GCM crypto primitive
  package-lock.json
  packages/crypto/src/crypto-algorithms/aes-ctr.ts
  packages/crypto/src/crypto-primitives/aes-gcm.ts
  packages/crypto/src/crypto-primitives/index.ts
  packages/crypto/src/types/crypto-manager.ts
  packages/crypto/tests/crypto-primitives.spec.ts
  packages/crypto/tests/fixtures/test-vectors/aes.ts
Due: crypto

Add missing VScode launch/tasks config for common and credentials packages
  packages/common/.vscode/launch.json
  packages/common/.vscode/tasks.json
  packages/credentials/.vscode/launch.json
  packages/credentials/.vscode/tasks.json
Due: common, credentials

Finish tests for default KMS key stores
  packages/crypto/src/key-manager-store.ts
  packages/crypto/src/key-manager.ts
  packages/crypto/src/key-store-memory.ts
  packages/crypto/src/kms/default/key-stores.ts
  packages/crypto/src/types-key-manager.d.ts
  packages/crypto/src/utils-key-manager.ts
  packages/crypto/tests/kms-default.spec.ts
Due: crypto

Implement importKey() in KeyManager and DefaultKms
  packages/crypto/src/key-manager.ts
  packages/crypto/src/kms/default/key-stores.ts
  packages/crypto/src/kms/default/kms-default.ts
  packages/crypto/src/types-key-manager.d.ts
  packages/crypto/tests/key-manager.spec.ts
  packages/crypto/tests/kms-default.spec.ts
Due: crypto

Implement AES-CTR encrypt() and decrypt()
  packages/crypto/src/algorithms-api/aes/base.ts
  packages/crypto/src/algorithms-api/aes/ctr.ts
  packages/crypto/src/algorithms-api/crypto-algorithm.ts
  packages/crypto/src/algorithms-api/ec/base.ts
  packages/crypto/src/algorithms-api/ec/ecdh.ts
  packages/crypto/src/crypto-algorithms/aes-ctr.ts
  packages/crypto/src/crypto-algorithms/ecdh.ts
  packages/crypto/src/crypto-algorithms/ecdsa.ts
  packages/crypto/src/crypto-algorithms/eddsa.ts
  packages/crypto/src/crypto-primitives/aes-ctr.ts
  packages/crypto/src/crypto-primitives/aes.ts
  packages/crypto/src/crypto-primitives/index.ts
  packages/crypto/src/types-key-manager.d.ts
  packages/crypto/tests/algorithms-api.spec.ts
  packages/crypto/tests/crypto-algorithms.spec.ts
  packages/crypto/tests/crypto-primitives.spec.ts
  packages/crypto/tests/fixtures/test-vectors/aes.ts
Due: crypto

Move types into directory and ignore in code coverage
  packages/crypto/.c8rc.json
  packages/crypto/src/algorithms-api/aes/base.ts
  packages/crypto/src/algorithms-api/aes/ctr.ts
  packages/crypto/src/algorithms-api/crypto-algorithm.ts
  packages/crypto/src/algorithms-api/crypto-key.ts
  packages/crypto/src/algorithms-api/ec/base.ts
  packages/crypto/src/algorithms-api/ec/ecdh.ts
  packages/crypto/src/algorithms-api/ec/ecdsa.ts
  packages/crypto/src/algorithms-api/ec/eddsa.ts
  packages/crypto/src/crypto-algorithms/aes-ctr.ts
  packages/crypto/src/crypto-algorithms/ecdh.ts
  packages/crypto/src/crypto-algorithms/ecdsa.ts
  packages/crypto/src/crypto-algorithms/eddsa.ts
  packages/crypto/src/crypto-primitives/ed25519.ts
  packages/crypto/src/crypto-primitives/secp256k1.ts
  packages/crypto/src/crypto-primitives/x25519.ts
  packages/crypto/src/key-manager/key-manager.ts
  packages/crypto/src/key-manager/key-store.ts
  packages/crypto/src/kms-local/key-store.ts
  packages/crypto/src/kms-local/kms-local.ts
  packages/crypto/src/main.ts
  packages/crypto/src/types-new.ts
  packages/crypto/src/types/crypto-key.ts
  packages/crypto/src/types/crypto-manager.ts
  packages/crypto/src/types/index.ts
  packages/crypto/src/types/web5-crypto.ts
  packages/crypto/src/utils-new.ts
  packages/crypto/tests/algorithms-api.spec.ts
  packages/crypto/tests/crypto-algorithms.spec.ts
  packages/crypto/tests/crypto-primitives.spec.ts
  packages/crypto/tests/key-manager.spec.ts
  packages/crypto/tests/kms-local.spec.ts
Due: crypto

Added several new Convert methods
  packages/crypto/src/common/convert.ts
  packages/crypto/tests/common.spec.ts
Due: crypto

Improve comments for crypto primitives
  packages/crypto/src/crypto-primitives/aes-ctr.ts
  packages/crypto/src/crypto-primitives/secp256k1.ts
  packages/crypto/src/crypto-primitives/x25519.ts
Due: crypto

Minor fix and formatting changes
  packages/crypto/src/algorithms-api/aes/base.ts
  packages/crypto/src/algorithms-api/crypto-key.ts
  packages/crypto/src/crypto-algorithms/eddsa.ts
  packages/crypto/src/crypto-primitives/ed25519.ts
  packages/crypto/src/key-manager/key-store.ts
  packages/crypto/src/kms-local/key-store.ts
  packages/crypto/src/kms-local/supported-algorithms.ts
  packages/crypto/src/utils-new.ts
  packages/crypto/tests/crypto-algorithms.spec.ts
  packages/crypto/tests/utils-new.spec.ts
Due: crypto

Add XChaCha20 algorithm
  packages/crypto/package.json
  packages/crypto/src/crypto-primitives/index.ts
  packages/crypto/src/crypto-primitives/xchacha20.ts
  packages/crypto/tests/crypto-primitives.spec.ts
Due: crypto

Split out utils into separate test file
  packages/crypto/tests/utils-key-manager.spec.ts
  packages/crypto/tests/utils.spec.ts
Due: crypto

Add Multicodec utility to common package
  packages/common/src/main.ts
  packages/common/src/multicodec.ts
  packages/common/tests/common.spec.ts
  packages/common/tests/example.spec.ts
Due: common

Internal structure refactor
  packages/crypto/src/algorithms-api/crypto-key.ts
  packages/crypto/src/algorithms-api/index.ts
  packages/crypto/src/crypto-algorithms/ecdh.ts
  packages/crypto/src/crypto-algorithms/ecdsa.ts
  packages/crypto/src/crypto-algorithms/eddsa.ts
  packages/crypto/src/crypto-algorithms/index.ts
  packages/crypto/src/crypto-primitives/ed25519.ts
  packages/crypto/src/crypto-primitives/index.ts
  packages/crypto/src/crypto-primitives/secp256k1.ts
  packages/crypto/src/crypto-primitives/x25519.ts
  packages/crypto/src/key-manager.ts
  packages/crypto/src/kms-local/index.ts
  packages/crypto/src/kms-local/key-stores.ts
  packages/crypto/src/kms-local/kms-local.ts
  packages/crypto/src/kms-local/supported-algorithms.ts
  packages/crypto/src/kms/default/algorithms/index.ts
  packages/crypto/src/kms/default/index.ts
  packages/crypto/tests/algorithms-api.spec.ts
  packages/crypto/tests/crypto-algorithms.spec.ts
  packages/crypto/tests/crypto-primitives.spec.ts
  packages/crypto/tests/kms-default.spec.ts
  packages/crypto/tests/kms-local.spec.ts
Due: crypto

Add hex string support to Convert util and fix ArrayBuffer tests
  packages/crypto/src/common/convert.ts
  packages/crypto/tests/common.spec.ts
Due: crypto

Minor formatting changes
  packages/crypto/src/crypto-algorithms/aes-ctr.ts
  packages/crypto/src/crypto-primitives/aes-ctr.ts
  packages/crypto/src/crypto-primitives/concat-kdf.ts
  packages/crypto/src/crypto-primitives/ed25519.ts
  packages/crypto/src/crypto-primitives/secp256k1.ts
  packages/crypto/src/crypto-primitives/x25519.ts
  packages/crypto/src/utils-new.ts
  packages/crypto/tests/crypto-primitives.spec.ts
Due: crypto

Refactor functions to options object style
  packages/crypto/src/algorithms-api/crypto-algorithm.ts
  packages/crypto/src/algorithms-api/ecc/base.ts
  packages/crypto/src/algorithms-api/ecc/ecdh.ts
  packages/crypto/src/algorithms-api/ecc/ecdsa.ts
  packages/crypto/src/algorithms-api/ecc/eddsa.ts
  packages/crypto/src/key-manager.ts
  packages/crypto/src/kms/default/algorithms/ecdsa.ts
  packages/crypto/src/kms/default/algorithms/eddsa.ts
  packages/crypto/src/kms/default/kms-default.ts
  packages/crypto/src/types-key-manager.d.ts
  packages/crypto/src/utils.ts
  packages/crypto/tests/algorithms-api.spec.ts
  packages/crypto/tests/utils.spec.ts
Due: crypto

Implement deriveBits() in KeyManager and DefaultKms and improve test coverage
  packages/crypto/src/algorithms-api/crypto-algorithm.ts
  packages/crypto/src/algorithms-api/ecc/base.ts
  packages/crypto/src/algorithms-api/ecc/ecdh.ts
  packages/crypto/src/algorithms-api/ecc/ecdsa.ts
  packages/crypto/src/algorithms-api/ecc/eddsa.ts
  packages/crypto/src/crypto-algorithms/secp256k1.ts
  packages/crypto/src/crypto-algorithms/x25519.ts
  packages/crypto/src/key-manager.ts
  packages/crypto/src/kms/default/algorithms/ecdh.ts
  packages/crypto/src/kms/default/algorithms/ecdsa.ts
  packages/crypto/src/kms/default/algorithms/eddsa.ts
  packages/crypto/src/kms/default/kms-default.ts
  packages/crypto/src/types-key-manager.d.ts
  packages/crypto/tests/algorithms-api.spec.ts
  packages/crypto/tests/crypto-algorithms.spec.ts
  packages/crypto/tests/key-manager.spec.ts
  packages/crypto/tests/kms-default.spec.ts
Due: crypto

Move AWS and GCP KMS prototyping out of crypto package
  packages/crypto/package.json
  packages/kms-aws/package.json
  packages/kms-aws/src/index.ts
  packages/kms-aws/src/kms-aws.ts
  packages/kms-gcp/package.json
  packages/kms-gcp/src/index.ts
  packages/kms-gcp/src/kms-gcp.ts
Due: crypto

All tests passing
  packages/crypto/package.json
  packages/crypto/src/algorithms-api/crypto-algorithm.ts
  packages/crypto/src/algorithms-api/ec/ecdsa.ts
  packages/crypto/src/algorithms-api/ec/eddsa.ts
  packages/crypto/src/algorithms-api/ecc/base.ts
  packages/crypto/src/algorithms-api/ecc/ecdh.ts
  packages/crypto/src/algorithms-api/ecc/ecdsa.ts
  packages/crypto/src/algorithms-api/ecc/eddsa.ts
  packages/crypto/src/algorithms-api/ecc/index.ts
  packages/crypto/src/algorithms-api/index.ts
  packages/crypto/src/common/stores.ts
  packages/crypto/src/common/type-utils.ts
  packages/crypto/src/key-manager-store.ts
  packages/crypto/src/key-manager.ts
  packages/crypto/src/kms-aws.ts
  packages/crypto/src/kms-gcp.ts
  packages/crypto/src/kms/aws/index.ts
  packages/crypto/src/kms/aws/kms-aws.ts
  packages/crypto/src/kms/default/algorithms/ecdh.ts
  packages/crypto/src/kms/default/algorithms/ecdsa.ts
  packages/crypto/src/kms/default/algorithms/eddsa.ts
  packages/crypto/src/kms/default/crypto-key.ts
  packages/crypto/src/kms/default/key-stores.ts
  packages/crypto/src/kms/default/kms-default.ts
  packages/crypto/src/kms/default/supported-algorithms.ts
  packages/crypto/src/kms/default/types.ts
  packages/crypto/src/kms/gcp/index.ts
  packages/crypto/src/kms/gcp/kms-gcp.ts
  packages/crypto/src/types-key-manager.d.ts
  packages/crypto/src/utils.ts
  packages/crypto/tests/algorithms-api.spec.ts
  packages/crypto/tests/common.spec.ts
  packages/crypto/tests/crypto-algorithms.spec.ts
  packages/crypto/tests/key-manager.spec.ts
  packages/crypto/tests/kms-default.spec.ts
  packages/web5/examples/alice.html
Due: crypto, web5

Added Concat KDF crypto primitive
  packages/crypto/src/crypto-primitives/concat-kdf.ts
  packages/crypto/src/crypto-primitives/index.ts
  packages/crypto/tests/crypto-primitives.spec.ts
Due: crypto

Move MemoryStore to common package
  packages/common/src/main.ts
  packages/common/src/stores.ts
  packages/common/tests/convert.spec.ts
  packages/common/tests/multicodec.spec.ts
  packages/common/tests/stores.spec.ts
  packages/common/tests/type-utils.spec.ts
  packages/crypto/src/key-manager-store.ts
  packages/crypto/src/key-manager.ts
  packages/crypto/src/key-store-idb.ts
  packages/crypto/src/key-store-memory.ts
  packages/crypto/src/kms-local/key-stores.ts
  packages/crypto/tests/key-manager.spec.ts
  packages/crypto/tests/kms-local.spec.ts
Due: common, crypto

Replace old data conversion functions with Convert utility
  packages/crypto/src/ed25519.ts
  packages/crypto/src/utils.ts
Due: crypto

Implement encrypt() and add symmetric key import to LocalKms
  packages/crypto/src/kms-local/kms-local.ts
  packages/crypto/src/kms-local/supported-algorithms.ts
  packages/crypto/src/utils-key-manager.ts
  packages/crypto/tests/crypto-primitives.spec.ts
  packages/crypto/tests/kms-local.spec.ts
Due: crypto

Initial AES-CTR implementation with generateKey() and tests
  packages/crypto/src/algorithms-api/aes/base.ts
  packages/crypto/src/algorithms-api/aes/ctr.ts
  packages/crypto/src/algorithms-api/aes/index.ts
  packages/crypto/src/algorithms-api/crypto-algorithm.ts
  packages/crypto/src/algorithms-api/crypto-key.ts
  packages/crypto/src/common/convert.ts
  packages/crypto/src/crypto-algorithms/aes-ctr.ts
  packages/crypto/src/crypto-algorithms/aes.ts
  packages/crypto/src/crypto-algorithms/index.ts
  packages/crypto/src/crypto-primitives/aes.ts
  packages/crypto/src/crypto-primitives/index.ts
  packages/crypto/src/types-key-manager.d.ts
  packages/crypto/tests/algorithms-api.spec.ts
  packages/crypto/tests/crypto-algorithms.spec.ts
  packages/crypto/tests/crypto-primitives.spec.ts
  packages/crypto/tests/key-manager.spec.ts
  packages/crypto/tests/kms-local.spec.ts
Due: crypto

Remove cloud KMS prototyping
  packages/kms-aws/package.json
  packages/kms-aws/src/index.ts
  packages/kms-aws/src/kms-aws.ts
  packages/kms-gcp/package.json
  packages/kms-gcp/src/index.ts
  packages/kms-gcp/src/kms-gcp.ts
Due: none

Add Hex<->ArrayBuffer to Convert utility
  packages/crypto/src/common/convert.ts
  packages/crypto/tests/common.spec.ts
Due: crypto

Bump to common 0.1.1
  packages/common/src/main.ts
  packages/crypto/package.json
Due: common, crypto

Implement decrypt() and encrypt() in KeyManager
  packages/crypto/src/key-manager.ts
  packages/crypto/src/kms-local/key-stores.ts
  packages/crypto/src/kms-local/kms-local.ts
  packages/crypto/tests/key-manager.spec.ts
  packages/crypto/tests/kms-local.spec.ts
Due: crypto

KeyManager, CryptoAlgorithm, and KMS prototyping
  packages/crypto/package.json
  packages/crypto/src/algorithms-api/crypto-algorithm.ts
  packages/crypto/src/algorithms-api/ec/base.ts
  packages/crypto/src/algorithms-api/ec/ecdsa.ts
  packages/crypto/src/algorithms-api/ec/eddsa.ts
  packages/crypto/src/algorithms-api/ec/index.ts
  packages/crypto/src/algorithms-api/index.ts
  packages/crypto/src/common/stores.ts
  packages/crypto/src/common/type-utils.ts
  packages/crypto/src/errors.ts
  packages/crypto/src/key-manager-store.ts
  packages/crypto/src/key-manager.ts
  packages/crypto/src/key-store-idb.ts
  packages/crypto/src/key-store-memory.ts
  packages/crypto/src/kms-aws.ts
  packages/crypto/src/kms-gcp.ts
  packages/crypto/src/kms/default/algorithms/ecdsa.ts
  packages/crypto/src/kms/default/algorithms/eddsa.ts
  packages/crypto/src/kms/default/algorithms/index.ts
  packages/crypto/src/kms/default/crypto-key.ts
  packages/crypto/src/kms/default/index.ts
  packages/crypto/src/kms/default/key-stores.ts
  packages/crypto/src/kms/default/kms-default.ts
  packages/crypto/src/kms/default/supported-algorithms.ts
  packages/crypto/src/kms/default/types.ts
  packages/crypto/src/types-new.ts
  packages/crypto/src/utils.ts
  packages/crypto/tests/algorithms-api.spec.ts
  packages/crypto/tests/key-manager.spec.ts
  packages/crypto/tests/kms-default.spec.ts
  packages/crypto/tests/utils.spec.ts
Due: crypto

Rename crypto algorithms
  packages/crypto/src/algorithms-api/aes/base.ts
  packages/crypto/src/algorithms-api/aes/ctr.ts
  packages/crypto/src/algorithms-api/aes/index.ts
  packages/crypto/src/algorithms-api/ec/base.ts
  packages/crypto/src/algorithms-api/ec/ecdh.ts
  packages/crypto/src/algorithms-api/ec/ecdsa.ts
  packages/crypto/src/algorithms-api/ec/eddsa.ts
  packages/crypto/src/algorithms-api/index.ts
  packages/crypto/src/crypto-algorithms/aes-ctr.ts
  packages/crypto/src/crypto-algorithms/ecdh.ts
  packages/crypto/src/crypto-algorithms/ecdsa.ts
  packages/crypto/src/crypto-algorithms/eddsa.ts
  packages/crypto/src/crypto-algorithms/index.ts
  packages/crypto/src/crypto-primitives/index.ts
  packages/crypto/src/key-manager/index.ts
  packages/crypto/src/kms-local/index.ts
  packages/crypto/src/kms-local/supported-algorithms.ts
  packages/crypto/tests/algorithms-api.spec.ts
  packages/crypto/tests/crypto-algorithms.spec.ts
Due: crypto

Increase test coverage
  packages/crypto/src/algorithms-api/crypto-algorithm.ts
  packages/crypto/src/algorithms-api/ecc/base.ts
  packages/crypto/src/algorithms-api/ecc/ecdh.ts
  packages/crypto/src/algorithms-api/ecc/ecdsa.ts
  packages/crypto/src/algorithms-api/ecc/eddsa.ts
  packages/crypto/src/common/convert.ts
  packages/crypto/src/common/type-utils.ts
  packages/crypto/src/common/types.d.ts
  packages/crypto/src/key-manager-store.ts
  packages/crypto/src/key-manager.ts
  packages/crypto/src/key-store-memory.ts
  packages/crypto/src/kms/default/algorithms/ecdh.ts
  packages/crypto/src/kms/default/algorithms/ecdsa.ts
  packages/crypto/src/kms/default/algorithms/eddsa.ts
  packages/crypto/src/kms/default/key-stores.ts
  packages/crypto/src/kms/default/kms-default.ts
  packages/crypto/src/utils-key-manager.ts
  packages/crypto/src/utils.ts
  packages/crypto/tests/algorithms-api.spec.ts
  packages/crypto/tests/common.spec.ts
  packages/crypto/tests/crypto-algorithms.spec.ts
  packages/crypto/tests/kms-default.spec.ts
  packages/crypto/tests/utils-key-manager.spec.ts
Due: crypto

Add Convert utility and secp256k1 and Ed25519 crypto algorithm implementations
  packages/crypto/.eslintrc.cjs
  packages/crypto/src/common/convert.ts
  packages/crypto/src/crypto-algorithms/ed25519.ts
  packages/crypto/src/crypto-algorithms/index.ts
  packages/crypto/src/crypto-algorithms/secp256k1.ts
  packages/crypto/tests/crypto-algorithms.spec.ts
Due: crypto

Rename ecc dir to ec and implement base AES alg with tests
  packages/crypto/src/algorithms-api/aes/base.ts
  packages/crypto/src/algorithms-api/aes/index.ts
  packages/crypto/src/algorithms-api/ec/base.ts
  packages/crypto/src/algorithms-api/ec/ecdh.ts
  packages/crypto/src/algorithms-api/ec/ecdsa.ts
  packages/crypto/src/algorithms-api/ec/eddsa.ts
  packages/crypto/src/algorithms-api/ec/index.ts
  packages/crypto/src/algorithms-api/index.ts
  packages/crypto/src/crypto-algorithms/aes.ts
  packages/crypto/tests/algorithms-api.spec.ts
  packages/crypto/tests/crypto-algorithms.spec.ts
  packages/crypto/tests/crypto-primitives.spec.ts
Due: crypto

Migrate utils to common and reduce crypto package dependencies
  packages/common/package.json
  packages/common/src/convert.ts
  packages/common/src/main.ts
  packages/common/src/type-utils.ts
  packages/common/src/types.ts
  packages/common/tests/common.spec.ts
  packages/crypto/package.json
  packages/crypto/src/algorithms-api/aes/base.ts
  packages/crypto/src/algorithms-api/aes/ctr.ts
  packages/crypto/src/common/types.d.ts
  packages/crypto/src/crypto-algorithms/aes-ctr.ts
  packages/crypto/src/crypto-primitives/concat-kdf.ts
  packages/crypto/src/crypto-primitives/ed25519.ts
  packages/crypto/src/crypto-primitives/secp256k1.ts
  packages/crypto/src/crypto-primitives/x25519.ts
  packages/crypto/src/key-store-memory.ts
  packages/crypto/src/kms-local/key-stores.ts
  packages/crypto/src/kms-local/kms-local.ts
  packages/crypto/src/types-key-manager.d.ts
  packages/crypto/src/utils-key-manager.ts
  packages/crypto/tests/crypto-algorithms.spec.ts
  packages/crypto/tests/crypto-primitives.spec.ts
  packages/crypto/tests/utils-key-manager.spec.ts
Due: common, crypto

Add ECDH and verify() to DefaultKMS and verify() to KeyManager
  packages/crypto/src/key-manager.ts
  packages/crypto/src/kms/default/kms-default.ts
  packages/crypto/src/kms/default/supported-algorithms.ts
  packages/crypto/src/types-key-manager.d.ts
  packages/crypto/tests/key-manager.spec.ts
  packages/crypto/tests/kms-default.spec.ts
Due: crypto
