Repository TBD54566975/web5-js: changes, and which Codecov flags are due for each by the changed paths.
All: common, credentials, crypto, dids, web5, web5-agent, web5-proxy-agent, web5-user-agent

codecov.yml:

comment:
  layout: "header, diff, components"

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto # auto compares coverage to the previous base commit
        threshold: 5% # allows a 5% drop from the previous base commit coverage
      - type: patch
        target: 100 # every PR opened should strive for full test coverage

  individual_components:
    - component_id: package_common
      name: common
      paths: ["packages/common/**"]

    - component_id: package_credentials
      name: credentials
      paths: ["packages/credentials/**"]

    - component_id: package_crypto
      name: crypto
      paths: ["packages/crypto/**"]

    - component_id: package_dids
      name: dids
      paths: ["packages/dids/**"]

    - component_id: package-web5
      name: web5
      paths: ["packages/web5/**"]

    - component_id: package-web5-agent
      name: web5-agent
      paths: ["packages/web5-agent/**"]

    - component_id: package-web5-proxy-agent
      name: web5-proxy-agent
      paths: ["packages/web5-proxy-agent/**"]

    - component_id: package-web5-user-agent
      name: web5-user-agent
      paths: ["packages/web5-user-agent/**"]

coverage:
  status:
    project:
      default:
        informational: true
    patch:
      default:
        informational: true # Don't gate PRs based on Codecov passing thresholds

Update README.md
  README.md
Due: none

Add published:true to api/README.md
  packages/api/README.md
Due: none

adding required field 'published' to protocols.configure example
  README.md
Due: none

Install tbdocs for @web5/api
  .github/workflows/tests-ci.yml
  packages/api/src/index.ts
Due: none

Completes the api docs
  packages/api/src/dwn-api.ts
  packages/api/src/protocol.ts
  packages/api/src/record.ts
  packages/api/src/vc-api.ts
  packages/api/src/web5.ts
Due: none

Add web5 docs and fixes (wip)
  packages/api/src/did-api.ts
  packages/api/src/protocol.ts
  packages/api/src/record.ts
  packages/api/src/tech-preview.ts
  packages/api/src/utils.ts
  packages/api/src/vc-api.ts
  packages/api/src/web5.ts
Due: none

Add PR Review suggestions
  packages/api/src/record.ts
Due: none

Apply suggestions from code review
  packages/api/src/did-api.ts
  packages/api/src/dwn-api.ts
Due: none

Fix typo
  packages/api/src/dwn-api.ts
Due: none

Install `tbdocs` for the `@web5/api` package (#251)
  .github/workflows/tests-ci.yml
  packages/api/src/did-api.ts
  packages/api/src/dwn-api.ts
  packages/api/src/index.ts
  packages/api/src/protocol.ts
  packages/api/src/record.ts
  packages/api/src/tech-preview.ts
  packages/api/src/utils.ts
  packages/api/src/vc-api.ts
  packages/api/src/web5.ts
Due: none

Accessibility features for markdown files (#249)
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  README.md
Due: none

Remove usage of named exports until React Native supports
  packages/agent/src/app-data-store.ts
  packages/agent/src/dwn-manager.ts
  packages/agent/src/kms-local.ts
  packages/agent/src/rpc-client.ts
  packages/agent/src/store-managed-key.ts
  packages/api/src/tech-preview.ts
  packages/api/tests/record.spec.ts
  packages/api/tests/utils/test-data-generator.ts
  packages/dids/src/did-key.ts
Due: dids

did dht mock publishing
  packages/dids/tests/dht.spec.ts
  packages/dids/tests/did-dht.spec.ts
Due: dids

Add PBKDF2 to crypto package
  packages/agent/src/types/managed-key.ts
  packages/crypto/src/algorithms-api/crypto-key.ts
  packages/crypto/src/algorithms-api/index.ts
  packages/crypto/src/algorithms-api/pbkdf/index.ts
  packages/crypto/src/algorithms-api/pbkdf/pbkdf2.ts
  packages/crypto/src/crypto-algorithms/index.ts
  packages/crypto/src/crypto-algorithms/pbkdf2.ts
  packages/crypto/src/crypto-primitives/index.ts
  packages/crypto/src/crypto-primitives/pbkdf2.ts
  packages/crypto/src/jose.ts
  packages/crypto/src/types/web5-crypto.ts
  packages/crypto/src/utils.ts
Due: crypto

Use crypto package PBKDF2 in AppDataVault
  packages/agent/src/app-data-store.ts
Due: none

Add tests for Pbkdf2 crypto primitive
  packages/crypto/src/crypto-primitives/pbkdf2.ts
  packages/crypto/tests/crypto-primitives.spec.ts
Due: crypto

Refactoring credentials api interface (#255)
  package-lock.json
  packages/credentials/src/index.ts
  packages/credentials/src/presentation-exchange.ts
  packages/credentials/src/ssi.ts
  packages/credentials/src/types.ts
  packages/credentials/src/validators.ts
  packages/credentials/src/verifiable-credential.ts
  packages/credentials/tests/credential-manifest.spec.ts
  packages/credentials/tests/presentation-exchange.spec.ts
  packages/credentials/tests/ssi-validator.spec.ts
  packages/credentials/tests/ssi.spec.ts
  packages/credentials/tests/verifiable-credential.spec.ts
  packages/credentials/tests/verifiable-credentials.spec.ts
Due: credentials

dont bundle crypto on browser with esbuild
  packages/agent/build/esbuild-browser-config.cjs
  packages/api/build/esbuild-browser-config.cjs
  packages/common/build/esbuild-browser-config.cjs
  packages/credentials/build/esbuild-browser-config.cjs
  packages/crypto/build/esbuild-browser-config.cjs
  packages/dids/build/esbuild-browser-config.cjs
  packages/identity-agent/build/esbuild-browser-config.cjs
  packages/proxy-agent/build/esbuild-browser-config.cjs
  packages/user-agent/build/esbuild-browser-config.cjs
Due: common, credentials, crypto, dids

update readme
  packages/credentials/README.md
  packages/credentials/src/presentation-exchange.ts
Due: credentials

Remove errant reference to `self.crypto.subtle` is `isWebCryptoSupport()` function
  packages/crypto/src/utils.ts
Due: crypto

Simplify isWebCryptoSupported() and add docs/tests
  packages/crypto/src/utils.ts
  packages/crypto/tests/utils.spec.ts
Due: crypto

Add remaining tests to cover PBKDF2 implementation
  packages/crypto/src/algorithms-api/pbkdf/pbkdf2.ts
  packages/crypto/src/crypto-algorithms/pbkdf2.ts
  packages/crypto/tests/algorithms-api.spec.ts
  packages/crypto/tests/crypto-algorithms.spec.ts
Due: crypto

Add PBKDF2 to `@web5/crypto` (#262)
  packages/agent/src/app-data-store.ts
  packages/agent/src/types/managed-key.ts
  packages/crypto/src/algorithms-api/crypto-key.ts
  packages/crypto/src/algorithms-api/index.ts
  packages/crypto/src/algorithms-api/pbkdf/index.ts
  packages/crypto/src/algorithms-api/pbkdf/pbkdf2.ts
  packages/crypto/src/crypto-algorithms/index.ts
  packages/crypto/src/crypto-algorithms/pbkdf2.ts
  packages/crypto/src/crypto-primitives/index.ts
  packages/crypto/src/crypto-primitives/pbkdf2.ts
  packages/crypto/src/jose.ts
  packages/crypto/src/types/web5-crypto.ts
  packages/crypto/src/utils.ts
  packages/crypto/tests/algorithms-api.spec.ts
  packages/crypto/tests/crypto-algorithms.spec.ts
  packages/crypto/tests/crypto-primitives.spec.ts
  packages/crypto/tests/utils.spec.ts
Due: crypto

Reintroduce web5.did.resolve()
  packages/agent/src/did-manager.ts
  packages/agent/src/dwn-manager.ts
  packages/agent/src/rpc-client.ts
  packages/agent/src/types/agent.ts
  packages/agent/tests/utils/test-agent.ts
  packages/api/src/did-api.ts
  packages/api/tests/did-api.spec.ts
  packages/api/tests/utils/test-user-agent.ts
  packages/identity-agent/src/identity-agent.ts
  packages/proxy-agent/src/proxy-agent.ts
  packages/user-agent/src/user-agent.ts
Due: none

Include pkarr in CJS bundling because it doesn't ship ESM
  packages/dids/build/cjs-bundle.js
Due: dids

adding web vc create
  packages/agent/src/index.ts
  packages/agent/src/test-managed-agent.ts
  packages/agent/src/types/agent.ts
  packages/agent/src/vc-manager.ts
  packages/api/src/vc-api.ts
  packages/api/tests/utils/test-user-agent.ts
  packages/api/tests/vc-api.spec.ts
  packages/identity-agent/src/identity-agent.ts
  packages/user-agent/src/user-agent.ts
Due: none

small fixes
  packages/agent/src/vc-manager.ts
  packages/user-agent/src/user-agent.ts
Due: none

Exclude sodium-universal in CJS bundling
  packages/dids/build/cjs-bundle.js
Due: dids

adding alg to vc sign options
  packages/agent/src/vc-manager.ts
  packages/credentials/src/verifiable-credential.ts
  packages/credentials/tests/presentation-exchange.spec.ts
  packages/credentials/tests/verifiable-credential.spec.ts
Due: credentials
