Repository TBD54566975/web5-js: changes, and which Codecov flags are due for each by the changed paths.
All: agent, api, common, credentials, crypto, dids, identity-agent, crypto-aws-kms, proxy-agent, user-agent

codecov.yml:

comment:
  layout: "header, diff, components"

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto # auto compares coverage to the previous base commit
        threshold: 5% # allows a 5% drop from the previous base commit coverage
      - type: patch
        target: 90

  individual_components:
    - component_id: package-agent
      name: agent
      paths: ["packages/agent/**"]

    - component_id: package-api
      name: api
      paths: ["packages/api/**"]

    - component_id: package_common
      name: common
      paths: ["packages/common/**"]

    - component_id: package_credentials
      name: credentials
      paths: ["packages/credentials/**"]

    - component_id: package_crypto
      name: crypto
      paths: ["packages/crypto/**"]

    - component_id: package_dids
      name: dids
      paths: ["packages/dids/**"]

    - component_id: package-identity-agent
      name: identity-agent
      paths: ["packages/identity-agent/**"]

    - component_id: package-crypto-aws-kms
      name: crypto-aws-kms
      paths: ["packages/crypto-aws-kms/**"]

    - component_id: package-proxy-agent
      name: proxy-agent
      paths: ["packages/proxy-agent/**"]

    - component_id: package-user-agent
      name: user-agent
      paths: ["packages/user-agent/**"]

coverage:
  status:
    project:
      default:
        informational: true
    patch:
      default:
        informational: true # Don't gate PRs based on Codecov passing thresholds
        if_ci_failed: success

align versioning
  packages/agent/package.json
  pnpm-lock.yaml
Due: agent

bump dwnserver
  package.json
  packages/dev-env/docker-compose.yaml
  pnpm-lock.yaml
Due: none

bump dwn sdk js and dwn server
  .changeset/strange-lies-allow.md
  packages/agent/package.json
  packages/api/package.json
  pnpm-lock.yaml
Due: agent, api

bump dwnserver (#846)
  .changeset/strange-lies-allow.md
  package.json
  packages/agent/package.json
  packages/api/package.json
  packages/dev-env/docker-compose.yaml
  pnpm-lock.yaml
Due: agent, api

Update utils.ts
  packages/crypto/src/utils.ts
Due: crypto

first pass at connect flow and grants api
  .changeset/fuzzy-baboons-own.md
  .changeset/silly-poets-sing.md
  packages/agent/src/dwn-api.ts
  packages/agent/src/identity-api.ts
  packages/agent/src/types/dwn.ts
  packages/agent/src/types/identity.ts
  packages/agent/tests/connected-permissions.spec.ts
  packages/agent/tests/did-api.spec.ts
  packages/agent/tests/dwn-api.spec.ts
  packages/agent/tests/dwn-permissions-util.spec.ts
  packages/agent/tests/identity-api.spec.ts
  packages/api/src/dwn-api.ts
  packages/api/src/web5.ts
  packages/api/tests/dwn-api.spec.ts
  packages/api/tests/web5.spec.ts
  pnpm-lock.yaml
Due: agent, api

PermissionsApi for Agent, `permissions` API for `Web5` (#833)
  .changeset/gold-lamps-obey.md
  .changeset/polite-days-wash.md
  packages/agent/src/dwn-api.ts
  packages/agent/src/dwn-permissions-util.ts
  packages/agent/src/index.ts
  packages/agent/src/permissions-api.ts
  packages/agent/src/test-harness.ts
  packages/agent/src/types/agent.ts
  packages/agent/src/types/dwn.ts
  packages/agent/src/types/permissions.ts
  packages/agent/tests/connected-permissions.spec.ts
  packages/agent/tests/dwn-api.spec.ts
  packages/agent/tests/dwn-permissions-util.spec.ts
  packages/agent/tests/permissions-api.spec.ts
  packages/agent/tests/utils/grants.ts
  packages/agent/tests/utils/test-agent.ts
  packages/api/src/dwn-api.ts
  packages/api/src/grant-revocation.ts
  packages/api/src/index.ts
  packages/api/src/permission-grant.ts
  packages/api/src/permission-request.ts
  packages/api/src/web5.ts
  packages/api/tests/dwn-api.spec.ts
  packages/api/tests/permission-grant.spec.ts
  packages/api/tests/permission-request.spec.ts
  packages/api/tests/web5.spec.ts
  packages/identity-agent/src/identity-agent.ts
  packages/identity-agent/tests/identity-agent.spec.ts
  packages/proxy-agent/src/proxy-agent.ts
  packages/proxy-agent/tests/proxy-agent.spec.ts
  packages/user-agent/src/user-agent.ts
  packages/user-agent/tests/user-agent.spec.ts
Due: agent, api, identity-agent, proxy-agent, user-agent

add additional comments around the signer for the permissions DWN api
  packages/api/src/dwn-api.ts
Due: api

package lock update after rebase
  pnpm-lock.yaml
Due: none

bump dwn server
  package.json
  pnpm-lock.yaml
Due: none

Adding `PermissionsApi` to agent and `permissions()` api to `Web5.dwn` with the ability to select delegate grants for `Web5.dwn` (#824)
  .changeset/fuzzy-baboons-own.md
  .changeset/gold-lamps-obey.md
  .changeset/polite-days-wash.md
  .changeset/silly-poets-sing.md
  packages/agent/src/dwn-api.ts
  packages/agent/src/dwn-permissions-util.ts
  packages/agent/src/identity-api.ts
  packages/agent/src/index.ts
  packages/agent/src/permissions-api.ts
  packages/agent/src/test-harness.ts
  packages/agent/src/types/agent.ts
  packages/agent/src/types/dwn.ts
  packages/agent/src/types/identity.ts
  packages/agent/src/types/permissions.ts
  packages/agent/tests/connected-permissions.spec.ts
  packages/agent/tests/did-api.spec.ts
  packages/agent/tests/dwn-api.spec.ts
  packages/agent/tests/dwn-permissions-util.spec.ts
  packages/agent/tests/identity-api.spec.ts
  packages/agent/tests/permissions-api.spec.ts
  packages/agent/tests/utils/grants.ts
  packages/agent/tests/utils/test-agent.ts
  packages/api/src/dwn-api.ts
  packages/api/src/grant-revocation.ts
  packages/api/src/index.ts
  packages/api/src/permission-grant.ts
  packages/api/src/permission-request.ts
  packages/api/src/web5.ts
  packages/api/tests/dwn-api.spec.ts
  packages/api/tests/permission-grant.spec.ts
  packages/api/tests/permission-request.spec.ts
  packages/api/tests/web5.spec.ts
  packages/identity-agent/src/identity-agent.ts
  packages/identity-agent/tests/identity-agent.spec.ts
  packages/proxy-agent/src/proxy-agent.ts
  packages/proxy-agent/tests/proxy-agent.spec.ts
  packages/user-agent/src/user-agent.ts
  packages/user-agent/tests/user-agent.spec.ts
  pnpm-lock.yaml
Due: agent, api, identity-agent, proxy-agent, user-agent

maybe fix codecov
  .github/workflows/tests-ci.yml
  codecov.yml
Due: none

delete two serviceEndpointNodes const declarations in favor of prior declaration
  packages/api/src/web5.ts
Due: api

fix linting errors
  packages/agent/src/hd-identity-vault.ts
Due: agent

cleanup crypto utils (#838)
  .changeset/friendly-carrots-return.md
  .github/workflows/tests-ci.yml
  codecov.yml
  package.json
  packages/agent/src/dwn-api.ts
  packages/agent/src/dwn-registrar.ts
  packages/agent/src/prototyping/clients/http-dwn-rpc-client.ts
  packages/agent/src/prototyping/clients/json-rpc-socket.ts
  packages/agent/src/prototyping/clients/web-socket-clients.ts
  packages/agent/src/prototyping/crypto/jose/jwe-flattened.ts
  packages/agent/src/rpc-client.ts
  packages/agent/tests/crypto-api.spec.ts
  packages/agent/tests/local-key-manager.spec.ts
  packages/agent/tests/prototyping/clients/json-rpc-socket.spec.ts
  packages/agent/tests/rpc-client.spec.ts
  packages/agent/tests/sync-engine-level.spec.ts
  packages/api/tests/utils/test-data-generator.ts
  packages/credentials/src/verifiable-credential.ts
  packages/credentials/src/verifiable-presentation.ts
  packages/crypto/README.md
  packages/crypto/package.json
  packages/crypto/src/index.ts
  packages/crypto/src/utils.ts
  packages/crypto/tests/algorithms/aes-ctr.spec.ts
  packages/crypto/tests/algorithms/aes-gcm.spec.ts
  packages/crypto/tests/utils.spec.ts
  packages/dids/src/bearer-did.ts
  pnpm-lock.yaml
Due: agent, api, credentials, crypto, dids

init connect dwn integration
  examples/wallet-connect.html
  package.json
  packages/agent/src/connect.ts
  packages/agent/src/oidc.ts
  packages/api/src/web5.ts
Due: agent, api

install the protocol in the wallet
  examples/wallet-connect.html
  packages/agent/src/oidc.ts
Due: agent

cleanup
  examples/wallet-connect.html
  packages/agent/src/oidc.ts
Due: agent

comment out status list cred vectors
  packages/credentials/tests/status-list-credential.spec.ts
Due: credentials

remove status list cred test vector
  packages/credentials/tests/status-list-credential.spec.ts
Due: credentials

delete comment
  packages/agent/src/connect.ts
Due: agent

delete console logs
  packages/api/src/web5.ts
Due: api

cleanup
  packages/agent/src/connect.ts
  packages/agent/src/oidc.ts
  packages/agent/tests/connect.spec.ts
  packages/api/src/web5.ts
  packages/api/tests/did-api.spec.ts
  packages/api/tests/web5.spec.ts
Due: agent, api

add web5-spec up to main (#851)
  packages/credentials/tests/status-list-credential.spec.ts
Due: credentials

Sync by specific protocols and by delegate did
  packages/agent/src/sync-api.ts
  packages/agent/src/sync-engine-level.ts
  packages/agent/src/types/sync.ts
  packages/agent/tests/sync-engine-level.spec.ts
Due: agent

sync enhancements
  packages/agent/src/cached-permissions.ts
  packages/agent/src/index.ts
  packages/agent/src/sync-engine-level.ts
  packages/agent/tests/sync-engine-level.spec.ts
  packages/api/src/dwn-api.ts
Due: agent, api

increase test coverage, remove duplicate tests and clean up connect method
  audit-ci.json
  packages/agent/src/sync-engine-level.ts
  packages/agent/tests/dwn-api.spec.ts
  packages/agent/tests/store-data.spec.ts
  packages/agent/tests/sync-engine-level.spec.ts
  packages/api/src/web5.ts
  packages/api/tests/web5.spec.ts
Due: agent, api

PermissionsApi for Agent, `permissions` API for `Web5` (#833)
  packages/api/tests/dwn-api.spec.ts
Due: api

add response detail to error in DWN store
  packages/agent/src/store-data.ts
Due: agent

sync protocol test, used cached permissions in API package
  packages/agent/src/sync-engine-level.ts
  packages/agent/tests/sync-engine-level.spec.ts
  packages/api/src/dwn-api.ts
Due: agent, api

assign specific protocols to sync based on the results of processing the grants from wallet connect
  packages/agent/src/dwn-api.ts
  packages/api/src/dwn-api.ts
  packages/api/src/web5.ts
  packages/api/tests/dwn-api.spec.ts
  packages/api/tests/web5.spec.ts
Due: agent, api

increase test coverage for cached permissions class
  packages/agent/src/cached-permissions.ts
  packages/agent/tests/cached-permissions.spec.ts
Due: agent

add changesets
  .changeset/blue-roses-cough.md
  .changeset/green-dolls-provide.md
Due: none

first pass at connect flow and grants api
  packages/api/tests/dwn-api.spec.ts
Due: api

fix test with cache clearing
  packages/api/tests/dwn-api.spec.ts
Due: api

fix after rebase
  packages/api/src/dwn-api.ts
  packages/api/src/web5.ts
  packages/api/tests/dwn-api.spec.ts
  packages/api/tests/web5.spec.ts
Due: api

getPermissions does not return unefined, throws if there is an error getting a permission
  packages/agent/src/sync-engine-level.ts
Due: agent

first pass at connect flow and grants api
  packages/api/src/web5.ts
  packages/api/tests/dwn-api.spec.ts
Due: api
