Repository TBD54566975/web5-js: changes, and which Codecov flags are due for each by the changed paths.
All: common, credentials, crypto, dids, web5, web5-agent, web5-proxy-agent, web5-user-agent

package-lock.json
  package-lock.json
Due: none

Updated ion-tools and dwn-sdk-js dependencies to latest version (#134)
  package-lock.json
  packages/dids/package.json
  packages/web5-agent/package.json
  packages/web5-user-agent/package.json
  packages/web5/package.json
Due: dids, web5, web5-agent, web5-user-agent

Add support for DRLs in DOM envs
  packages/web5/package.json
  packages/web5/src/dom-api-browser.ts
  packages/web5/src/dom-api.ts
  packages/web5/src/web5.ts
  packages/web5/tests/dom/index.html
  packages/web5/tests/dom/index.js
Due: web5

Update approach to use captured error events
  packages/web5/src/dom-api-browser.ts
  packages/web5/src/dom-api.ts
  packages/web5/src/web5.ts
Due: web5

Updates to fix build and TS errors
  packages/old/src/did/methods/ion.js
  packages/web5/src/dom-api-browser.ts
  packages/web5/src/dom-api.ts
  packages/web5/src/web5.ts
Due: web5

add ToC to `npm` package, remove component from ToC.
  README.md
  packages/web5/README.md
Due: web5

Add react-native directives to each package.json
  packages/common/package.json
  packages/credentials/package.json
  packages/crypto/package.json
  packages/dids/package.json
  packages/old/package.json
  packages/web5-agent/package.json
  packages/web5-proxy-agent/package.json
  packages/web5-user-agent/package.json
  packages/web5/package.json
Due: common, credentials, crypto, dids, web5, web5-agent, web5-proxy-agent, web5-user-agent

incremented versions of all packages modified by dependency updates
  README.md
  packages/dids/package.json
  packages/web5-agent/package.json
  packages/web5-proxy-agent/package.json
  packages/web5-user-agent/package.json
  packages/web5/README.md
  packages/web5/package.json
Due: dids, web5, web5-agent, web5-proxy-agent, web5-user-agent

Bump remaining package versions to publish new React Native directive
  packages/common/package.json
  packages/credentials/package.json
  packages/crypto/package.json
  packages/dids/package.json
  packages/web5/package.json
Due: common, credentials, crypto, dids, web5

Update packages/web5/README.md
  packages/web5/README.md
Due: web5

[UX] Add a table of Content to docs
  README.md
Due: none

Add types for CredentialManifest
  packages/credentials/src/types.ts
Due: credentials

fallback to top-level of DisplayMapping
  packages/credentials/src/types.ts
Due: credentials

Updated dwn-sdk-js and vulnerable word-wrap dependencies
  package-lock.json
  packages/dids/package.json
  packages/web5-agent/package.json
  packages/web5-user-agent/package.json
  packages/web5/package.json
Due: dids, web5, web5-agent, web5-user-agent

Fixed broken tests due to removal of webcrypto polyfill in dwn-sdk-js
  README.md
  packages/dids/tests/did-ion.spec.ts
  packages/web5/README.md
  packages/web5/tests/record.spec.ts
Due: dids, web5

missed one repo
  packages/web5-user-agent/tests/common/web5-user-agent.spec.ts
Due: web5-user-agent

Fix broken links and improve README structure
  README.md
  packages/web5/README.md
Due: web5

Add function to delete profile in ProfileManager interface
  packages/web5-agent/src/query-store.ts
  packages/web5-user-agent/src/profile-api.ts
  packages/web5-user-agent/src/profile-manager.ts
  packages/web5-user-agent/src/profile-store.ts
  packages/web5-user-agent/tests/common/profile-api.spec.ts
Due: web5-agent, web5-user-agent

increase default sync interval from 1s -> 2m
  packages/web5/src/web5.ts
Due: web5

increase default sync interval from 1s -> 2m (#144)
  packages/web5/src/web5.ts
Due: web5

Remove tests from crypto and proxy-agent tsconfig
  packages/crypto/tsconfig.json
  packages/crypto/tsconfig.test.json
  packages/web5-proxy-agent/tsconfig.json
Due: crypto, web5-proxy-agent

Fix bug in bytesToBase58btcMultibase() and add tests
  packages/crypto/src/utils.ts
  packages/crypto/tests/needed.spec.ts
  packages/crypto/tests/utils.spec.ts
Due: crypto

Bump versions
  README.md
  package-lock.json
  packages/crypto/package.json
  packages/dids/package.json
  packages/web5-agent/package.json
  packages/web5-proxy-agent/package.json
  packages/web5-user-agent/package.json
  packages/web5/README.md
  packages/web5/package.json
Due: crypto, dids, web5, web5-agent, web5-proxy-agent, web5-user-agent

Replace MessageReply with UnionMessageReply for DWN SDK 0.0.37
  packages/web5-agent/src/web5-agent.ts
  packages/web5-user-agent/src/web5-user-agent.ts
  packages/web5/src/dwn-api.ts
Due: web5, web5-agent, web5-user-agent

adding vc create
  package-lock.json
  packages/credentials/package.json
  packages/credentials/src/utils.ts
  packages/web5/src/vc-api.ts
  packages/web5/tests/web5-vc.spec.ts
Due: credentials, web5

update test
  packages/credentials/tests/example.spec.ts
Due: credentials

Re-create package-lock.json for CVE-2023-36665
  package-lock.json
  package.json
  packages/common/package.json
  packages/credentials/package.json
  packages/crypto/package.json
  packages/dids/package.json
  packages/web5-agent/package.json
  packages/web5-proxy-agent/package.json
  packages/web5-user-agent/package.json
  packages/web5/package.json
Due: common, credentials, crypto, dids, web5, web5-agent, web5-proxy-agent, web5-user-agent

Path conditions:
  common: any of: packages/common/**
  credentials: any of: packages/credentials/**
  crypto: any of: packages/crypto/**
  dids: any of: packages/dids/**
  web5: any of: packages/web5/**
  web5-agent: any of: packages/web5-agent/**
  web5-proxy-agent: any of: packages/web5-proxy-agent/**
  web5-user-agent: any of: packages/web5-user-agent/**
