Repository TBD54566975/web5-js: changes, and which Codecov flags are due for each by the changed paths.
All: agent, api, common, credentials, crypto, dids, identity-agent, crypto-aws-kms, proxy-agent, user-agent

codecov.yml:

comment:
  layout: "header, diff, components"

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto # auto compares coverage to the previous base commit
        threshold: 5% # allows a 5% drop from the previous base commit coverage
      - type: patch
        target: 90

  individual_components:
    - component_id: package-agent
      name: agent
      paths: ["packages/agent/**"]

    - component_id: package-api
      name: api
      paths: ["packages/api/**"]

    - component_id: package_common
      name: common
      paths: ["packages/common/**"]

    - component_id: package_credentials
      name: credentials
      paths: ["packages/credentials/**"]

    - component_id: package_crypto
      name: crypto
      paths: ["packages/crypto/**"]

    - component_id: package_dids
      name: dids
      paths: ["packages/dids/**"]

    - component_id: package-identity-agent
      name: identity-agent
      paths: ["packages/identity-agent/**"]

    - component_id: package-crypto-aws-kms
      name: crypto-aws-kms
      paths: ["packages/crypto-aws-kms/**"]

    - component_id: package-proxy-agent
      name: proxy-agent
      paths: ["packages/proxy-agent/**"]

    - component_id: package-user-agent
      name: user-agent
      paths: ["packages/user-agent/**"]

coverage:
  status:
    project:
      default:
        informational: true
    patch:
      default:
        informational: true # Don't gate PRs based on Codecov passing thresholds
        if_ci_failed: success

add changesets, remove exclusive test
  .changeset/green-plums-swim.md
  .changeset/plenty-brooms-suffer.md
  packages/agent/tests/permissions-api.spec.ts
Due: agent

add grant to Record class methods (#859)
  .changeset/green-plums-swim.md
  .changeset/plenty-brooms-suffer.md
  packages/agent/src/cached-permissions.ts
  packages/agent/src/index.ts
  packages/agent/src/permissions-api.ts
  packages/agent/src/sync-engine-level.ts
  packages/agent/src/test-harness.ts
  packages/agent/src/types/permissions.ts
  packages/agent/tests/cached-permissions.spec.ts
  packages/agent/tests/permissions-api.spec.ts
  packages/agent/tests/sync-engine-level.spec.ts
  packages/api/src/dwn-api.ts
  packages/api/src/record.ts
  packages/api/src/subscription-util.ts
  packages/api/src/web5.ts
  packages/api/tests/did-api.spec.ts
  packages/api/tests/dwn-api.spec.ts
  packages/api/tests/permission-grant.spec.ts
  packages/api/tests/permission-request.spec.ts
  packages/api/tests/protocol.spec.ts
  packages/api/tests/record.spec.ts
Due: agent, api

sync engine level replaces interval when called again
  packages/agent/src/sync-engine-level.ts
  packages/agent/tests/sync-engine-level.spec.ts
Due: agent

sync start simplification
  packages/agent/src/sync-engine-level.ts
Due: agent

sync engine refactor
  packages/agent/src/sync-engine-level.ts
  packages/agent/tests/sync-engine-level.spec.ts
Due: agent

update tests
  packages/api/tests/dwn-api.spec.ts
  packages/api/tests/record.spec.ts
Due: api

remove push and pull methods from sync-api
  packages/agent/src/sync-api.ts
Due: agent

add a badge
  packages/api/README.md
Due: api

update badges
  packages/api/README.md
Due: api

backward compatiblity for registered identities
  packages/agent/src/sync-engine-level.ts
Due: agent

add comments to interface type
  packages/agent/src/types/sync.ts
Due: agent

SyncEngineLevel respects most recent startSync interval. (#887)
  packages/agent/src/sync-engine-level.ts
  packages/agent/src/types/sync.ts
  packages/agent/tests/sync-engine-level.spec.ts
  packages/api/tests/dwn-api.spec.ts
  packages/api/tests/record.spec.ts
Due: agent, api

add changset missed for https://github.com/TBD54566975/web5-js/pull/887
  .changeset/afraid-geese-knock.md
Due: none

update test harness to stop sync before clearing storage, make stop sync block until sync finishes
  packages/agent/src/sync-api.ts
  packages/agent/src/sync-engine-level.ts
  packages/agent/src/test-harness.ts
  packages/agent/src/types/sync.ts
  packages/agent/tests/sync-engine-level.spec.ts
  packages/api/tests/web5.spec.ts
Due: agent, api

upgrade to latest dwn-server
  package.json
  packages/dev-env/docker-compose.yaml
  pnpm-lock.yaml
Due: none

Added optional timeout paramter to `stopSync`
  packages/agent/src/sync-api.ts
  packages/agent/src/sync-engine-level.ts
  packages/agent/src/types/sync.ts
  packages/agent/tests/sync-engine-level.spec.ts
Due: agent

Modify `stopSync` to block if sync is currently active (#889)
  .changeset/afraid-geese-knock.md
  package.json
  packages/agent/src/sync-api.ts
  packages/agent/src/sync-engine-level.ts
  packages/agent/src/test-harness.ts
  packages/agent/src/types/sync.ts
  packages/agent/tests/sync-engine-level.spec.ts
  packages/api/tests/web5.spec.ts
  packages/dev-env/docker-compose.yaml
  pnpm-lock.yaml
Due: agent, api

update dataFormat
  packages/api/src/record.ts
  packages/api/tests/record.spec.ts
Due: api

fix lint, additional test case, add changeset
  .changeset/fuzzy-apes-cheer.md
  packages/api/tests/record.spec.ts
Due: api

`dataFormat` is a mutable property (#892)
  .changeset/fuzzy-apes-cheer.md
  packages/api/src/record.ts
  packages/api/tests/record.spec.ts
Due: api

differentiate between creator and author
  packages/api/src/record.ts
  packages/api/tests/record.spec.ts
Due: api

first pass at live sync
  packages/agent/src/sync-engine-level.ts
  packages/user-agent/src/user-agent.ts
Due: agent, user-agent

lint and sync upon agent recover
  packages/agent/src/index.ts
  packages/agent/src/sync-engine-level.ts
  packages/api/src/web5.ts
Due: agent, api

added changeset
  .changeset/brown-experts-lay.md
Due: none

differentiate between Record creator and author (#893)
  .changeset/brown-experts-lay.md
  packages/api/src/record.ts
  packages/api/tests/record.spec.ts
Due: api

add the ability to manage sync options per identity
  packages/agent/src/sync-api.ts
  packages/agent/src/sync-engine-level.ts
  packages/agent/src/types/sync.ts
Due: agent

test new identity register/update features
  packages/agent/src/sync-api.ts
  packages/agent/src/sync-engine-level.ts
  packages/agent/src/types/sync.ts
  packages/agent/tests/sync-engine-level.spec.ts
Due: agent

add changeset
  .changeset/lovely-eyes-tell.md
Due: none

remove testing comment
  packages/agent/src/sync-engine-level.ts
Due: agent

mistakenly removed type import quialifier
  packages/agent/src/sync-engine-level.ts
Due: agent

Ability to update SyncOptions for an identity (#895)
  .changeset/lovely-eyes-tell.md
  packages/agent/src/sync-api.ts
  packages/agent/src/sync-engine-level.ts
  packages/agent/src/types/sync.ts
  packages/agent/tests/sync-engine-level.spec.ts
Due: agent

replace list of beareridentities, with listMetadata of IdentityMetadata in the identity API to prevent issues when syncing identity agents
  packages/agent/src/identity-api.ts
  packages/agent/tests/identity-api.spec.ts
  packages/api/src/web5.ts
  packages/api/tests/web5.spec.ts
  packages/identity-agent/tests/managing-identities.spec.ts
Due: agent, api, identity-agent

add changesets
  .changeset/popular-monkeys-rush.md
  .changeset/witty-pants-serve.md
Due: none

allow for reading/querying/subscribing to public records without explicit permissions when in a delegated state
  packages/api/src/dwn-api.ts
  packages/api/src/record.ts
  packages/api/tests/dwn-api.spec.ts
  packages/api/tests/record.spec.ts
  packages/api/tests/web5.spec.ts
Due: api

add changeset
  .changeset/slow-pets-vanish.md
Due: none

vulnerability patch using pnpm audit --fix
  package.json
  pnpm-lock.yaml
Due: none

Allow for Reading public Records/Protocols when in a delegated state (#899)
  .changeset/slow-pets-vanish.md
  package.json
  packages/api/src/dwn-api.ts
  packages/api/src/record.ts
  packages/api/tests/dwn-api.spec.ts
  packages/api/tests/record.spec.ts
  packages/api/tests/web5.spec.ts
  pnpm-lock.yaml
Due: api

remove request for protocols query, as it would create duplicates
  packages/agent/src/connect.ts
  packages/api/src/web5.ts
Due: agent, api

add comment/TODO
  packages/agent/src/connect.ts
  packages/api/src/dwn-api.ts
Due: agent, api
