Repository TBD54566975/web5-js: changes, and which Codecov flags are due for each by the changed paths.
All: agent, api, common, credentials, crypto, dids, identity-agent, crypto-aws-kms, proxy-agent, user-agent

remove uneeded method
  packages/agent/src/store-data.ts
Due: agent

clean up unecesary interface method
  packages/agent/src/store-data.ts
Due: agent

simplified abstraction for dwn data store
  packages/agent/src/store-protocol.ts
Due: agent

ability to delete keys from key manager, identity data and did data
  packages/agent/.c8rc.json
  packages/agent/src/did-api.ts
  packages/agent/src/identity-api.ts
  packages/agent/src/local-key-manager.ts
  packages/agent/src/prototyping/crypto/types/key-io.ts
  packages/agent/src/prototyping/crypto/types/params-kms.ts
  packages/agent/src/types/key-manager.ts
  packages/agent/tests/did-api.spec.ts
  packages/agent/tests/identity-api.spec.ts
  packages/agent/tests/local-key-manager.spec.ts
Due: agent

increase coverage
  packages/agent/tests/did-api.spec.ts
Due: agent

clean up
  packages/agent/src/store-data.ts
  packages/agent/tests/did-api.spec.ts
Due: agent

formatting nit
  packages/agent/src/hd-identity-vault.ts
Due: agent

revert formatting changes
  packages/api/src/web5.ts
Due: api

fix logic fubar
  packages/agent/src/hd-identity-vault.ts
Due: agent

add DWN service to HdIdentityValue.initialize => DidDht.create
  packages/agent/package.json
  packages/agent/src/hd-identity-vault.ts
  pnpm-lock.yaml
Due: agent

typo
  packages/agent/src/hd-identity-vault.ts
Due: agent

pass down dwnEndpoints: Web5.connect() => Web5UserAgent.initialize() => HdIdentityVault.initialize()
  packages/agent/package.json
  packages/agent/src/hd-identity-vault.ts
  packages/api/src/web5.ts
  packages/user-agent/src/user-agent.ts
  pnpm-lock.yaml
Due: agent, api, user-agent

add changeset
  .changeset/mean-ducks-deny.md
Due: none

move serviceEndpoints up
  packages/api/src/web5.ts
Due: api

Delete Identity/DID/Key from DWN Stores (#744)
  .changeset/mean-ducks-deny.md
  packages/agent/.c8rc.json
  packages/agent/src/did-api.ts
  packages/agent/src/identity-api.ts
  packages/agent/src/local-key-manager.ts
  packages/agent/src/prototyping/crypto/types/key-io.ts
  packages/agent/src/prototyping/crypto/types/params-kms.ts
  packages/agent/src/types/key-manager.ts
  packages/agent/tests/did-api.spec.ts
  packages/agent/tests/identity-api.spec.ts
  packages/agent/tests/local-key-manager.spec.ts
Due: agent

add nearly finished latest wip
  packages/agent/src/connect-v2.ts
  packages/agent/src/oidc-v2.ts
  packages/agent/src/utils.ts
  packages/agent/tests/connect-v2.spec.ts
  packages/api/src/web5.ts
Due: agent, api

cleanup. add walletUri.
  examples/blank.html
  examples/testa.html
  packages/agent/src/connect-v2.ts
  packages/agent/src/oidc-v2.ts
  packages/agent/src/rpcServer.js
  packages/agent/tests/connect-v2.spec.ts
  packages/api/src/web5.ts
Due: agent, api

remove jwt `typ` requirement
  packages/credentials/src/jwt.ts
Due: credentials

allow jwt header to be set when signing
  packages/credentials/src/jwt.ts
Due: credentials

add test
  packages/credentials/tests/jwt.spec.ts
Due: credentials

update tsdoc
  packages/credentials/src/jwt.ts
Due: credentials

appease linter
  packages/credentials/tests/jwt.spec.ts
Due: credentials

appease doc plugin
  packages/credentials/src/jwt.ts
Due: credentials

appease linter agane
  packages/credentials/src/jwt.ts
Due: credentials

Create two-worms-float.md
  .changeset/two-worms-float.md
Due: none

remove jwt `typ` requirement (#751)
  .changeset/two-worms-float.md
  packages/credentials/src/jwt.ts
  packages/credentials/tests/jwt.spec.ts
Due: credentials

fix tests
  packages/api/tests/web5.spec.ts
Due: api

remove selection for DWN endpoints during Connect DID creation, instead provide an option or a single default to `https://dwn.tbddev.org/latest`
  packages/api/src/index.ts
  packages/api/src/tech-preview.ts
  packages/api/src/web5.ts
  packages/api/tests/tech-preview.spec.ts
Due: api

add test coverage
  packages/api/tests/web5.spec.ts
Due: api

move sinon restore to the correct part of the test scaffold
  packages/api/tests/web5.spec.ts
Due: api

update defaults, make backward compatible, add changeset
  .changeset/two-crabs-taste.md
  packages/api/src/web5.ts
  packages/api/tests/web5.spec.ts
Due: api

DWN Endpoint during `Web5.connect()` DID Creation (#750)
  .changeset/two-crabs-taste.md
  packages/api/src/index.ts
  packages/api/src/tech-preview.ts
  packages/api/src/web5.ts
  packages/api/tests/tech-preview.spec.ts
  packages/api/tests/web5.spec.ts
Due: api

feedback
  packages/api/src/web5.ts
Due: api

import meta to a function
  packages/api/src/web-features.ts
Due: api

feedback
  packages/agent/src/connect-v2.ts
  packages/agent/src/oidc-v2.ts
  packages/agent/src/utils.ts
Due: agent

feedback
  packages/agent/src/connect-v2.ts
  packages/agent/src/oidc-v2.ts
Due: agent

refactor out nonce
  packages/agent/src/connect-v2.ts
  packages/agent/src/oidc-v2.ts
Due: agent

feedback
  packages/agent/src/connect-v2.ts
Due: agent

feedback: add better docs for walletUri
  packages/agent/src/connect-v2.ts
Due: agent

remove unnecessary clientUri
  packages/agent/src/connect-v2.ts
Due: agent

Path conditions:
  agent: any of: packages/agent/**
  api: any of: packages/api/**
  common: any of: packages/common/**
  credentials: any of: packages/credentials/**
  crypto: any of: packages/crypto/**
  dids: any of: packages/dids/**
  identity-agent: any of: packages/identity-agent/**
  crypto-aws-kms: any of: packages/crypto-aws-kms/**
  proxy-agent: any of: packages/proxy-agent/**
  user-agent: any of: packages/user-agent/**
