Repository TBD54566975/web5-js: changes, and which Codecov flags are due for each by the changed paths.
All: agent, api, common, credentials, crypto, dids, identity-agent, crypto-aws-kms, proxy-agent, user-agent

Fix broken link docs warnings
  packages/api/src/web5.ts
  packages/crypto-aws-kms/src/ecdsa.ts
  packages/dids/src/methods/did-dht.ts
Due: api, dids, crypto-aws-kms

updates to latest did and crypto package
  package-lock.json
  packages/credentials/package.json
  packages/credentials/src/jwt.ts
  packages/credentials/tests/jwt.spec.ts
  packages/credentials/tests/verifiable-credential.spec.ts
Due: credentials

update package lock
  package-lock.json
Due: none

spacing
  packages/credentials/src/jwt.ts
Due: credentials

package lock builds
  package-lock.json
Due: none

Fix GH Pages docs generation (#408)
  .github/workflows/docs-publish.yml
Due: none

dht resolve test vector impl
  packages/dids/src/methods/did-dht.ts
  packages/dids/tests/methods/did-dht.spec.ts
Due: dids

Simplify JWT verify by using CryptoApi from @web5/crypto
  packages/credentials/src/jwt.ts
  packages/credentials/tests/jwt.spec.ts
Due: credentials

Update packages/credentials/src/jwt.ts
  packages/credentials/src/jwt.ts
Due: credentials

updates to alg checking
  packages/credentials/src/jwt.ts
  packages/credentials/tests/jwt.spec.ts
Due: credentials

Refactor Credential Signing (#401)
  package-lock.json
  packages/credentials/README.md
  packages/credentials/package.json
  packages/credentials/src/jwt.ts
  packages/credentials/src/verifiable-credential.ts
  packages/credentials/tests/jwt.spec.ts
  packages/credentials/tests/presentation-exchange.spec.ts
  packages/credentials/tests/verifiable-credential.spec.ts
Due: credentials

merge updates and string check
  packages/credentials/src/verifiable-credential.ts
  packages/credentials/src/verifiable-presentation.ts
  packages/credentials/tests/verifiable-credential.spec.ts
  packages/credentials/tests/verifiable-presentation.spec.ts
Due: credentials

bump version
  packages/credentials/package.json
Due: credentials

Verifiable Presentation Implementation (#382)
  packages/credentials/package.json
  packages/credentials/src/validators.ts
  packages/credentials/src/verifiable-credential.ts
  packages/credentials/src/verifiable-presentation.ts
  packages/credentials/tests/verifiable-credential.spec.ts
  packages/credentials/tests/verifiable-presentation.spec.ts
Due: credentials

Create pres from cred test vector (#403)
  packages/credentials/tests/presentation-exchange.spec.ts
Due: credentials

new unit test (#405)
  packages/credentials/tests/presentation-exchange.spec.ts
Due: credentials

dht resolve test vector impl (#411)
  packages/dids/src/methods/did-dht.ts
  packages/dids/tests/methods/did-dht.spec.ts
Due: dids

Fix handling of custom service properties
  packages/dids/src/methods/did-dht.ts
  packages/dids/tests/methods/did-dht.spec.ts
Due: dids

Fix several minor issues
  package-lock.json
  packages/dids/src/bearer-did.ts
  packages/dids/src/methods/did-jwk.ts
  packages/dids/src/methods/did-key.ts
  packages/dids/src/methods/did-method.ts
  packages/dids/tests/methods/did-jwk.spec.ts
  packages/dids/tests/methods/did-key.spec.ts
Due: dids

Bump @web5/dids to 0.4.1
  package-lock.json
  packages/dids/package.json
Due: dids

Update examples
  packages/dids/tests/methods/did-dht.spec.ts
Due: dids

Fix handling of custom service properties (#413)
  packages/dids/src/methods/did-dht.ts
  packages/dids/tests/methods/did-dht.spec.ts
Due: dids

Fix several minor issues in `@web5/dids` (#414)
  package-lock.json
  packages/dids/package.json
  packages/dids/src/bearer-did.ts
  packages/dids/src/methods/did-jwk.ts
  packages/dids/src/methods/did-key.ts
  packages/dids/src/methods/did-method.ts
  packages/dids/tests/methods/did-jwk.spec.ts
  packages/dids/tests/methods/did-key.spec.ts
Due: dids

Add credentials to published api reference docs
  .github/workflows/docs-ci.yml
  .github/workflows/docs-publish.yml
  scripts/tbdocs-check-local.sh
Due: none

Add TTL Cache to common package
  package-lock.json
  packages/common/package.json
  packages/common/src/cache.ts
  packages/common/src/index.ts
  packages/common/tests/cache.spec.ts
Due: common

Fix package-lock.json
  package-lock.json
Due: none

Add TTL Cache to `@web5/common` package (#415)
  package-lock.json
  packages/common/package.json
  packages/common/src/cache.ts
  packages/common/src/index.ts
  packages/common/tests/cache.spec.ts
Due: common

Change DidResolver cache to protected
  packages/dids/src/resolver/did-resolver.ts
Due: dids

pagination cursor
  packages/agent/src/dwn-manager.ts
  packages/agent/tests/dwn-manager.spec.ts
  packages/api/src/dwn-api.ts
Due: agent, api

upgrade for pagination
  package-lock.json
Due: none

upgrade sdk versions
  package-lock.json
  packages/agent/package.json
  packages/agent/src/dwn-manager.ts
  packages/agent/src/test-managed-agent.ts
  packages/agent/tests/sync-manager.spec.ts
  packages/api/package.json
  packages/user-agent/package.json
Due: agent, api, user-agent

account for pagination cursor object instead of messageCid
  packages/agent/src/sync-manager.ts
  packages/agent/src/test-managed-agent.ts
Due: agent

update tests
  packages/agent/tests/sync-manager.spec.ts
Due: agent

upgrade changes
  package-lock.json
  packages/user-agent/src/user-agent.ts
Due: user-agent

fix CVE for ip transitive dependency
  package-lock.json
Due: none

ci
  .github/workflows/tests-ci.yml
Due: none

migrate to pnpm
  .codesandbox/tasks.json
  .github/workflows/alpha-npm.yml
  .github/workflows/docs-ci.yml
  .github/workflows/docs-publish.yml
  .github/workflows/release-npm.yml
  .github/workflows/tests-ci.yml
  .vscode/settings.json
  CONTRIBUTING.md
  package-lock.json
  package.json
  packages/agent/.vscode/tasks.json
  packages/agent/package.json
  packages/api/.vscode/tasks.json
  packages/api/package.json
  packages/common/.vscode/tasks.json
  packages/common/package.json
  packages/credentials/.vscode/tasks.json
  packages/credentials/package.json
  packages/crypto-aws-kms/.vscode/tasks.json
  packages/crypto-aws-kms/package.json
  packages/crypto/.vscode/tasks.json
  packages/crypto/package.json
  packages/dids/.vscode/tasks.json
  packages/dids/package.json
  packages/identity-agent/.vscode/tasks.json
  packages/identity-agent/package.json
  packages/proxy-agent/.vscode/tasks.json
  packages/proxy-agent/package.json
  packages/user-agent/.vscode/tasks.json
  packages/user-agent/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  web5-js.code-workspace
Due: agent, api, common, credentials, crypto, dids, identity-agent, crypto-aws-kms, proxy-agent, user-agent

add pnpm setup action
  .github/workflows/alpha-npm.yml
  .github/workflows/docs-ci.yml
  .github/workflows/docs-publish.yml
  .github/workflows/release-npm.yml
  .github/workflows/tests-ci.yml
  CONTRIBUTING.md
Due: none

fix ordering
  .github/workflows/alpha-npm.yml
  .github/workflows/docs-ci.yml
  .github/workflows/docs-publish.yml
  .github/workflows/release-npm.yml
  .github/workflows/tests-ci.yml
Due: none

Path conditions:
  agent: any of: packages/agent/**
  api: any of: packages/api/**
  common: any of: packages/common/**
  credentials: any of: packages/credentials/**
  crypto: any of: packages/crypto/**
  dids: any of: packages/dids/**
  identity-agent: any of: packages/identity-agent/**
  crypto-aws-kms: any of: packages/crypto-aws-kms/**
  proxy-agent: any of: packages/proxy-agent/**
  user-agent: any of: packages/user-agent/**
