Repository TBD54566975/web5-js: changes, and which Codecov flags are due for each by the changed paths.
All: agent, api, common, credentials, crypto, dids, identity-agent, crypto-aws-kms, proxy-agent, user-agent

codecov.yml:

comment:
  layout: "header, diff, components"

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto # auto compares coverage to the previous base commit
        threshold: 5% # allows a 5% drop from the previous base commit coverage
      - type: patch
        target: 90 # every PR opened should strive for at least 90% coverage

  individual_components:
    - component_id: package-agent
      name: agent
      paths: ["packages/agent/**"]

    - component_id: package-api
      name: api
      paths: ["packages/api/**"]

    - component_id: package_common
      name: common
      paths: ["packages/common/**"]

    - component_id: package_credentials
      name: credentials
      paths: ["packages/credentials/**"]

    - component_id: package_crypto
      name: crypto
      paths: ["packages/crypto/**"]

    - component_id: package_dids
      name: dids
      paths: ["packages/dids/**"]

    - component_id: package-identity-agent
      name: identity-agent
      paths: ["packages/identity-agent/**"]

    - component_id: package-crypto-aws-kms
      name: crypto-aws-kms
      paths: ["packages/crypto-aws-kms/**"]

    - component_id: package-proxy-agent
      name: proxy-agent
      paths: ["packages/proxy-agent/**"]

    - component_id: package-user-agent
      name: user-agent
      paths: ["packages/user-agent/**"]

coverage:
  status:
    project:
      default:
        informational: true
    patch:
      default:
        informational: true # Don't gate PRs based on Codecov passing thresholds

0.4.5
  packages/credentials/package.json
Due: credentials

0.4.5 (#476)
  packages/credentials/package.json
Due: credentials

add prototype tests to build, skip AES with 192 bits in chrome (#474)
  packages/agent/build/esbuild-tests.cjs
  packages/agent/tests/prototyping/crypto/algorithms/aes-kw.spec.ts
  packages/agent/tests/prototyping/crypto/primitives/aes-kw.spec.ts
Due: agent

Updated CODEOWNERS and README
  CODEOWNERS
  README.md
Due: none

Correct minor README typo
  README.md
Due: none

Setup Changesets
  .changeset/README.md
  .changeset/config.json
  .github/workflows/release-npm.yml
  .github/workflows/release.yml
  CONTRIBUTING.md
  package.json
  scripts/changesets-version.sh
Due: none

Update CONTRIBUTING.md
  CONTRIBUTING.md
Due: none

Update Changesets impl
  .github/workflows/docs-publish.yml
  .github/workflows/release.yml
  packages/agent/package.json
  packages/api/package.json
  packages/common/package.json
  packages/credentials/package.json
  packages/crypto-aws-kms/package.json
  packages/crypto/package.json
  packages/dids/package.json
  packages/identity-agent/package.json
  packages/proxy-agent/package.json
  packages/user-agent/package.json
  pnpm-lock.yaml
  scripts/changesets-api-release-check.sh
  scripts/changesets-version.sh
Due: agent, api, common, credentials, crypto, dids, identity-agent, crypto-aws-kms, proxy-agent, user-agent

Add instructions for `@web5/api` releases
  CONTRIBUTING.md
Due: none

Update pnpm build cmd
  .github/workflows/release.yml
Due: none

s/Kick/Initiate @web5/api release
  .github/workflows/release.yml
  CONTRIBUTING.md
Due: none

fix pnpm-lock.yaml
  pnpm-lock.yaml
Due: none

Updated CODEOWNERS and README (#478)
  CODEOWNERS
  README.md
Due: none

Add OSP Reusable Workflow for Scans
  .github/workflows/security.yml
Due: none

Reusable OSSF Scorecard
  .github/workflows/scorecard.yml
Due: none

Setup Changesets (#416)
  .changeset/README.md
  .changeset/config.json
  .github/workflows/docs-publish.yml
  .github/workflows/release-npm.yml
  .github/workflows/release.yml
  CONTRIBUTING.md
  package.json
  packages/agent/package.json
  packages/api/package.json
  packages/common/package.json
  packages/credentials/package.json
  packages/crypto-aws-kms/package.json
  packages/crypto/package.json
  packages/dids/package.json
  packages/identity-agent/package.json
  packages/proxy-agent/package.json
  packages/user-agent/package.json
  pnpm-lock.yaml
  scripts/changesets-api-release-check.sh
  scripts/changesets-version.sh
Due: agent, api, common, credentials, crypto, dids, identity-agent, crypto-aws-kms, proxy-agent, user-agent

Bump Foundational Packages to v1
  .changeset/few-icons-look.md
Due: none

Bump Foundational Packages to v1 (#479)
  .changeset/few-icons-look.md
Due: none

Fix changesets-version script
  scripts/changesets-version.sh
Due: none

Fix changesets-version script (#480)
  scripts/changesets-version.sh
Due: none

Manual bump workspace packages
  packages/credentials/package.json
  packages/crypto-aws-kms/package.json
  packages/crypto/package.json
  packages/dids/package.json
  pnpm-lock.yaml
Due: credentials, crypto, dids, crypto-aws-kms

bump sdk versions
  .changeset/olive-geese-melt.md
  packages/agent/package.json
  packages/api/package.json
  packages/identity-agent/package.json
  packages/proxy-agent/package.json
  packages/user-agent/package.json
  pnpm-lock.yaml
Due: agent, api, identity-agent, proxy-agent, user-agent

add another changeset
  .changeset/green-olive-goblin.md
  .changeset/olive-geese-melt.md
Due: none

update to patch instead of minor, add second changeset file
  .changeset/green-olive-goblin.md
  .changeset/olive-geese-melt.md
Due: none

Release `api` and `agent` packages. (#482)
  .changeset/green-olive-goblin.md
  .changeset/olive-geese-melt.md
  packages/agent/package.json
  packages/api/package.json
  packages/identity-agent/package.json
  packages/proxy-agent/package.json
  packages/user-agent/package.json
  pnpm-lock.yaml
Due: agent, api, identity-agent, proxy-agent, user-agent

upgrade to latest dwn-sdk-js
  package.json
  packages/agent/package.json
  packages/api/package.json
  pnpm-lock.yaml
Due: agent, api

commmit changeset
  .changeset/blue-papayas-leave.md
Due: none

update dwn-sdk-js docker image version
  packages/dev-env/docker-compose.yaml
Due: none

test vector
  packages/credentials/tests/status-list-credential.spec.ts
Due: credentials

update
  packages/credentials/src/status-list-credential.ts
  packages/credentials/tests/status-list-credential.spec.ts
Due: credentials

update
  packages/credentials/src/status-list-credential.ts
Due: credentials

Updates to status list 2021 PR
  packages/credentials/.c8rc.json
  packages/credentials/src/status-list-credential.ts
  packages/credentials/tests/status-list-credential.spec.ts
Due: credentials

Minor rename
  packages/credentials/src/status-list-credential.ts
  packages/credentials/src/verifiable-credential.ts
Due: credentials

minor refactoring
  packages/credentials/src/status-list-credential.ts
Due: credentials

More renames
  packages/credentials/.vscode/settings.json
  packages/credentials/src/status-list-credential.ts
  packages/credentials/src/verifiable-credential.ts
  packages/credentials/tests/status-list-credential.spec.ts
Due: credentials

One more rename
  packages/credentials/src/status-list-credential.ts
  packages/credentials/tests/status-list-credential.spec.ts
Due: credentials

One last rename
  packages/credentials/src/status-list-credential.ts
Due: credentials

Addressed review comments
  packages/credentials/src/status-list-credential.ts
  packages/credentials/tests/status-list-credential.spec.ts
Due: credentials

Rename based on PR comments
  packages/credentials/src/status-list-credential.ts
  packages/credentials/src/verifiable-credential.ts
Due: credentials

minor doc upate
  packages/credentials/src/status-list-credential.ts
Due: credentials
