Repository TBD54566975/web5-js: changes, and which Codecov flags are due for each by the changed paths.
All: agent, api, common, credentials, crypto, dids, identity-agent, crypto-aws-kms, proxy-agent, user-agent

codecov.yml:

comment:
  layout: "header, diff, components"

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto # auto compares coverage to the previous base commit
        threshold: 5% # allows a 5% drop from the previous base commit coverage
      - type: patch
        target: 90 # every PR opened should strive for at least 90% coverage

  individual_components:
    - component_id: package-agent
      name: agent
      paths: ["packages/agent/**"]

    - component_id: package-api
      name: api
      paths: ["packages/api/**"]

    - component_id: package_common
      name: common
      paths: ["packages/common/**"]

    - component_id: package_credentials
      name: credentials
      paths: ["packages/credentials/**"]

    - component_id: package_crypto
      name: crypto
      paths: ["packages/crypto/**"]

    - component_id: package_dids
      name: dids
      paths: ["packages/dids/**"]

    - component_id: package-identity-agent
      name: identity-agent
      paths: ["packages/identity-agent/**"]

    - component_id: package-crypto-aws-kms
      name: crypto-aws-kms
      paths: ["packages/crypto-aws-kms/**"]

    - component_id: package-proxy-agent
      name: proxy-agent
      paths: ["packages/proxy-agent/**"]

    - component_id: package-user-agent
      name: user-agent
      paths: ["packages/user-agent/**"]

coverage:
  status:
    project:
      default:
        informational: true
    patch:
      default:
        informational: true # Don't gate PRs based on Codecov passing thresholds

fix lint issues, move dwn-server to dev dependency
  packages/agent/package.json
  packages/agent/src/prototyping/clients/http-clients.ts
  packages/agent/src/prototyping/clients/json-rpc-socket.ts
  packages/agent/src/prototyping/clients/json-rpc.ts
  packages/agent/src/prototyping/clients/web-socket-clients.ts
  packages/agent/src/prototyping/clients/web5-rpc-types.ts
  pnpm-lock.yaml
Due: agent

test subscription cases
  packages/agent/src/prototyping/clients/web-socket-clients.ts
  packages/agent/tests/prototyping/clients/ws-dwn-rpc-client.spec.ts
Due: agent

test coverage and lint
  packages/agent/src/dwn-api.ts
  packages/agent/src/prototyping/clients/dwn-server-info-cache-memory.ts
  packages/agent/src/prototyping/clients/dwn-server-info-cache-no-op.ts
  packages/agent/src/prototyping/clients/http-clients.ts
  packages/agent/src/prototyping/clients/web5-rpc-types.ts
  packages/agent/tests/prototyping/clients/dwn-server-info-cache.spec.ts
  packages/agent/tests/prototyping/clients/json-rpc-socket.spec.ts
Due: agent

increase coverage, bump dwn-server version
  package.json
  packages/agent/src/prototyping/clients/json-rpc-socket.ts
  packages/agent/src/prototyping/clients/json-rpc.ts
  packages/agent/src/prototyping/clients/web-socket-clients.ts
  packages/agent/src/prototyping/clients/web5-rpc-client.ts
  packages/agent/src/test-harness.ts
  packages/agent/tests/prototyping/clients/http-dwn-rpc-client.spec.ts
  packages/agent/tests/prototyping/clients/http-web5-rpc-client.spec.ts
  packages/agent/tests/prototyping/clients/json-rpc-socket.spec.ts
  packages/agent/tests/prototyping/clients/web5-rpc-client.spec.ts
  packages/agent/tests/prototyping/clients/ws-dwn-rpc-client.spec.ts
  packages/agent/tests/prototyping/clients/ws-web5-rpc-client.spec.ts
  pnpm-lock.yaml
Due: agent

add a key-value cache store for server info requests
  packages/agent/src/prototyping/clients/dwn-server-info-cache-level.ts
  packages/agent/src/prototyping/clients/dwn-server-info-cache-memory.ts
  packages/agent/src/prototyping/clients/http-clients.ts
  packages/agent/src/prototyping/clients/web5-rpc-types.ts
Due: agent

increase coverage for agent clients
  packages/agent/src/prototyping/clients/web-socket-clients.ts
  packages/agent/tests/prototyping/clients/http-web5-rpc-client.spec.ts
  packages/agent/tests/prototyping/clients/web5-rpc-client.spec.ts
  packages/agent/tests/prototyping/clients/ws-web5-rpc-client.spec.ts
Due: agent

get dwn server info upon api request to remote did, use sockets for subscription requests
  packages/agent/src/dwn-api.ts
  packages/agent/src/prototyping/clients/http-clients.ts
  packages/agent/src/prototyping/clients/web-socket-clients.ts
  packages/agent/src/prototyping/clients/web5-rpc-client.ts
  packages/agent/src/prototyping/clients/web5-rpc-types.ts
  packages/agent/src/types/dwn.ts
  packages/agent/tests/prototyping/clients/json-rpc-socket.spec.ts
Due: agent

some nits
  packages/agent/src/dwn-api.ts
Due: agent

update dwn-server docker container
  packages/dev-env/docker-compose.yaml
Due: none

create a helper method for sleeping while waiting for events
  packages/agent/tests/prototyping/clients/json-rpc-socket.spec.ts
  packages/agent/tests/prototyping/clients/ws-dwn-rpc-client.spec.ts
Due: agent

add node
  bin/.node@20.pkg
  bin/corepack
  bin/node
  bin/npm
  bin/npx
Due: none

readme
  README.md
Due: none

upgrade dwn-server version to v0.1.13
  package.json
  pnpm-lock.yaml
Due: none

updates
  packages/credentials/src/utils.ts
  packages/credentials/tests/verifiable-credential.spec.ts
Due: credentials

add caching
  .github/workflows/alpha-npm.yml
  .github/workflows/docs-ci.yml
  .github/workflows/docs-publish.yml
  .github/workflows/release-npm.yml
  .github/workflows/tests-ci.yml
  README.md
Due: none

bump min version
  CONTRIBUTING.md
  bin/.node-20.9.0.pkg
  bin/corepack
  bin/node
  bin/npm
  bin/npx
  packages/agent/package.json
  packages/api/package.json
  packages/common/package.json
  packages/credentials/package.json
  packages/crypto-aws-kms/package.json
  packages/crypto/package.json
  packages/dids/package.json
  packages/identity-agent/package.json
  packages/proxy-agent/package.json
  packages/user-agent/package.json
Due: agent, api, common, credentials, crypto, dids, identity-agent, crypto-aws-kms, proxy-agent, user-agent

Add hermit and update GH actions (#436)
  .github/workflows/alpha-npm.yml
  .github/workflows/docs-ci.yml
  .github/workflows/docs-publish.yml
  .github/workflows/release-npm.yml
  .github/workflows/tests-ci.yml
  CONTRIBUTING.md
  README.md
  bin/.node-20.9.0.pkg
  bin/.pnpm-8.15.4.pkg
  bin/README.hermit.md
  bin/activate-hermit
  bin/corepack
  bin/hermit
  bin/hermit.hcl
  bin/node
  bin/npm
  bin/npx
  bin/pnpm
  packages/agent/package.json
  packages/api/package.json
  packages/common/package.json
  packages/credentials/package.json
  packages/crypto-aws-kms/package.json
  packages/crypto/package.json
  packages/dids/package.json
  packages/identity-agent/package.json
  packages/proxy-agent/package.json
  packages/user-agent/package.json
Due: agent, api, common, credentials, crypto, dids, identity-agent, crypto-aws-kms, proxy-agent, user-agent

bump actions to node v20
  .github/workflows/docs-publish.yml
  .github/workflows/release-notify.yml
  .github/workflows/scorecard.yml
  .github/workflows/tests-ci.yml
Due: none

debug what node is doing
  .github/workflows/tests-ci.yml
Due: none

try timeout
  packages/agent/.mocharc.json
Due: agent

add back correct test script and parallelize mocha
  .github/workflows/tests-ci.yml
Due: none

Update alpha-npm.yml
  .github/workflows/alpha-npm.yml
Due: none

Update alpha-npm.yml (#439)
  .github/workflows/alpha-npm.yml
Due: none

Remove global timeout for agent package
  packages/agent/.mocharc.json
Due: agent

troubleshoot timeout
  .github/workflows/tests-ci.yml
Due: none

Bump timeouts for sync tests
  packages/agent/tests/sync-manager.spec.ts
Due: agent

Revert to Tim's changes after resolving timeouts
  .github/workflows/tests-ci.yml
Due: none

fix a couple of actions and bump (#437)
  .github/workflows/docs-publish.yml
  .github/workflows/release-notify.yml
  .github/workflows/scorecard.yml
  .github/workflows/tests-ci.yml
  packages/agent/tests/sync-manager.spec.ts
Due: agent

Fix path in esbuild-tests.cjs
  packages/agent/build/esbuild-tests.cjs
  packages/api/build/esbuild-tests.cjs
  packages/common/build/esbuild-tests.cjs
  packages/credentials/build/esbuild-tests.cjs
  packages/crypto/build/esbuild-tests.cjs
  packages/dids/build/esbuild-tests.cjs
  packages/identity-agent/build/esbuild-tests.cjs
  packages/proxy-agent/build/esbuild-tests.cjs
  packages/user-agent/build/esbuild-tests.cjs
Due: agent, api, common, credentials, crypto, dids, identity-agent, proxy-agent, user-agent

Fix failing tests in dids package
  packages/dids/package.json
  packages/dids/tests/methods/did-key.spec.ts
  packages/dids/tests/resolver/resolver-cache-level.spec.ts
  pnpm-lock.yaml
Due: dids

Fix failing tests under Chrome
  packages/crypto/src/primitives/aes-gcm.ts
  packages/crypto/tests/algorithms/aes-ctr.spec.ts
  packages/crypto/tests/algorithms/aes-gcm.spec.ts
  packages/crypto/tests/primitives/aes-ctr.spec.ts
  packages/crypto/tests/primitives/aes-gcm.spec.ts
Due: crypto

Fix Chrome runtime checks
  packages/crypto/tests/algorithms/aes-ctr.spec.ts
  packages/crypto/tests/algorithms/aes-gcm.spec.ts
  packages/crypto/tests/primitives/aes-ctr.spec.ts
  packages/crypto/tests/primitives/aes-gcm.spec.ts
  packages/crypto/tests/utils/runtimes.ts
Due: crypto

fix node reporting
  .github/workflows/tests-ci.yml
Due: none

Troubleshoot test failures
  .github/workflows/tests-ci.yml
Due: none

nit: workflow order
  .github/workflows/tests-ci.yml
Due: none

Revert pnpm test
  .github/workflows/tests-ci.yml
Due: none

generate sdk reports only on merge to main
  .github/workflows/reports.yml
  .github/workflows/tests-ci.yml
Due: none

Fix path Esbuild config to run all browser tests (#441)
  packages/agent/build/esbuild-tests.cjs
  packages/api/build/esbuild-tests.cjs
  packages/common/build/esbuild-tests.cjs
  packages/credentials/build/esbuild-tests.cjs
  packages/crypto/build/esbuild-tests.cjs
  packages/crypto/src/primitives/aes-gcm.ts
  packages/crypto/tests/algorithms/aes-ctr.spec.ts
  packages/crypto/tests/algorithms/aes-gcm.spec.ts
  packages/crypto/tests/primitives/aes-ctr.spec.ts
  packages/crypto/tests/primitives/aes-gcm.spec.ts
  packages/crypto/tests/utils/runtimes.ts
  packages/dids/build/esbuild-tests.cjs
  packages/dids/package.json
  packages/dids/tests/methods/did-key.spec.ts
  packages/dids/tests/resolver/resolver-cache-level.spec.ts
  packages/identity-agent/build/esbuild-tests.cjs
  packages/proxy-agent/build/esbuild-tests.cjs
  packages/user-agent/build/esbuild-tests.cjs
  pnpm-lock.yaml
Due: agent, api, common, credentials, crypto, dids, identity-agent, proxy-agent, user-agent

piggyback split web tests
  .github/workflows/tests-ci.yml
Due: none

bump version and update readme
  packages/credentials/README.md
  packages/credentials/package.json
Due: credentials
