Repository TBD54566975/web5-js: changes, and which Codecov flags are due for each by the changed paths.
All: agent, api, common, credentials, crypto, dids, identity-agent, crypto-aws-kms, proxy-agent, user-agent

Minor api test improvements
  packages/api/tests/dwn-api.spec.ts
  packages/api/tests/protocol.spec.ts
  packages/api/tests/record.spec.ts
Due: api

Resolve Chrome browser AES 192 test failures
  packages/agent/tests/crypto-api.spec.ts
  packages/agent/tests/local-key-manager.spec.ts
  packages/agent/tests/utils/runtimes.ts
Due: agent

Use @web5/common data and stream utilities
  packages/agent/src/dwn-api.ts
  packages/agent/src/sync-engine-level.ts
  packages/agent/tests/sync-engine-level.spec.ts
  packages/api/tests/record.spec.ts
Due: agent, api

Bump dwn-server dep to 0.1.11
  package.json
  packages/agent/.vscode/launch.json
  pnpm-lock.yaml
Due: agent

Improve docs and remove DWN SDK as a dep from api package
  packages/agent/.vscode/launch.json
  packages/agent/src/dwn-api.ts
  packages/agent/src/local-key-manager.ts
  packages/agent/src/rpc-client.ts
  packages/agent/src/sync-engine-level.ts
  packages/agent/src/types/dwn.ts
  packages/agent/src/utils.ts
  packages/api/.vscode/launch.json
  packages/api/package.json
  packages/api/src/did-api.ts
  packages/api/src/dwn-api.ts
  packages/api/src/protocol.ts
  packages/api/src/record.ts
  packages/api/src/send-cache.ts
  packages/api/src/utils.ts
  packages/api/src/vc-api.ts
  packages/api/src/web5.ts
  packages/api/tests/dwn-api.spec.ts
  packages/api/tests/record.spec.ts
  packages/api/tests/send-cache.spec.ts
  packages/api/tests/utils.spec.ts
  pnpm-lock.yaml
Due: agent, api

Add more docs
  packages/agent/src/rpc-client.ts
  packages/api/src/did-api.ts
Due: agent, api

Rename ResponseStatus detail to message
  packages/agent/src/did-api.ts
  packages/agent/src/types/agent.ts
  packages/api/src/protocol.ts
  packages/api/tests/did-api.spec.ts
  packages/proxy-agent/tests/proxy-agent.spec.ts
  packages/user-agent/tests/user-agent.spec.ts
Due: agent, api, proxy-agent, user-agent

Add local dwn-server node to VSCode launch files
  packages/agent/.vscode/launch.json
  packages/proxy-agent/.vscode/launch.json
  packages/user-agent/.vscode/launch.json
Due: agent, proxy-agent, user-agent

Refactor identity-agent and add docs
  packages/api/package.json
  packages/api/src/web5.ts
  packages/api/tests/web5.spec.ts
  packages/crypto/.vscode/launch.json
  packages/identity-agent/.vscode/launch.json
  packages/identity-agent/README.md
  packages/identity-agent/package.json
  packages/identity-agent/src/identity-agent.ts
  packages/identity-agent/tests/identity-agent.spec.ts
  packages/identity-agent/tests/managing-identities.spec.ts
  packages/identity-agent/tests/utils/test-config.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: api, crypto, identity-agent

Attemp to fix alpha publish workflow
  .github/workflows/alpha-npm.yml
Due: none

Resolve 'Failed to replace env in config' error
  .github/workflows/alpha-npm.yml
  packages/api/tests/web5.spec.ts
Due: api

Revert hermit in Alpha publishing workflow
  .github/workflows/alpha-npm.yml
Due: none

Implement requested changes
  packages/agent/src/dwn-api.ts
  packages/agent/src/identity-api.ts
  packages/agent/src/sync-api.ts
  packages/agent/src/sync-engine-level.ts
  packages/dev-env/docker-compose.yaml
Due: agent

Reintroduce hermit
  .github/workflows/alpha-npm.yml
Due: none

Update to latest web5 deps and DWN SDK
  package.json
  packages/agent/package.json
  packages/agent/src/did-api.ts
  packages/agent/src/dwn-api.ts
  packages/agent/src/utils.ts
  packages/agent/tests/fixtures/protocol-definitions/email.json
  packages/agent/tests/prototyping/dids/resolver-cache-memory.spec.ts
  packages/api/package.json
  packages/api/tests/fixtures/protocol-definitions/email.json
  packages/api/tests/fixtures/protocol-definitions/photos.json
  packages/crypto/package.json
  packages/dev-env/docker-compose.yaml
  packages/identity-agent/package.json
  packages/proxy-agent/package.json
  packages/user-agent/package.json
  pnpm-lock.yaml
Due: agent, api, crypto, identity-agent, proxy-agent, user-agent

update protocol definitions to support new `can` verbs
  packages/api/tests/fixtures/protocol-definitions/photos.json
  packages/api/tests/fixtures/protocol-definitions/thread.json
  packages/api/tests/record.spec.ts
Due: api

fix email protocol and associated tests
  packages/agent/tests/fixtures/protocol-definitions/email.json
  packages/api/tests/dwn-api.spec.ts
  packages/api/tests/fixtures/protocol-definitions/email.json
  packages/api/tests/fixtures/protocol-definitions/thread.json
  packages/api/tests/record.spec.ts
Due: agent, api

Remove commented code
  packages/agent/src/crypto-api.ts
Due: agent

Bug fix to DWN-backed data stores
  packages/agent/src/store-data.ts
  packages/agent/tests/store-data.spec.ts
Due: agent

Revert EOF change
  packages/crypto/package.json
Due: crypto

bundle ed25519-keygen for cjs
  packages/agent/build/cjs-bundle.js
  packages/agent/package.json
Due: agent

update agent versions
  packages/agent/package.json
  packages/api/package.json
  packages/identity-agent/package.json
  packages/proxy-agent/package.json
  packages/user-agent/package.json
  pnpm-lock.yaml
Due: agent, api, identity-agent, proxy-agent, user-agent

Apply express 4.19.2 override
  package.json
  pnpm-lock.yaml
Due: none

bundle ed25519-keygen for cjs (#470)
  packages/agent/build/cjs-bundle.js
  packages/agent/package.json
Due: agent

upgrade dwn-server dep dependency version, add proper location of package.json for running dwn-server from scripts
  .gitignore
  package.json
  pnpm-lock.yaml
Due: none

Apply express 4.19.2 override (#471)
  package.json
  pnpm-lock.yaml
Due: none

Upgrade dwn-server version
  .gitignore
  package.json
  pnpm-lock.yaml
Due: none

updates
  packages/credentials/tests/verifiable-credential.spec.ts
Due: credentials

fix lint
  packages/credentials/tests/verifiable-credential.spec.ts
Due: credentials

add prototype tests to build, skip AES with 192 bits in chrome
  packages/agent/build/esbuild-tests.cjs
  packages/agent/tests/prototyping/crypto/algorithms/aes-kw.spec.ts
  packages/agent/tests/prototyping/crypto/primitives/aes-kw.spec.ts
Due: agent

Replace root README
  README.md
Due: none

Add links to doc sites
  README.md
Due: none

Improve wording
  README.md
Due: none

update
  packages/credentials/tests/jwt.spec.ts
Due: credentials

Remove web5-js error message from vectors and point to latest test vectors (#473)
  packages/credentials/tests/jwt.spec.ts
Due: credentials

Monorepo README (#475)
  README.md
Due: none

Path conditions:
  agent: any of: packages/agent/**
  api: any of: packages/api/**
  common: any of: packages/common/**
  credentials: any of: packages/credentials/**
  crypto: any of: packages/crypto/**
  dids: any of: packages/dids/**
  identity-agent: any of: packages/identity-agent/**
  crypto-aws-kms: any of: packages/crypto-aws-kms/**
  proxy-agent: any of: packages/proxy-agent/**
  user-agent: any of: packages/user-agent/**
