Repository TBD54566975/web5-js: changes, and which Codecov flags are due for each by the changed paths.
All: agent, api, common, credentials, crypto, dids, identity-agent, crypto-aws-kms, proxy-agent, user-agent

Refactor `IdentityApi` to be scoped to the agent as a tenant. (#911)
  .changeset/fifty-beers-bake.md
  .changeset/itchy-mayflies-camp.md
  package.json
  packages/agent/src/did-api.ts
  packages/agent/src/identity-api.ts
  packages/agent/src/test-harness.ts
  packages/agent/tests/dwn-api.spec.ts
  packages/agent/tests/identity-api.spec.ts
  packages/agent/tests/permissions-api.spec.ts
  packages/agent/tests/store-identity.spec.ts
  packages/api/src/web5.ts
  packages/api/tests/dwn-api.spec.ts
  packages/api/tests/permission-grant.spec.ts
  packages/api/tests/permission-request.spec.ts
  packages/api/tests/protocol.spec.ts
  packages/api/tests/record.spec.ts
  packages/identity-agent/README.md
  packages/identity-agent/tests/identity-agent.spec.ts
  packages/identity-agent/tests/managing-identities.spec.ts
  packages/proxy-agent/tests/proxy-agent.spec.ts
  packages/user-agent/tests/user-agent.spec.ts
  pnpm-lock.yaml
Due: agent, api, identity-agent, proxy-agent, user-agent

Attempt to fix tbdoc warnings (#913)
  packages/crypto/src/utils.ts
Due: crypto

enable event stream
  packages/agent/src/dwn-api.ts
Due: agent

enable event stream
  .changeset/rotten-lions-flash.md
  .changeset/rude-socks-pay.md
Due: none

Enable event-stream by default for DwnApi. (#910)
  .changeset/rotten-lions-flash.md
  .changeset/rude-socks-pay.md
  packages/agent/src/dwn-api.ts
Due: agent

hacktoberfest 2024 take action
  .github/workflows/take.yml
Due: none

hacktoberfest 2024 take action updated
  .github/workflows/take.yml
Due: none

hacktoberfest 2024 take action updated (#942)
  .github/workflows/take.yml
Due: none

make sure protocolRole persists between requests
  packages/api/src/dwn-api.ts
  packages/api/src/record.ts
  packages/api/src/subscription-util.ts
Due: api

fix linting issue
  packages/api/src/dwn-api.ts
Due: api

Automating adding Hacktoberfest labels
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/add-hacktoberfest-labels.yml
Due: none

hacktoberfest 2024 MD update (#909)
  CONTRIBUTING.md
  README.md
Due: none

Added web5 connect client/app display name for dynamic rendering in the wallet
  packages/agent/src/connect.ts
  packages/agent/src/oidc.ts
  packages/agent/tests/connect.spec.ts
  packages/api/src/web5.ts
Due: agent, api

lint
  packages/api/src/web5.ts
Due: api

Missed tests
  packages/api/tests/web5.spec.ts
Due: api

Create lemon-bees-yawn.md
  .changeset/lemon-bees-yawn.md
Due: none

Create smooth-weeks-serve.md
  .changeset/smooth-weeks-serve.md
Due: none

Introduced logger to have better control of logging
  packages/agent/src/connect.ts
  packages/agent/src/oidc.ts
  packages/common/package.json
  packages/common/src/index.ts
  packages/common/src/logger.ts
  pnpm-lock.yaml
Due: agent, common

Removed logger and logging
  packages/agent/src/connect.ts
  packages/agent/src/oidc.ts
  packages/common/package.json
  packages/common/src/index.ts
  packages/common/src/logger.ts
  pnpm-lock.yaml
Due: agent, common

lint
  packages/agent/src/oidc.ts
Due: agent

Added parameter for app display name for dynamic rendering in the wallet during web5 connect flow (#945)
  .changeset/lemon-bees-yawn.md
  .changeset/smooth-weeks-serve.md
  packages/agent/src/connect.ts
  packages/agent/src/oidc.ts
  packages/agent/tests/connect.spec.ts
  packages/api/src/web5.ts
  packages/api/tests/web5.spec.ts
  packages/common/package.json
Due: agent, api, common

Added logger and some usage
  packages/agent/src/connect.ts
  packages/agent/src/oidc.ts
  packages/common/src/index.ts
  packages/common/src/logger.ts
Due: agent, common

Added logger and some usage (#947)
  packages/agent/src/connect.ts
  packages/agent/src/oidc.ts
  packages/common/src/index.ts
  packages/common/src/logger.ts
Due: agent, common

Forgot to create a changeset for common
  .changeset/yellow-schools-fail.md
Due: none

Forgot to create a changeset for common (#948)
  .changeset/yellow-schools-fail.md
Due: none

Updated dwn-sdk-js dependency to v0.5.1
  packages/agent/package.json
  packages/agent/src/store-data.ts
  packages/api/package.json
  packages/api/src/dwn-api.ts
  packages/api/src/record.ts
  pnpm-lock.yaml
Due: agent, api

Fixed agent tests
  packages/agent/tests/dwn-api.spec.ts
  packages/agent/tests/prototyping/clients/http-dwn-rpc-client.spec.ts
  packages/agent/tests/prototyping/clients/ws-dwn-rpc-client.spec.ts
  packages/agent/tests/sync-engine-level.spec.ts
Due: agent

Fixed a couple of tests
  packages/agent/tests/dwn-api.spec.ts
Due: agent

Updated dwn-server docker image
  packages/dev-env/docker-compose.yaml
Due: none

Updated dwn-server dependency
  package.json
  pnpm-lock.yaml
Due: none

Updated dwn-sdk-js dependency to v0.5.1 (#950)
  package.json
  packages/agent/package.json
  packages/agent/src/store-data.ts
  packages/agent/tests/dwn-api.spec.ts
  packages/agent/tests/prototyping/clients/http-dwn-rpc-client.spec.ts
  packages/agent/tests/prototyping/clients/ws-dwn-rpc-client.spec.ts
  packages/agent/tests/sync-engine-level.spec.ts
  packages/api/package.json
  packages/api/src/dwn-api.ts
  packages/api/src/record.ts
  packages/dev-env/docker-compose.yaml
  pnpm-lock.yaml
Due: agent, api

catch and log errors other than no-chage updates
  packages/agent/src/agent-did-resolver-cache.ts
Due: agent

complete coverage for update
  packages/agent/src/did-api.ts
  packages/agent/tests/did-api.spec.ts
Due: agent

add coverate for publish
  packages/agent/src/did-api.ts
  packages/agent/tests/did-api.spec.ts
Due: agent

test cache refresh and update
  packages/agent/src/agent-did-resolver-cache.ts
  packages/agent/tests/agent-did-resolver-cach.spec.ts
Due: agent

agent resolver refreshes did store and cache
  packages/agent/src/agent-did-resolver-cache.ts
  packages/agent/src/did-api.ts
  packages/agent/src/store-data.ts
  packages/agent/tests/agent-did-resolver-cach.spec.ts
  packages/agent/tests/store-data.spec.ts
Due: agent

did-resolution
  packages/agent/src/agent-did-resolver-cache.ts
Due: agent

do not fail if duplicate key, just do not update
  packages/agent/src/did-api.ts
  packages/agent/src/local-key-manager.ts
Due: agent

update test
  packages/agent/tests/local-key-manager.spec.ts
Due: agent

check for existing keys in BearerDid.import()
  packages/agent/src/agent-did-resolver-cache.ts
  packages/agent/src/local-key-manager.ts
  packages/agent/tests/local-key-manager.spec.ts
  packages/dids/src/bearer-did.ts
  packages/dids/tests/bearer-did.spec.ts
Due: agent, dids

Path conditions:
  agent: any of: packages/agent/**
  api: any of: packages/api/**
  common: any of: packages/common/**
  credentials: any of: packages/credentials/**
  crypto: any of: packages/crypto/**
  dids: any of: packages/dids/**
  identity-agent: any of: packages/identity-agent/**
  crypto-aws-kms: any of: packages/crypto-aws-kms/**
  proxy-agent: any of: packages/proxy-agent/**
  user-agent: any of: packages/user-agent/**
