Repository TBD54566975/web5-js: changes, and which Codecov flags are due for each by the changed paths.
All: common, credentials, crypto, dids, web5, web5-agent, web5-proxy-agent, web5-user-agent

codecov.yml:

comment:
  layout: "header, diff, components"

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto # auto compares coverage to the previous base commit
        threshold: 5% # allows a 5% drop from the previous base commit coverage
      - type: patch
        target: 100 # every PR opened should strive for full test coverage

  individual_components:
    - component_id: package_common
      name: common
      paths: ["packages/common/**"]

    - component_id: package_credentials
      name: credentials
      paths: ["packages/credentials/**"]

    - component_id: package_crypto
      name: crypto
      paths: ["packages/crypto/**"]

    - component_id: package_dids
      name: dids
      paths: ["packages/dids/**"]

    - component_id: package-web5
      name: web5
      paths: ["packages/web5/**"]

    - component_id: package-web5-agent
      name: web5-agent
      paths: ["packages/web5-agent/**"]

    - component_id: package-web5-proxy-agent
      name: web5-proxy-agent
      paths: ["packages/web5-proxy-agent/**"]

    - component_id: package-web5-user-agent
      name: web5-user-agent
      paths: ["packages/web5-user-agent/**"]

coverage:
  status:
    project:
      default:
        informational: true
    patch:
      default:
        informational: true # Don't gate PRs based on Codecov passing thresholds

add ci test
  .github/workflows/tests-ci.yml
Due: none

webkit is hanging
  packages/agent/karma.conf.cjs
Due: none

naming
  .github/workflows/tests-ci.yml
Due: none

shutoff webkit
  packages/agent/karma.conf.cjs
  packages/agent/web-test-runner.config.cjs
  packages/api/karma.conf.cjs
  packages/common/karma.conf.cjs
  packages/credentials/karma.conf.cjs
  packages/crypto/karma.conf.cjs
  packages/dids/karma.conf.cjs
  packages/identity-agent/karma.conf.cjs
  packages/proxy-agent/karma.conf.cjs
  packages/user-agent/karma.conf.cjs
Due: common, credentials, crypto, dids

unbump playwright
  package-lock.json
  packages/agent/package.json
Due: none

remove manual timeouts
  packages/agent/tests/sync-manager.spec.ts
Due: none

use concurrency 1
  packages/agent/web-test-runner.config.cjs
Due: none

adding example
  packages/credentials/example/index.js
  packages/credentials/example/package-lock.json
  packages/credentials/example/package.json
Due: credentials

add readme
  packages/credentials/example/README.md
Due: credentials

wrap up poc
  package-lock.json
  packages/agent/package.json
  packages/api/build/esbuild-tests.cjs
  packages/api/package.json
  packages/api/tests/dwn-api.spec.ts
  packages/api/web-test-runner.config.cjs
  packages/common/build/esbuild-tests.cjs
  packages/common/package.json
  packages/common/web-test-runner.config.cjs
  packages/credentials/build/esbuild-tests.cjs
  packages/credentials/package.json
  packages/credentials/web-test-runner.config.cjs
  packages/crypto/build/esbuild-tests.cjs
  packages/crypto/package.json
  packages/crypto/web-test-runner.config.cjs
  packages/dids/build/esbuild-tests.cjs
  packages/dids/package.json
  packages/dids/web-test-runner.config.cjs
  packages/identity-agent/build/esbuild-tests.cjs
  packages/identity-agent/package.json
  packages/identity-agent/web-test-runner.config.cjs
  packages/proxy-agent/build/esbuild-tests.cjs
  packages/proxy-agent/package.json
  packages/proxy-agent/web-test-runner.config.cjs
  packages/user-agent/build/esbuild-tests.cjs
  packages/user-agent/package.json
  packages/user-agent/web-test-runner.config.cjs
Due: common, credentials, crypto, dids

run CI for poc back to back with previous impl
  .github/workflows/tests-ci.yml
Due: none

Refactor Ed25519 to generateKey instead of generateKeyPair
  packages/crypto/src/crypto-primitives/ed25519.ts
  packages/crypto/tests/crypto-primitives.spec.ts
Due: crypto

Refactor Secp256k1 to generateKey instead of generateKeyPair and simplify sign/verify
  packages/crypto/src/crypto-primitives/secp256k1.ts
  packages/crypto/tests/crypto-primitives.spec.ts
Due: crypto

Refactor X25519 to generateKey instead of generateKeyPair
  packages/crypto/src/crypto-primitives/x25519.ts
  packages/crypto/tests/crypto-primitives.spec.ts
Due: crypto

Refactor PBKDF2 to use JWKs
  packages/crypto/src/algorithms-api/crypto-algorithm.ts
  packages/crypto/src/algorithms-api/pbkdf/pbkdf2.ts
  packages/crypto/src/crypto-algorithms/pbkdf2.ts
  packages/crypto/src/jose.ts
  packages/crypto/tests/algorithms-api.spec.ts
  packages/crypto/tests/crypto-algorithms.spec.ts
Due: crypto

Remove CryptoKeyToJwkMixin
  packages/crypto/src/jose.ts
  packages/crypto/tests/jose.spec.ts
Due: crypto

Improve test coverage for PBKDF2
  packages/crypto/tests/crypto-algorithms.spec.ts
Due: crypto

Refactor Ed25519, Secp256k1, and X25519 to use JWKs
  packages/crypto/src/algorithms-api/crypto-algorithm.ts
  packages/crypto/src/algorithms-api/pbkdf/pbkdf2.ts
  packages/crypto/src/crypto-algorithms/pbkdf2.ts
  packages/crypto/src/crypto-primitives/ed25519.ts
  packages/crypto/src/crypto-primitives/secp256k1.ts
  packages/crypto/src/crypto-primitives/x25519.ts
  packages/crypto/src/jose.ts
  packages/crypto/src/types/web5-crypto.ts
  packages/crypto/tests/algorithms-api.spec.ts
  packages/crypto/tests/crypto-algorithms.spec.ts
  packages/crypto/tests/crypto-primitives.spec.ts
  packages/crypto/tests/crypto-primitives/ed25519.spec.ts
  packages/crypto/tests/crypto-primitives/secp256k1.spec.ts
  packages/crypto/tests/crypto-primitives/x25519.spec.ts
  packages/crypto/tests/fixtures/test-vectors/ed25519.ts
  packages/crypto/tests/fixtures/test-vectors/ed25519/bytes-to-private-key.json
  packages/crypto/tests/fixtures/test-vectors/ed25519/bytes-to-public-key.json
  packages/crypto/tests/fixtures/test-vectors/ed25519/compute-public-key.json
  packages/crypto/tests/fixtures/test-vectors/ed25519/convert-private-key-to-x25519.json
  packages/crypto/tests/fixtures/test-vectors/ed25519/convert-public-key-to-x25519.json
  packages/crypto/tests/fixtures/test-vectors/ed25519/private-key-to-bytes.json
  packages/crypto/tests/fixtures/test-vectors/ed25519/public-key-to-bytes.json
  packages/crypto/tests/fixtures/test-vectors/ed25519/sign.json
  packages/crypto/tests/fixtures/test-vectors/ed25519/verify.json
  packages/crypto/tests/fixtures/test-vectors/secp256k1.ts
  packages/crypto/tests/fixtures/test-vectors/secp256k1/bytes-to-private-key.json
  packages/crypto/tests/fixtures/test-vectors/secp256k1/bytes-to-public-key.json
  packages/crypto/tests/fixtures/test-vectors/secp256k1/get-curve-points.json
  packages/crypto/tests/fixtures/test-vectors/secp256k1/private-key-to-bytes.json
  packages/crypto/tests/fixtures/test-vectors/secp256k1/public-key-to-bytes.json
  packages/crypto/tests/fixtures/test-vectors/secp256k1/validate-private-key.json
  packages/crypto/tests/fixtures/test-vectors/secp256k1/validate-public-key.json
  packages/crypto/tests/fixtures/test-vectors/x25519/bytes-to-private-key.json
  packages/crypto/tests/fixtures/test-vectors/x25519/bytes-to-public-key.json
  packages/crypto/tests/fixtures/test-vectors/x25519/private-key-to-bytes.json
  packages/crypto/tests/fixtures/test-vectors/x25519/public-key-to-bytes.json
  packages/crypto/tests/tsconfig.json
  packages/crypto/tests/utils.spec.ts
Due: crypto

Refactor EcdhAlgorithm to use JWK
  packages/crypto/src/algorithms-api/crypto-algorithm.ts
  packages/crypto/src/algorithms-api/ec/base.ts
  packages/crypto/src/algorithms-api/ec/ecdh.ts
  packages/crypto/src/algorithms-api/ec/ecdsa.ts
  packages/crypto/src/algorithms-api/ec/index.ts
  packages/crypto/src/algorithms-api/pbkdf/pbkdf2.ts
  packages/crypto/src/crypto-algorithms/ecdh.ts
  packages/crypto/src/crypto-algorithms/index.ts
  packages/crypto/src/crypto-algorithms/pbkdf2.ts
  packages/crypto/src/crypto-primitives/secp256k1.ts
  packages/crypto/src/crypto-primitives/x25519.ts
  packages/crypto/src/jose.ts
  packages/crypto/tests/algorithms-api.spec.ts
  packages/crypto/tests/crypto-algorithms.spec.ts
  packages/crypto/tests/crypto-primitives/aes-ctr.spec.ts
  packages/crypto/tests/crypto-primitives/aes-gcm.spec.ts
  packages/crypto/tests/crypto-primitives/concat-kdf.spec.ts
  packages/crypto/tests/crypto-primitives/pbkdf2.spec.ts
  packages/crypto/tests/crypto-primitives/secp256k1.spec.ts
  packages/crypto/tests/crypto-primitives/x25519.spec.ts
  packages/crypto/tests/crypto-primitives/xchacha20-poly1305.spec.ts
  packages/crypto/tests/crypto-primitives/xchacha20.spec.ts
  packages/crypto/tests/fixtures/test-vectors/jose.ts
Due: crypto

Refactor EcdsaAlgorithm to use JWK
  packages/crypto/src/algorithms-api/crypto-algorithm.ts
  packages/crypto/src/algorithms-api/ec/base.ts
  packages/crypto/src/algorithms-api/ec/ecdh.ts
  packages/crypto/src/algorithms-api/ec/ecdsa.ts
  packages/crypto/src/algorithms-api/pbkdf/pbkdf2.ts
  packages/crypto/src/crypto-algorithms/ecdh.ts
  packages/crypto/src/crypto-algorithms/ecdsa.ts
  packages/crypto/src/crypto-algorithms/index.ts
  packages/crypto/src/crypto-algorithms/pbkdf2.ts
  packages/crypto/src/crypto-primitives/secp256k1.ts
  packages/crypto/src/types/web5-crypto.ts
  packages/crypto/tests/algorithms-api.spec.ts
  packages/crypto/tests/crypto-algorithms.spec.ts
  packages/crypto/tests/crypto-primitives.spec.ts
  packages/crypto/tests/crypto-primitives/secp256k1.spec.ts
Due: crypto

Refactor EdDsaAlgorithm to use JWK
  packages/crypto/src/algorithms-api/ec/base.ts
  packages/crypto/src/algorithms-api/ec/ecdh.ts
  packages/crypto/src/algorithms-api/ec/ecdsa.ts
  packages/crypto/src/algorithms-api/ec/eddsa.ts
  packages/crypto/src/algorithms-api/ec/index.ts
  packages/crypto/src/crypto-algorithms/ecdsa.ts
  packages/crypto/src/crypto-algorithms/eddsa.ts
  packages/crypto/src/crypto-algorithms/index.ts
  packages/crypto/src/utils.ts
  packages/crypto/tests/algorithms-api.spec.ts
  packages/crypto/tests/crypto-algorithms.spec.ts
Due: crypto

Refactor AesCtrAlgorithm to use JWK
  packages/crypto/src/algorithms-api/aes/base.ts
  packages/crypto/src/algorithms-api/aes/ctr.ts
  packages/crypto/src/algorithms-api/crypto-algorithm.ts
  packages/crypto/src/algorithms-api/ec/base.ts
  packages/crypto/src/algorithms-api/ec/ecdh.ts
  packages/crypto/tests/algorithms-api.spec.ts
Due: crypto

Refactor AesCtrAlgorithm to JWK
  packages/crypto/src/algorithms-api/aes/base.ts
  packages/crypto/src/crypto-algorithms/aes-ctr.ts
  packages/crypto/src/crypto-algorithms/ecdh.ts
  packages/crypto/src/crypto-algorithms/eddsa.ts
  packages/crypto/src/crypto-algorithms/index.ts
  packages/crypto/src/crypto-primitives/aes-ctr.ts
  packages/crypto/src/types/web5-crypto.ts
  packages/crypto/tests/algorithms-api.spec.ts
  packages/crypto/tests/crypto-algorithms.spec.ts
  packages/crypto/tests/crypto-primitives/aes-ctr.spec.ts
Due: crypto

Refactor AesGcm to use JWK
  packages/crypto/src/crypto-primitives/aes-ctr.ts
  packages/crypto/src/crypto-primitives/aes-gcm.ts
  packages/crypto/tests/crypto-primitives/aes-ctr.spec.ts
  packages/crypto/tests/crypto-primitives/aes-gcm.spec.ts
Due: crypto

Improve comments
  packages/crypto/src/crypto-primitives/aes-ctr.ts
  packages/crypto/src/crypto-primitives/aes-gcm.ts
  packages/crypto/src/crypto-primitives/ed25519.ts
Due: crypto

Complete refactor from CryptoKey to JWK
  packages/crypto/src/algorithms-api/crypto-algorithm.ts
  packages/crypto/src/algorithms-api/crypto-key.ts
  packages/crypto/src/algorithms-api/index.ts
  packages/crypto/src/crypto-algorithms/pbkdf2.ts
  packages/crypto/src/crypto-primitives/aes-ctr.ts
  packages/crypto/src/crypto-primitives/aes-gcm.ts
  packages/crypto/src/crypto-primitives/pbkdf2.ts
  packages/crypto/src/crypto-primitives/xchacha20-poly1305.ts
  packages/crypto/src/crypto-primitives/xchacha20.ts
  packages/crypto/src/index.ts
  packages/crypto/src/jose.ts
  packages/crypto/src/types/crypto-key.ts
  packages/crypto/src/types/web5-crypto.ts
  packages/crypto/src/utils.ts
  packages/crypto/tests/algorithms-api.spec.ts
  packages/crypto/tests/crypto-primitives/xchacha20-poly1305.spec.ts
  packages/crypto/tests/crypto-primitives/xchacha20.spec.ts
  packages/crypto/tests/fixtures/test-vectors/jose.ts
  packages/crypto/tests/jose.spec.ts
  packages/crypto/tests/utils.spec.ts
Due: crypto

Fix incorrect dependencies in identity-agent package
  packages/identity-agent/package.json
Due: none

Bump @noble ciphers, curves, and hashes dependencies
  package-lock.json
  packages/crypto/package.json
  packages/crypto/src/crypto-primitives/xchacha20-poly1305.ts
  packages/crypto/tests/crypto-primitives/xchacha20-poly1305.spec.ts
Due: crypto

Attempt to fix web5-spec
  .web5-spec/credentials.ts
  packages/crypto/src/algorithms-api/aes/base.ts
  packages/crypto/src/algorithms-api/aes/ctr.ts
Due: crypto

bump sdk-development test harness
  .github/workflows/tests-ci.yml
Due: none

fix syncmanager to use abstractlevel
  packages/agent/src/sync-manager.ts
Due: none

fix type
  packages/agent/src/sync-manager.ts
Due: none

organize imports
  packages/agent/src/sync-manager.ts
Due: none

Minor import re-ordering
  packages/agent/src/sync-manager.ts
Due: none

types: fix syncmanager typedefs to use abstractlevel (#309)
  packages/agent/src/sync-manager.ts
Due: none

update comment
  packages/api/src/dwn-api.ts
Due: none

Add pagination messageCid to RecordsQueryResponse and tests supporting pagination/sort
  packages/api/src/dwn-api.ts
  packages/api/tests/dwn-api.spec.ts
Due: none

rebase main
  packages/agent/src/rpc-client.ts
  packages/agent/src/types/agent.ts
  packages/api/tests/dwn-api.spec.ts
Due: none

cursor instead of paginationsMessagecid
  packages/agent/src/rpc-client.ts
  packages/agent/src/types/agent.ts
  packages/api/src/dwn-api.ts
  packages/api/tests/dwn-api.spec.ts
Due: none
