Repository TBD54566975/web5-js: changes, and which Codecov flags are due for each by the changed paths.
All: agent, api, common, credentials, crypto, dids, identity-agent, crypto-aws-kms, proxy-agent, user-agent

Setup CodeQL SAST (#383)
  .github/workflows/codeql.yml
Due: none

migrate to arm runner for macOS gh actions (#390)
  .github/workflows/tests-ci.yml
Due: none

Record.store(), Record.import(), and roles API support (#385)
  README.md
  packages/agent/src/dwn-manager.ts
  packages/agent/src/types/agent.ts
  packages/agent/tests/dwn-manager.spec.ts
  packages/api/src/dwn-api.ts
  packages/api/src/record.ts
  packages/api/src/send-cache.ts
  packages/api/tests/dwn-api.spec.ts
  packages/api/tests/fixtures/protocol-definitions/email.json
  packages/api/tests/fixtures/protocol-definitions/photos.json
  packages/api/tests/record.spec.ts
  packages/api/tests/send-cache.spec.ts
Due: agent, api

Rename `DidUri` to `Did` (#400)
  packages/dids/src/did.ts
  packages/dids/src/index.ts
  packages/dids/src/methods/did-dht.ts
  packages/dids/src/methods/did-ion.ts
  packages/dids/src/methods/did-jwk.ts
  packages/dids/src/methods/did-key.ts
  packages/dids/src/methods/did-method.ts
  packages/dids/src/methods/did-web.ts
  packages/dids/src/resolver/did-resolver.ts
  packages/dids/tests/did.spec.ts
Due: dids

Refactor `@web5/dids` to adopt Web5 Spec API changes (#406)
  package-lock.json
  packages/dids/package.json
  packages/dids/src/bearer-did.ts
  packages/dids/src/index.ts
  packages/dids/src/methods/did-dht.ts
  packages/dids/src/methods/did-ion.ts
  packages/dids/src/methods/did-jwk.ts
  packages/dids/src/methods/did-key.ts
  packages/dids/src/methods/did-method.ts
  packages/dids/src/types/did-core.ts
  packages/dids/src/types/multibase.ts
  packages/dids/src/types/portable-did.ts
  packages/dids/src/utils.ts
  packages/dids/tests/bearer-did.spec.ts
  packages/dids/tests/fixtures/test-vectors/did-ion/to-keys.ts
  packages/dids/tests/methods/did-dht.spec.ts
  packages/dids/tests/methods/did-ion.spec.ts
  packages/dids/tests/methods/did-jwk.spec.ts
  packages/dids/tests/methods/did-key.spec.ts
  packages/dids/tests/methods/did-method.spec.ts
  packages/dids/tests/resolver/did-resolver.spec.ts
  packages/dids/tests/utils.spec.ts
Due: dids

new unit test (#405)
  packages/credentials/tests/presentation-exchange.spec.ts
Due: credentials

Create pres from cred test vector (#403)
  packages/credentials/tests/presentation-exchange.spec.ts
Due: credentials

Verifiable Presentation Implementation (#382)
  packages/credentials/package.json
  packages/credentials/src/validators.ts
  packages/credentials/src/verifiable-credential.ts
  packages/credentials/src/verifiable-presentation.ts
  packages/credentials/tests/verifiable-credential.spec.ts
  packages/credentials/tests/verifiable-presentation.spec.ts
Due: credentials

Add typedoc report and GH Pages publishing (#402)
  .github/workflows/docs-ci.yml
  .github/workflows/docs-publish.yml
  .gitignore
  CONTRIBUTING.md
  scripts/tbdocs-check-local.sh
Due: none

Refactor Credential Signing (#401)
  package-lock.json
  packages/credentials/README.md
  packages/credentials/package.json
  packages/credentials/src/jwt.ts
  packages/credentials/src/verifiable-credential.ts
  packages/credentials/tests/jwt.spec.ts
  packages/credentials/tests/presentation-exchange.spec.ts
  packages/credentials/tests/verifiable-credential.spec.ts
Due: credentials

Fix GH Pages docs generation (#408)
  .github/workflows/docs-publish.yml
Due: none

dht resolve test vector impl (#411)
  packages/dids/src/methods/did-dht.ts
  packages/dids/tests/methods/did-dht.spec.ts
Due: dids

migrate to pnpm and fix CVE for ip transitive dependency (#419)
  .codesandbox/tasks.json
  .github/workflows/alpha-npm.yml
  .github/workflows/docs-ci.yml
  .github/workflows/docs-publish.yml
  .github/workflows/release-npm.yml
  .github/workflows/tests-ci.yml
  .gitignore
  .vscode/settings.json
  CONTRIBUTING.md
  package-lock.json
  package.json
  packages/agent/.vscode/tasks.json
  packages/agent/package.json
  packages/api/.vscode/tasks.json
  packages/api/package.json
  packages/common/.vscode/tasks.json
  packages/common/package.json
  packages/credentials/.vscode/tasks.json
  packages/credentials/package.json
  packages/credentials/tests/verifiable-presentation.spec.ts
  packages/crypto-aws-kms/.vscode/tasks.json
  packages/crypto-aws-kms/package.json
  packages/crypto/.vscode/tasks.json
  packages/crypto/package.json
  packages/dids/.vscode/tasks.json
  packages/dids/package.json
  packages/identity-agent/.vscode/tasks.json
  packages/identity-agent/package.json
  packages/proxy-agent/.vscode/tasks.json
  packages/proxy-agent/package.json
  packages/user-agent/.vscode/tasks.json
  packages/user-agent/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  web5-js.code-workspace
Due: agent, api, common, credentials, crypto, dids, identity-agent, crypto-aws-kms, proxy-agent, user-agent

Add TTL Cache to `@web5/common` package (#415)
  package-lock.json
  packages/common/package.json
  packages/common/src/cache.ts
  packages/common/src/index.ts
  packages/common/tests/cache.spec.ts
Due: common

export vp (#423)
  packages/credentials/src/index.ts
  packages/credentials/src/validators.ts
  packages/credentials/src/verifiable-credential.ts
  packages/credentials/src/verifiable-presentation.ts
  packages/credentials/tests/ssi-validator.spec.ts
Due: credentials

Add crypto utility function and use in BearerDid (#430)
  packages/crypto/src/utils.ts
  packages/crypto/tests/utils.spec.ts
  packages/dids/src/bearer-did.ts
Due: crypto, dids

Fix several minor issues in `@web5/dids` (#414)
  package-lock.json
  packages/dids/package.json
  packages/dids/src/bearer-did.ts
  packages/dids/src/methods/did-jwk.ts
  packages/dids/src/methods/did-key.ts
  packages/dids/src/methods/did-method.ts
  packages/dids/tests/methods/did-jwk.spec.ts
  packages/dids/tests/methods/did-key.spec.ts
Due: dids

Add credentials to published api reference docs (#417)
  .github/workflows/docs-ci.yml
  .github/workflows/docs-publish.yml
  scripts/tbdocs-check-local.sh
Due: none

Update CODEOWNERS (#429)
  CODEOWNERS
Due: none

Fix handling of custom service properties (#413)
  packages/dids/src/methods/did-dht.ts
  packages/dids/tests/methods/did-dht.spec.ts
Due: dids

Removes Snyk (#434)
  .github/workflows/security.yml
Due: none

bump version and update readme (#444)
  packages/credentials/README.md
  packages/credentials/package.json
Due: credentials

publish snapshot releases for every subpackage
  .github/workflows/release-snapshot.yml
Due: none

Add hermit and update GH actions (#436)
  .github/workflows/alpha-npm.yml
  .github/workflows/docs-ci.yml
  .github/workflows/docs-publish.yml
  .github/workflows/release-npm.yml
  .github/workflows/tests-ci.yml
  CONTRIBUTING.md
  README.md
  bin/.node-20.9.0.pkg
  bin/.pnpm-8.15.4.pkg
  bin/README.hermit.md
  bin/activate-hermit
  bin/corepack
  bin/hermit
  bin/hermit.hcl
  bin/node
  bin/npm
  bin/npx
  bin/pnpm
  packages/agent/package.json
  packages/api/package.json
  packages/common/package.json
  packages/credentials/package.json
  packages/crypto-aws-kms/package.json
  packages/crypto/package.json
  packages/dids/package.json
  packages/identity-agent/package.json
  packages/proxy-agent/package.json
  packages/user-agent/package.json
Due: agent, api, common, credentials, crypto, dids, identity-agent, crypto-aws-kms, proxy-agent, user-agent

fix a couple of actions and bump (#437)
  .github/workflows/docs-publish.yml
  .github/workflows/release-notify.yml
  .github/workflows/scorecard.yml
  .github/workflows/tests-ci.yml
  packages/agent/tests/sync-manager.spec.ts
Due: agent

Fix path Esbuild config to run all browser tests (#441)
  packages/agent/build/esbuild-tests.cjs
  packages/api/build/esbuild-tests.cjs
  packages/common/build/esbuild-tests.cjs
  packages/credentials/build/esbuild-tests.cjs
  packages/crypto/build/esbuild-tests.cjs
  packages/crypto/src/primitives/aes-gcm.ts
  packages/crypto/tests/algorithms/aes-ctr.spec.ts
  packages/crypto/tests/algorithms/aes-gcm.spec.ts
  packages/crypto/tests/primitives/aes-ctr.spec.ts
  packages/crypto/tests/primitives/aes-gcm.spec.ts
  packages/crypto/tests/utils/runtimes.ts
  packages/dids/build/esbuild-tests.cjs
  packages/dids/package.json
  packages/dids/tests/methods/did-key.spec.ts
  packages/dids/tests/resolver/resolver-cache-level.spec.ts
  packages/identity-agent/build/esbuild-tests.cjs
  packages/proxy-agent/build/esbuild-tests.cjs
  packages/user-agent/build/esbuild-tests.cjs
  pnpm-lock.yaml
Due: agent, api, common, credentials, crypto, dids, identity-agent, proxy-agent, user-agent

Update alpha-npm.yml (#439)
  .github/workflows/alpha-npm.yml
Due: none

pin actions versions
  .github/workflows/release-snapshot.yml
Due: none

use npm instead of vendor-specific API to check existing version
  .github/workflows/release-snapshot.yml
Due: none

Fix NPM Token Auth Issue (#449)
  .github/workflows/alpha-npm.yml
  .github/workflows/release-npm.yml
  .gitignore
Due: none

include SHA in snapshot version
  .github/workflows/release-snapshot.yml
Due: none

updates to verify (#421)
  packages/credentials/src/utils.ts
  packages/credentials/src/validators.ts
  packages/credentials/src/verifiable-credential.ts
  packages/credentials/src/verifiable-presentation.ts
  packages/credentials/tests/jwt.spec.ts
  packages/credentials/tests/utils.spec.ts
  packages/credentials/tests/verifiable-credential.spec.ts
Due: credentials

whitespace
  .github/workflows/release-snapshot.yml
Due: none

Update VSCode workspace paths for Mocha (#446)
  packages/agent/.vscode/launch.json
  packages/api/.vscode/launch.json
  packages/common/.vscode/launch.json
  packages/credentials/.vscode/launch.json
  packages/crypto-aws-kms/.vscode/launch.json
  packages/crypto/.vscode/launch.json
  packages/dids/.vscode/launch.json
  packages/identity-agent/.vscode/launch.json
  packages/proxy-agent/.vscode/launch.json
  packages/user-agent/.vscode/launch.json
Due: agent, api, common, credentials, crypto, dids, identity-agent, crypto-aws-kms, proxy-agent, user-agent

remove unneeded npm token from snapshot release job
  .github/workflows/release-snapshot.yml
Due: none

rename prerelease workflow
  .github/workflows/prerelease.yml
Due: none

run bundler bonanza in web5-js CI
  .github/workflows/cross-environment-tests.yml
Due: none

initial api-extractor run
  packages/agent/api.json
  packages/agent/api.md
  packages/api/api.json
  packages/api/api.md
  packages/common/api.json
  packages/common/api.md
  packages/crypto-aws-kms/api.json
  packages/crypto-aws-kms/api.md
Due: agent, api, common, crypto-aws-kms

Remove pkarr, sodium-universal and add bencode to CJS bundling (#451)
  packages/dids/build/cjs-bundle.js
Due: dids

Path conditions:
  agent: any of: packages/agent/**
  api: any of: packages/api/**
  common: any of: packages/common/**
  credentials: any of: packages/credentials/**
  crypto: any of: packages/crypto/**
  dids: any of: packages/dids/**
  identity-agent: any of: packages/identity-agent/**
  crypto-aws-kms: any of: packages/crypto-aws-kms/**
  proxy-agent: any of: packages/proxy-agent/**
  user-agent: any of: packages/user-agent/**
