Repository TBD54566975/web5-js: changes, and which Codecov flags are due for each by the changed paths.
All: common, credentials, crypto, dids, web5, web5-agent, web5-proxy-agent, web5-user-agent

codecov.yml:

comment:
  layout: "header, diff, components"

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto # auto compares coverage to the previous base commit
        threshold: 5% # allows a 5% drop from the previous base commit coverage
      - type: patch
        target: 100 # every PR opened should strive for full test coverage

  individual_components:
    - component_id: package_common
      name: common
      paths: ["packages/common/**"]

    - component_id: package_credentials
      name: credentials
      paths: ["packages/credentials/**"]

    - component_id: package_crypto
      name: crypto
      paths: ["packages/crypto/**"]

    - component_id: package_dids
      name: dids
      paths: ["packages/dids/**"]

    - component_id: package-web5
      name: web5
      paths: ["packages/web5/**"]

    - component_id: package-web5-agent
      name: web5-agent
      paths: ["packages/web5-agent/**"]

    - component_id: package-web5-proxy-agent
      name: web5-proxy-agent
      paths: ["packages/web5-proxy-agent/**"]

    - component_id: package-web5-user-agent
      name: web5-user-agent
      paths: ["packages/web5-user-agent/**"]

coverage:
  status:
    project:
      default:
        informational: true
    patch:
      default:
        informational: true # Don't gate PRs based on Codecov passing thresholds

Re-enable provenance
  .github/workflows/alpha-npm.yml
Due: none

adding full vc and vp impl
  package-lock.json
  package.json
  packages/credentials/README.md
  packages/credentials/package.json
  packages/credentials/src/ssi.ts
  packages/credentials/src/types.ts
  packages/credentials/src/validators.ts
  packages/credentials/tests/ssi.spec.ts
Due: credentials

adding more tests
  packages/credentials/src/ssi.ts
  packages/credentials/tests/ssi.spec.ts
Due: credentials

updating tests and renaming VC and VP
  packages/credentials/README.md
  packages/credentials/src/ssi.ts
  packages/credentials/src/types.ts
  packages/credentials/src/validators.ts
  packages/credentials/tests/presentation-exchange.spec.ts
  packages/credentials/tests/ssi.spec.ts
  packages/credentials/tests/verifiable-credentials.spec.ts
Due: credentials

adding validator tests
  packages/credentials/tests/presentation-exchange.spec.ts
  packages/credentials/tests/ssi-validator.spec.ts
Due: credentials

include missing dependency
  package-lock.json
  packages/dids/package.json
Due: dids

Switch to using script to handle all version mods
  .github/workflows/alpha-npm.yml
  scripts/bump-workspace.mjs
Due: none

Try disabling provenance
  .github/workflows/alpha-npm.yml
Due: none

Fix bug in Alpha publish workflow
  .github/workflows/alpha-npm.yml
Due: none

Add /browser named export to @web5/api
  package-lock.json
  packages/api/package.json
Due: none

Fix repo url in package.json
  package.json
  packages/agent/package.json
  packages/api/package.json
  packages/common/package.json
  packages/credentials/package.json
  packages/crypto/package.json
  packages/dids/package.json
  packages/identity-agent/package.json
  packages/proxy-agent/package.json
  packages/user-agent/package.json
Due: common, credentials, crypto, dids

Test with older version of NPM
  .github/workflows/alpha-npm.yml
Due: none

Change order of workflow steps to attempt to resolve bug
  .github/workflows/alpha-npm.yml
Due: none

include missing dependency (#203)
  package-lock.json
  packages/dids/package.json
Due: dids

Add tests for EventsGet, MessagesGet, ProtocolsConfigure, and ProtocolsQuery
  packages/agent/tests/dwn-manager.spec.ts
  packages/agent/tests/fixtures/protocol-definitions/email.json
  packages/agent/tests/tsconfig.json
Due: none

Add test for Protocol.send()
  packages/api/tests/protocol.spec.ts
Due: none

SyncManager push() working
  packages/agent/src/sync-manager.ts
  packages/agent/tests/sync-manager.spec.ts
Due: none

SyncManager push() and pull() working with basic refactoring
  packages/agent/src/dwn-manager.ts
  packages/agent/src/sync-manager.ts
  packages/agent/tests/sync-manager.spec.ts
  packages/dids/src/types.ts
  packages/dids/src/utils.ts
Due: dids

SyncManager: make it possible to use custom LevelDb instance, add start/stop methods, fix bug in messageExists, add missing await to addMessage() and setWatermark()
  packages/agent/src/sync-manager.ts
Due: none

Resolve Sync cascading echoes issue and add to Web5.connect()
  package-lock.json
  packages/agent/src/index.ts
  packages/agent/src/sync-manager.ts
  packages/agent/src/test-managed-agent.ts
  packages/agent/src/types/agent.ts
  packages/agent/tests/sync-manager.spec.ts
  packages/agent/tests/utils/test-agent.ts
  packages/api/src/web5.ts
  packages/api/tests/utils/test-user-agent.ts
  packages/user-agent/src/user-agent.ts
Due: none

Update package-lock.json
  package-lock.json
Due: none

Add SyncManager to identity and proxy agent packages
  package-lock.json
  packages/agent/src/test-managed-agent.ts
  packages/agent/tests/dwn-manager.spec.ts
  packages/agent/tests/sync-manager.spec.ts
  packages/agent/tests/utils/test-agent.ts
  packages/identity-agent/src/identity-agent.ts
  packages/proxy-agent/src/proxy-agent.ts
Due: none

Increase test timeout to attempt to resolve CI failure
  packages/agent/tests/sync-manager.spec.ts
Due: none

Bump package versions for 0.8.1 release
  package-lock.json
  packages/agent/package.json
  packages/api/package.json
  packages/common/package.json
  packages/crypto/package.json
  packages/dids/package.json
  packages/identity-agent/package.json
  packages/proxy-agent/package.json
  packages/user-agent/package.json
Due: common, crypto, dids

Update README files
  README.md
  packages/api/README.md
  packages/api/src/web5.ts
Due: none

Bump package versions for first published 0.8.x release (#209)
  README.md
  package-lock.json
  packages/agent/package.json
  packages/api/README.md
  packages/api/package.json
  packages/api/src/web5.ts
  packages/common/package.json
  packages/crypto/package.json
  packages/dids/package.json
  packages/identity-agent/package.json
  packages/proxy-agent/package.json
  packages/user-agent/package.json
Due: common, crypto, dids

fix pex state issues
  packages/credentials/src/ssi.ts
  packages/credentials/src/types.ts
  packages/credentials/src/validators.ts
  packages/credentials/tests/presentation-exchange.spec.ts
  packages/credentials/tests/ssi.spec.ts
  packages/credentials/tests/verifiable-credentials.spec.ts
Due: credentials

more tests
  packages/credentials/tests/presentation-exchange.spec.ts
  packages/credentials/tests/ssi.spec.ts
  packages/crypto/src/jose.ts
Due: credentials, crypto

Update README.md
  README.md
Due: none
