Repository TBD54566975/web5-js: changes, and which Codecov flags are due for each by the changed paths.
All: agent, api, common, credentials, crypto, dids, identity-agent, crypto-aws-kms, proxy-agent, user-agent

Add web5/crypto to docs ci check
  .github/workflows/docs-ci.yml
  packages/crypto/src/index.ts
Due: crypto

Add web5/crypto-aws-kms to docs ci check
  .github/workflows/docs-ci.yml
Due: none

fix docs warnings
  packages/crypto-aws-kms/src/api.ts
  packages/crypto/src/algorithms/aes-ctr.ts
  packages/crypto/src/algorithms/aes-gcm.ts
  packages/crypto/src/algorithms/ecdsa.ts
  packages/crypto/src/algorithms/eddsa.ts
  packages/crypto/src/primitives/aes-ctr.ts
  packages/crypto/src/primitives/aes-gcm.ts
  packages/crypto/src/primitives/concat-kdf.ts
  packages/crypto/src/primitives/sha256.ts
  packages/crypto/src/types/crypto-api.ts
  packages/crypto/src/utils.ts
Due: crypto, crypto-aws-kms

add docs generation
  .github/workflows/docs-ci.yml
Due: none

Adding / improving docs
  packages/crypto/src/types/crypto-api.ts
  packages/crypto/src/types/params-direct.ts
  packages/crypto/src/types/params-kms.ts
Due: crypto

rollback backslash escapes
  .github/workflows/docs-ci.yml
  packages/crypto/src/primitives/aes-ctr.ts
  packages/crypto/src/primitives/aes-gcm.ts
  packages/crypto/src/primitives/sha256.ts
  packages/crypto/src/utils.ts
Due: crypto

Add logic to jwt.verify to validate jwt is not expired
  packages/credentials/src/jwt.ts
  packages/credentials/tests/jwt.spec.ts
Due: credentials

Add README files and tbdocs instructions
  .github/workflows/docs-ci.yml
  .gitignore
  CONTRIBUTING.md
  scripts/tbdocs-check-local.sh
Due: none

Update test
  packages/credentials/tests/jwt.spec.ts
Due: credentials

group pd test
  packages/credentials/tests/presentation-exchange.spec.ts
Due: credentials

revert
  .github/workflows/tests-ci.yml
Due: none

update agent for new sdk
  package-lock.json
  packages/agent/package.json
  packages/agent/src/dwn-manager.ts
  packages/agent/src/sync-manager.ts
  packages/agent/tests/dwn-manager.spec.ts
  packages/agent/tests/sync-manager.spec.ts
  packages/api/package.json
Due: agent, api

sync interval tests
  packages/agent/src/sync-manager.ts
  packages/agent/tests/sync-manager.spec.ts
Due: agent

update server version
  packages/dev-env/docker-compose.yaml
Due: none

update comments and sync mechanism
  packages/agent/src/sync-manager.ts
Due: agent

do not start another sync interval until the push/pull have concluded
  packages/agent/src/dwn-manager.ts
  packages/agent/src/sync-manager.ts
  packages/agent/tests/dwn-manager.spec.ts
  packages/agent/tests/sync-manager.spec.ts
Due: agent

fix lint errors
  packages/agent/src/sync-manager.ts
Due: agent

update server version
  package-lock.json
  package.json
Due: none

bump sdk version, update union reply types
  package-lock.json
  packages/agent/package.json
  packages/agent/src/dwn-manager.ts
  packages/agent/src/store-managed-did.ts
  packages/agent/src/store-managed-identity.ts
  packages/agent/src/store-managed-key.ts
  packages/agent/src/sync-manager.ts
  packages/agent/tests/dwn-manager.spec.ts
  packages/agent/tests/sync-manager.spec.ts
  packages/api/package.json
  packages/api/src/dwn-api.ts
  packages/dev-env/docker-compose.yaml
Due: agent, api

create test for syncing multiple records in both directions
  packages/agent/src/sync-manager.ts
  packages/agent/tests/sync-manager.spec.ts
Due: agent

update dwn-server dev dependency
  package-lock.json
  package.json
Due: none

linting fix
  packages/agent/tests/sync-manager.spec.ts
Due: agent

formatting nits
  packages/agent/package.json
  packages/agent/tests/sync-manager.spec.ts
  packages/api/package.json
  packages/api/src/dwn-api.ts
Due: agent, api

wrap up ci speedup (#356)
  .github/workflows/tests-ci.yml
Due: none

adding credentials.verify (#357)
  packages/credentials/tests/verifiable-credential.spec.ts
  test-vectors/credentials/verify.json
Due: credentials

fix test
  packages/credentials/tests/verifiable-credential.spec.ts
Due: credentials

Add logic to JWT.verify to validate JWT is not expired (#366)
  packages/credentials/src/jwt.ts
  packages/credentials/tests/jwt.spec.ts
Due: credentials

Bump @web5/api version to 0.8.4-rc.0
  README.md
  package-lock.json
  packages/api/README.md
  packages/api/package.json
  packages/identity-agent/package.json
Due: api, identity-agent

Bump @web5/api version to 0.8.4
  package-lock.json
  packages/api/package.json
  packages/identity-agent/package.json
Due: api, identity-agent

Fix errant @web5/dids import
  package-lock.json
Due: none

Release `@web5/api` version `0.8.4` (#373)
  README.md
  package-lock.json
  packages/api/README.md
  packages/api/package.json
  packages/identity-agent/package.json
Due: api, identity-agent

Migrate to using Web5 Test Vectors for Ed25519 and Secp256k1 sign and verify
  packages/crypto/.c8rc.json
  packages/crypto/tests/primitives/ed25519.spec.ts
  packages/crypto/tests/primitives/secp256k1.spec.ts
  test-vectors/crypto_ed25519/README.md
  test-vectors/crypto_ed25519/sign.json
  test-vectors/crypto_ed25519/verify.json
  test-vectors/crypto_es256k/README.md
  test-vectors/crypto_es256k/sign.json
  test-vectors/crypto_es256k/verify.json
Due: crypto

Ensure ES256K signatures are low-S form in crypto and crypto-aws-kms
  packages/crypto-aws-kms/src/ecdsa.ts
  packages/crypto-aws-kms/tests/ecdsa.spec.ts
  packages/crypto/src/primitives/secp256k1.ts
  packages/crypto/tests/primitives/secp256k1.spec.ts
Due: crypto, crypto-aws-kms

Update Ed25519 and ES256K Test Vectors and Ensure Low-S ECDSA Signatures (#375)
  packages/crypto-aws-kms/src/ecdsa.ts
  packages/crypto-aws-kms/tests/ecdsa.spec.ts
  packages/crypto/.c8rc.json
  packages/crypto/src/primitives/secp256k1.ts
  packages/crypto/tests/primitives/ed25519.spec.ts
  packages/crypto/tests/primitives/secp256k1.spec.ts
  test-vectors/crypto_ed25519/README.md
  test-vectors/crypto_ed25519/sign.json
  test-vectors/crypto_ed25519/verify.json
  test-vectors/crypto_es256k/README.md
  test-vectors/crypto_es256k/sign.json
  test-vectors/crypto_es256k/verify.json
Due: crypto, crypto-aws-kms

Update tests-ci.yml
  .github/workflows/tests-ci.yml
Due: none

Update .github/workflows/tests-ci.yml
  .github/workflows/tests-ci.yml
Due: none

Update tests-ci.yml (#377)
  .github/workflows/tests-ci.yml
Due: none

implementing did web
  packages/dids/src/did-web.ts
  packages/dids/tests/did-web.spec.ts
  test-vectors/did_web/resolve.json
Due: dids

fix linter
  packages/dids/src/did-web.ts
Due: dids

create submodule
  .gitmodules
  packages/credentials/tests/presentation-exchange.spec.ts
  packages/credentials/tests/verifiable-credential.spec.ts
  packages/crypto/tests/primitives/ed25519.spec.ts
  packages/crypto/tests/primitives/secp256k1.spec.ts
  test-vectors/credentials/verify.json
  test-vectors/crypto_ed25519/README.md
  test-vectors/crypto_ed25519/sign.json
  test-vectors/crypto_ed25519/verify.json
  test-vectors/crypto_es256k/README.md
  test-vectors/crypto_es256k/sign.json
  test-vectors/crypto_es256k/verify.json
  test-vectors/presentation_exchange/select_credentials.json
Due: credentials, crypto

Path conditions:
  agent: any of: packages/agent/**
  api: any of: packages/api/**
  common: any of: packages/common/**
  credentials: any of: packages/credentials/**
  crypto: any of: packages/crypto/**
  dids: any of: packages/dids/**
  identity-agent: any of: packages/identity-agent/**
  crypto-aws-kms: any of: packages/crypto-aws-kms/**
  proxy-agent: any of: packages/proxy-agent/**
  user-agent: any of: packages/user-agent/**
