Repository TBD54566975/web5-js: changes, and which Codecov flags are due for each by the changed paths.
All: common, credentials, crypto, dids, web5, web5-agent, web5-proxy-agent, web5-user-agent

codecov.yml:

comment:
  layout: "header, diff, components"

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto # auto compares coverage to the previous base commit
        threshold: 5% # allows a 5% drop from the previous base commit coverage
      - type: patch
        target: 100 # every PR opened should strive for full test coverage

  individual_components:
    - component_id: package_common
      name: common
      paths: ["packages/common/**"]

    - component_id: package_credentials
      name: credentials
      paths: ["packages/credentials/**"]

    - component_id: package_crypto
      name: crypto
      paths: ["packages/crypto/**"]

    - component_id: package_dids
      name: dids
      paths: ["packages/dids/**"]

    - component_id: package-web5
      name: web5
      paths: ["packages/web5/**"]

    - component_id: package-web5-agent
      name: web5-agent
      paths: ["packages/web5-agent/**"]

    - component_id: package-web5-proxy-agent
      name: web5-proxy-agent
      paths: ["packages/web5-proxy-agent/**"]

    - component_id: package-web5-user-agent
      name: web5-user-agent
      paths: ["packages/web5-user-agent/**"]

coverage:
  status:
    project:
      default:
        informational: true
    patch:
      default:
        informational: true # Don't gate PRs based on Codecov passing thresholds

bump versions
  packages/common/package.json
  packages/credentials/package.json
  packages/crypto/package.json
  packages/dids/package.json
  packages/web5-agent/package.json
  packages/web5-proxy-agent/package.json
  packages/web5-user-agent/package.json
  packages/web5/package.json
Due: common, credentials, crypto, dids, web5, web5-agent, web5-proxy-agent, web5-user-agent

version bumps
  package-lock.json
  packages/common/package.json
  packages/crypto/package.json
  packages/dids/package.json
  packages/web5-proxy-agent/package.json
  packages/web5-user-agent/package.json
  packages/web5/package.json
Due: common, crypto, dids, web5, web5-proxy-agent, web5-user-agent

alpha versions
  package-lock.json
  packages/common/package.json
  packages/crypto/package.json
  packages/dids/build/bundles.js
  packages/dids/package.json
  packages/web5-agent/package.json
  packages/web5-proxy-agent/package.json
  packages/web5-user-agent/package.json
  packages/web5/package.json
Due: common, crypto, dids, web5, web5-agent, web5-proxy-agent, web5-user-agent

fix `cjs` packages
  package-lock.json
  packages/common/package.json
  packages/common/tsconfig.cjs.json
  packages/credentials/tsconfig.cjs.json
  packages/crypto/package.json
  packages/crypto/tsconfig.cjs.json
  packages/dids/package.json
  packages/dids/tsconfig.cjs.json
  packages/web5-agent/package.json
  packages/web5-agent/tsconfig.cjs.json
  packages/web5-proxy-agent/package.json
  packages/web5-proxy-agent/tsconfig.cjs.json
  packages/web5-user-agent/package.json
  packages/web5-user-agent/tsconfig.cjs.json
  packages/web5/package.json
  packages/web5/tsconfig.cjs.json
  packages/web5/tsconfig.json
Due: common, credentials, crypto, dids, web5, web5-agent, web5-proxy-agent, web5-user-agent

(common) fix `cjs`
  package-lock.json
  packages/common/build/cjs-bundle.js
  packages/common/package.json
  packages/crypto/package.json
  packages/dids/package.json
  packages/web5-agent/package.json
  packages/web5-proxy-agent/package.json
  packages/web5-user-agent/package.json
  packages/web5/package.json
Due: common, crypto, dids, web5, web5-agent, web5-proxy-agent, web5-user-agent

updates
  packages/credentials/src/types.ts
  packages/credentials/src/utils.ts
  packages/credentials/tests/utils.spec.ts
  packages/web5-user-agent/src/web5-user-agent.ts
  packages/web5-user-agent/tests/common/web5-user-agent.spec.ts
  packages/web5-user-agent/tests/node/web5-user-agent.spec.ts
  packages/web5/src/vc-api.ts
  packages/web5/tests/test-utils/test-user-agent.ts
  packages/web5/tests/web5-vc.spec.ts
Due: credentials, web5, web5-user-agent

bump ion-tools
  package-lock.json
  packages/common/build/bundles.js
  packages/dids/package.json
Due: common, dids

remove hardcoded alpha version
  package-lock.json
  packages/common/package.json
  packages/crypto/package.json
  packages/dids/package.json
  packages/web5-agent/package.json
  packages/web5-proxy-agent/package.json
  packages/web5-user-agent/package.json
  packages/web5/package.json
Due: common, crypto, dids, web5, web5-agent, web5-proxy-agent, web5-user-agent

use non-alpha version of `dwn-sdk-js`
  packages/dids/package.json
  packages/web5-agent/package.json
  packages/web5-user-agent/package.json
  packages/web5/package.json
Due: dids, web5, web5-agent, web5-user-agent

adding pex types
  package-lock.json
  package.json
  packages/credentials/.c8rc.json
  packages/credentials/package.json
  packages/credentials/src/main.ts
  packages/credentials/src/types.ts
  packages/credentials/src/utils.ts
  packages/credentials/tests/example.spec.ts
  packages/credentials/tests/pe.spec.ts
  packages/credentials/tests/types.spec.ts
  packages/credentials/tests/utils.spec.ts
  packages/web5/tests/test-utils/test-user-agent.ts
Due: credentials, web5

fixing tests
  packages/credentials/tests/pe.spec.ts
Due: credentials

fix tests
  packages/credentials/tests/pe.spec.ts
  packages/credentials/tests/types.spec.ts
Due: credentials

linter
  packages/credentials/src/utils.ts
Due: credentials

update vscode launch configurations and tasks
  .vscode/settings.json
  package-lock.json
  packages/common/.vscode/launch.json
  packages/common/.vscode/tasks.json
  packages/common/package.json
  packages/credentials/.vscode/launch.json
  packages/credentials/.vscode/tasks.json
  packages/credentials/package.json
  packages/crypto/.vscode/launch.json
  packages/crypto/.vscode/tasks.json
  packages/crypto/package.json
  packages/dids/.vscode/launch.json
  packages/dids/.vscode/tasks.json
  packages/dids/package.json
  packages/web5-agent/.vscode/launch.json
  packages/web5-agent/.vscode/tasks.json
  packages/web5-agent/package.json
  packages/web5-proxy-agent/.vscode/launch.json
  packages/web5-proxy-agent/.vscode/tasks.json
  packages/web5-proxy-agent/package.json
  packages/web5-user-agent/.vscode/launch.json
  packages/web5-user-agent/.vscode/tasks.json
  packages/web5-user-agent/package.json
  packages/web5/.vscode/launch.json
  packages/web5/.vscode/tasks.json
  packages/web5/package.json
  packages/web5/tests/fixtures/protocol-definitions/email.json
  packages/web5/tests/web5-dwn.spec.ts
Due: common, credentials, crypto, dids, web5, web5-agent, web5-proxy-agent, web5-user-agent

bump `dwn-sdk-js`
  package-lock.json
  packages/dids/package.json
  packages/web5-agent/package.json
  packages/web5-user-agent/package.json
  packages/web5/package.json
Due: dids, web5, web5-agent, web5-user-agent

Use the same version of playwright and ion-tools across packages
  package-lock.json
  packages/common/package.json
  packages/credentials/package.json
  packages/crypto/package.json
  packages/dids/package.json
  packages/web5-agent/package.json
  packages/web5-proxy-agent/package.json
  packages/web5-user-agent/package.json
  packages/web5/package.json
Due: common, credentials, crypto, dids, web5, web5-agent, web5-proxy-agent, web5-user-agent

Remove exclusive test
  packages/web5/tests/web5-dwn.spec.ts
Due: web5

Fix failing test due to DWN SDK encryption changes
  packages/web5/tests/record.spec.ts
Due: web5

Fix typo in web5 launch.json and workspace test all
  packages/common/.vscode/tasks.json
  packages/common/tsconfig.json
  packages/web5-user-agent/.vscode/launch.json
  packages/web5/.vscode/launch.json
  packages/web5/tsconfig.cjs.json
  web5-js.code-workspace
Due: common, web5, web5-user-agent

Switch from @playwright/test to playwright
  package-lock.json
  packages/common/package.json
  packages/credentials/package.json
  packages/crypto/package.json
  packages/dids/package.json
  packages/web5-agent/package.json
  packages/web5-proxy-agent/package.json
  packages/web5-user-agent/package.json
  packages/web5/package.json
Due: common, credentials, crypto, dids, web5, web5-agent, web5-proxy-agent, web5-user-agent

fixing tests
  package-lock.json
  packages/credentials/package.json
  packages/credentials/tests/pe.spec.ts
  packages/web5/tests/fixtures/test-profiles.ts
  packages/web5/tests/test-utils/test-user-agent.ts
Due: credentials, web5

better handling of options.dwn
  packages/web5/src/web5.ts
Due: web5

types before normal import
  packages/credentials/src/types.ts
Due: credentials

Added Credential Manifest Types
  packages/credentials/src/types.ts
  packages/credentials/tests/credentialmanifest.spec.ts
  packages/credentials/tests/presentationexchange.spec.ts
Due: credentials

test names
  packages/credentials/tests/credentialmanifest.spec.ts
Due: credentials

added additional optinoality with storage locations
  packages/web5-user-agent/src/profile-store.ts
  packages/web5/src/app-storage.ts
  packages/web5/src/main.ts
  packages/web5/src/web5.ts
Due: web5, web5-user-agent

verified cred jwt
  packages/credentials/tests/presentationexchange.spec.ts
Due: credentials

Bump package versions
  README.md
  package-lock.json
  packages/agent/package.json
  packages/api/README.md
  packages/api/package.json
  packages/common/package.json
  packages/credentials/package.json
  packages/crypto/package.json
  packages/dids/package.json
  packages/identity-agent/package.json
  packages/proxy-agent/package.json
  packages/user-agent/package.json
Due: common, credentials, crypto, dids

Per the Node.js docs, the "types" community condition definition should always be first
  packages/agent/package.json
  packages/api/package.json
  packages/common/package.json
  packages/credentials/package.json
  packages/crypto/package.json
  packages/dids/package.json
  packages/identity-agent/package.json
  packages/proxy-agent/package.json
  packages/user-agent/package.json
Due: common, credentials, crypto, dids

Addressing PR review comments
  packages/agent/package.json
  packages/agent/src/app-data-store.ts
  packages/agent/src/store-managed-did.ts
Due: none

Adds DID ION to identity-agent Reintroduce DidResolverCache Reintroduce TechPreview hosted DWNs
  package-lock.json
  packages/agent/src/app-data-store.ts
  packages/agent/src/dwn-manager.ts
  packages/agent/src/kms-local.ts
  packages/agent/src/rpc-client.ts
  packages/agent/src/store-managed-key.ts
  packages/agent/src/test-managed-agent.ts
  packages/agent/src/types/agent.ts
  packages/agent/tests/dwn-manager.spec.ts
  packages/agent/tests/utils/test-agent.ts
  packages/api/src/tech-preview.ts
  packages/api/src/web5.ts
  packages/api/tests-old/did-resolution-cache.spec.ts
  packages/api/tests/tech-preview.spec.ts
  packages/api/tests/utils/test-data-generator.ts
  packages/api/tests/web5-dwn.spec.ts
  packages/api/tests/web5.spec.ts
  packages/crypto/build/bundles.js
  packages/crypto/package.json
  packages/crypto/src/index.ts
  packages/dids/build/bundles.js
  packages/dids/package.json
  packages/dids/src/did-ion.old
  packages/dids/src/did-ion.ts
  packages/dids/src/did-key.ts
  packages/dids/src/did-resolver.ts
  packages/dids/src/index.ts
  packages/dids/src/resolver-cache-level.ts
  packages/dids/src/resolver-cache-noop.ts
  packages/dids/tests/did-ion.spec.ts
  packages/dids/tests/did-resolver.spec.ts
  packages/dids/tests/resolver-cache-level.spec.ts
  packages/dids/tests/tech-preview.old
  packages/identity-agent/src/identity-agent.ts
  packages/proxy-agent/src/proxy-agent.ts
  packages/user-agent/src/user-agent.ts
Due: crypto, dids

Add CJS bundling to resolve issue with ION SDK not providing CJS
  packages/common/tsconfig.cjs.json
  packages/dids/build/cjs-bundle.js
  packages/dids/package.json
Due: common, dids

Remove root package.json override now that c8 8.0.1 has addressed vulnerability
  package-lock.json
  package.json
  packages/agent/package.json
  packages/api/package.json
  packages/common/package.json
  packages/credentials/package.json
  packages/crypto/package.json
  packages/dids/package.json
  packages/identity-agent/package.json
  packages/proxy-agent/package.json
  packages/user-agent/package.json
Due: common, credentials, crypto, dids

Update eslint dev dependencies to be compatible with Typescript 5.1.6
  .eslintrc.cjs
  package-lock.json
  packages/agent/package.json
  packages/api/package.json
  packages/api/tests/web5-did.spec.ts
  packages/common/package.json
  packages/credentials/package.json
  packages/crypto/package.json
  packages/dids/package.json
  packages/identity-agent/package.json
  packages/proxy-agent/package.json
  packages/user-agent/package.json
Due: common, credentials, crypto, dids

Cherry pick test DWN URL from envvar commits from @finn-tbd PR #161
  packages/agent/karma.conf.cjs
  packages/agent/tests/dwn-manager.spec.ts
  packages/agent/tests/test-config.ts
  packages/api/karma.conf.cjs
  packages/api/tests/record.spec.ts
  packages/api/tests/test-config.ts
  packages/api/tests/web5-dwn.spec.ts
  packages/common/karma.conf.cjs
  packages/credentials/karma.conf.cjs
  packages/crypto/karma.conf.cjs
  packages/dids/karma.conf.cjs
  packages/identity-agent/karma.conf.cjs
  packages/proxy-agent/karma.conf.cjs
  packages/user-agent/karma.conf.cjs
Due: common, credentials, crypto, dids

Improve test coverage for DwnApi and Record. Added missing functionality to ION DwnConfiguration.
  packages/agent/src/test-managed-agent.ts
  packages/agent/tests/dwn-manager.spec.ts
  packages/api/src/dwn-api.ts
  packages/api/src/protocol.ts
  packages/api/src/tech-preview.ts
  packages/api/src/web5.ts
  packages/api/tests/did-api.spec.ts
  packages/api/tests/dwn-api.spec.ts
  packages/api/tests/fixtures/protocol-definitions/email.json
  packages/api/tests/record.spec.ts
  packages/api/tests/tech-preview.spec.ts
  packages/api/tests/vc-api.spec.ts
  packages/api/tests/web5-dwn.spec.ts
  packages/dev-env/README.md
  packages/dids/src/did-ion.ts
  packages/dids/tests/did-ion.spec.ts
Due: dids

Support BYO DID
  packages/api/src/web5.ts
  packages/api/tests/web5.spec.ts
Due: none
