Repository TBD54566975/web5-js: changes, and which Codecov flags are due for each by the changed paths.
All: agent, api, common, credentials, crypto, dids, identity-agent, crypto-aws-kms, proxy-agent, user-agent

add setter and getter for the identity metadata name
  packages/agent/src/identity-api.ts
Due: agent

test coverage
  packages/agent/src/identity-api.ts
  packages/agent/tests/identity-api.spec.ts
Due: agent

Add ability to update the Identity Metadata name field. (#956)
  .changeset/shy-grapes-juggle.md
  packages/agent/src/identity-api.ts
  packages/agent/tests/identity-api.spec.ts
Due: agent

fix issue whre dwn-store records were not actually being updated
  packages/agent/src/store-data.ts
  packages/agent/tests/store-data.spec.ts
Due: agent

add changesets
  .changeset/curvy-fireants-dress.md
Due: none

remove optionality complexity
  packages/agent/src/store-data.ts
Due: agent

Fix issue where `dwn-store` records are not actually being updated (#961)
  .changeset/curvy-fireants-dress.md
  packages/agent/src/store-data.ts
  packages/agent/tests/store-data.spec.ts
Due: agent

web5/api changeset
  .changeset/nine-moose-rhyme.md
Due: none

web5/api changeset (#963)
  .changeset/nine-moose-rhyme.md
Due: none

add prerequisites for expansion of connect flow
  packages/agent/src/connect.ts
  packages/agent/src/oidc.ts
  packages/agent/tests/connect.spec.ts
  packages/api/src/web5.ts
  packages/api/tests/web5.spec.ts
Due: agent, api

tiny cleanup
  packages/agent/src/connect.ts
Due: agent

fix test
  packages/api/tests/web5.spec.ts
Due: api

remove dead code
  packages/agent/src/oidc.ts
Due: agent

cleanup around future export
  packages/api/src/web5.ts
Due: api

cleanup
  packages/agent/src/connect.ts
  packages/api/src/web5.ts
Due: agent, api

format
  packages/agent/src/connect.ts
  packages/agent/src/oidc.ts
  packages/agent/tests/connect.spec.ts
  packages/api/src/web5.ts
Due: agent, api

add changeset
  .changeset/chilled-paws-stare.md
Due: none

Create weak-shirts-draw.md
  .changeset/weak-shirts-draw.md
Due: none

fix typo
  packages/agent/src/oidc.ts
Due: agent

merge
  packages/agent/src/oidc.ts
Due: agent

fix: corrected status code check
  packages/api/src/dwn-api.ts
Due: api

fix: add test for ok status
  packages/api/tests/dwn-api.spec.ts
Due: api

Path conditions:
  agent: any of: packages/agent/**
  api: any of: packages/api/**
  common: any of: packages/common/**
  credentials: any of: packages/credentials/**
  crypto: any of: packages/crypto/**
  dids: any of: packages/dids/**
  identity-agent: any of: packages/identity-agent/**
  crypto-aws-kms: any of: packages/crypto-aws-kms/**
  proxy-agent: any of: packages/proxy-agent/**
  user-agent: any of: packages/user-agent/**
