Repository TBD54566975/web5-js: changes, and which Codecov flags are due for each by the changed paths.
All: common, credentials, crypto, dids, web5, web5-agent, web5-proxy-agent, web5-user-agent

additional documentation
  README.md
  packages/api/README.md
Due: none

Minor import ordering change
  packages/agent/src/sync-manager.ts
  packages/api/src/dwn-api.ts
  packages/api/tests/dwn-api.spec.ts
Due: none

resolve did:dht in VCs
  packages/credentials/src/verifiable-credential.ts
Due: credentials

Fix up newlines
  packages/credentials/src/verifiable-credential.ts
  packages/credentials/tests/verifiable-credential.spec.ts
Due: credentials

tie up loose ends
  package-lock.json
  packages/agent/package.json
  packages/agent/web-test-runner.config.cjs
  packages/api/tests/dwn-api.spec.ts
  packages/api/tests/web5.spec.ts
  packages/api/web-test-runner.config.cjs
  packages/common/web-test-runner.config.cjs
  packages/credentials/web-test-runner.config.cjs
  packages/crypto/web-test-runner.config.cjs
  packages/dids/web-test-runner.config.cjs
  packages/identity-agent/web-test-runner.config.cjs
  packages/proxy-agent/web-test-runner.config.cjs
  packages/user-agent/web-test-runner.config.cjs
Due: common, credentials, crypto, dids

let wtr run to compare
  .github/workflows/tests-ci.yml
Due: none

resolve did:dht in VCs (#321)
  packages/credentials/src/verifiable-credential.ts
  packages/credentials/tests/verifiable-credential.spec.ts
Due: credentials

Release new version
  packages/agent/package.json
  packages/api/package.json
  packages/credentials/package.json
  packages/dids/package.json
  packages/identity-agent/package.json
  packages/proxy-agent/package.json
  packages/user-agent/package.json
Due: credentials, dids

Add did:dht VC test
  packages/credentials/tests/verifiable-credential.spec.ts
Due: credentials

Apply suggestions from code review
  packages/agent/package.json
  packages/api/package.json
  packages/credentials/package.json
  packages/credentials/tests/verifiable-credential.spec.ts
  packages/dids/package.json
  packages/identity-agent/package.json
  packages/proxy-agent/package.json
  packages/user-agent/package.json
Due: credentials, dids

Fix kid
  packages/credentials/tests/verifiable-credential.spec.ts
Due: credentials

set api version
  packages/api/package.json
Due: none

Fix missing dev dependency
  package-lock.json
  packages/identity-agent/package.json
Due: none

Test for did:dht signed VCs + release (#322)
  package-lock.json
  packages/api/package.json
  packages/credentials/package.json
  packages/credentials/tests/verifiable-credential.spec.ts
  packages/identity-agent/package.json
Due: credentials

add back webkit. apples to apples with karma.
  package-lock.json
  packages/agent/karma.conf.cjs
  packages/agent/package.json
  packages/agent/web-test-runner.config.cjs
  packages/api/karma.conf.cjs
  packages/api/package.json
  packages/api/tests/web5.spec.ts
  packages/api/web-test-runner.config.cjs
  packages/common/karma.conf.cjs
  packages/common/package.json
  packages/common/web-test-runner.config.cjs
  packages/credentials/karma.conf.cjs
  packages/credentials/package.json
  packages/credentials/web-test-runner.config.cjs
  packages/crypto/karma.conf.cjs
  packages/crypto/package.json
  packages/crypto/web-test-runner.config.cjs
  packages/dids/karma.conf.cjs
  packages/dids/package.json
  packages/dids/web-test-runner.config.cjs
  packages/identity-agent/karma.conf.cjs
  packages/identity-agent/package.json
  packages/identity-agent/web-test-runner.config.cjs
  packages/proxy-agent/karma.conf.cjs
  packages/proxy-agent/package.json
  packages/proxy-agent/web-test-runner.config.cjs
  packages/user-agent/karma.conf.cjs
  packages/user-agent/package.json
  packages/user-agent/web-test-runner.config.cjs
Due: common, credentials, crypto, dids

Support RecordsQuery pagination in Web5 (#268)
  README.md
  packages/agent/src/sync-manager.ts
  packages/api/README.md
  packages/api/src/dwn-api.ts
  packages/api/tests/dwn-api.spec.ts
Due: none

decouple tbdocs commenter
  .github/workflows/tbdocs-commenter.yml
  .github/workflows/tests-ci.yml
Due: none

remove karma
  package-lock.json
  packages/agent/karma.conf.cjs
  packages/agent/package.json
  packages/api/karma.conf.cjs
  packages/api/package.json
  packages/common/karma.conf.cjs
  packages/common/package.json
  packages/credentials/karma.conf.cjs
  packages/credentials/package.json
  packages/crypto/karma.conf.cjs
  packages/crypto/package.json
  packages/dids/karma.conf.cjs
  packages/dids/package.json
  packages/identity-agent/karma.conf.cjs
  packages/identity-agent/package.json
  packages/proxy-agent/karma.conf.cjs
  packages/proxy-agent/package.json
  packages/user-agent/karma.conf.cjs
  packages/user-agent/package.json
Due: common, credentials, crypto, dids

remove karma
  .github/workflows/tests-ci.yml
  packages/agent/package.json
  packages/agent/tests/dwn-manager.spec.ts
  packages/agent/tests/sync-manager.spec.ts
  packages/agent/tests/test-config.ts
  packages/api/package.json
  packages/api/tests/dwn-api.spec.ts
  packages/api/tests/protocol.spec.ts
  packages/api/tests/record.spec.ts
  packages/api/tests/test-config.ts
  packages/common/package.json
  packages/credentials/package.json
  packages/crypto/package.json
  packages/dids/package.json
  packages/identity-agent/package.json
  packages/proxy-agent/package.json
  packages/user-agent/package.json
Due: common, credentials, crypto, dids

fix tbdocs (i assume)
  .github/workflows/tests-ci.yml
Due: none

update ci config
  .github/workflows/tests-ci.yml
Due: none

better naming of scripts
  packages/agent/package.json
  packages/api/package.json
  packages/common/package.json
  packages/credentials/package.json
  packages/crypto/package.json
  packages/dids/package.json
  packages/identity-agent/package.json
  packages/proxy-agent/package.json
  packages/user-agent/package.json
Due: common, credentials, crypto, dids

Decouple docs actions
  .github/workflows/docs-ci.yml
  .github/workflows/tbdocs-commenter.yml
  .github/workflows/tests-ci.yml
Due: none

fix node
  packages/api/.mocharc.json
Due: none

cleanup tsc settings
  packages/agent/tsconfig.json
  packages/api/tsconfig.json
  packages/common/tsconfig.json
  packages/credentials/tsconfig.json
  packages/crypto/tsconfig.json
  packages/dids/tsconfig.json
  packages/identity-agent/tsconfig.json
  packages/proxy-agent/tsconfig.json
  packages/user-agent/tsconfig.json
Due: common, credentials, crypto, dids

add base tsconfig to DRY up tsconfigs. build sourcemaps for all.
  packages/agent/src/dwn-manager.ts
  packages/agent/tsconfig.json
  packages/api/src/index.ts
  packages/api/tsconfig.json
  packages/common/tsconfig.json
  packages/credentials/tsconfig.json
  packages/crypto/tsconfig.json
  packages/dids/tsconfig.json
  packages/identity-agent/tsconfig.json
  packages/proxy-agent/tsconfig.json
  packages/user-agent/tsconfig.json
  tsconfig.json
Due: common, credentials, crypto, dids

simplify diff for review
  packages/agent/tsconfig.json
  packages/api/tsconfig.json
  packages/common/tsconfig.json
  packages/credentials/tsconfig.json
  packages/crypto/tsconfig.json
  packages/dids/tsconfig.json
  packages/identity-agent/tsconfig.json
  packages/proxy-agent/tsconfig.json
  packages/user-agent/tsconfig.json
Due: common, credentials, crypto, dids

DRY up remaining repeated fields
  .web5-spec/tsconfig.json
  packages/agent/tsconfig.json
  packages/api/tsconfig.json
  packages/common/tsconfig.json
  packages/credentials/tsconfig.json
  packages/crypto/tsconfig.json
  packages/dids/tsconfig.json
  packages/identity-agent/tsconfig.json
  packages/proxy-agent/tsconfig.json
  packages/user-agent/tsconfig.json
  tsconfig.json
Due: common, credentials, crypto, dids

woops
  .web5-spec/tsconfig.json
  tsconfig.json
Due: none

woops
  .web5-spec/tsconfig.json
Due: none

DRY that one too
  .web5-spec/tsconfig.json
Due: none

match lib to target for now
  tsconfig.json
Due: none

strict false for web5spec
  .web5-spec/tsconfig.json
Due: none

revert unnecessary change
  packages/api/src/index.ts
Due: none

Minor nit: import ordering
  packages/agent/src/dwn-manager.ts
Due: none

Minor fix to remove trailing commas from JSON
  packages/agent/tsconfig.cjs.json
  packages/agent/tsconfig.json
  packages/api/tsconfig.cjs.json
  packages/api/tsconfig.json
  packages/common/tsconfig.json
  packages/credentials/tsconfig.cjs.json
  packages/credentials/tsconfig.json
  packages/crypto/tsconfig.cjs.json
  packages/crypto/tsconfig.json
  packages/dids/tsconfig.cjs.json
  packages/identity-agent/tsconfig.cjs.json
  packages/proxy-agent/tsconfig.cjs.json
  packages/user-agent/tsconfig.cjs.json
  packages/user-agent/tsconfig.json
  tsconfig.json
Due: common, credentials, crypto, dids

Bump package-lock.json
  package-lock.json
Due: none

fix tsconfig errors (#306)
  .web5-spec/tsconfig.json
  package-lock.json
  packages/agent/src/dwn-manager.ts
  packages/agent/tsconfig.cjs.json
  packages/agent/tsconfig.json
  packages/api/tsconfig.cjs.json
  packages/api/tsconfig.json
  packages/common/tsconfig.json
  packages/credentials/tsconfig.cjs.json
  packages/credentials/tsconfig.json
  packages/crypto/tsconfig.cjs.json
  packages/crypto/tsconfig.json
  packages/dids/tsconfig.cjs.json
  packages/dids/tsconfig.json
  packages/identity-agent/tsconfig.cjs.json
  packages/identity-agent/tsconfig.json
  packages/proxy-agent/tsconfig.cjs.json
  packages/proxy-agent/tsconfig.json
  packages/user-agent/tsconfig.cjs.json
  packages/user-agent/tsconfig.json
  tsconfig.json
Due: common, credentials, crypto, dids

Minor change to DwnApi test to remove dependency on Record class
  packages/api/tests/dwn-api.spec.ts
Due: none

Path conditions:
  common: any of: packages/common/**
  credentials: any of: packages/credentials/**
  crypto: any of: packages/crypto/**
  dids: any of: packages/dids/**
  web5: any of: packages/web5/**
  web5-agent: any of: packages/web5-agent/**
  web5-proxy-agent: any of: packages/web5-proxy-agent/**
  web5-user-agent: any of: packages/web5-user-agent/**
