Repository TBD54566975/web5-js: changes, and which Codecov flags are due for each by the changed paths.
All: agent, api, common, credentials, crypto, dids, identity-agent, crypto-aws-kms, proxy-agent, user-agent

Decouples security scanning analysis and add FOSSA
  .github/workflows/security.yml
  .github/workflows/tests-ci.yml
Due: none

Improve error handling, align key set with other methods, and increase test coverage
  packages/credentials/tests/verifiable-credential.spec.ts
  packages/dids/src/did-dht.ts
  packages/dids/tests/dht.spec.ts
  packages/dids/tests/did-dht.spec.ts
Due: credentials, dids

snyk and fossa
  .github/workflows/security.yml
Due: none

Select creds test vector junit report (#344)
  .github/workflows/tests-ci.yml
  .gitignore
  package-lock.json
  packages/agent/package.json
  packages/api/package.json
  packages/common/package.json
  packages/credentials/package.json
  packages/credentials/src/presentation-exchange.ts
  packages/credentials/tests/presentation-exchange.spec.ts
  packages/crypto/package.json
  packages/dids/package.json
  packages/identity-agent/package.json
  packages/proxy-agent/package.json
  packages/user-agent/package.json
  test-vectors/presentation_exchange/select_credentials.json
Due: agent, api, common, credentials, crypto, dids, identity-agent, proxy-agent, user-agent

update vc sign (#332)
  .web5-spec/credentials.ts
  package-lock.json
  packages/credentials/package.json
  packages/credentials/src/verifiable-credential.ts
  packages/credentials/tests/presentation-exchange.spec.ts
  packages/credentials/tests/verifiable-credential.spec.ts
Due: credentials

Fix record author bug (#345)
  packages/agent/src/dwn-manager.ts
  packages/api/src/dwn-api.ts
  packages/api/src/record.ts
  packages/api/tests/record.spec.ts
Due: agent, api

Update Readme (#337)
  packages/credentials/README.md
Due: credentials

Export PEX type directly (#336)
  packages/credentials/src/presentation-exchange.ts
Due: credentials

speed up ci (#325)
  .github/workflows/alpha-npm.yml
  .github/workflows/docs-ci.yml
  .github/workflows/docs-publish.yml
  .github/workflows/release-npm.yml
  .github/workflows/scorecard.yml
  .github/workflows/security.yml
  .github/workflows/tests-ci.yml
  package-lock.json
  package.json
  packages/agent/web-test-runner.config.cjs
Due: agent

Add JWT and DID `dereference()` (#339)
  .web5-spec/credentials.ts
  package-lock.json
  packages/credentials/package.json
  packages/credentials/src/index.ts
  packages/credentials/src/jwt.ts
  packages/credentials/src/presentation-exchange.ts
  packages/credentials/src/utils.ts
  packages/credentials/src/validators.ts
  packages/credentials/src/verifiable-credential.ts
  packages/credentials/tests/jwt.spec.ts
  packages/credentials/tests/presentation-exchange.spec.ts
  packages/credentials/tests/ssi-validator.spec.ts
  packages/credentials/tests/verifiable-credential.spec.ts
  packages/crypto/package.json
  packages/crypto/src/jose.ts
  packages/crypto/src/utils.ts
  packages/crypto/tests/utils.spec.ts
  packages/dids/src/did-resolver.ts
  packages/dids/src/types.ts
  packages/dids/src/utils.ts
  packages/dids/tests/did-resolver.spec.ts
Due: credentials, crypto, dids

Bump credentials package version
  package-lock.json
  packages/credentials/package.json
Due: credentials

rename (#355)
  packages/credentials/tests/presentation-exchange.spec.ts
Due: credentials

trigger sdk-development report build workflow when this repo is merged (#359)
  .github/workflows/tests-ci.yml
  .web5-spec/Dockerfile
  .web5-spec/README.md
  .web5-spec/credentials.ts
  .web5-spec/did-ion.ts
  .web5-spec/encoders.ts
  .web5-spec/main.ts
  .web5-spec/openapi.d.ts
  .web5-spec/tsconfig.json
Due: none

Update `@web5/credentials` README (#349)
  packages/credentials/README.md
  packages/credentials/src/presentation-exchange.ts
  packages/credentials/src/verifiable-credential.ts
  packages/credentials/tests/presentation-exchange.spec.ts
Due: credentials

Modify and add types to match DID Core spec for DID dereferencing
  packages/dids/src/did-resolver.ts
  packages/dids/src/types.ts
  packages/dids/tests/did-resolver.spec.ts
Due: dids

Bump dids package version
  package-lock.json
  packages/agent/package.json
  packages/api/package.json
  packages/credentials/package.json
  packages/dids/package.json
  packages/identity-agent/package.json
  packages/proxy-agent/package.json
  packages/user-agent/package.json
Due: agent, api, credentials, dids, identity-agent, proxy-agent, user-agent

Remove contentType from DID Resolution Results
  packages/credentials/tests/verifiable-credential.spec.ts
  packages/dids/src/did-dht.ts
  packages/dids/src/did-ion.ts
  packages/dids/src/did-key.ts
  packages/dids/tests/did-dht.spec.ts
Due: credentials, dids

sync interval tests
  packages/agent/src/sync-manager.ts
  packages/agent/tests/sync-manager.spec.ts
Due: agent

update comments and sync mechanism
  packages/agent/src/sync-manager.ts
Due: agent

update server version
  packages/dev-env/docker-compose.yaml
Due: none

update agent for new sdk
  package-lock.json
  packages/agent/package.json
  packages/agent/src/dwn-manager.ts
  packages/agent/src/sync-manager.ts
  packages/agent/tests/dwn-manager.spec.ts
  packages/agent/tests/sync-manager.spec.ts
  packages/api/package.json
Due: agent, api

do not start another sync interval until the push/pull have concluded
  packages/agent/src/dwn-manager.ts
  packages/agent/src/sync-manager.ts
  packages/agent/tests/dwn-manager.spec.ts
  packages/agent/tests/sync-manager.spec.ts
Due: agent

fix lint errors
  packages/agent/src/sync-manager.ts
Due: agent

linting fix
  packages/agent/tests/sync-manager.spec.ts
Due: agent

formatting nits
  packages/agent/package.json
  packages/agent/tests/sync-manager.spec.ts
  packages/api/package.json
  packages/api/src/dwn-api.ts
Due: agent, api

wrap up ci speedup (#356)
  .github/workflows/tests-ci.yml
Due: none

bump sdk version, update union reply types
  package-lock.json
  packages/agent/package.json
  packages/agent/src/dwn-manager.ts
  packages/agent/src/store-managed-did.ts
  packages/agent/src/store-managed-identity.ts
  packages/agent/src/store-managed-key.ts
  packages/agent/src/sync-manager.ts
  packages/agent/tests/dwn-manager.spec.ts
  packages/agent/tests/sync-manager.spec.ts
  packages/api/package.json
  packages/api/src/dwn-api.ts
  packages/dev-env/docker-compose.yaml
Due: agent, api

update server version
  package-lock.json
  package.json
Due: none

create test for syncing multiple records in both directions
  packages/agent/src/sync-manager.ts
  packages/agent/tests/sync-manager.spec.ts
Due: agent

update dwn-server dev dependency
  package-lock.json
  package.json
Due: none

Add logic to JWT.verify to validate JWT is not expired (#366)
  packages/credentials/src/jwt.ts
  packages/credentials/tests/jwt.spec.ts
Due: credentials

group pd test (#367)
  packages/credentials/tests/presentation-exchange.spec.ts
Due: credentials

adding credentials.verify (#357)
  packages/credentials/tests/verifiable-credential.spec.ts
  test-vectors/credentials/verify.json
Due: credentials

Release `@web5/api` version `0.8.4` (#373)
  README.md
  package-lock.json
  packages/api/README.md
  packages/api/package.json
  packages/identity-agent/package.json
Due: api, identity-agent

Rename sdk-development -> web5-spec (#384)
  .github/workflows/tests-ci.yml
Due: none

Update Ed25519 and ES256K Test Vectors and Ensure Low-S ECDSA Signatures (#375)
  packages/crypto-aws-kms/src/ecdsa.ts
  packages/crypto-aws-kms/tests/ecdsa.spec.ts
  packages/crypto/.c8rc.json
  packages/crypto/src/primitives/secp256k1.ts
  packages/crypto/tests/primitives/ed25519.spec.ts
  packages/crypto/tests/primitives/secp256k1.spec.ts
  test-vectors/crypto_ed25519/README.md
  test-vectors/crypto_ed25519/sign.json
  test-vectors/crypto_ed25519/verify.json
  test-vectors/crypto_es256k/README.md
  test-vectors/crypto_es256k/sign.json
  test-vectors/crypto_es256k/verify.json
Due: crypto, crypto-aws-kms

Update tests-ci.yml (#377)
  .github/workflows/tests-ci.yml
Due: none

Create Submodule (#381)
  .github/workflows/tests-ci.yml
  .gitmodules
  README.md
  packages/credentials/tests/presentation-exchange.spec.ts
  packages/credentials/tests/verifiable-credential.spec.ts
  packages/crypto/tests/primitives/ed25519.spec.ts
  packages/crypto/tests/primitives/secp256k1.spec.ts
  test-vectors/credentials/verify.json
  test-vectors/crypto_ed25519/README.md
  test-vectors/crypto_ed25519/sign.json
  test-vectors/crypto_ed25519/verify.json
  test-vectors/crypto_es256k/README.md
  test-vectors/crypto_es256k/sign.json
  test-vectors/crypto_es256k/verify.json
  test-vectors/presentation_exchange/select_credentials.json
Due: credentials, crypto

Rename Did to BearerDid (#396)
  packages/dids/src/methods/did-dht.ts
  packages/dids/src/methods/did-ion.ts
  packages/dids/src/methods/did-jwk.ts
  packages/dids/src/methods/did-key.ts
  packages/dids/src/methods/did-method.ts
  packages/dids/tests/fixtures/test-vectors/did-ion/to-keys.ts
  packages/dids/tests/methods/did-method.spec.ts
Due: dids

Path conditions:
  agent: any of: packages/agent/**
  api: any of: packages/api/**
  common: any of: packages/common/**
  credentials: any of: packages/credentials/**
  crypto: any of: packages/crypto/**
  dids: any of: packages/dids/**
  identity-agent: any of: packages/identity-agent/**
  crypto-aws-kms: any of: packages/crypto-aws-kms/**
  proxy-agent: any of: packages/proxy-agent/**
  user-agent: any of: packages/user-agent/**
