Repository TBD54566975/web5-js: changes, and which Codecov flags are due for each by the changed paths.
All: agent, api, common, credentials, crypto, dids, identity-agent, crypto-aws-kms, proxy-agent, user-agent

codecov.yml:

comment:
  layout: "header, diff, components"

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto # auto compares coverage to the previous base commit
        threshold: 5% # allows a 5% drop from the previous base commit coverage
      - type: patch
        target: 90 # every PR opened should strive for at least 90% coverage

  individual_components:
    - component_id: package-agent
      name: agent
      paths: ["packages/agent/**"]

    - component_id: package-api
      name: api
      paths: ["packages/api/**"]

    - component_id: package_common
      name: common
      paths: ["packages/common/**"]

    - component_id: package_credentials
      name: credentials
      paths: ["packages/credentials/**"]

    - component_id: package_crypto
      name: crypto
      paths: ["packages/crypto/**"]

    - component_id: package_dids
      name: dids
      paths: ["packages/dids/**"]

    - component_id: package-identity-agent
      name: identity-agent
      paths: ["packages/identity-agent/**"]

    - component_id: package-crypto-aws-kms
      name: crypto-aws-kms
      paths: ["packages/crypto-aws-kms/**"]

    - component_id: package-proxy-agent
      name: proxy-agent
      paths: ["packages/proxy-agent/**"]

    - component_id: package-user-agent
      name: user-agent
      paths: ["packages/user-agent/**"]

coverage:
  status:
    project:
      default:
        informational: true
    patch:
      default:
        informational: true # Don't gate PRs based on Codecov passing thresholds

remove dead code
  packages/agent/src/index.ts
Due: agent

bump types/node
  packages/agent/package.json
  packages/api/package.json
  packages/crypto/package.json
  packages/dids/package.json
  packages/identity-agent/package.json
  packages/proxy-agent/package.json
  packages/user-agent/package.json
  pnpm-lock.yaml
Due: agent, api, crypto, dids, identity-agent, proxy-agent, user-agent

cleanup
  packages/agent/src/connect-v2.ts
  packages/agent/src/index.ts
  packages/agent/src/oidc-v2.ts
Due: agent

fix eslint
  .vscode/settings.json
  package.json
  pnpm-lock.yaml
  tsconfig.json
Due: none

format test file
  packages/agent/tests/connect-v2.spec.ts
Due: agent

format with eslint
  packages/agent/src/connect-v2.ts
  packages/agent/src/oidc-v2.ts
  packages/agent/src/utils.ts
Due: agent

cleanup
  .vscode/settings.json
  packages/agent/src/oidc-v2.ts
Due: agent

update agent Event message types in favor of Messages interface methods
  packages/agent/package.json
  packages/agent/src/dwn-api.ts
  packages/agent/src/prototyping/clients/dwn-rpc-types.ts
  packages/agent/src/prototyping/clients/http-dwn-rpc-client.ts
  packages/agent/src/sync-engine-level.ts
  packages/agent/src/types/dwn.ts
  packages/agent/tests/dwn-api.spec.ts
  pnpm-lock.yaml
Due: agent

upgrade dependencies
  package.json
  packages/api/package.json
  packages/dev-env/docker-compose.yaml
  pnpm-lock.yaml
Due: api

add test for sendRequest by messageCid and fix Read tests for browser
  packages/agent/src/sync-engine-level.ts
  packages/agent/tests/dwn-api.spec.ts
Due: agent

add resolution and validation of credentialSchema
  .changeset/famous-shrimps-hammer.md
  packages/credentials/package.json
  packages/credentials/src/validators.ts
  packages/credentials/src/verifiable-credential.ts
  packages/credentials/tests/verifiable-credential.spec.ts
  pnpm-lock.yaml
Due: credentials

lint
  packages/credentials/tests/verifiable-credential.spec.ts
Due: credentials

update schema
  packages/credentials/tests/verifiable-credential.spec.ts
Due: credentials

add tests for data with RecordsRead and MessagesRead, modify stream conversion to better account for edge cases
  packages/agent/src/dwn-api.ts
  packages/agent/src/prototyping/clients/http-dwn-rpc-client.ts
  packages/agent/src/sync-engine-level.ts
  packages/agent/tests/dwn-api.spec.ts
Due: agent

test sync for updated records
  packages/agent/src/sync-engine-level.ts
  packages/agent/tests/sync-engine-level.spec.ts
Due: agent

test coverage
  packages/credentials/tests/ssi-validator.spec.ts
Due: credentials

increase coverage for test cases where a messageCid either already exists in the target or does not exist at all
  packages/agent/src/dwn-api.ts
  packages/agent/tests/dwn-api.spec.ts
  packages/agent/tests/sync-engine-level.spec.ts
Due: agent

add changeset
  .changeset/lemon-islands-provide.md
Due: none

update to real kyc link
  packages/credentials/tests/verifiable-credential.spec.ts
Due: credentials

modify changeset
  .changeset/lemon-islands-provide.md
Due: none

add api changeset
  .changeset/grumpy-carpets-buy.md
Due: none

Upgrade `dwn-sdk-js` to latest `v0.4.0` (#736)
  .changeset/grumpy-carpets-buy.md
  .changeset/lemon-islands-provide.md
  package.json
  packages/agent/package.json
  packages/agent/src/dwn-api.ts
  packages/agent/src/prototyping/clients/dwn-rpc-types.ts
  packages/agent/src/prototyping/clients/http-dwn-rpc-client.ts
  packages/agent/src/sync-engine-level.ts
  packages/agent/src/types/dwn.ts
  packages/agent/tests/dwn-api.spec.ts
  packages/agent/tests/sync-engine-level.spec.ts
  packages/api/package.json
  packages/dev-env/docker-compose.yaml
  pnpm-lock.yaml
Due: agent, api

get delegate and signer for delegate
  packages/agent/src/dwn-api.ts
Due: agent

remove duplicate methods, fix sync for non-RecordsWrite messages, add protocol configure to e2e sync test
  packages/agent/src/dwn-api.ts
  packages/agent/src/sync-engine-level.ts
  packages/agent/tests/dwn-api.spec.ts
  packages/agent/tests/sync-engine-level.spec.ts
Due: agent

add changeset
  .changeset/tidy-wasps-smell.md
Due: none

Implement a `delete` method and state on the `@web5/api` `Record` class (#635)
  .changeset/eighty-spoons-cross.md
  packages/api/src/record.ts
  packages/api/tests/record.spec.ts
Due: api

Remove Duplicate Methods used in sync (#738)
  .changeset/tidy-wasps-smell.md
  packages/agent/src/dwn-api.ts
  packages/agent/src/sync-engine-level.ts
  packages/agent/tests/dwn-api.spec.ts
  packages/agent/tests/sync-engine-level.spec.ts
Due: agent

deleted message now returns 404 if a second attempt to delete it is attempted, vs a conflict 409
  packages/api/tests/record.spec.ts
Due: api

fix sync edge case for conflicting deletes
  packages/agent/src/sync-engine-level.ts
  packages/agent/tests/sync-engine-level.spec.ts
Due: agent

add changeset, change method name
  .changeset/dirty-days-flash.md
  packages/agent/src/sync-engine-level.ts
Due: agent

Already deleted Message returns 404 vs 409 conflict when a 2nd attempt to delete is processed (#739)
  .changeset/dirty-days-flash.md
  packages/agent/src/sync-engine-level.ts
  packages/agent/tests/sync-engine-level.spec.ts
  packages/api/tests/record.spec.ts
Due: agent, api

rebase adjustment
  packages/api/src/dwn-api.ts
  packages/api/src/record.ts
  packages/api/tests/dwn-api.spec.ts
Due: api

format eslint config
  eslint.config.cjs
Due: none

Update authServer.js
  packages/agent/src/authServer.js
Due: agent

Update tsconfig.json
  tsconfig.json
Due: none

check in wip
  packages/agent/src/connect-v2.ts
  packages/agent/src/oidc-v2.ts
  packages/agent/src/utils.ts
  packages/api/src/web5.ts
Due: agent, api

add correct wallet uri
  packages/agent/src/connect-v2.ts
Due: agent

comment
  packages/agent/src/connect-v2.ts
Due: agent

updates
  packages/agent/src/auth-api.ts
  packages/agent/src/connect-v2.ts
  packages/agent/src/oidc-v2.ts
  packages/agent/tests/connect-v2.spec.ts
  packages/api/src/web5.ts
Due: agent, api
