Repository TBD54566975/web5-js: changes, and which Codecov flags are due for each by the changed paths.
All: crypto, dids, web5, web5-agent, web5-proxy-agent, web5-user-agent

corrected field name on protocols.configure()
  README.md
Due: none

Scaffold `web5.vc` (#116)
  package-lock.json
  package.json
  packages/credentials/.c8rc.json
  packages/credentials/.mocharc.json
  packages/credentials/build/bundles.js
  packages/credentials/build/esbuild-browser-config.cjs
  packages/credentials/karma.conf.cjs
  packages/credentials/package.json
  packages/credentials/src/main.ts
  packages/credentials/src/types.ts
  packages/credentials/tests/example.spec.ts
  packages/credentials/tsconfig.json
  packages/credentials/tsconfig.test.json
  packages/web5/src/vc-api.ts
  packages/web5/src/web5.ts
  packages/web5/tests/web5-vc.spec.ts
Due: web5

Add code coverage checking for new credentials package
  codecov.yml
Due: none

Update CI workflow to run linter
  .github/workflows/tests-ci.yml
Due: none

run linter and add eslint mocha plugin
  .eslintrc.cjs
  package-lock.json
  packages/credentials/package.json
  packages/crypto/package.json
  packages/dids/package.json
  packages/web5-agent/package.json
  packages/web5-agent/src/web5-agent.ts
  packages/web5-proxy-agent/package.json
  packages/web5-user-agent/package.json
  packages/web5-user-agent/src/sync-manager.ts
  packages/web5-user-agent/tests/node/web5-user-agent.spec.ts
  packages/web5/package.json
  packages/web5/tests/web5-did.spec.ts
  packages/web5/tests/web5-vc.spec.ts
Due: crypto, dids, web5, web5-agent, web5-proxy-agent, web5-user-agent

Bump web5 and web5-user-agent versions
  README.md
  package-lock.json
  package.json
  packages/web5-user-agent/package.json
  packages/web5/README.md
  packages/web5/package.json
  web5-js.code-workspace
Due: web5, web5-user-agent

scaffold `common` package
  package-lock.json
  package.json
  packages/common/.c8rc.json
  packages/common/.mocharc.json
  packages/common/build/bundles.js
  packages/common/build/esbuild-browser-config.cjs
  packages/common/karma.conf.cjs
  packages/common/package.json
  packages/common/src/main.ts
  packages/common/src/types.ts
  packages/common/tests/example.spec.ts
  packages/common/tsconfig.json
  packages/common/tsconfig.test.json
  packages/dids/src/types.ts
  packages/web5-agent/src/main.ts
Due: dids, web5-agent

start adding `sync` option
  packages/web5/src/web5.ts
Due: web5

adding bulider
  package-lock.json
  packages/credentials/src/utils.ts
  packages/credentials/src/verifiable-credential-builder.ts
  packages/credentials/tests/verifiable-credential-builder.spec.ts
Due: none

version bump dids package
  packages/dids/package.json
  packages/web5-user-agent/package.json
  packages/web5/package.json
Due: dids, web5, web5-user-agent

Update package-lock.json
  package-lock.json
Due: none

export and then add profile on connect
  packages/web5/examples/in-page.html
  packages/web5/src/web5.ts
Due: web5

show how to export and import in a browser
  packages/web5/examples/in-page.html
Due: web5

Add common package to Codecov, VScode workspace, and GH NPM workflows
  .github/workflows/alpha-npm.yml
  .github/workflows/release-npm.yml
  codecov.yml
  web5-js.code-workspace
Due: none

`dids` version bump (#126)
  .github/workflows/alpha-npm.yml
  .github/workflows/release-npm.yml
  codecov.yml
  package-lock.json
  packages/dids/package.json
  packages/web5-user-agent/package.json
  packages/web5/package.json
  web5-js.code-workspace
Due: dids, web5, web5-user-agent

enable manually triggering npm release github action
  .github/workflows/release-npm.yml
Due: none

Fix NPM release workflow for new packages
  .github/workflows/release-npm.yml
Due: none

updates to builder and VC object
  packages/credentials/src/types.ts
  packages/credentials/src/utils.ts
  packages/credentials/src/verifiable-credential-builder.ts
  packages/credentials/tests/example.spec.ts
  packages/credentials/tests/utils.spec.ts
  packages/credentials/tests/verifiable-credential-builder.spec.ts
Due: none

updating tests
  packages/credentials/tests/verifiable-credential-builder.spec.ts
Due: none

spacing
  packages/credentials/src/verifiable-credential-builder.ts
  packages/credentials/tests/verifiable-credential-builder.spec.ts
Due: none

new tests
  packages/credentials/tests/verifiable-credential-builder.spec.ts
Due: none

[UX] Add a table of Content to docs
  README.md
Due: none

Add support for DRLs in DOM envs
  packages/web5/package.json
  packages/web5/src/dom-api-browser.ts
  packages/web5/src/dom-api.ts
  packages/web5/src/web5.ts
  packages/web5/tests/dom/index.html
  packages/web5/tests/dom/index.js
Due: web5

Update approach to use captured error events
  packages/web5/src/dom-api-browser.ts
  packages/web5/src/dom-api.ts
  packages/web5/src/web5.ts
Due: web5

Manually patch package-lock.json for CVE-2022-25883
  package-lock.json
  packages/common/package.json
  packages/credentials/package.json
  packages/crypto/package.json
  packages/dids/package.json
  packages/web5-agent/package.json
  packages/web5-proxy-agent/package.json
  packages/web5-user-agent/package.json
  packages/web5/package.json
Due: crypto, dids, web5, web5-agent, web5-proxy-agent, web5-user-agent

Opportunistically improve ESLint rules for switch case indentation
  .eslintrc.cjs
Due: none

updated ion-tools dependencies
  packages/dids/package.json
  packages/web5/package.json
Due: dids, web5

missed one ion-tools dependencies
  packages/web5-user-agent/package.json
Due: web5-user-agent

Updated dwn-sdk-js dependencies except for problematic ones
  packages/dids/package.json
  packages/web5-agent/package.json
Due: dids, web5-agent

updated remaining dwn-sdk-js dependencies
  packages/web5-user-agent/package.json
  packages/web5/package.json
Due: web5, web5-user-agent

Path conditions:
  crypto: any of: packages/crypto/**
  dids: any of: packages/dids/**
  web5: any of: packages/web5/**
  web5-agent: any of: packages/web5-agent/**
  web5-proxy-agent: any of: packages/web5-proxy-agent/**
  web5-user-agent: any of: packages/web5-user-agent/**
