Repository TBD54566975/web5-js: changes, and which Codecov flags are due for each by the changed paths.
All: crypto, dids, web5, web5-agent, web5-proxy-agent, web5-user-agent

codecov.yml:

comment:
  layout: "header, diff, components"

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto # auto compares coverage to the previous base commit
        threshold: 10% # allows a 10% drop from the previous base commit coverage
      - type: patch
        target: 100 # every PR opened should strive for full test coverage

  individual_components:
    - component_id: package_crypto
      name: crypto
      paths: ["packages/crypto/**"]

    - component_id: package_dids
      name: dids
      paths: ["packages/dids/**"]

    - component_id: package-web5
      name: web5
      paths: ["packages/web5/**"]

    - component_id: package-web5-agent
      name: web5-agent
      paths: ["packages/web5-agent/**"]

    - component_id: package-web5-proxy-agent
      name: web5-proxy-agent
      paths: ["packages/web5-proxy-agent/**"]

    - component_id: package-web5-user-agent
      name: web5-user-agent
      paths: ["packages/web5-user-agent/**"]

coverage:
  status:
    project:
      default:
        informational: true
    patch:
      default:
        informational: true # Don't gate PRs based on Codecov passing thresholds

Update CONTRIBUTING guide to reflect test coverage expectations
  CONTRIBUTING.md
Due: none

Update threshold deviation to 5%
  codecov.yml
Due: none

Remove istanbul coverage from dids README
  packages/dids/README.md
Due: dids

Revise c8rc to reflect Web5 JS project structure
  packages/dids/.c8rc
  packages/web5/.c8rc
Due: dids, web5

Update README badges
  README.md
  packages/web5/README.md
Due: web5

Remove dep ^ and apply socket.io-parser override to all deps
  package-lock.json
  packages/crypto/package.json
  packages/dids/package.json
  packages/web5-agent/package.json
  packages/web5-proxy-agent/package.json
  packages/web5-user-agent/package.json
  packages/web5/package.json
Due: crypto, dids, web5, web5-agent, web5-proxy-agent, web5-user-agent

Add code coverage badge to web5 and dids README
  .vscode/launch.json
  packages/dids/.c8rc
  packages/dids/README.md
  packages/dids/package.json
  packages/web5/.c8rc
  packages/web5/README.md
  packages/web5/package.json
Due: dids, web5

Added Codecov, modified c8 and mocha configs, and standardized package.json
  .github/workflows/tests-ci.yml
  README.md
  codecov.yml
  package-lock.json
  packages/crypto/.c8rc.json
  packages/crypto/.mocharc.json
  packages/crypto/package.json
  packages/dids/.c8rc.json
  packages/dids/.mocharc.json
  packages/dids/package.json
  packages/web5-agent/.c8rc.json
  packages/web5-agent/.mocharc.json
  packages/web5-agent/package.json
  packages/web5-proxy-agent/.c8rc.json
  packages/web5-proxy-agent/.mocharc.json
  packages/web5-proxy-agent/package.json
  packages/web5-user-agent/.c8rc.json
  packages/web5-user-agent/.mocharc.json
  packages/web5-user-agent/package.json
  packages/web5/.c8rc.json
  packages/web5/.mocharc.json
  packages/web5/README.md
  packages/web5/package.json
Due: crypto, dids, web5, web5-agent, web5-proxy-agent, web5-user-agent

Migrate Test All to Workspace config
  .vscode/launch.json
  web5-js.code-workspace
Due: none

bump `dwn-sdk-js` to `0.0.33`
  package-lock.json
  packages/dids/package.json
  packages/web5-agent/package.json
  packages/web5-user-agent/package.json
  packages/web5/package.json
Due: dids, web5, web5-agent, web5-user-agent

(sync) account for how updating a record works
  packages/web5-user-agent/src/sync-api.ts
Due: web5-user-agent

(sync) account for scenario where a record is written and deleted before `push` occurs
  packages/web5-user-agent/src/sync-api.ts
Due: web5-user-agent

bump `dwn-sdk-js` down to `0.0.32`
  package-lock.json
  packages/dids/package.json
  packages/web5-user-agent/package.json
  packages/web5/package.json
Due: dids, web5, web5-user-agent

bump `dwn-sdk-js` down to `0.0.32`
  packages/web5-agent/package.json
Due: web5-agent

update package-lock.json
  package-lock.json
Due: none

Bump dwn-sdk-js to 0.0.33 and update tests
  package-lock.json
  packages/dids/package.json
  packages/web5-agent/package.json
  packages/web5-user-agent/package.json
  packages/web5/package.json
  packages/web5/tests/record.spec.ts
Due: dids, web5, web5-agent, web5-user-agent

Bump Web5 JS packages in preparation for 0.7.6 release
  package-lock.json
  packages/dids/package.json
  packages/web5-agent/package.json
  packages/web5-proxy-agent/package.json
  packages/web5-user-agent/package.json
  packages/web5/package.json
Due: dids, web5, web5-agent, web5-proxy-agent, web5-user-agent

add vs-code plugin recommendations
  .vscode/extensions.json
Due: none

add TSDoc for `web5.did.create`
  packages/web5/src/did-api.ts
Due: web5

add TSDoc for `web5.did.resolve`
  packages/web5/src/did-api.ts
Due: web5

add TSDoc to various top-level `web5` types and methods
  packages/web5/src/web5.ts
Due: web5

set static `Web5.did` to use no cache until `connect` is called
  packages/web5/src/web5.ts
Due: web5

export record type
  packages/web5/src/main.ts
Due: web5

exporting all types
  packages/web5/src/main.ts
Due: web5

Bump Playwright to 1.34.3
  package-lock.json
  packages/crypto/karma.conf.cjs
  packages/crypto/package.json
  packages/dids/karma.conf.cjs
  packages/dids/package.json
  packages/web5-agent/karma.conf.cjs
  packages/web5-agent/package.json
  packages/web5-proxy-agent/karma.conf.cjs
  packages/web5-proxy-agent/package.json
  packages/web5-user-agent/karma.conf.cjs
  packages/web5-user-agent/package.json
  packages/web5/karma.conf.cjs
  packages/web5/package.json
Due: crypto, dids, web5, web5-agent, web5-proxy-agent, web5-user-agent

Bump web5 package to 0.7.7 and remove mocha test timeouts
  .vscode/extensions.json
  README.md
  package-lock.json
  packages/web5-user-agent/tests/common/web5-user-agent.spec.ts
  packages/web5/README.md
  packages/web5/package.json
  packages/web5/tests/record.spec.ts
Due: web5, web5-user-agent
