Repository TBD54566975/web5-js: changes, and which Codecov flags are due for each by the changed paths.
All: agent, api, common, credentials, crypto, dids, identity-agent, crypto-aws-kms, proxy-agent, user-agent

codecov.yml:

comment:
  layout: "header, diff, components"

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto # auto compares coverage to the previous base commit
        threshold: 5% # allows a 5% drop from the previous base commit coverage
      - type: patch
        target: 90 # every PR opened should strive for at least 90% coverage

  individual_components:
    - component_id: package-agent
      name: agent
      paths: ["packages/agent/**"]

    - component_id: package-api
      name: api
      paths: ["packages/api/**"]

    - component_id: package_common
      name: common
      paths: ["packages/common/**"]

    - component_id: package_credentials
      name: credentials
      paths: ["packages/credentials/**"]

    - component_id: package_crypto
      name: crypto
      paths: ["packages/crypto/**"]

    - component_id: package_dids
      name: dids
      paths: ["packages/dids/**"]

    - component_id: package-identity-agent
      name: identity-agent
      paths: ["packages/identity-agent/**"]

    - component_id: package-crypto-aws-kms
      name: crypto-aws-kms
      paths: ["packages/crypto-aws-kms/**"]

    - component_id: package-proxy-agent
      name: proxy-agent
      paths: ["packages/proxy-agent/**"]

    - component_id: package-user-agent
      name: user-agent
      paths: ["packages/user-agent/**"]

coverage:
  status:
    project:
      default:
        informational: true
    patch:
      default:
        informational: true # Don't gate PRs based on Codecov passing thresholds

spacing
  packages/credentials/README.md
Due: credentials

updates
  packages/credentials/README.md
Due: credentials

Update VSCode workspace paths for Mocha
  packages/agent/.vscode/launch.json
  packages/api/.vscode/launch.json
  packages/common/.vscode/launch.json
  packages/credentials/.vscode/launch.json
  packages/crypto-aws-kms/.vscode/launch.json
  packages/crypto/.vscode/launch.json
  packages/dids/.vscode/launch.json
  packages/identity-agent/.vscode/launch.json
  packages/proxy-agent/.vscode/launch.json
  packages/user-agent/.vscode/launch.json
Due: agent, api, common, credentials, crypto, dids, identity-agent, crypto-aws-kms, proxy-agent, user-agent

reorder
  packages/credentials/README.md
Due: credentials

include SHA in snapshot version
  .github/workflows/release-snapshot.yml
Due: none

run snapshot release in test branch
  .github/workflows/release-snapshot.yml
Due: none

publish snapshot releases for every subpackage
  .github/workflows/release-snapshot.yml
Due: none

use npm to test for duplicates instead of curling artifactory-specific APIs
  .github/workflows/release-snapshot.yml
Due: none

quote confusion
  .github/workflows/release-snapshot.yml
Due: none

additional quote confusion
  .github/workflows/release-snapshot.yml
Due: none

fix registry url
  .github/workflows/release-snapshot.yml
Due: none

use npm instead of vendor-specific API to check existing version
  .github/workflows/release-snapshot.yml
Due: none

whitespace
  .github/workflows/release-snapshot.yml
Due: none

bump version and update readme (#444)
  packages/credentials/README.md
  packages/credentials/package.json
Due: credentials

status list cred impl
  packages/credentials/package.json
  packages/credentials/src/status-list-credential.ts
  packages/credentials/src/verifiable-credential.ts
  packages/credentials/tests/status-list-credential.spec.ts
Due: credentials

pnpm install
  pnpm-lock.yaml
Due: none

fix linter
  packages/credentials/src/verifiable-credential.ts
  packages/credentials/tests/status-list-credential.spec.ts
Due: credentials

pin actions versions
  .github/workflows/release-snapshot.yml
Due: none

Fix NPM Token Auth Issue
  .github/workflows/alpha-npm.yml
  .github/workflows/release-npm.yml
  .gitignore
Due: none

Troubleshoot git status
  .github/workflows/alpha-npm.yml
Due: none

Disable pnpm publish git checks
  .github/workflows/alpha-npm.yml
Due: none

Fix NPM Token Auth Issue (#449)
  .github/workflows/alpha-npm.yml
  .github/workflows/release-npm.yml
  .gitignore
Due: none

Update VSCode workspace paths for Mocha (#446)
  packages/agent/.vscode/launch.json
  packages/api/.vscode/launch.json
  packages/common/.vscode/launch.json
  packages/credentials/.vscode/launch.json
  packages/crypto-aws-kms/.vscode/launch.json
  packages/crypto/.vscode/launch.json
  packages/dids/.vscode/launch.json
  packages/identity-agent/.vscode/launch.json
  packages/proxy-agent/.vscode/launch.json
  packages/user-agent/.vscode/launch.json
Due: agent, api, common, credentials, crypto, dids, identity-agent, crypto-aws-kms, proxy-agent, user-agent

updates to verify (#421)
  packages/credentials/src/utils.ts
  packages/credentials/src/validators.ts
  packages/credentials/src/verifiable-credential.ts
  packages/credentials/src/verifiable-presentation.ts
  packages/credentials/tests/jwt.spec.ts
  packages/credentials/tests/utils.spec.ts
  packages/credentials/tests/verifiable-credential.spec.ts
Due: credentials

run bundler bonanza in web5-js CI
  .github/workflows/cross-environment-tests.yml
Due: none

remove unneeded npm token from snapshot release job
  .github/workflows/release-snapshot.yml
Due: none

fix select cred bug
  packages/credentials/src/presentation-exchange.ts
  packages/credentials/tests/presentation-exchange.spec.ts
Due: credentials

update
  packages/credentials/tests/presentation-exchange.spec.ts
Due: credentials

Used pinned hermit version in SDK reports
  .github/workflows/reports.yml
Due: none

Used pinned hermit version in CI workflow
  .github/workflows/tests-ci.yml
Due: none

Move SDK reporting to separate workflow job (#442)
  .github/workflows/reports.yml
  .github/workflows/tests-ci.yml
Due: none

Remove pkarr, sodium-universal and add bencode to CJS bundling
  packages/dids/build/cjs-bundle.js
Due: dids

Update packages/credentials/tests/presentation-exchange.spec.ts
  packages/credentials/tests/presentation-exchange.spec.ts
Due: credentials
