Repository TBD54566975/web5-js: changes, and which Codecov flags are due for each by the changed paths.
All: agent, api, common, credentials, crypto, dids, identity-agent, crypto-aws-kms, proxy-agent, user-agent

codecov.yml:

comment:
  layout: "header, diff, components"

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto # auto compares coverage to the previous base commit
        threshold: 5% # allows a 5% drop from the previous base commit coverage
      - type: patch
        target: 90 # every PR opened should strive for at least 90% coverage

  individual_components:
    - component_id: package-agent
      name: agent
      paths: ["packages/agent/**"]

    - component_id: package-api
      name: api
      paths: ["packages/api/**"]

    - component_id: package_common
      name: common
      paths: ["packages/common/**"]

    - component_id: package_credentials
      name: credentials
      paths: ["packages/credentials/**"]

    - component_id: package_crypto
      name: crypto
      paths: ["packages/crypto/**"]

    - component_id: package_dids
      name: dids
      paths: ["packages/dids/**"]

    - component_id: package-identity-agent
      name: identity-agent
      paths: ["packages/identity-agent/**"]

    - component_id: package-crypto-aws-kms
      name: crypto-aws-kms
      paths: ["packages/crypto-aws-kms/**"]

    - component_id: package-proxy-agent
      name: proxy-agent
      paths: ["packages/proxy-agent/**"]

    - component_id: package-user-agent
      name: user-agent
      paths: ["packages/user-agent/**"]

coverage:
  status:
    project:
      default:
        informational: true
    patch:
      default:
        informational: true # Don't gate PRs based on Codecov passing thresholds

Rename DidKeySet to PortableDid and add uri
  packages/dids/old/src/dht.ts
  packages/dids/old/src/did-dht.ts
  packages/dids/old/tests/dht.spec.ts
  packages/dids/old/tests/did-dht.spec.ts
  packages/dids/src/methods/did-dht.ts
  packages/dids/src/methods/did-ion.ts
  packages/dids/src/methods/did-jwk.ts
  packages/dids/src/methods/did-key.ts
  packages/dids/src/methods/did-method.ts
  packages/dids/src/types.ts
  packages/dids/tests/did-dht.spec.ts
  packages/dids/tests/did-jwk.spec.ts
Due: dids

Reorganize tests and reintroduce DidResolver
  packages/dids/old/src/did-ion.ts
  packages/dids/old/src/did-key.ts
  packages/dids/old/tests/did-ion.spec.ts
  packages/dids/src/did-resolver.ts
  packages/dids/src/methods/did-dht.ts
  packages/dids/src/methods/did-jwk.ts
  packages/dids/src/methods/did-method.ts
  packages/dids/src/methods/did-web.ts
  packages/dids/src/resolver/did-resolver.ts
  packages/dids/src/resolver/resolver-cache-noop.ts
  packages/dids/src/types.ts
  packages/dids/src/types/did-core.ts
  packages/dids/tests/fixtures/test-vectors/did-resolver/resolve.json
  packages/dids/tests/methods/did-dht.spec.ts
  packages/dids/tests/methods/did-jwk.spec.ts
  packages/dids/tests/methods/did-method.spec.ts
  packages/dids/tests/methods/did-web.spec.ts
  packages/dids/tests/resolver/did-resolver.spec.ts
Due: dids

Update package-lock.json
  package-lock.json
Due: none

Rename P256 to Secp256r1 and add minimal tests
  packages/crypto/src/index.ts
  packages/crypto/src/primitives/secp256r1.ts
  packages/crypto/tests/primitives/secp256r1.spec.ts
Due: crypto

Add docs for undocumented methods
  packages/dids/src/did-error.ts
  packages/dids/src/methods/did-dht.ts
  packages/dids/src/methods/did-jwk.ts
Due: dids

Finish reintroducing DID resolvers
  packages/dids/old/src/did-resolver.ts
  packages/dids/old/src/resolver-cache-level.ts
  packages/dids/old/src/resolver-cache-noop.ts
  packages/dids/old/tests/did-resolver.spec.ts
  packages/dids/src/methods/did-key.ts
  packages/dids/src/resolver/resolver-cache-level.ts
  packages/dids/tests/fixtures/test-vectors/did-resolver.ts
  packages/dids/tests/resolver/did-resolver.spec.ts
  packages/dids/tests/resolver/resolver-cache-level.spec.ts
  packages/dids/tests/resolver/resolver-cache-noop.spec.ts
Due: dids

Support secp256k1 as an algorithm identifier for generateKey()
  package-lock.json
  packages/crypto/package.json
  packages/crypto/src/algorithms/ecdsa.ts
  packages/crypto/src/local-kms-crypto.ts
  packages/crypto/src/types/key-generator.ts
  packages/crypto/tests/algorithms/ecdsa.spec.ts
  packages/crypto/tests/local-kms-crypto.spec.ts
  packages/dids/package.json
  packages/dids/src/methods/did-dht.ts
  packages/dids/src/methods/did-key.ts
  packages/dids/tests/methods/did-dht.spec.ts
  packages/dids/tests/methods/did-jwk.spec.ts
Due: crypto, dids

Improve support for secp256r1
  packages/crypto/src/algorithms/ecdsa.ts
  packages/crypto/src/local-kms-crypto.ts
  packages/crypto/tests/algorithms/ecdsa.spec.ts
  packages/dids/src/methods/did-dht.ts
  packages/dids/tests/methods/did-dht.spec.ts
Due: crypto, dids

Rename to LocalKeyManager & AwsKeyManager and improve docs
  package-lock.json
  packages/crypto-aws-kms/package.json
  packages/crypto-aws-kms/src/ecdsa.ts
  packages/crypto-aws-kms/src/index.ts
  packages/crypto-aws-kms/src/key-manager.ts
  packages/crypto-aws-kms/tests/ecdsa.spec.ts
  packages/crypto-aws-kms/tests/key-manager.spec.ts
  packages/crypto/src/index.ts
  packages/crypto/src/jose/jwe.ts
  packages/crypto/src/jose/jwk.ts
  packages/crypto/src/jose/jws.ts
  packages/crypto/src/local-key-manager.ts
  packages/crypto/src/primitives/concat-kdf.ts
  packages/crypto/src/primitives/secp256k1.ts
  packages/crypto/src/primitives/secp256r1.ts
  packages/crypto/src/primitives/xchacha20-poly1305.ts
  packages/crypto/src/types/params-kms.ts
  packages/crypto/tests/local-key-manager.spec.ts
  packages/crypto/tests/primitives/concat-kdf.spec.ts
  packages/crypto/tests/primitives/secp256k1.spec.ts
  packages/crypto/tests/primitives/secp256r1.spec.ts
  packages/crypto/tests/primitives/xchacha20-poly1305.spec.ts
  packages/dids/src/methods/did-dht.ts
  packages/dids/src/methods/did-ion.ts
  packages/dids/src/methods/did-jwk.ts
  packages/dids/src/methods/did-key.ts
  packages/dids/src/methods/did-method.ts
  packages/dids/src/types/did-core.ts
  packages/dids/tests/methods/did-dht.spec.ts
  packages/dids/tests/methods/did-jwk.spec.ts
  packages/dids/tests/methods/did-method.spec.ts
Due: crypto, dids, crypto-aws-kms

Fix Ed25519.validatePublicKey method signature
  packages/crypto/src/primitives/ed25519.ts
  packages/crypto/tests/primitives/ed25519.spec.ts
Due: crypto

Refactor of DID Key
  packages/crypto/src/index.ts
  packages/crypto/src/jose.ts
  packages/crypto/src/utils.ts
  packages/crypto/tests/fixtures/test-vectors/jose.ts
  packages/crypto/tests/fixtures/test-vectors/jwk.ts
  packages/crypto/tests/jose.spec.ts
  packages/crypto/tests/jose/jwk.spec.ts
  packages/crypto/tests/utils.spec.ts
  packages/dids/src/methods/did-dht.ts
  packages/dids/src/methods/did-jwk.ts
  packages/dids/src/methods/did-key.ts
  packages/dids/tests/methods/did-key.spec.ts
Due: crypto, dids

Complete implementation of DID Key
  packages/dids/old/src/did-key.ts
  packages/dids/old/tests/did-key.spec.ts
  packages/dids/src/methods/did-dht.ts
  packages/dids/src/methods/did-jwk.ts
  packages/dids/src/methods/did-key.ts
  packages/dids/src/methods/did-method.ts
  packages/dids/tests/fixtures/test-vectors/did-key.ts
  packages/dids/tests/methods/did-jwk.spec.ts
  packages/dids/tests/methods/did-key.spec.ts
  packages/dids/tests/methods/did-method.spec.ts
Due: dids

Add role-based record tests, fix for cloned obj issue
  packages/agent/src/dwn-manager.ts
  packages/api/src/record.ts
  packages/api/tests/dwn-api.spec.ts
  packages/api/tests/fixtures/protocol-definitions/photos.json
  packages/api/tests/record.spec.ts
Due: agent, api

Updated protocol config, added elaborate role tests
  packages/api/tests/dwn-api.spec.ts
  packages/api/tests/fixtures/protocol-definitions/photos.json
Due: api

optional target for send
  packages/api/src/record.ts
Due: api

Pass option to initial write processing
  packages/api/src/record.ts
Due: api

guard store options
  packages/api/src/record.ts
Due: api

Store/Import Typing Updates (#388)
  packages/api/src/record.ts
Due: api

fix lint
  packages/api/src/record.ts
Due: api

Add new test for updating with existing role in play
  packages/api/tests/dwn-api.spec.ts
  packages/api/tests/fixtures/protocol-definitions/photos.json
Due: api

remove errant only() in tests
  packages/api/tests/dwn-api.spec.ts
Due: api

Add test for changing the protocol role that a record is being updated with
  packages/api/tests/dwn-api.spec.ts
  packages/api/tests/fixtures/protocol-definitions/photos.json
Due: api

Remove only() from test
  packages/api/tests/dwn-api.spec.ts
Due: api

method dyping more consistant
  packages/api/src/record.ts
  packages/api/tests/dwn-api.spec.ts
  packages/api/tests/record.spec.ts
Due: api

Added comments and removed TODO
  packages/api/src/record.ts
  packages/api/tests/record.spec.ts
Due: api

clean up types, use web5/common removeUndefinedProperties
  packages/agent/src/dwn-manager.ts
  packages/api/src/record.ts
Due: agent, api

Add comment about send()'s new features
  packages/api/src/record.ts
Due: api

Delete unused test
  packages/api/tests/record.spec.ts
Due: api

Add comments to store/import and other functions added to Record class
  packages/api/src/record.ts
Due: api

add code comments to make Frank smile
  packages/api/src/record.ts
Due: api

use new gh macos m1 runner
  .github/workflows/tests-ci.yml
Due: none

simplifcation of records class
  packages/api/src/record.ts
Due: api

rename record options to reflect signing/storing
  packages/agent/src/dwn-manager.ts
  packages/agent/src/types/agent.ts
  packages/agent/tests/sync-manager.spec.ts
  packages/api/src/record.ts
Due: agent, api

some more cleanup
  packages/agent/tests/sync-manager.spec.ts
  packages/api/src/record.ts
Due: agent, api

fix playwright cache key
  .github/workflows/tests-ci.yml
Due: none

node tests dont need to build browser bundles
  .github/workflows/tests-ci.yml
Due: none

rebalance
  .github/workflows/tests-ci.yml
Due: none

Add KeyCompressor type to @web5/crypto
  packages/crypto/src/index.ts
  packages/crypto/src/types/key-compressor.ts
Due: crypto

Complete refactor of DidIon
  packages/dids/old/src/did-ion.ts
  packages/dids/old/tests/did-ion.spec.ts
  packages/dids/src/index.ts
  packages/dids/src/methods/did-dht.ts
  packages/dids/src/methods/did-ion.ts
  packages/dids/src/methods/did-jwk.ts
  packages/dids/src/methods/did-key.ts
  packages/dids/src/methods/did-method.ts
  packages/dids/src/resolver/did-resolver.ts
  packages/dids/src/resolver/resolver-cache-level.ts
  packages/dids/src/types.ts
  packages/dids/src/types/did-core.ts
  packages/dids/tests/fixtures/test-vectors/did-ion/create.ts
  packages/dids/tests/fixtures/test-vectors/did-ion/resolve.ts
  packages/dids/tests/fixtures/test-vectors/did-ion/to-keys.ts
  packages/dids/tests/methods/did-dht.spec.ts
  packages/dids/tests/methods/did-ion.spec.ts
  packages/dids/tests/methods/did-key.spec.ts
Due: dids

Complete adding secp256r1 test vectors
  packages/crypto/tests/fixtures/test-vectors/secp256r1/bytes-to-private-key.json
  packages/crypto/tests/fixtures/test-vectors/secp256r1/bytes-to-public-key.json
  packages/crypto/tests/fixtures/test-vectors/secp256r1/get-curve-points.json
  packages/crypto/tests/fixtures/test-vectors/secp256r1/private-key-to-bytes.json
  packages/crypto/tests/fixtures/test-vectors/secp256r1/public-key-to-bytes.json
  packages/crypto/tests/fixtures/test-vectors/secp256r1/validate-private-key.json
  packages/crypto/tests/fixtures/test-vectors/secp256r1/validate-public-key.json
  packages/crypto/tests/primitives/secp256r1.spec.ts
Due: crypto
