Repository TBD54566975/web5-js: changes, and which Codecov flags are due for each by the changed paths.
All: agent, api, common, credentials, crypto, dids, identity-agent, crypto-aws-kms, proxy-agent, user-agent

codecov.yml:

comment:
  layout: "header, diff, components"

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto # auto compares coverage to the previous base commit
        threshold: 5% # allows a 5% drop from the previous base commit coverage
      - type: patch
        target: 90

  individual_components:
    - component_id: package-agent
      name: agent
      paths: ["packages/agent/**"]

    - component_id: package-api
      name: api
      paths: ["packages/api/**"]

    - component_id: package_common
      name: common
      paths: ["packages/common/**"]

    - component_id: package_credentials
      name: credentials
      paths: ["packages/credentials/**"]

    - component_id: package_crypto
      name: crypto
      paths: ["packages/crypto/**"]

    - component_id: package_dids
      name: dids
      paths: ["packages/dids/**"]

    - component_id: package-identity-agent
      name: identity-agent
      paths: ["packages/identity-agent/**"]

    - component_id: package-crypto-aws-kms
      name: crypto-aws-kms
      paths: ["packages/crypto-aws-kms/**"]

    - component_id: package-proxy-agent
      name: proxy-agent
      paths: ["packages/proxy-agent/**"]

    - component_id: package-user-agent
      name: user-agent
      paths: ["packages/user-agent/**"]

coverage:
  status:
    project:
      default:
        informational: true
    patch:
      default:
        informational: true # Don't gate PRs based on Codecov passing thresholds
        if_ci_failed: success

disable rule until typedoc is bumped
  .github/workflows/docs-ci.yml
  packages/crypto/src/utils.ts
Due: crypto

Revert "cleanup crypto utils (#830)"
  .changeset/friendly-carrots-return.md
  packages/agent/src/dwn-api.ts
  packages/agent/src/dwn-registrar.ts
  packages/agent/src/prototyping/clients/http-dwn-rpc-client.ts
  packages/agent/src/prototyping/clients/json-rpc-socket.ts
  packages/agent/src/prototyping/clients/web-socket-clients.ts
  packages/agent/src/prototyping/crypto/jose/jwe-flattened.ts
  packages/agent/src/rpc-client.ts
  packages/agent/tests/crypto-api.spec.ts
  packages/agent/tests/local-key-manager.spec.ts
  packages/agent/tests/prototyping/clients/json-rpc-socket.spec.ts
  packages/agent/tests/rpc-client.spec.ts
  packages/agent/tests/sync-engine-level.spec.ts
  packages/api/tests/utils/test-data-generator.ts
  packages/credentials/src/verifiable-credential.ts
  packages/credentials/src/verifiable-presentation.ts
  packages/crypto/README.md
  packages/crypto/package.json
  packages/crypto/src/index.ts
  packages/crypto/src/utils.ts
  packages/crypto/tests/algorithms/aes-ctr.spec.ts
  packages/crypto/tests/algorithms/aes-gcm.spec.ts
  packages/crypto/tests/utils.spec.ts
  packages/dids/src/bearer-did.ts
Due: agent, api, credentials, crypto, dids

renable typedoc
  .github/workflows/docs-ci.yml
  packages/crypto/src/utils.ts
Due: crypto

Update docs-ci.yml
  .github/workflows/docs-ci.yml
Due: none

update codeowners
  CODEOWNERS
Due: none

Update CODEOWNERS
  CODEOWNERS
Due: none

introduce wallet connect (#713)
  .changeset/flat-students-compare.md
  .github/workflows/docs-ci.yml
  .github/workflows/reports.yml
  .github/workflows/tests-ci.yml
  .vscode/settings.json
  CODEOWNERS
  bin/corepack
  codecov.yml
  eslint.config.cjs
  examples/wallet-connect.html
  package.json
  packages/agent/.mocharc.json
  packages/agent/package.json
  packages/agent/src/connect.ts
  packages/agent/src/index.ts
  packages/agent/src/oidc.ts
  packages/agent/src/prototyping/clients/json-rpc.ts
  packages/agent/src/test-harness.ts
  packages/agent/src/utils.ts
  packages/agent/tests/connect.spec.ts
  packages/api/package.json
  packages/api/src/web5.ts
  packages/api/tests/web5.spec.ts
  packages/credentials/package.json
  packages/crypto-aws-kms/package.json
  packages/crypto/package.json
  packages/crypto/src/index.ts
  packages/crypto/src/utils.ts
  packages/crypto/tests/utils.spec.ts
  packages/dids/package.json
  packages/identity-agent/package.json
  packages/proxy-agent/package.json
  packages/user-agent/package.json
  pnpm-lock.yaml
  tsconfig.json
Due: agent, api, credentials, crypto, dids, identity-agent, crypto-aws-kms, proxy-agent, user-agent

cleanup crypto utils (#830)
  .changeset/friendly-carrots-return.md
  packages/agent/src/dwn-api.ts
  packages/agent/src/dwn-registrar.ts
  packages/agent/src/prototyping/clients/http-dwn-rpc-client.ts
  packages/agent/src/prototyping/clients/json-rpc-socket.ts
  packages/agent/src/prototyping/clients/web-socket-clients.ts
  packages/agent/src/prototyping/crypto/jose/jwe-flattened.ts
  packages/agent/src/rpc-client.ts
  packages/agent/tests/crypto-api.spec.ts
  packages/agent/tests/local-key-manager.spec.ts
  packages/agent/tests/prototyping/clients/json-rpc-socket.spec.ts
  packages/agent/tests/rpc-client.spec.ts
  packages/agent/tests/sync-engine-level.spec.ts
  packages/api/tests/utils/test-data-generator.ts
  packages/credentials/src/verifiable-credential.ts
  packages/credentials/src/verifiable-presentation.ts
  packages/crypto/README.md
  packages/crypto/package.json
  packages/crypto/src/index.ts
  packages/crypto/src/utils.ts
  packages/crypto/tests/algorithms/aes-ctr.spec.ts
  packages/crypto/tests/algorithms/aes-gcm.spec.ts
  packages/crypto/tests/utils.spec.ts
  packages/dids/src/bearer-did.ts
Due: agent, api, credentials, crypto, dids

bump dwn server
  package.json
  packages/dev-env/docker-compose.yaml
  pnpm-lock.yaml
Due: none

first pass at connect flow and grants api
  .changeset/fuzzy-baboons-own.md
  .changeset/silly-poets-sing.md
  package.json
  packages/agent/src/dwn-api.ts
  packages/agent/src/identity-api.ts
  packages/agent/src/types/dwn.ts
  packages/agent/src/types/identity.ts
  packages/agent/tests/connected-permissions.spec.ts
  packages/agent/tests/did-api.spec.ts
  packages/agent/tests/dwn-api.spec.ts
  packages/agent/tests/dwn-permissions-util.spec.ts
  packages/agent/tests/identity-api.spec.ts
  packages/api/src/dwn-api.ts
  packages/api/src/web5.ts
  packages/api/tests/dwn-api.spec.ts
  packages/api/tests/web5.spec.ts
  packages/dev-env/docker-compose.yaml
  pnpm-lock.yaml
Due: agent, api

permission grant flow for agent/identities
  packages/agent/src/dwn-api.ts
  packages/agent/src/hd-identity-vault.ts
  packages/agent/src/store-data-protocols.ts
  packages/agent/src/store-data.ts
  packages/agent/src/types/identity-vault.ts
Due: agent

refactor into smaller modules, fetching the grants, matchig the grant, singing as owner delegate
  packages/agent/src/dwn-api.ts
  packages/agent/src/hd-identity-vault.ts
  packages/agent/src/store-data-protocols.ts
  packages/agent/src/store-data.ts
  packages/agent/src/types/identity-vault.ts
Due: agent

use permissions with records in DwnApi
  packages/api/src/dwn-api.ts
Due: api

mock connect flow
  packages/api/src/web5.ts
Due: api

stub and test connect with permissions
  packages/api/src/dwn-api.ts
  packages/api/src/web5.ts
  packages/api/tests/web5.spec.ts
Due: api

mocked connect flow without sync
  packages/api/src/dwn-api.ts
  packages/api/tests/web5.spec.ts
Due: api

added isConnected method to platform agent
  packages/agent/src/types/agent.ts
  packages/agent/tests/utils/test-agent.ts
Due: agent

add isConnected to user, proxy and identity agents
  packages/identity-agent/src/identity-agent.ts
  packages/proxy-agent/src/proxy-agent.ts
  packages/user-agent/src/user-agent.ts
Due: identity-agent, proxy-agent, user-agent

add isConnected functionality
  packages/api/src/web5.ts
  packages/api/tests/web5.spec.ts
Due: api

update typedoc requirements
  packages/api/src/dwn-api.ts
Due: api

identity api `connectedIdentity` method in place of `isConnected`
  packages/agent/src/types/agent.ts
  packages/agent/tests/utils/test-agent.ts
  packages/identity-agent/src/identity-agent.ts
  packages/proxy-agent/src/proxy-agent.ts
  packages/user-agent/src/user-agent.ts
Due: agent, identity-agent, proxy-agent, user-agent

break out processing grants for connect into separate function, handle edge cases
  packages/api/tests/web5.spec.ts
Due: api

update tests, move methods to concise grants api
  packages/api/src/web5.ts
  packages/api/tests/web5.spec.ts
Due: api

additional test coverage, move mocked connect into temp file to ignore test covrage
  packages/api/.c8rc.json
  packages/api/src/temp.ts
  packages/api/src/web5.ts
  packages/api/tests/web5.spec.ts
Due: api

refactor api grants interfaces
  packages/api/tests/web5.spec.ts
Due: api

simplify grants interface, update tests
  packages/api/src/dwn-api.ts
  packages/api/tests/web5.spec.ts
Due: api

include test for multiple identities race conditions
  packages/api/tests/web5.spec.ts
Due: api

slight refactor/reording of connect flow, comments and more consistent naming
  packages/api/src/web5.ts
  packages/api/tests/web5.spec.ts
Due: api

slight refactor/reording of connect flow, comments and more consistent naming
  packages/api/tests/web5.spec.ts
Due: api

review comments for delegateDid, update dwn-server to latest
  packages/api/src/web5.ts
  packages/api/tests/web5.spec.ts
Due: api

PermissionsApi in agent, grants API for web5
  .changeset/gold-lamps-obey.md
  .changeset/polite-days-wash.md
  packages/agent/src/dwn-api.ts
  packages/agent/src/dwn-permissions-util.ts
  packages/agent/src/index.ts
  packages/agent/src/permissions-api.ts
  packages/agent/src/test-harness.ts
  packages/agent/src/types/agent.ts
  packages/agent/src/types/dwn.ts
  packages/agent/src/types/permissions.ts
  packages/agent/tests/connected-permissions.spec.ts
  packages/agent/tests/dwn-api.spec.ts
  packages/agent/tests/dwn-permissions-util.spec.ts
  packages/agent/tests/permissions-api.spec.ts
  packages/agent/tests/utils/grants.ts
  packages/agent/tests/utils/test-agent.ts
  packages/api/.c8rc.json
  packages/api/src/dwn-api.ts
  packages/api/src/grant-revocation.ts
  packages/api/src/index.ts
  packages/api/src/permission-grant.ts
  packages/api/src/permission-request.ts
  packages/api/src/temp.ts
  packages/api/src/web5.ts
  packages/api/tests/dwn-api.spec.ts
  packages/api/tests/permission-grant.spec.ts
  packages/api/tests/permission-request.spec.ts
  packages/api/tests/web5.spec.ts
  packages/identity-agent/src/identity-agent.ts
  packages/identity-agent/tests/identity-agent.spec.ts
  packages/proxy-agent/src/proxy-agent.ts
  packages/proxy-agent/tests/proxy-agent.spec.ts
  packages/user-agent/src/user-agent.ts
  packages/user-agent/tests/user-agent.spec.ts
Due: agent, api, identity-agent, proxy-agent, user-agent

fix api bump
  .changeset/flat-students-compare.md
  .changeset/friendly-carrots-return.md
Due: none

fix changesets for crypto and dids release
  .changeset/flat-students-compare.md
  package.json
  packages/dev-env/docker-compose.yaml
  pnpm-lock.yaml
Due: none

Update packages/dev-env/docker-compose.yaml
  packages/dev-env/docker-compose.yaml
Due: none

fix changesets for crypto and dids release (#839)
  .changeset/flat-students-compare.md
  package.json
  packages/dev-env/docker-compose.yaml
  pnpm-lock.yaml
Due: none

add me as codeowner
  CODEOWNERS
Due: none

update codeowners (#841)
  CODEOWNERS
Due: none

readd recover code
  packages/api/src/web5.ts
Due: api
