Repository TBD54566975/web5-js: changes, and which Codecov flags are due for each by the changed paths.
All: agent, api, common, credentials, crypto, dids, identity-agent, crypto-aws-kms, proxy-agent, user-agent

add back level.js
  packages/agent/src/level.js
Due: agent

allow verification method Id to be defined by the user
  .changeset/nervous-dingos-appear.md
  packages/dids/src/methods/did-dht.ts
  packages/dids/tests/methods/did-dht.spec.ts
Due: dids

make previous toDNSPacket and fromDNSPacket tests more e2e
  packages/dids/tests/methods/did-dht.spec.ts
Due: dids

add DNS Packet e2e test for custom VM controller
  packages/dids/tests/methods/did-dht.spec.ts
Due: dids

explicit equality for `k0` DNS Record ID
  packages/dids/src/methods/did-dht.ts
Due: dids

add back crypto randompin
  packages/crypto/src/utils.ts
Due: crypto

add back test for randomPin
  packages/crypto/tests/utils.spec.ts
Due: crypto

Reintroduce ability to specify custom Verification Method IDs in `did:dht` (#637)
  .changeset/nervous-dingos-appear.md
  packages/dids/src/methods/did-dht.ts
  packages/dids/tests/methods/did-dht.spec.ts
Due: dids

update readme
  packages/credentials/README.md
  packages/credentials/src/status-list-credential.ts
  packages/credentials/tests/status-list-credential.spec.ts
Due: credentials

When a JWT is created, the alg is set to EdDSA and if not specified, the DID DHT implementation will insert an alg of Ed25519 if the kty is Ed25519
  packages/credentials/src/jwt.ts
Due: credentials

DID DHT Vector 3 Compliance (#636)
  .changeset/modern-cobras-serve.md
  packages/api/src/web-features.ts
  packages/dids/package.json
  packages/dids/src/did-error.ts
  packages/dids/src/methods/did-dht.ts
  packages/dids/tests/fixtures/test-vectors/did-dht/vector-2.json
  packages/dids/tests/fixtures/test-vectors/did-dht/vector-3.json
  packages/dids/tests/methods/did-dht.spec.ts
  packages/dids/tests/methods/did-ion.spec.ts
  packages/dids/tests/methods/did-jwk.spec.ts
  packages/dids/tests/methods/did-key.spec.ts
  pnpm-lock.yaml
Due: api, dids

update readme (#640)
  packages/credentials/README.md
  packages/credentials/src/status-list-credential.ts
  packages/credentials/tests/status-list-credential.spec.ts
Due: credentials

Disabled DID DHT vector 3 test + fail on warning for docs generation
  .github/workflows/docs-ci.yml
  packages/dids/tests/methods/did-dht.spec.ts
Due: dids

Disabled DID DHT vector 3 test + fail on warning for docs generation (#643)
  .github/workflows/docs-ci.yml
  packages/dids/tests/methods/did-dht.spec.ts
Due: dids

update identity-agent, proxy-agent and user-agent to use the latest agent v0.3.7
  packages/identity-agent/package.json
  packages/proxy-agent/package.json
  packages/user-agent/package.json
  pnpm-lock.yaml
Due: identity-agent, proxy-agent, user-agent

remove incorrect version upgrades from CHANGELOG of agent, identity-agent, proxy-agent and user-agent
  packages/agent/CHANGELOG.md
  packages/identity-agent/CHANGELOG.md
  packages/proxy-agent/CHANGELOG.md
  packages/user-agent/CHANGELOG.md
Due: agent, identity-agent, proxy-agent, user-agent

bump cred package and add changeset
  .changeset/healthy-bottles-dress.md
  packages/credentials/package.json
  packages/credentials/src/jwt.ts
  packages/credentials/tests/verifiable-credential.spec.ts
  pnpm-lock.yaml
Due: credentials

lint
  packages/credentials/src/jwt.ts
Due: credentials

update summary
  .changeset/healthy-bottles-dress.md
Due: none

update pnpm
  pnpm-lock.yaml
Due: none

upgrade agents
  package.json
  packages/agent/package.json
  packages/agent/src/utils.ts
  packages/dev-env/docker-compose.yaml
  packages/identity-agent/package.json
  packages/proxy-agent/package.json
  packages/user-agent/package.json
  pnpm-lock.yaml
Due: agent, identity-agent, proxy-agent, user-agent

add changeset
  .changeset/tough-numbers-notice.md
Due: none

upgrade `@web5/api` to latest `@web5/agent` `v0.3.7`
  packages/api/package.json
  packages/api/tests/record.spec.ts
  pnpm-lock.yaml
Due: api

add changeset
  .changeset/fresh-mayflies-cross.md
Due: none

add test for record pruning
  packages/api/tests/dwn-api.spec.ts
Due: api

add tests for RecordsWriteMessage, fix linting errors
  packages/agent/tests/utils.spec.ts
  packages/api/tests/dwn-api.spec.ts
Due: agent, api

update dev dependency using dwn-sdk-js
  packages/api/package.json
  pnpm-lock.yaml
Due: api

Update `@web5/agent` to consume `dwn-sdk-js` `v0.3.5` (#644)
  .changeset/fresh-mayflies-cross.md
  .changeset/tough-numbers-notice.md
  package.json
  packages/agent/package.json
  packages/agent/src/utils.ts
  packages/agent/tests/utils.spec.ts
  packages/api/package.json
  packages/api/tests/dwn-api.spec.ts
  packages/api/tests/record.spec.ts
  packages/dev-env/docker-compose.yaml
  packages/identity-agent/package.json
  packages/proxy-agent/package.json
  packages/user-agent/package.json
  pnpm-lock.yaml
Due: agent, api, identity-agent, proxy-agent, user-agent

update internal dependencies
  packages/api/package.json
  packages/identity-agent/package.json
  packages/proxy-agent/package.json
  packages/user-agent/package.json
  pnpm-lock.yaml
Due: api, identity-agent, proxy-agent, user-agent

fix space between @ and handle in CODEOWNERS file
  CODEOWNERS
Due: none

fix space between @ and handle in CODEOWNERS file (#646)
  CODEOWNERS
Due: none

add delete method to record class, add tests for delete state
  packages/api/src/record.ts
  packages/api/tests/record.spec.ts
Due: api

respect delete record state
  packages/api/src/record.ts
  packages/api/tests/record.spec.ts
Due: api

add a method to indicate whether a record is in a deleted state
  packages/api/src/record.ts
Due: api

organize record getter properties, increase coverage with tests
  packages/api/src/record.ts
  packages/api/tests/record.spec.ts
Due: api

fix JS docs
  packages/api/src/record.ts
Due: api

increase coverage for deleted records when calling store/import
  packages/api/src/record.ts
  packages/api/tests/record.spec.ts
Due: api

increase coverage for Records toString() method
  packages/api/tests/record.spec.ts
Due: api

increase coverage around updating records
  packages/api/tests/record.spec.ts
Due: api

clean up imports, update docs and comments, increase coverage
  packages/api/src/record.ts
  packages/api/tests/record.spec.ts
Due: api

Path conditions:
  agent: any of: packages/agent/**
  api: any of: packages/api/**
  common: any of: packages/common/**
  credentials: any of: packages/credentials/**
  crypto: any of: packages/crypto/**
  dids: any of: packages/dids/**
  identity-agent: any of: packages/identity-agent/**
  crypto-aws-kms: any of: packages/crypto-aws-kms/**
  proxy-agent: any of: packages/proxy-agent/**
  user-agent: any of: packages/user-agent/**
