Repository TBD54566975/web5-js: changes, and which Codecov flags are due for each by the changed paths.
All: common, credentials, crypto, dids, web5, web5-agent, web5-proxy-agent, web5-user-agent

codecov.yml:

comment:
  layout: "header, diff, components"

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto # auto compares coverage to the previous base commit
        threshold: 5% # allows a 5% drop from the previous base commit coverage
      - type: patch
        target: 100 # every PR opened should strive for full test coverage

  individual_components:
    - component_id: package_common
      name: common
      paths: ["packages/common/**"]

    - component_id: package_credentials
      name: credentials
      paths: ["packages/credentials/**"]

    - component_id: package_crypto
      name: crypto
      paths: ["packages/crypto/**"]

    - component_id: package_dids
      name: dids
      paths: ["packages/dids/**"]

    - component_id: package-web5
      name: web5
      paths: ["packages/web5/**"]

    - component_id: package-web5-agent
      name: web5-agent
      paths: ["packages/web5-agent/**"]

    - component_id: package-web5-proxy-agent
      name: web5-proxy-agent
      paths: ["packages/web5-proxy-agent/**"]

    - component_id: package-web5-user-agent
      name: web5-user-agent
      paths: ["packages/web5-user-agent/**"]

coverage:
  status:
    project:
      default:
        informational: true
    patch:
      default:
        informational: true # Don't gate PRs based on Codecov passing thresholds

Bump api and identity-agent package versions
  package-lock.json
  packages/api/package.json
  packages/identity-agent/package.json
Due: none

Bump dwn-sdk-js version to 0.2.6 and fix bugs (#290)
  package-lock.json
  packages/agent/.vscode/launch.json
  packages/agent/package.json
  packages/agent/src/dwn-manager.ts
  packages/agent/src/types/agent.ts
  packages/agent/tests/test-config.ts
  packages/api/package.json
  packages/api/src/dwn-api.ts
  packages/api/src/record.ts
  packages/api/tests/dwn-api.spec.ts
  packages/api/tests/record.spec.ts
  packages/api/tests/test-config.ts
  packages/crypto/src/jose.ts
  packages/dev-env/docker-compose.yaml
  packages/identity-agent/package.json
  packages/identity-agent/src/identity-agent.ts
  packages/proxy-agent/package.json
  packages/proxy-agent/src/proxy-agent.ts
  packages/user-agent/package.json
Due: crypto

failing tests
  packages/agent/tests/sync-manager.spec.ts
Due: none

add filter property for RecordsRead within sync manager
  packages/agent/src/sync-manager.ts
Due: none

Rebase, fix response type for RecordsRead messages, and improve type safety
  packages/agent/src/dwn-manager.ts
  packages/agent/src/rpc-client.ts
  packages/agent/src/sync-manager.ts
  packages/agent/tests/sync-manager.spec.ts
Due: none

Incorrect MessageOptions for `RecordsRead` requests in sync manager. (#297)
  packages/agent/src/dwn-manager.ts
  packages/agent/src/rpc-client.ts
  packages/agent/src/sync-manager.ts
  packages/agent/tests/sync-manager.spec.ts
Due: none

Improve Type safety now that RecordsReadReply is part of DwnResponse
  packages/agent/tests/dwn-manager.spec.ts
  packages/api/src/record.ts
Due: none

Improve test coverage by ensuring that the DWN query record size limit is imported from DWN SDK
  packages/api/src/dwn-api.ts
  packages/api/tests/record.spec.ts
Due: none

Fix bug caused by RecordsRead now taking a filter property and add tests
  packages/api/src/record.ts
  packages/api/tests/record.spec.ts
Due: none

Add Snyk for Vulns and License checks (#293)
  .github/workflows/tests-ci.yml
Due: none

Add another test for delete scenario
  packages/api/tests/dwn-api.spec.ts
Due: none

Fix bug with `record.data.*` after record queries (#298)
  packages/agent/tests/dwn-manager.spec.ts
  packages/api/src/dwn-api.ts
  packages/api/src/record.ts
  packages/api/tests/dwn-api.spec.ts
  packages/api/tests/record.spec.ts
Due: none

Bump readable-stream types
  package-lock.json
  packages/agent/package.json
  packages/api/package.json
Due: none

Bump readable-stream types (#299)
  package-lock.json
  packages/agent/package.json
  packages/api/package.json
Due: none

Fix issue that was causing record.send() and record.update() issues
  packages/api/src/record.ts
  packages/api/tests/record.spec.ts
Due: none

fix Single-quoted string interpolation in src/web5.ts
  packages/api/src/web5.ts
Due: none

Fix issue that was causing record.send() and record.update() issues (#300)
  packages/api/src/record.ts
  packages/api/tests/record.spec.ts
Due: none

add memory cache when supplied cache is NOOP
  packages/dids/src/did-resolver.ts
  packages/dids/src/resolver-cache-memory.ts
  packages/dids/src/resolver-cache-noop.ts
  packages/dids/tests/resolver-cache-memory.spec.ts
  packages/identity-agent/README.md
Due: dids

fix tests
  packages/dids/src/index.ts
Due: dids

delete comment
  packages/dids/src/resolver-cache-memory.ts
Due: dids

fix Single-quoted string interpolation in src/web5.ts (#304)
  packages/api/src/web5.ts
Due: none

disable flaking test strategy
  .github/workflows/tests-ci.yml
Due: none

speed up ci
  .github/workflows/tests-ci.yml
Due: none

rerun
  .github/workflows/tests-ci.yml
Due: none

fix syncmanager to use abstractlevel
  packages/agent/src/sync-manager.ts
Due: none

fix type
  packages/agent/src/sync-manager.ts
Due: none

delete redundant test
  packages/dids/tests/resolver-cache-memory.spec.ts
Due: dids

bump dwn-sdk to v0.2.7, update ProtocolQuery tests
  package-lock.json
  packages/agent/package.json
  packages/api/package.json
  packages/api/tests/dwn-api.spec.ts
  packages/dev-env/docker-compose.yaml
Due: none

adjusting vc.create
  packages/credentials/src/verifiable-credential.ts
  packages/credentials/tests/presentation-exchange.spec.ts
  packages/credentials/tests/verifiable-credential.spec.ts
Due: credentials

update dwn to v0.2.8
  package-lock.json
  packages/agent/package.json
  packages/api/package.json
  packages/dev-env/docker-compose.yaml
Due: none

fix spec
  .web5-spec/credentials.ts
  packages/credentials/src/verifiable-credential.ts
Due: credentials

adjusting vc.create (#311)
  .web5-spec/credentials.ts
  packages/credentials/src/verifiable-credential.ts
  packages/credentials/tests/presentation-exchange.spec.ts
  packages/credentials/tests/verifiable-credential.spec.ts
Due: credentials

Split up test that was validating two scenarios and improved 401 auth failure test
  packages/api/tests/dwn-api.spec.ts
Due: none

Remove logging statement
  packages/api/tests/dwn-api.spec.ts
Due: none

Bump DWN SDK 0.2.8 (#310)
  package-lock.json
  packages/agent/package.json
  packages/api/package.json
  packages/api/tests/dwn-api.spec.ts
  packages/dev-env/docker-compose.yaml
Due: none

deflake
  .github/workflows/tests-ci.yml
  packages/agent/karma.conf.cjs
  packages/agent/tests/identity-manager.spec.ts
  packages/agent/tests/sync-manager.spec.ts
  packages/identity-agent/karma.conf.cjs
Due: none

log console and cleaner reporting
  packages/agent/karma.conf.cjs
  packages/agent/tests/app-data-vault.spec.ts
  packages/agent/tests/did-manager.spec.ts
  packages/agent/tests/dwn-manager.spec.ts
  packages/agent/tests/key-manager.spec.ts
  packages/agent/tests/kms-local.spec.ts
  packages/agent/tests/store-managed-key.spec.ts
  packages/api/karma.conf.cjs
  packages/common/karma.conf.cjs
  packages/credentials/karma.conf.cjs
  packages/crypto/karma.conf.cjs
  packages/dids/karma.conf.cjs
  packages/identity-agent/karma.conf.cjs
  packages/identity-agent/tests/identity-agent.spec.ts
  packages/identity-agent/tests/managing-identities.spec.ts
  packages/proxy-agent/karma.conf.cjs
  packages/user-agent/karma.conf.cjs
Due: common, credentials, crypto, dids

better config
  packages/agent/karma.conf.cjs
  packages/api/karma.conf.cjs
  packages/common/karma.conf.cjs
  packages/credentials/karma.conf.cjs
  packages/crypto/karma.conf.cjs
  packages/dids/karma.conf.cjs
  packages/identity-agent/karma.conf.cjs
  packages/proxy-agent/karma.conf.cjs
  packages/user-agent/karma.conf.cjs
Due: common, credentials, crypto, dids

organize imports
  packages/agent/src/sync-manager.ts
Due: none

poc: web test runner
  package-lock.json
  packages/agent/build/esbuild-tests.cjs
  packages/agent/package.json
  packages/agent/tests/did-manager.spec.ts
  packages/agent/tests/identity-manager.spec.ts
  packages/agent/tests/key-manager.spec.ts
  packages/agent/web-test-runner.config.cjs
  web5-js.code-workspace
Due: none
