Repository TBD54566975/web5-js: changes, and which Codecov flags are due for each by the changed paths.
All: agent, api, common, credentials, crypto, dids, identity-agent, crypto-aws-kms, proxy-agent, user-agent

codecov.yml:

comment:
  layout: "header, diff, components"

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto # auto compares coverage to the previous base commit
        threshold: 5% # allows a 5% drop from the previous base commit coverage
      - type: patch
        target: 90 # every PR opened should strive for at least 90% coverage

  individual_components:
    - component_id: package-agent
      name: agent
      paths: ["packages/agent/**"]

    - component_id: package-api
      name: api
      paths: ["packages/api/**"]

    - component_id: package_common
      name: common
      paths: ["packages/common/**"]

    - component_id: package_credentials
      name: credentials
      paths: ["packages/credentials/**"]

    - component_id: package_crypto
      name: crypto
      paths: ["packages/crypto/**"]

    - component_id: package_dids
      name: dids
      paths: ["packages/dids/**"]

    - component_id: package-identity-agent
      name: identity-agent
      paths: ["packages/identity-agent/**"]

    - component_id: package-crypto-aws-kms
      name: crypto-aws-kms
      paths: ["packages/crypto-aws-kms/**"]

    - component_id: package-proxy-agent
      name: proxy-agent
      paths: ["packages/proxy-agent/**"]

    - component_id: package-user-agent
      name: user-agent
      paths: ["packages/user-agent/**"]

coverage:
  status:
    project:
      default:
        informational: true
    patch:
      default:
        informational: true # Don't gate PRs based on Codecov passing thresholds

cleanup
  packages/agent/src/level.js
Due: agent

cleanup
  packages/agent/src/ws-rpc-server.js
  packages/api/src/web5.ts
Due: agent, api

updates
  packages/credentials/package.json
  packages/credentials/src/validators.ts
  packages/credentials/tests/ssi-validator.spec.ts
  packages/credentials/tests/verifiable-credential.spec.ts
Due: credentials

merge
  pnpm-lock.yaml
Due: none

did ion not supported
  packages/credentials/tests/verifiable-credential.spec.ts
Due: credentials

lint
  packages/credentials/tests/verifiable-credential.spec.ts
Due: credentials

make `rawMessage` public on the `Record` class, fix `did:ion` failure in credentails package
  packages/api/src/record.ts
  packages/credentials/tests/verifiable-credential.spec.ts
Due: api, credentials

add changeset
  .changeset/silly-taxis-pull.md
Due: none

make `rawMessage` public on the `Record` class (#745)
  .changeset/silly-taxis-pull.md
  packages/api/src/record.ts
  packages/credentials/tests/verifiable-credential.spec.ts
Due: api, credentials

Add sw cache and link features
  packages/api/src/service-worker.ts
  packages/api/src/web-features.ts
Due: api

push linted changes
  packages/api/src/web-features.ts
Due: api

Switch to contextmenu event and event loop skipping to account for touch long-press
  packages/api/src/web-features.ts
Due: api

Make TS Happy Again
  packages/api/src/web-features.ts
Due: api

Use pointerup to catch all cases, including context menu invocation.
  packages/api/src/web-features.ts
Due: api

fully skip a frame to ensure the browser has popped the context menu and locked in contextual state of the element
  packages/api/src/web-features.ts
Due: api

Add right click context menu handling
  packages/api/src/web-features.ts
Due: api

Update web feature API to export a single polyfill activation function
  packages/api/src/web-features.ts
Due: api

move function block
  packages/api/src/web-features.ts
Due: api

Skip SW install when install location missing
  packages/api/src/web-features.ts
Due: api

Fixing lint issues
  packages/api/src/web-features.ts
Due: api

Adding code comments
  packages/api/src/web-features.ts
Due: api

Add tsdoc
  packages/api/src/web-features.ts
Due: api

Add sw cache and link features (#691)
  packages/api/src/service-worker.ts
  packages/api/src/web-features.ts
Due: api

refactor clearing caches, added comment
  packages/agent/src/test-harness.ts
  packages/agent/tests/sync-engine-level.spec.ts
Due: agent

Update packages/agent/src/store-data-protocols.ts
  packages/agent/src/store-data-protocols.ts
Due: agent

simplify test harnest dwn store setup
  packages/agent/src/test-harness.ts
Due: agent

remove uneeded method
  packages/agent/src/store-data.ts
Due: agent

increase coverage
  packages/agent/tests/store-data.spec.ts
Due: agent

add comments and tests
  packages/agent/src/store-data.ts
  packages/agent/tests/store-data.spec.ts
Due: agent

clean up unecesary interface method
  packages/agent/src/store-data.ts
  packages/agent/tests/store-data.spec.ts
  packages/agent/tests/store-did.spec.ts
  packages/agent/tests/store-identity.spec.ts
  packages/agent/tests/store-key.spec.ts
Due: agent

review naming change
  packages/agent/src/store-key.ts
  packages/agent/tests/store-key.spec.ts
Due: agent

cleanup organization
  packages/agent/src/store-did.ts
  packages/agent/src/store-identity.ts
  packages/agent/src/store-key.ts
  packages/agent/tests/store-data.spec.ts
  packages/agent/tests/store-did.spec.ts
  packages/agent/tests/store-identity.spec.ts
  packages/agent/tests/store-key.spec.ts
Due: agent

protocol defined key/identity/did stores
  packages/agent/src/store-data.ts
  packages/agent/src/store-did.ts
  packages/agent/src/store-identity.ts
  packages/agent/src/store-key.ts
  packages/agent/src/store-protocol.ts
  packages/agent/src/test-harness.ts
  packages/agent/tests/store-data.spec.ts
  packages/agent/tests/store-did.spec.ts
  packages/agent/tests/store-identity.spec.ts
  packages/agent/tests/store-key.spec.ts
  packages/agent/tests/sync-engine-level.spec.ts
Due: agent

replace map with ttlcache
  packages/agent/src/store-data.ts
Due: agent

add changeset
  .changeset/shiny-students-enjoy.md
Due: none

simplified abstraction for dwn data store
  packages/agent/src/store-data-protocols.ts
  packages/agent/src/store-did.ts
  packages/agent/src/store-identity.ts
  packages/agent/src/store-key.ts
  packages/agent/src/store-protocol.ts
Due: agent

skipped tech-preview for test coverage
  packages/api/.c8rc.json
Due: api

Protocol definitions for `DwnDidStore`, `DwnKeyStore` and `DwnIdentityStore` (#743)
  .changeset/shiny-students-enjoy.md
  packages/agent/src/store-data-protocols.ts
  packages/agent/src/store-data.ts
  packages/agent/src/store-did.ts
  packages/agent/src/store-identity.ts
  packages/agent/src/store-key.ts
  packages/agent/src/test-harness.ts
  packages/agent/tests/store-data.spec.ts
  packages/agent/tests/store-did.spec.ts
  packages/agent/tests/store-identity.spec.ts
  packages/agent/tests/store-key.spec.ts
  packages/agent/tests/sync-engine-level.spec.ts
  packages/api/.c8rc.json
Due: agent, api

protocol defined key/identity/did stores
  packages/agent/src/store-data.ts
  packages/agent/src/store-protocol.ts
Due: agent

add comments and tests
  packages/agent/src/store-data.ts
Due: agent
