Repository TBD54566975/web5-js: changes, and which Codecov flags are due for each by the changed paths.
All: agent, api, common, credentials, crypto, dids, identity-agent, crypto-aws-kms, proxy-agent, user-agent

fix linting issues
  packages/agent/src/utils.ts
  packages/api/src/dwn-api.ts
  packages/api/tests/dwn-api.spec.ts
Due: agent, api

add tests for subscription
  packages/api/src/dwn-api.ts
  packages/api/tests/dwn-api.spec.ts
Due: api

remove author from constructor in tests, fix typo with incorrect self-reference
  packages/api/src/record.ts
  packages/api/tests/record.spec.ts
Due: api

update comments
  packages/api/src/dwn-api.ts
Due: api

add changesets
  .changeset/six-pandas-tell.md
Due: none

first pass at implementing the concept of a delete on a recod
  packages/api/src/dwn-api.ts
  packages/api/src/record.ts
Due: api

start subscribe implementation
  packages/api/src/dwn-api.ts
  packages/api/src/record.ts
  packages/api/tests/dwn-api.spec.ts
Due: api

add subscribe method to dwn records api
  packages/api/src/dwn-api.ts
Due: api

temp agent work to get author
  packages/agent/src/utils.ts
Due: agent

remove changeset after original base branch was merged in
  .changeset/six-pandas-tell.md
Due: none

migrate delete logic to record instance class
  packages/api/src/dwn-api.ts
  packages/api/src/record.ts
  packages/api/tests/dwn-api.spec.ts
  packages/api/tests/record.spec.ts
Due: api

linting
  packages/api/src/record.ts
Due: api

store deleted record
  packages/api/tests/record.spec.ts
Due: api

lint fixes
  packages/api/tests/record.spec.ts
Due: api

Updated a number of dependencies
  packages/common/package.json
  packages/crypto-aws-kms/package.json
  packages/crypto/package.json
  packages/dids/package.json
  packages/dids/src/resolver/resolver-cache-level.ts
  packages/dids/tests/resolver/resolver-cache-level.spec.ts
  pnpm-lock.yaml
Due: common, crypto, dids, crypto-aws-kms

Fixed tsconfig for cjs
  packages/crypto/tsconfig.cjs.json
Due: crypto

One more ts version upgrade
  packages/credentials/package.json
  packages/credentials/tsconfig.cjs.json
Due: credentials

Update dids dependency version
  packages/credentials/package.json
  pnpm-lock.yaml
Due: credentials

Fixed chai v5 changes
  packages/common/package.json
  packages/common/tests/stores.spec.ts
  packages/crypto/tests/jose/jwk.spec.ts
  packages/crypto/tests/jose/utils.spec.ts
  packages/crypto/tests/primitives/aes-ctr.spec.ts
  packages/crypto/tests/primitives/aes-gcm.spec.ts
  packages/crypto/tests/primitives/concat-kdf.spec.ts
  packages/crypto/tests/primitives/ed25519.spec.ts
  packages/crypto/tests/primitives/pbkdf2.spec.ts
  packages/crypto/tests/primitives/secp256k1.spec.ts
  packages/crypto/tests/primitives/secp256r1.spec.ts
  packages/crypto/tests/primitives/sha256.spec.ts
  packages/crypto/tests/primitives/x25519.spec.ts
  packages/crypto/tests/primitives/xchacha20-poly1305.spec.ts
  packages/crypto/tests/primitives/xchacha20.spec.ts
  pnpm-lock.yaml
Due: common, crypto

undo dids v1.0.2 dependency because it breaks
  packages/credentials/package.json
  pnpm-lock.yaml
Due: credentials

import external delete record test
  packages/api/tests/record.spec.ts
Due: api

Fixed DID DHT library regression and added tests to prevent it happening again
  packages/dids/src/methods/did-dht.ts
  packages/dids/tests/methods/did-dht.spec.ts
Due: dids

Create few-glasses-brake.md
  .changeset/few-glasses-brake.md
Due: none

Update packages/dids/src/methods/did-dht.ts
  packages/dids/src/methods/did-dht.ts
Due: dids

add ns record auth gayway parsing
  packages/dids/src/methods/did-dht.ts
Due: dids

Fixed DID DHT library regression where `kid` becomes `undefined` (#575)
  .changeset/few-glasses-brake.md
  packages/dids/src/methods/did-dht.ts
  packages/dids/tests/methods/did-dht.spec.ts
Due: dids

Updated dependencies for packages dependent by tbDEX packages (#574)
  packages/common/package.json
  packages/common/tests/stores.spec.ts
  packages/credentials/package.json
  packages/credentials/tsconfig.cjs.json
  packages/crypto-aws-kms/package.json
  packages/crypto/package.json
  packages/crypto/tests/jose/jwk.spec.ts
  packages/crypto/tests/jose/utils.spec.ts
  packages/crypto/tests/primitives/aes-ctr.spec.ts
  packages/crypto/tests/primitives/aes-gcm.spec.ts
  packages/crypto/tests/primitives/concat-kdf.spec.ts
  packages/crypto/tests/primitives/ed25519.spec.ts
  packages/crypto/tests/primitives/pbkdf2.spec.ts
  packages/crypto/tests/primitives/secp256k1.spec.ts
  packages/crypto/tests/primitives/secp256r1.spec.ts
  packages/crypto/tests/primitives/sha256.spec.ts
  packages/crypto/tests/primitives/x25519.spec.ts
  packages/crypto/tests/primitives/xchacha20-poly1305.spec.ts
  packages/crypto/tests/primitives/xchacha20.spec.ts
  packages/crypto/tsconfig.cjs.json
  packages/dids/package.json
  packages/dids/src/resolver/resolver-cache-level.ts
  packages/dids/tests/resolver/resolver-cache-level.spec.ts
  pnpm-lock.yaml
Due: common, credentials, crypto, dids, crypto-aws-kms

add break
  packages/dids/src/methods/did-dht.ts
Due: dids

Updated all packages to use ESLint v9
  .eslintrc.cjs
  eslint.config.cjs
  package.json
  packages/agent/package.json
  packages/api/package.json
  packages/common/package.json
  packages/credentials/package.json
  packages/crypto-aws-kms/eslint.config.cjs
  packages/crypto-aws-kms/package.json
  packages/crypto/eslint.config.cjs
  packages/crypto/package.json
  packages/dids/package.json
  packages/dids/tests/methods/did-dht.spec.ts
  packages/identity-agent/package.json
  packages/proxy-agent/package.json
  packages/user-agent/package.json
  pnpm-lock.yaml
Due: agent, api, common, credentials, crypto, dids, identity-agent, crypto-aws-kms, proxy-agent, user-agent

Create tricky-rockets-attend.md
  .changeset/tricky-rockets-attend.md
Due: none

Fixed lint error
  packages/common/tests/stream.spec.ts
Due: common

more lint fixes
  packages/credentials/tests/jwt.spec.ts
  packages/credentials/tests/verifiable-credential.spec.ts
Due: credentials

more lint fixes
  eslint.config.cjs
  packages/agent/tests/dwn-api.spec.ts
  packages/agent/tests/identity-api.spec.ts
  packages/agent/tests/store-data.spec.ts
  packages/agent/tests/sync-api.spec.ts
  packages/agent/tests/sync-engine-level.spec.ts
Due: agent

user-agent lint fixes
  eslint.config.cjs
Due: none

updated changeset description based on review comment
  .changeset/tricky-rockets-attend.md
Due: none

fixed api package lint errors
  packages/api/src/record.ts
  packages/api/tests/did-api.spec.ts
  packages/api/tests/utils/chai-plugins.ts
Due: api

minor update to changeset description
  .changeset/tricky-rockets-attend.md
Due: none

Opportunistic update to credentials package to use dids v1.0.3
  packages/credentials/package.json
  pnpm-lock.yaml
Due: credentials

Fixing changeset
  .changeset/purple-donkeys-marry.md
  .changeset/tricky-rockets-attend.md
Due: none

Updated all packages to use ESLint v9 (#579)
  .changeset/purple-donkeys-marry.md
  .changeset/tricky-rockets-attend.md
  .eslintrc.cjs
  eslint.config.cjs
  package.json
  packages/agent/package.json
  packages/agent/tests/dwn-api.spec.ts
  packages/agent/tests/identity-api.spec.ts
  packages/agent/tests/store-data.spec.ts
  packages/agent/tests/sync-api.spec.ts
  packages/agent/tests/sync-engine-level.spec.ts
  packages/api/package.json
  packages/api/src/record.ts
  packages/api/tests/did-api.spec.ts
  packages/api/tests/utils/chai-plugins.ts
  packages/common/package.json
  packages/common/tests/stream.spec.ts
  packages/credentials/package.json
  packages/credentials/tests/jwt.spec.ts
  packages/credentials/tests/verifiable-credential.spec.ts
  packages/crypto-aws-kms/eslint.config.cjs
  packages/crypto-aws-kms/package.json
  packages/crypto/eslint.config.cjs
  packages/crypto/package.json
  packages/dids/package.json
  packages/dids/tests/methods/did-dht.spec.ts
  packages/identity-agent/package.json
  packages/proxy-agent/package.json
  packages/user-agent/package.json
  pnpm-lock.yaml
Due: agent, api, common, credentials, crypto, dids, identity-agent, crypto-aws-kms, proxy-agent, user-agent

Path conditions:
  agent: any of: packages/agent/**
  api: any of: packages/api/**
  common: any of: packages/common/**
  credentials: any of: packages/credentials/**
  crypto: any of: packages/crypto/**
  dids: any of: packages/dids/**
  identity-agent: any of: packages/identity-agent/**
  crypto-aws-kms: any of: packages/crypto-aws-kms/**
  proxy-agent: any of: packages/proxy-agent/**
  user-agent: any of: packages/user-agent/**
