Repository TBD54566975/web5-js: changes, and which Codecov flags are due for each by the changed paths.
All: agent, api, common, credentials, crypto, dids, identity-agent, crypto-aws-kms, proxy-agent, user-agent

codecov.yml:

comment:
  layout: "header, diff, components"

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto # auto compares coverage to the previous base commit
        threshold: 5% # allows a 5% drop from the previous base commit coverage
      - type: patch
        target: 90 # every PR opened should strive for at least 90% coverage

  individual_components:
    - component_id: package-agent
      name: agent
      paths: ["packages/agent/**"]

    - component_id: package-api
      name: api
      paths: ["packages/api/**"]

    - component_id: package_common
      name: common
      paths: ["packages/common/**"]

    - component_id: package_credentials
      name: credentials
      paths: ["packages/credentials/**"]

    - component_id: package_crypto
      name: crypto
      paths: ["packages/crypto/**"]

    - component_id: package_dids
      name: dids
      paths: ["packages/dids/**"]

    - component_id: package-identity-agent
      name: identity-agent
      paths: ["packages/identity-agent/**"]

    - component_id: package-crypto-aws-kms
      name: crypto-aws-kms
      paths: ["packages/crypto-aws-kms/**"]

    - component_id: package-proxy-agent
      name: proxy-agent
      paths: ["packages/proxy-agent/**"]

    - component_id: package-user-agent
      name: user-agent
      paths: ["packages/user-agent/**"]

coverage:
  status:
    project:
      default:
        informational: true
    patch:
      default:
        informational: true # Don't gate PRs based on Codecov passing thresholds

Add right click context menu handling
  packages/api/src/web-features.ts
Due: api

push linted changes
  packages/api/src/web-features.ts
Due: api

Make TS Happy Again
  packages/api/src/web-features.ts
Due: api

Switch to contextmenu event and event loop skipping to account for touch long-press
  packages/api/src/web-features.ts
Due: api

Use pointerup to catch all cases, including context menu invocation.
  packages/api/src/web-features.ts
Due: api

fully skip a frame to ensure the browser has popped the context menu and locked in contextual state of the element
  packages/api/src/web-features.ts
Due: api

Update web feature API to export a single polyfill activation function
  packages/api/src/web-features.ts
Due: api

move function block
  packages/api/src/web-features.ts
Due: api

Skip SW install when install location missing
  packages/api/src/web-features.ts
Due: api

make testharness setup a little more readable
  packages/agent/src/test-harness.ts
Due: agent

add pollWithTTL
  packages/agent/src/utils.ts
Due: agent

add abort to pollWithTTL
  packages/agent/src/utils.ts
Due: agent

add jsdoc to pollWithTTL
  packages/agent/src/utils.ts
Due: agent

WIP
  packages/agent/src/connect-v2.ts
  packages/agent/src/oidc-v2.ts
  packages/agent/tests/connect-v2.spec.ts
  packages/api/src/web5.ts
Due: agent, api

expose web5 platform agent to Web5 instance
  packages/api/src/web5.ts
Due: api

nit: missed closing backticks in comment
  packages/api/src/web5.ts
Due: api

fix a couple of docs
  packages/agent/src/connect-v2.ts
  packages/agent/src/oidc-v2.ts
Due: agent

param style nit
  packages/agent/src/connect-v2.ts
Due: agent

fix signing and migrate kms code to newer agent code
  packages/agent/src/connect-v2.ts
  packages/agent/src/oidc-v2.ts
Due: agent

Added wallet connect options for Web5.connect()
  packages/agent/package.json
  packages/agent/src/prototyping/clients/dwn-rpc-types.ts
  packages/agent/src/sync-engine-level.ts
  packages/agent/src/types/dwn.ts
  packages/agent/tests/dwn-api.spec.ts
  packages/api/package.json
  packages/api/src/web5.ts
  pnpm-lock.yaml
Due: agent, api

use empty filters for sync `EventsQuery`
  packages/agent/src/dwn-api.ts
  packages/agent/src/sync-engine-level.ts
  packages/agent/src/test-harness.ts
Due: agent

use empty filters for sync `EventsQuery` (#695)
  packages/agent/src/dwn-api.ts
  packages/agent/src/sync-engine-level.ts
  packages/agent/src/test-harness.ts
Due: agent

Updating DWN-SERVER dependencies
  package.json
  packages/dev-env/docker-compose.yaml
  pnpm-lock.yaml
Due: none

Added protocol definition in WalletConnectOptions
  packages/agent/src/types/dwn.ts
  packages/api/src/web5.ts
Due: agent, api

minor rename
  packages/api/src/web5.ts
Due: api

Addressed npm audit vulnerability
  package.json
  packages/agent/package.json
  packages/api/package.json
  packages/common/package.json
  packages/credentials/package.json
  packages/crypto-aws-kms/package.json
  packages/crypto/package.json
  packages/dids/package.json
  packages/identity-agent/package.json
  packages/proxy-agent/package.json
  packages/user-agent/package.json
  pnpm-lock.yaml
Due: agent, api, common, credentials, crypto, dids, identity-agent, crypto-aws-kms, proxy-agent, user-agent

Added missming doc
  packages/api/src/web5.ts
Due: api

use the word "claims" rather than payload
  packages/agent/src/oidc-v2.ts
Due: agent

changeset
  .changeset/famous-otters-kick.md
  .changeset/rare-garlics-kneel.md
  packages/api/package.json
  packages/identity-agent/package.json
  packages/proxy-agent/package.json
  packages/user-agent/package.json
  pnpm-lock.yaml
Due: api, identity-agent, proxy-agent, user-agent

Adding code comments
  packages/api/src/web-features.ts
Due: api

review comments
  packages/api/src/web5.ts
Due: api

Added wallet connect options for Web5.connect() (#694)
  .changeset/famous-otters-kick.md
  .changeset/rare-garlics-kneel.md
  package.json
  packages/agent/package.json
  packages/agent/src/dwn-api.ts
  packages/agent/src/prototyping/clients/dwn-rpc-types.ts
  packages/agent/src/sync-engine-level.ts
  packages/agent/src/test-harness.ts
  packages/agent/src/types/dwn.ts
  packages/agent/tests/dwn-api.spec.ts
  packages/api/package.json
  packages/api/src/web5.ts
  packages/common/package.json
  packages/credentials/package.json
  packages/crypto-aws-kms/package.json
  packages/crypto/package.json
  packages/dev-env/docker-compose.yaml
  packages/dids/package.json
  packages/identity-agent/package.json
  packages/proxy-agent/package.json
  packages/user-agent/package.json
  pnpm-lock.yaml
Due: agent, api, common, credentials, crypto, dids, identity-agent, crypto-aws-kms, proxy-agent, user-agent

Documented api package special case for changeset
  CONTRIBUTING.md
  pnpm-lock.yaml
Due: none

minor updates
  CONTRIBUTING.md
Due: none

Documented api package special case for changeset (#710)
  CONTRIBUTING.md
  pnpm-lock.yaml
Due: none

update pex
  packages/credentials/package.json
  packages/credentials/tests/presentation-exchange.spec.ts
  pnpm-lock.yaml
Due: credentials

add changeset
  .changeset/silly-cherries-grow.md
Due: none

update pex (#712)
  .changeset/silly-cherries-grow.md
  packages/credentials/package.json
  packages/credentials/tests/presentation-exchange.spec.ts
  pnpm-lock.yaml
Due: credentials

format authServer and update code
  packages/agent/src/authServer.js
Due: agent

push up latest WIP
  packages/agent/src/connect-v2.ts
  packages/agent/src/oidc-v2.ts
  packages/agent/tests/connect-v2.spec.ts
Due: agent
