Repository TBD54566975/web5-js: changes, and which Codecov flags are due for each by the changed paths.
All: agent, api, common, credentials, crypto, dids, identity-agent, crypto-aws-kms, proxy-agent, user-agent

lint
  packages/credentials/tests/status-list-credential.spec.ts
Due: credentials

update
  packages/credentials/src/status-list-credential.ts
Due: credentials

lint
  packages/credentials/src/status-list-credential.ts
Due: credentials

updates
  packages/dids/src/methods/did-dht.ts
  packages/dids/tests/methods/did-dht.spec.ts
Due: dids

Update packages/dids/src/methods/did-dht.ts
  packages/dids/src/methods/did-dht.ts
Due: dids

update
  packages/dids/src/methods/did-dht.ts
Due: dids

take 2
  packages/credentials/package.json
  packages/credentials/src/status-list-credential.ts
  packages/credentials/src/verifiable-credential.ts
  packages/credentials/tests/status-list-credential.spec.ts
  pnpm-lock.yaml
Due: credentials

update
  pnpm-lock.yaml
Due: none

update
  packages/credentials/package.json
  pnpm-lock.yaml
Due: credentials

fixing
  packages/credentials/tests/presentation-exchange.spec.ts
Due: credentials

linter
  packages/credentials/tests/presentation-exchange.spec.ts
Due: credentials

minor refactoring
  packages/dids/src/did-error.ts
  packages/dids/src/methods/did-dht.ts
Due: dids

Add OSP Reusable Workflow for Scans (#467)
  .github/workflows/scorecard.yml
  .github/workflows/security.yml
Due: none

Fixed an ambiguous if condition
  packages/dids/src/methods/did-dht.ts
Due: dids

Reduced dependabot check interval + dependency updates
  .github/dependabot.yml
  packages/agent/package.json
  packages/api/package.json
  packages/crypto-aws-kms/package.json
  packages/crypto-aws-kms/tsconfig.cjs.json
  packages/crypto/package.json
  packages/dids/package.json
  packages/identity-agent/package.json
  packages/proxy-agent/package.json
  packages/user-agent/package.json
  pnpm-lock.yaml
Due: agent, api, crypto, dids, identity-agent, crypto-aws-kms, proxy-agent, user-agent

Reduced dependabot check interval + dependency updates (#609)
  .github/dependabot.yml
  packages/agent/package.json
  packages/api/package.json
  packages/crypto-aws-kms/package.json
  packages/crypto-aws-kms/tsconfig.cjs.json
  packages/crypto/package.json
  packages/dids/package.json
  packages/identity-agent/package.json
  packages/proxy-agent/package.json
  packages/user-agent/package.json
  pnpm-lock.yaml
Due: agent, api, crypto, dids, identity-agent, crypto-aws-kms, proxy-agent, user-agent

Updated @types/eslint dependencies across all packages
  packages/agent/package.json
  packages/api/package.json
  packages/common/package.json
  packages/credentials/package.json
  packages/crypto-aws-kms/package.json
  packages/crypto/package.json
  packages/dids/package.json
  packages/identity-agent/package.json
  packages/proxy-agent/package.json
  packages/user-agent/package.json
  pnpm-lock.yaml
Due: agent, api, common, credentials, crypto, dids, identity-agent, crypto-aws-kms, proxy-agent, user-agent

undo @playwright/test update to investigate those dependencies separately
  packages/crypto/package.json
  packages/dids/package.json
  pnpm-lock.yaml
Due: crypto, dids

Web Features (@cswildcat) (#567)
  packages/api/src/index.ts
  packages/api/src/service-worker.ts
  packages/api/src/web-features.ts
  packages/api/tsconfig.json
Due: api

Minor Refactoring to NS record PR (#608)
  packages/dids/src/did-error.ts
  packages/dids/src/methods/did-dht.ts
Due: dids

build testing
  packages/credentials/package.json
  pnpm-lock.yaml
Due: credentials

Updated @types/eslint dependencies across all packages (#633)
  packages/agent/package.json
  packages/api/package.json
  packages/common/package.json
  packages/credentials/package.json
  packages/crypto-aws-kms/package.json
  packages/crypto/package.json
  packages/dids/package.json
  packages/identity-agent/package.json
  packages/proxy-agent/package.json
  packages/user-agent/package.json
  pnpm-lock.yaml
Due: agent, api, common, credentials, crypto, dids, identity-agent, crypto-aws-kms, proxy-agent, user-agent

DID DHT Vector 3 Compliance
  packages/dids/package.json
  packages/dids/src/did-error.ts
  packages/dids/src/methods/did-dht.ts
  packages/dids/tests/fixtures/test-vectors/did-dht/vector-2.json
  packages/dids/tests/fixtures/test-vectors/did-dht/vector-3.json
  packages/dids/tests/methods/did-dht.spec.ts
  packages/dids/tests/methods/did-ion.spec.ts
  packages/dids/tests/methods/did-jwk.spec.ts
  packages/dids/tests/methods/did-key.spec.ts
  pnpm-lock.yaml
Due: dids

Create modern-cobras-serve.md
  .changeset/modern-cobras-serve.md
Due: none

Minor fixes
  packages/api/src/web-features.ts
  packages/dids/package.json
  pnpm-lock.yaml
Due: api, dids

Minor fixes
  packages/dids/package.json
  packages/dids/tests/methods/did-ion.spec.ts
  packages/dids/tests/methods/did-jwk.spec.ts
  packages/dids/tests/methods/did-key.spec.ts
  pnpm-lock.yaml
Due: dids

doc warning
  packages/credentials/src/status-list-credential.ts
Due: credentials

Exported status list related libs
  packages/credentials/src/index.ts
Due: credentials

Docs
  packages/credentials/src/status-list-credential.ts
Due: credentials

Addressed review comment
  packages/dids/src/methods/did-dht.ts
Due: dids

Status List Credential Implementation (#448)
  .changeset/cyan-laws-add.md
  packages/credentials/package.json
  packages/credentials/src/index.ts
  packages/credentials/src/status-list-credential.ts
  packages/credentials/src/verifiable-credential.ts
  packages/credentials/tests/status-list-credential.spec.ts
  pnpm-lock.yaml
Due: credentials

add back examples
  examples/assets/speech-bubble.png
  examples/blank.html
  examples/dignal.html
  examples/dwa.html
  examples/idp.html
  examples/sanjay.html
  examples/script.js
  examples/styles.css
  examples/testa.html
Due: none

add back authServer.js
  packages/agent/src/authServer.js
Due: agent

add back json-rpc changes
  packages/agent/src/prototyping/clients/json-rpc.ts
Due: agent

add back rpcserver
  packages/agent/package.json
  packages/agent/src/rpcServer.js
  pnpm-lock.yaml
Due: agent

add back utils
  packages/agent/src/utils.ts
Due: agent

add back agent exports
  packages/agent/src/index.ts
Due: agent

add back ws-rpc-server
  packages/agent/package.json
  packages/agent/src/ws-rpc-server.js
  pnpm-lock.yaml
Due: agent

add back auth-api
  packages/agent/src/auth-api.ts
Due: agent

Path conditions:
  agent: any of: packages/agent/**
  api: any of: packages/api/**
  common: any of: packages/common/**
  credentials: any of: packages/credentials/**
  crypto: any of: packages/crypto/**
  dids: any of: packages/dids/**
  identity-agent: any of: packages/identity-agent/**
  crypto-aws-kms: any of: packages/crypto-aws-kms/**
  proxy-agent: any of: packages/proxy-agent/**
  user-agent: any of: packages/user-agent/**
