Repository TBD54566975/web5-js: changes, and which Codecov flags are due for each by the changed paths.
All: agent, api, common, credentials, crypto, dids, identity-agent, crypto-aws-kms, proxy-agent, user-agent

codecov.yml:

comment:
  layout: "header, diff, components"

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto # auto compares coverage to the previous base commit
        threshold: 5% # allows a 5% drop from the previous base commit coverage
      - type: patch
        target: 90

  individual_components:
    - component_id: package-agent
      name: agent
      paths: ["packages/agent/**"]

    - component_id: package-api
      name: api
      paths: ["packages/api/**"]

    - component_id: package_common
      name: common
      paths: ["packages/common/**"]

    - component_id: package_credentials
      name: credentials
      paths: ["packages/credentials/**"]

    - component_id: package_crypto
      name: crypto
      paths: ["packages/crypto/**"]

    - component_id: package_dids
      name: dids
      paths: ["packages/dids/**"]

    - component_id: package-identity-agent
      name: identity-agent
      paths: ["packages/identity-agent/**"]

    - component_id: package-crypto-aws-kms
      name: crypto-aws-kms
      paths: ["packages/crypto-aws-kms/**"]

    - component_id: package-proxy-agent
      name: proxy-agent
      paths: ["packages/proxy-agent/**"]

    - component_id: package-user-agent
      name: user-agent
      paths: ["packages/user-agent/**"]

coverage:
  status:
    project:
      default:
        informational: true
    patch:
      default:
        informational: true # Don't gate PRs based on Codecov passing thresholds
        if_ci_failed: success

pnpm audit patch for CVE-2024-43788
  package.json
  pnpm-lock.yaml
Due: none

agent did api resolver cache
  packages/agent/package.json
  packages/agent/src/agent-did-resolver-cache.ts
  packages/agent/src/did-api.ts
  packages/agent/src/identity-api.ts
  packages/agent/src/index.ts
  packages/dids/src/resolver/resolver-cache-level.ts
  packages/dids/src/resolver/universal-resolver.ts
  packages/user-agent/src/user-agent.ts
  pnpm-lock.yaml
Due: agent, dids, user-agent

add test cases for agent did cache resolution
  packages/agent/src/agent-did-resolver-cache.ts
  packages/agent/src/identity-api.ts
  packages/agent/tests/agent-did-resolver-cach.spec.ts
Due: agent

complete coverage for AgentDidResolverCache
  packages/agent/tests/agent-did-resolver-cach.spec.ts
Due: agent

use agent did cache in test harness
  packages/agent/src/test-harness.ts
Due: agent

update hermit on alpha npm workflow
  .github/workflows/alpha-npm.yml
Due: none

simplify agent-did-resolver-cache abstraction
  audit-ci.json
  packages/agent/src/agent-did-resolver-cache.ts
  packages/agent/src/did-api.ts
Due: agent

increase TTL of values that do not change in the DwnDataStore implementation
  packages/agent/src/store-data.ts
Due: agent

fix lint issue, add comment to agent resolver cache get method
  packages/agent/src/agent-did-resolver-cache.ts
  packages/agent/src/store-data.ts
Due: agent

update max ttl to 21 days
  packages/agent/src/store-data.ts
  packages/user-agent/src/user-agent.ts
Due: agent, user-agent

changeset
  .changeset/kind-deers-burn.md
Due: none

agent did api resolver cache (#855)
  .changeset/kind-deers-burn.md
  .github/workflows/alpha-npm.yml
  audit-ci.json
  package.json
  packages/agent/package.json
  packages/agent/src/agent-did-resolver-cache.ts
  packages/agent/src/did-api.ts
  packages/agent/src/identity-api.ts
  packages/agent/src/index.ts
  packages/agent/src/store-data.ts
  packages/agent/src/test-harness.ts
  packages/agent/tests/agent-did-resolver-cach.spec.ts
  packages/dids/src/resolver/resolver-cache-level.ts
  packages/dids/src/resolver/universal-resolver.ts
  packages/user-agent/src/user-agent.ts
  pnpm-lock.yaml
Due: agent, dids, user-agent

update connect flow end-to-end
  examples/wallet-connect.html
  packages/agent/src/oidc.ts
  packages/api/src/web5.ts
Due: agent, api

update tests for processing a protocol
  packages/agent/src/connect.ts
  packages/agent/tests/connect.spec.ts
Due: agent

fix tests
  packages/agent/src/oidc.ts
  packages/agent/tests/connect.spec.ts
Due: agent

test that permission request must match the protocol definitnion
  packages/agent/tests/connect.spec.ts
Due: agent

Update connect flow (#856)
  examples/wallet-connect.html
  packages/agent/src/connect.ts
  packages/agent/src/oidc.ts
  packages/agent/tests/connect.spec.ts
  packages/api/src/web5.ts
Due: agent, api

decouple one-shot sync and interval sync
  packages/agent/src/sync-engine-level.ts
Due: agent

clean up and increase test coverage
  packages/agent/src/connect.ts
  packages/agent/tests/connect.spec.ts
  packages/agent/tests/sync-engine-level.spec.ts
  packages/api/src/web5.ts
  packages/api/tests/web5.spec.ts
Due: agent, api

add changeset
  .changeset/tall-birds-dress.md
Due: none

Conflicting Sync error. (#857)
  .changeset/tall-birds-dress.md
  packages/agent/src/connect.ts
  packages/agent/src/sync-engine-level.ts
  packages/agent/tests/connect.spec.ts
  packages/agent/tests/sync-engine-level.spec.ts
  packages/api/src/web5.ts
  packages/api/tests/web5.spec.ts
Due: agent, api

reduce did DHT usage in tests
  packages/agent/tests/cached-permissions.spec.ts
  packages/agent/tests/permissions-api.spec.ts
  packages/api/tests/dwn-api.spec.ts
  packages/api/tests/fixtures/protocol-definitions/email.json
  packages/api/tests/protocol.spec.ts
  packages/api/tests/record.spec.ts
Due: agent, api

move permission api create identity to before vs beforeEach
  packages/api/tests/permission-grant.spec.ts
  packages/api/tests/permission-request.spec.ts
Due: api

Reduce number of tests that create new `did:dht` DIDs (#860)
  packages/agent/tests/cached-permissions.spec.ts
  packages/agent/tests/permissions-api.spec.ts
  packages/api/tests/dwn-api.spec.ts
  packages/api/tests/fixtures/protocol-definitions/email.json
  packages/api/tests/permission-grant.spec.ts
  packages/api/tests/permission-request.spec.ts
  packages/api/tests/protocol.spec.ts
  packages/api/tests/record.spec.ts
Due: agent, api

Web5 agent/register did service endpoints (#741)
  packages/agent/src/hd-identity-vault.ts
  packages/api/src/web5.ts
  packages/user-agent/src/user-agent.ts
Due: agent, api, user-agent

remove unecessary abstraction
  packages/api/src/dwn-api.ts
  packages/api/src/record.ts
  packages/api/tests/dwn-api.spec.ts
Due: api

remove cached-permissions abstraction and add method to permissions api
  packages/agent/src/cached-permissions.ts
  packages/agent/src/index.ts
  packages/agent/src/permissions-api.ts
  packages/agent/src/sync-engine-level.ts
  packages/agent/src/test-harness.ts
  packages/agent/src/types/permissions.ts
  packages/agent/tests/cached-permissions.spec.ts
  packages/agent/tests/permissions-api.spec.ts
  packages/api/src/dwn-api.ts
  packages/api/src/record.ts
  packages/api/src/subscription-util.ts
  packages/api/tests/dwn-api.spec.ts
  packages/api/tests/record.spec.ts
Due: agent, api

fix using delegate grant
  packages/api/src/dwn-api.ts
  packages/api/src/record.ts
  packages/api/src/subscription-util.ts
Due: api

add comments
  packages/api/src/dwn-api.ts
  packages/api/src/record.ts
Due: api

refactor how grants are added, refactor initial write processing, add tests for subscribe
  packages/api/src/dwn-api.ts
  packages/api/src/record.ts
  packages/api/tests/dwn-api.spec.ts
  packages/api/tests/record.spec.ts
Due: api

fix update
  packages/api/src/record.ts
Due: api

update behavior for storing a delete
  packages/api/src/record.ts
  packages/api/tests/record.spec.ts
Due: api

add testing for record delegates
  packages/api/tests/did-api.spec.ts
  packages/api/tests/record.spec.ts
Due: api

cached permissions set
  packages/api/src/record.ts
Due: api

update signing as delegate owner
  packages/api/src/dwn-api.ts
  packages/api/src/record.ts
  packages/api/src/web5.ts
  packages/api/tests/record.spec.ts
Due: api

update tests
  packages/api/src/dwn-api.ts
  packages/api/src/record.ts
  packages/api/tests/dwn-api.spec.ts
  packages/api/tests/permission-grant.spec.ts
  packages/api/tests/permission-request.spec.ts
  packages/api/tests/protocol.spec.ts
  packages/api/tests/record.spec.ts
Due: api

add grant to Record class methods
  packages/api/src/record.ts
Due: api

clear cache in tests, add check to process initial write within function
  packages/agent/tests/sync-engine-level.spec.ts
  packages/api/src/record.ts
  packages/api/tests/dwn-api.spec.ts
  packages/api/tests/permission-grant.spec.ts
  packages/api/tests/permission-request.spec.ts
  packages/api/tests/protocol.spec.ts
  packages/api/tests/record.spec.ts
Due: agent, api

fix optional cache
  packages/agent/src/permissions-api.ts
Due: agent

rename getPermission to getPermissionForRequest, tested caching for getPermissionForRequest
  packages/agent/src/permissions-api.ts
  packages/agent/src/sync-engine-level.ts
  packages/agent/src/types/permissions.ts
  packages/agent/tests/permissions-api.spec.ts
  packages/api/src/dwn-api.ts
  packages/api/src/record.ts
Due: agent, api
