Repository TBD54566975/web5-js: changes, and which Codecov flags are due for each by the changed paths.
All: common, credentials, crypto, dids, web5, web5-agent, web5-proxy-agent, web5-user-agent

Per the Node.js docs, the "types" community condition definition should always be first
  packages/agent/package.json
  packages/api/package.json
  packages/common/package.json
  packages/credentials/package.json
  packages/crypto/package.json
  packages/dids/package.json
  packages/identity-agent/package.json
  packages/proxy-agent/package.json
  packages/user-agent/package.json
Due: common, credentials, crypto, dids

Adds DID ION to identity-agent Reintroduce DidResolverCache Reintroduce TechPreview hosted DWNs
  package-lock.json
  packages/agent/src/app-data-store.ts
  packages/agent/src/dwn-manager.ts
  packages/agent/src/kms-local.ts
  packages/agent/src/rpc-client.ts
  packages/agent/src/store-managed-key.ts
  packages/agent/src/test-managed-agent.ts
  packages/agent/src/types/agent.ts
  packages/agent/tests/dwn-manager.spec.ts
  packages/agent/tests/utils/test-agent.ts
  packages/api/src/tech-preview.ts
  packages/api/src/web5.ts
  packages/api/tests-old/did-resolution-cache.spec.ts
  packages/api/tests/tech-preview.spec.ts
  packages/api/tests/utils/test-data-generator.ts
  packages/api/tests/web5-dwn.spec.ts
  packages/api/tests/web5.spec.ts
  packages/crypto/build/bundles.js
  packages/crypto/package.json
  packages/crypto/src/index.ts
  packages/dids/build/bundles.js
  packages/dids/package.json
  packages/dids/src/did-ion.old
  packages/dids/src/did-ion.ts
  packages/dids/src/did-key.ts
  packages/dids/src/did-resolver.ts
  packages/dids/src/index.ts
  packages/dids/src/resolver-cache-level.ts
  packages/dids/src/resolver-cache-noop.ts
  packages/dids/tests/did-ion.spec.ts
  packages/dids/tests/did-resolver.spec.ts
  packages/dids/tests/resolver-cache-level.spec.ts
  packages/dids/tests/tech-preview.old
  packages/identity-agent/src/identity-agent.ts
  packages/proxy-agent/src/proxy-agent.ts
  packages/user-agent/src/user-agent.ts
Due: crypto, dids

Support BYO DID
  packages/api/src/web5.ts
  packages/api/tests/web5.spec.ts
Due: none

Improve test coverage for DwnApi and Record. Added missing functionality to ION DwnConfiguration.
  packages/agent/src/test-managed-agent.ts
  packages/agent/tests/dwn-manager.spec.ts
  packages/api/src/dwn-api.ts
  packages/api/src/protocol.ts
  packages/api/src/tech-preview.ts
  packages/api/src/web5.ts
  packages/api/tests/did-api.spec.ts
  packages/api/tests/dwn-api.spec.ts
  packages/api/tests/fixtures/protocol-definitions/email.json
  packages/api/tests/record.spec.ts
  packages/api/tests/tech-preview.spec.ts
  packages/api/tests/vc-api.spec.ts
  packages/api/tests/web5-dwn.spec.ts
  packages/dev-env/README.md
  packages/dids/src/did-ion.ts
  packages/dids/tests/did-ion.spec.ts
Due: dids

Addressing PR review comments
  packages/agent/package.json
  packages/agent/src/app-data-store.ts
  packages/agent/src/store-managed-did.ts
Due: none

Bump package versions
  README.md
  package-lock.json
  packages/agent/package.json
  packages/api/README.md
  packages/api/package.json
  packages/common/package.json
  packages/credentials/package.json
  packages/crypto/package.json
  packages/dids/package.json
  packages/identity-agent/package.json
  packages/proxy-agent/package.json
  packages/user-agent/package.json
Due: common, credentials, crypto, dids

Update eslint dev dependencies to be compatible with Typescript 5.1.6
  .eslintrc.cjs
  package-lock.json
  packages/agent/package.json
  packages/api/package.json
  packages/api/tests/web5-did.spec.ts
  packages/common/package.json
  packages/credentials/package.json
  packages/crypto/package.json
  packages/dids/package.json
  packages/identity-agent/package.json
  packages/proxy-agent/package.json
  packages/user-agent/package.json
Due: common, credentials, crypto, dids

Remove root package.json override now that c8 8.0.1 has addressed vulnerability
  package-lock.json
  package.json
  packages/agent/package.json
  packages/api/package.json
  packages/common/package.json
  packages/credentials/package.json
  packages/crypto/package.json
  packages/dids/package.json
  packages/identity-agent/package.json
  packages/proxy-agent/package.json
  packages/user-agent/package.json
Due: common, credentials, crypto, dids

Cherry pick test DWN URL from envvar commits from @finn-tbd PR #161
  packages/agent/karma.conf.cjs
  packages/agent/tests/dwn-manager.spec.ts
  packages/agent/tests/test-config.ts
  packages/api/karma.conf.cjs
  packages/api/tests/record.spec.ts
  packages/api/tests/test-config.ts
  packages/api/tests/web5-dwn.spec.ts
  packages/common/karma.conf.cjs
  packages/credentials/karma.conf.cjs
  packages/crypto/karma.conf.cjs
  packages/dids/karma.conf.cjs
  packages/identity-agent/karma.conf.cjs
  packages/proxy-agent/karma.conf.cjs
  packages/user-agent/karma.conf.cjs
Due: common, credentials, crypto, dids

test against a local copy of the dwn server
  .github/workflows/tests-ci.yml
  package-lock.json
  packages/agent/tests/did-manager.spec.ts
  packages/api/src/index.ts
  packages/api/tests/web5.spec.ts
  packages/dev-env/docker-compose.yaml
  packages/identity-agent/tests/managing-identities.spec.ts
Due: none

updating unit tests
  packages/credentials/tests/presentationexchange.spec.ts
Due: credentials

update tests
  packages/credentials/tests/credentialmanifest.spec.ts
  packages/credentials/tests/presentationexchange.spec.ts
  packages/credentials/tests/types.spec.ts
Due: credentials

remove unused
  packages/credentials/package.json
  packages/old/web5/tests/fixtures/test-profiles.ts
  packages/old/web5/tests/test-utils/test-user-agent.ts
Due: credentials

fixing space
  packages/old/web5/tests/test-utils/test-user-agent.ts
Due: none

adding pex credentials package to web5-js
  package-lock.json
  packages/credentials/package.json
  packages/credentials/src/index.ts
  packages/credentials/src/types.ts
  packages/credentials/src/utils.ts
  packages/credentials/tests/credentialmanifest.spec.ts
  packages/credentials/tests/example.spec.ts
  packages/credentials/tests/presentationexchange.spec.ts
  packages/credentials/tests/types.spec.ts
  packages/credentials/tests/utils.spec.ts
Due: credentials

adding credentials package to web5-js
  package-lock.json
  packages/credentials/package.json
  packages/credentials/src/index.ts
  packages/credentials/src/types.ts
  packages/credentials/src/utils.ts
  packages/credentials/tests/credentialmanifest.spec.ts
  packages/credentials/tests/example.spec.ts
  packages/credentials/tests/presentationexchange.spec.ts
  packages/credentials/tests/utils.spec.ts
  packages/credentials/tests/verifiablecredentials.spec.ts
Due: credentials

Minor formatting and code style adjustments
  packages/credentials/src/types.ts
  packages/credentials/tests/credential-manifest.spec.ts
  packages/credentials/tests/presentation-exchange.spec.ts
  packages/credentials/tests/utils.spec.ts
  packages/credentials/tests/verifiable-credentials.spec.ts
Due: credentials

Add comments to utility functions
  packages/credentials/src/utils.ts
Due: credentials

Add EdDSA alg to JWS header parameters type
  packages/crypto/src/jose.ts
Due: crypto

Pin @sphereon/pex version
  package-lock.json
  packages/credentials/package.json
Due: credentials

Use Convert from @web5/common and fix type issues
  packages/credentials/src/types.ts
  packages/credentials/tests/presentation-exchange.spec.ts
Due: credentials

Add named export for utils
  package-lock.json
  packages/credentials/build/bundles.js
  packages/credentials/package.json
  packages/credentials/src/index.ts
Due: credentials

Rewrite the PresentationExchange test to not rely on the 'agent' package
  packages/credentials/tests/presentation-exchange.spec.ts
Due: credentials

Modify alpha publishing GH Actions workflow to auto bump @web5/* dependency versions
  .github/workflows/alpha-npm.yml
  package-lock.json
  package.json
  scripts/bump-workspace.mjs
Due: none

updating with credentials ssi package
  package-lock.json
  packages/credentials/package.json
  packages/credentials/src/index.ts
  packages/credentials/src/ssi.ts
  packages/credentials/src/types.ts
  packages/credentials/src/utils.ts
  packages/credentials/tests/ssi.spec.ts
Due: credentials

update package-lock
  package-lock.json
Due: none

add browser exports
  packages/api/package.json
Due: none

update to match current version in npm registry
  packages/api/package.json
Due: none

Set package versions to match NPM Registry
  packages/agent/package.json
  packages/api/package.json
  packages/common/package.json
  packages/credentials/package.json
  packages/crypto/package.json
  packages/dids/package.json
  packages/identity-agent/package.json
  packages/proxy-agent/package.json
  packages/user-agent/package.json
  scripts/bump-workspace.mjs
Due: common, credentials, crypto, dids

Add /browser named export to @web5/api
  package-lock.json
  packages/api/package.json
Due: none

Fix bug in Alpha publish workflow
  .github/workflows/alpha-npm.yml
Due: none

Change order of workflow steps to attempt to resolve bug
  .github/workflows/alpha-npm.yml
Due: none

Fix repo url in package.json
  package.json
  packages/agent/package.json
  packages/api/package.json
  packages/common/package.json
  packages/credentials/package.json
  packages/crypto/package.json
  packages/dids/package.json
  packages/identity-agent/package.json
  packages/proxy-agent/package.json
  packages/user-agent/package.json
Due: common, credentials, crypto, dids

Test with older version of NPM
  .github/workflows/alpha-npm.yml
Due: none

Try disabling provenance
  .github/workflows/alpha-npm.yml
Due: none

Switch to using script to handle all version mods
  .github/workflows/alpha-npm.yml
  scripts/bump-workspace.mjs
Due: none

Path conditions:
  common: any of: packages/common/**
  credentials: any of: packages/credentials/**
  crypto: any of: packages/crypto/**
  dids: any of: packages/dids/**
  web5: any of: packages/web5/**
  web5-agent: any of: packages/web5-agent/**
  web5-proxy-agent: any of: packages/web5-proxy-agent/**
  web5-user-agent: any of: packages/web5-user-agent/**
