Repository TBD54566975/web5-js: changes, and which Codecov flags are due for each by the changed paths.
All: crypto, dids, web5, web5-agent, web5-proxy-agent, web5-user-agent

Bump Playwright to 1.34.3
  package-lock.json
  packages/crypto/karma.conf.cjs
  packages/crypto/package.json
  packages/dids/karma.conf.cjs
  packages/dids/package.json
  packages/web5-agent/karma.conf.cjs
  packages/web5-agent/package.json
  packages/web5-proxy-agent/karma.conf.cjs
  packages/web5-proxy-agent/package.json
  packages/web5-user-agent/karma.conf.cjs
  packages/web5-user-agent/package.json
  packages/web5/karma.conf.cjs
  packages/web5/package.json
Due: crypto, dids, web5, web5-agent, web5-proxy-agent, web5-user-agent

add vs-code plugin recommendations
  .vscode/extensions.json
Due: none

set static `Web5.did` to use no cache until `connect` is called
  packages/web5/src/web5.ts
Due: web5

Bump web5 package to 0.7.7 and remove mocha test timeouts
  .vscode/extensions.json
  README.md
  package-lock.json
  packages/web5-user-agent/tests/common/web5-user-agent.spec.ts
  packages/web5/README.md
  packages/web5/package.json
  packages/web5/tests/record.spec.ts
Due: web5, web5-user-agent

Add web5-agent Dependency To dids package
  package-lock.json
  packages/dids/package.json
Due: dids

(sync) handle pulling tombstones
  packages/web5-user-agent/src/sync-api.ts
Due: web5-user-agent

Bump web5 and web5-user-agent packages for 0.7.8 release
  README.md
  package-lock.json
  packages/web5-user-agent/package.json
  packages/web5/README.md
  packages/web5/package.json
Due: web5, web5-user-agent

Create create-site-issue.yml
  .github/workflows/create-site-issue.yml
Due: none

Create create-site-issue.yml (#111)
  .github/workflows/create-site-issue.yml
Due: none

fixing errors in Readme's API doc
  README.md
Due: none

fixing errors in Readme's API doc (#112)
  README.md
Due: none

Add alpha NPM workflow and minor updates to existing
  .github/workflows/alpha-npm.yml
  .github/workflows/create-site-issue.yml
  .github/workflows/notify-dev-site.yml
Due: none

Update contributor's guide
  CONTRIBUTING.md
Due: none

ignore non-existent message
  packages/web5-user-agent/src/sync-api.ts
Due: web5-user-agent

Remote Records Write
  packages/web5/src/dwn-api.ts
Due: web5

Update and rename notify-dev-site.yml to release-notify.yml
  .github/workflows/notify-dev-site.yml
  .github/workflows/release-notify.yml
Due: none

Update and rename notify-dev-site.yml to release-notify.yml (#118)
  .github/workflows/notify-dev-site.yml
  .github/workflows/release-notify.yml
Due: none

Fix eslint NPM scripts and migrate to root .eslintrc config
  .eslintignore
  .eslintrc.cjs
  packages/crypto/package.json
  packages/dids/.eslintrc.cjs
  packages/dids/package.json
  packages/web5-agent/.eslintrc.cjs
  packages/web5-agent/package.json
  packages/web5-proxy-agent/.eslintrc.cjs
  packages/web5-proxy-agent/package.json
  packages/web5-user-agent/.eslintrc.cjs
  packages/web5-user-agent/.eslintrcignore
  packages/web5-user-agent/package.json
  packages/web5/.eslintrc.cjs
  packages/web5/package.json
  packages/web5/src/did-resolution-cache.ts
  web5-js.code-workspace
Due: crypto, dids, web5, web5-agent, web5-proxy-agent, web5-user-agent

Fix eslint NPM scripts and migrate to root .eslintrc config (#120)
  .eslintignore
  .eslintrc.cjs
  packages/crypto/package.json
  packages/dids/.eslintrc.cjs
  packages/dids/package.json
  packages/web5-agent/.eslintrc.cjs
  packages/web5-agent/package.json
  packages/web5-proxy-agent/.eslintrc.cjs
  packages/web5-proxy-agent/package.json
  packages/web5-user-agent/.eslintrc.cjs
  packages/web5-user-agent/.eslintrcignore
  packages/web5-user-agent/package.json
  packages/web5/.eslintrc.cjs
  packages/web5/package.json
  packages/web5/src/did-resolution-cache.ts
  web5-js.code-workspace
Due: crypto, dids, web5, web5-agent, web5-proxy-agent, web5-user-agent

scaffold `web5.vc`
  packages/web5/src/vc-api.ts
  packages/web5/src/web5.ts
  packages/web5/tests/web5-vc.spec.ts
Due: web5

(credentials) Update karma browser disconnect timeout
  packages/credentials/karma.conf.cjs
Due: none

address PR comment
  packages/credentials/src/types.ts
Due: none

fix vc `@context` type
  packages/vcs/src/types.ts
Due: none

scaffold `vcs` package
  package-lock.json
  package.json
  packages/vcs/.eslintrc.cjs
  packages/vcs/.mocharc.json
  packages/vcs/build/bundles.js
  packages/vcs/build/esbuild-browser-config.cjs
  packages/vcs/karma.conf.cjs
  packages/vcs/package.json
  packages/vcs/src/main.ts
  packages/vcs/src/types.ts
  packages/vcs/tests/example.spec.ts
  packages/vcs/tsconfig.json
  packages/vcs/tsconfig.test.json
Due: none

add basic vc types
  packages/vcs/src/main.ts
  packages/vcs/src/types.ts
Due: none

Apply suggestions from code review
  packages/credentials/.mocharc.json
  packages/credentials/package.json
Due: none

change name of package from `vcs` to `credentials`
  package-lock.json
  package.json
  packages/credentials/.eslintrc.cjs
  packages/credentials/.mocharc.json
  packages/credentials/build/bundles.js
  packages/credentials/build/esbuild-browser-config.cjs
  packages/credentials/karma.conf.cjs
  packages/credentials/package.json
  packages/credentials/src/main.ts
  packages/credentials/src/types.ts
  packages/credentials/tests/example.spec.ts
  packages/credentials/tsconfig.json
  packages/credentials/tsconfig.test.json
Due: none

fix `lint` and `lint:fix` npm scripts
  packages/credentials/.eslintrc.cjs
  packages/credentials/package.json
Due: none

(credentials) update `test:node` npm script
  packages/credentials/package.json
Due: none

(vcs) fix homepage link in package.json
  packages/vcs/package.json
Due: none

(credentials) Increase mocha default timeouts to avoid browser tests failing on GitHub
  packages/credentials/karma.conf.cjs
Due: none

(vcs) add keywords to package.json
  packages/vcs/package.json
Due: none

Add c8 config file
  packages/credentials/.c8rc.json
Due: none

(credentials) update `karma.conf.cjs` to be consistent with other packages
  packages/credentials/karma.conf.cjs
Due: none

Update package-lock.json
  package-lock.json
Due: none

Path conditions:
  crypto: any of: packages/crypto/**
  dids: any of: packages/dids/**
  web5: any of: packages/web5/**
  web5-agent: any of: packages/web5-agent/**
  web5-proxy-agent: any of: packages/web5-proxy-agent/**
  web5-user-agent: any of: packages/web5-user-agent/**
