Repository TBD54566975/web5-js: changes, and which Codecov flags are due for each by the changed paths.
All: agent, api, common, credentials, crypto, dids, identity-agent, crypto-aws-kms, proxy-agent, user-agent

codecov.yml:

comment:
  layout: "header, diff, components"

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto # auto compares coverage to the previous base commit
        threshold: 5% # allows a 5% drop from the previous base commit coverage
      - type: patch
        target: 90 # every PR opened should strive for at least 90% coverage

  individual_components:
    - component_id: package-agent
      name: agent
      paths: ["packages/agent/**"]

    - component_id: package-api
      name: api
      paths: ["packages/api/**"]

    - component_id: package_common
      name: common
      paths: ["packages/common/**"]

    - component_id: package_credentials
      name: credentials
      paths: ["packages/credentials/**"]

    - component_id: package_crypto
      name: crypto
      paths: ["packages/crypto/**"]

    - component_id: package_dids
      name: dids
      paths: ["packages/dids/**"]

    - component_id: package-identity-agent
      name: identity-agent
      paths: ["packages/identity-agent/**"]

    - component_id: package-crypto-aws-kms
      name: crypto-aws-kms
      paths: ["packages/crypto-aws-kms/**"]

    - component_id: package-proxy-agent
      name: proxy-agent
      paths: ["packages/proxy-agent/**"]

    - component_id: package-user-agent
      name: user-agent
      paths: ["packages/user-agent/**"]

coverage:
  status:
    project:
      default:
        informational: true
    patch:
      default:
        informational: true # Don't gate PRs based on Codecov passing thresholds

feedback
  packages/agent/tests/server/authServer.js
Due: agent

lint issue
  packages/api/src/web-features.ts
Due: api

Added DWN Registrar utility class
  packages/agent/.c8rc.json
  packages/agent/src/dwn-registrar.ts
  packages/agent/src/utils.ts
Due: agent

Create heavy-papayas-reflect.md
  .changeset/heavy-papayas-reflect.md
Due: none

lint
  packages/agent/src/dwn-registrar.ts
Due: agent

test undefined
  packages/api/src/web-features.ts
Due: api

added comment and issue
  packages/api/src/web-features.ts
Due: api

missing awaits
  packages/agent/src/dwn-registrar.ts
Due: agent

Added DWN Registrar utility class (#765)
  .changeset/heavy-papayas-reflect.md
  packages/agent/.c8rc.json
  packages/agent/src/dwn-registrar.ts
  packages/agent/src/utils.ts
Due: agent

DWN Registration
  packages/agent/src/index.ts
  packages/api/src/web5.ts
Due: agent, api

DWN Registration flow
  packages/api/src/web5.ts
  packages/api/tests/web5.spec.ts
Due: api

docs
  packages/api/src/web5.ts
Due: api

import meta to a function (#764)
  packages/api/src/web-features.ts
Due: api

add changeset
  .changeset/bright-plums-buy.md
Due: none

call onsuccess as long as failures dont occur
  packages/api/src/web5.ts
  packages/api/tests/web5.spec.ts
Due: api

DWN Registration (#769)
  .changeset/bright-plums-buy.md
  packages/agent/src/index.ts
  packages/api/src/web5.ts
  packages/api/tests/web5.spec.ts
Due: agent, api

bring versions up to date
  package.json
  packages/agent/package.json
  packages/api/package.json
  packages/dev-env/docker-compose.yaml
  pnpm-lock.yaml
Due: agent, api

add changeset
  .changeset/old-balloons-brush.md
Due: none

Bring versions up to date with latest `dwn-sdk-js` `v0.4.3` as well as `dwn-server` (#770)
  .changeset/old-balloons-brush.md
  package.json
  packages/agent/package.json
  packages/api/package.json
  packages/dev-env/docker-compose.yaml
  pnpm-lock.yaml
Due: agent, api

testing alpha of dwn-sdk-js
  packages/agent/package.json
  packages/api/package.json
  pnpm-lock.yaml
Due: agent, api

upgrade dwn dependencies
  packages/agent/package.json
  packages/api/package.json
  packages/dev-env/docker-compose.yaml
  pnpm-lock.yaml
Due: agent, api

update dwn-server
  package.json
  pnpm-lock.yaml
Due: none

Upgrade DWN dependencies (#772)
  package.json
  packages/agent/package.json
  packages/api/package.json
  packages/dev-env/docker-compose.yaml
  pnpm-lock.yaml
Due: agent, api

update
  packages/credentials/tests/ssi-validator.spec.ts
Due: credentials

update
  packages/credentials/tests/verifiable-credential.spec.ts
Due: credentials

Resolution and Validation of VC CredentialSchema (#737)
  .changeset/famous-shrimps-hammer.md
  packages/credentials/package.json
  packages/credentials/src/validators.ts
  packages/credentials/src/verifiable-credential.ts
  packages/credentials/tests/ssi-validator.spec.ts
  packages/credentials/tests/verifiable-credential.spec.ts
  pnpm-lock.yaml
Due: credentials

merge in main
  packages/agent/package.json
  packages/agent/src/hd-identity-vault.ts
  pnpm-lock.yaml
Due: agent

revert formatting changes
  packages/api/src/web5.ts
Due: api

formatting nit
  packages/agent/src/hd-identity-vault.ts
Due: agent

typo
  packages/agent/src/hd-identity-vault.ts
Due: agent

fix logic fubar
  packages/agent/src/hd-identity-vault.ts
Due: agent

Web5.recover method
  packages/agent/src/sync-api.ts
  packages/agent/src/sync-engine-level.ts
  packages/agent/src/types/sync.ts
  packages/api/src/utils.ts
  packages/api/src/web5.ts
Due: agent, api

pass down dwnEndpoints: Web5.connect() => Web5UserAgent.initialize() => HdIdentityVault.initialize()
  packages/agent/package.json
  packages/agent/src/hd-identity-vault.ts
  packages/api/src/web5.ts
  packages/user-agent/src/user-agent.ts
  pnpm-lock.yaml
Due: agent, api, user-agent

resolve merge conflict
  packages/agent/src/oidc-v2.ts
Due: agent

feedback: client_id should contain the did
  packages/agent/src/connect-v2.ts
  packages/agent/src/oidc-v2.ts
Due: agent

improve comment about walletconnectoptions
  packages/api/src/web5.ts
Due: api

feedback: unabstract nonce creation
  packages/agent/src/connect-v2.ts
  packages/agent/src/oidc-v2.ts
Due: agent

remove unused imports
  packages/api/src/web5.ts
Due: api

feedback: slim down queryparams
  packages/agent/src/connect-v2.ts
Due: agent

Updated pnpm-lock.yaml for updated dependencies
  pnpm-lock.yaml
Due: none
