Repository TBD54566975/web5-js: changes, and which Codecov flags are due for each by the changed paths.
All: agent, api, common, credentials, crypto, dids, identity-agent, crypto-aws-kms, proxy-agent, user-agent

Update packages/credentials/src/presentation-exchange.ts
  packages/credentials/src/presentation-exchange.ts
Due: credentials

update comment
  packages/credentials/src/presentation-exchange.ts
Due: credentials

bump OSSF Scorecard action
  .github/workflows/scorecard.yml
Due: none

add api-extractor
  api-extractor.json
  packages/agent/api-extractor.json
  packages/agent/api.json
  packages/agent/api.md
  packages/api/api-extractor.json
  packages/api/api.json
  packages/api/api.md
  packages/common/api-extractor.json
  packages/common/api.json
  packages/common/api.md
  packages/credentials/api-extractor.json
  packages/crypto/api-extractor.json
  packages/dids/api-extractor.json
  packages/identity-agent/api-extractor.json
  packages/identity-agent/api.json
  packages/identity-agent/api.md
  packages/proxy-agent/api-extractor.json
  packages/proxy-agent/api.json
  packages/proxy-agent/api.md
  packages/user-agent/api-extractor.json
  packages/user-agent/api.json
  packages/user-agent/api.md
Due: agent, api, common, credentials, crypto, dids, identity-agent, proxy-agent, user-agent

add sdk-development compliance validation to CI (#291)
  .github/workflows/tests-ci.yml
  .web5-spec/Dockerfile
  .web5-spec/README.md
  .web5-spec/credentials.ts
  .web5-spec/did-ion.ts
  .web5-spec/encoders.ts
  .web5-spec/main.ts
  .web5-spec/openapi.d.ts
  .web5-spec/tsconfig.json
Due: none

Bump readable-stream types (#299)
  package-lock.json
  packages/agent/package.json
  packages/api/package.json
Due: agent, api

Add Snyk for Vulns and License checks (#293)
  .github/workflows/tests-ci.yml
Due: none

Incorrect MessageOptions for `RecordsRead` requests in sync manager. (#297)
  packages/agent/src/dwn-manager.ts
  packages/agent/src/rpc-client.ts
  packages/agent/src/sync-manager.ts
  packages/agent/tests/sync-manager.spec.ts
Due: agent

Fix bug with `record.data.*` after record queries (#298)
  packages/agent/tests/dwn-manager.spec.ts
  packages/api/src/dwn-api.ts
  packages/api/src/record.ts
  packages/api/tests/dwn-api.spec.ts
  packages/api/tests/record.spec.ts
Due: agent, api

fix Single-quoted string interpolation in src/web5.ts (#304)
  packages/api/src/web5.ts
Due: api

Fix issue that was causing record.send() and record.update() issues (#300)
  packages/api/src/record.ts
  packages/api/tests/record.spec.ts
Due: api

Bump dwn-sdk-js version to 0.2.6 and fix bugs (#290)
  package-lock.json
  packages/agent/.vscode/launch.json
  packages/agent/package.json
  packages/agent/src/dwn-manager.ts
  packages/agent/src/types/agent.ts
  packages/agent/tests/test-config.ts
  packages/api/package.json
  packages/api/src/dwn-api.ts
  packages/api/src/record.ts
  packages/api/tests/dwn-api.spec.ts
  packages/api/tests/record.spec.ts
  packages/api/tests/test-config.ts
  packages/crypto/src/jose.ts
  packages/dev-env/docker-compose.yaml
  packages/identity-agent/package.json
  packages/identity-agent/src/identity-agent.ts
  packages/proxy-agent/package.json
  packages/proxy-agent/src/proxy-agent.ts
  packages/user-agent/package.json
Due: agent, api, crypto, identity-agent, proxy-agent, user-agent

Test for did:dht signed VCs + release (#322)
  package-lock.json
  packages/api/package.json
  packages/credentials/package.json
  packages/credentials/tests/verifiable-credential.spec.ts
  packages/identity-agent/package.json
Due: api, credentials, identity-agent

adjusting vc.create (#311)
  .web5-spec/credentials.ts
  packages/credentials/src/verifiable-credential.ts
  packages/credentials/tests/presentation-exchange.spec.ts
  packages/credentials/tests/verifiable-credential.spec.ts
Due: credentials

resolve did:dht in VCs (#321)
  packages/credentials/src/verifiable-credential.ts
  packages/credentials/tests/verifiable-credential.spec.ts
Due: credentials

Support RecordsQuery pagination in Web5 (#268)
  README.md
  packages/agent/src/sync-manager.ts
  packages/api/README.md
  packages/api/src/dwn-api.ts
  packages/api/tests/dwn-api.spec.ts
Due: agent, api

Bump DWN SDK 0.2.8 (#310)
  package-lock.json
  packages/agent/package.json
  packages/api/package.json
  packages/api/tests/dwn-api.spec.ts
  packages/dev-env/docker-compose.yaml
Due: agent, api

types: fix syncmanager typedefs to use abstractlevel (#309)
  packages/agent/src/sync-manager.ts
Due: agent

Update README to remove reference to record.delete()
  README.md
  packages/api/README.md
Due: api

fix tsconfig errors (#306)
  .web5-spec/tsconfig.json
  package-lock.json
  packages/agent/src/dwn-manager.ts
  packages/agent/tsconfig.cjs.json
  packages/agent/tsconfig.json
  packages/api/tsconfig.cjs.json
  packages/api/tsconfig.json
  packages/common/tsconfig.json
  packages/credentials/tsconfig.cjs.json
  packages/credentials/tsconfig.json
  packages/crypto/tsconfig.cjs.json
  packages/crypto/tsconfig.json
  packages/dids/tsconfig.cjs.json
  packages/dids/tsconfig.json
  packages/identity-agent/tsconfig.cjs.json
  packages/identity-agent/tsconfig.json
  packages/proxy-agent/tsconfig.cjs.json
  packages/proxy-agent/tsconfig.json
  packages/user-agent/tsconfig.cjs.json
  packages/user-agent/tsconfig.json
  tsconfig.json
Due: agent, api, common, credentials, crypto, dids, identity-agent, proxy-agent, user-agent

decouple tbdocs commenter (#323)
  .github/workflows/docs-ci.yml
  .github/workflows/tbdocs-commenter.yml
  .github/workflows/tests-ci.yml
Due: none

Update tests to cover local and remote query and read edge cases
  packages/api/tests/record.spec.ts
Due: api

Fix MVP for bug
  packages/api/src/dwn-api.ts
  packages/api/src/record.ts
Due: api

Minor change to DwnApi test to remove dependency on Record class
  packages/api/tests/dwn-api.spec.ts
Due: api

Update `@web5/api` Record to use new common stream libraries
  package-lock.json
  packages/api/src/record.ts
  packages/api/tests/record.spec.ts
Due: api

Add AsyncIterable methods to Convert utility
  packages/common/src/convert.ts
  packages/common/src/type-utils.ts
  packages/common/tests/convert.spec.ts
  packages/common/tests/object.spec.ts
  packages/common/tests/type-utils.spec.ts
Due: common

Fix nested test and clean up commented out tests
  packages/common/tests/stream-node.spec.ts
Due: common

Export Readable from @web5/common
  packages/common/src/stream-node.ts
Due: common

Fix bug with multiple calls to `record.data.*` after DWN reads and queries
  packages/api/src/dwn-api.ts
  packages/api/src/record.ts
  packages/api/tests/record.spec.ts
Due: api

Add common capabilities for working with WHATWG and Node.js Streams
  packages/common/package.json
  packages/common/src/index.ts
  packages/common/src/stream-node.ts
  packages/common/src/stream.ts
  packages/common/tests/stream-node.spec.ts
  packages/common/tests/stream.spec.ts
Due: common

Add tests for record.data.stream() and fix comment indendation
  packages/api/tests/record.spec.ts
Due: api

Bump package versions in preparation for @web5/api 0.8.3 release
  README.md
  package-lock.json
  packages/agent/package.json
  packages/api/README.md
  packages/api/package.json
  packages/common/package.json
  packages/credentials/package.json
  packages/crypto/package.json
  packages/dids/package.json
  packages/identity-agent/package.json
  packages/proxy-agent/package.json
  packages/user-agent/package.json
Due: agent, api, common, credentials, crypto, dids, identity-agent, proxy-agent, user-agent

Fix tbdocs reporter errors
  packages/api/src/record.ts
Due: api

Update README with new `record.data` methods
  README.md
  packages/api/README.md
Due: api

Switch to TBD ION node due to issue with MSFT node
  packages/dids/src/did-ion.ts
  packages/dids/tests/did-ion.spec.ts
Due: dids

add api-extractor
  packages/agent/api.json
  packages/agent/api.md
  packages/api/api.json
  packages/api/api.md
  packages/common/api.json
  packages/common/api.md
Due: agent, api, common

Address request to specify did+json DID Resolution Result
  packages/dids/src/did-dht.ts
  packages/dids/tests/did-dht.spec.ts
Due: dids

Update @web5/credentials with DID DHT key set changes
  packages/credentials/tests/verifiable-credential.spec.ts
Due: credentials

Path conditions:
  agent: any of: packages/agent/**
  api: any of: packages/api/**
  common: any of: packages/common/**
  credentials: any of: packages/credentials/**
  crypto: any of: packages/crypto/**
  dids: any of: packages/dids/**
  identity-agent: any of: packages/identity-agent/**
  crypto-aws-kms: any of: packages/crypto-aws-kms/**
  proxy-agent: any of: packages/proxy-agent/**
  user-agent: any of: packages/user-agent/**
