Repository TBD54566975/web5-js: changes, and which Codecov flags are due for each by the changed paths.
All: agent, api, common, credentials, crypto, dids, identity-agent, crypto-aws-kms, proxy-agent, user-agent

fix ci
  .github/workflows/reports.yml
  .github/workflows/tests-ci.yml
Due: none

Delete authServer.js
  packages/agent/tests/server/authServer.js
Due: agent

test ci
  .github/workflows/reports.yml
  .github/workflows/tests-ci.yml
Due: none

fix build order
  packages/agent/package.json
  packages/api/package.json
  packages/credentials/package.json
  packages/crypto-aws-kms/package.json
  packages/dids/package.json
  packages/identity-agent/package.json
  packages/proxy-agent/package.json
  packages/user-agent/package.json
  pnpm-lock.yaml
Due: agent, api, credentials, dids, identity-agent, crypto-aws-kms, proxy-agent, user-agent

fix cve
  package.json
Due: none

fix eslint
  eslint.config.cjs
  packages/agent/src/test-harness.ts
Due: agent

bump lockfile
  pnpm-lock.yaml
Due: none

feedback
  packages/agent/src/oidc.ts
Due: agent

use dwn server default port
  package.json
  packages/agent/tests/connect.spec.ts
  pnpm-lock.yaml
Due: agent

Update flat-students-compare.md
  .changeset/flat-students-compare.md
Due: none

Update docs-ci.yml
  .github/workflows/docs-ci.yml
Due: none

stub globalthis fetch
  packages/agent/tests/connect.spec.ts
Due: agent

Update tests-ci.yml
  .github/workflows/tests-ci.yml
Due: none

fix regex
  packages/agent/tests/connect.spec.ts
Due: agent

cleanup
  packages/agent/package.json
  packages/agent/src/index.ts
  pnpm-lock.yaml
Due: agent

cleanup
  .github/workflows/docs-ci.yml
  .github/workflows/docs-publish.yml
  .github/workflows/reports.yml
  .github/workflows/tests-ci.yml
  packages/api/src/web5.ts
Due: api

add some patch tests
  packages/api/src/web5.ts
  packages/api/tests/web5.spec.ts
Due: api

cleanup some changes
  .github/workflows/reports.yml
  .github/workflows/tests-ci.yml
Due: none

satisfy codecov patch
  packages/api/tests/web5.spec.ts
Due: api

migrate funcionality to grants util, migrate tests into their own file
  packages/agent/src/dwn-api.ts
  packages/agent/src/dwn-permissions-util.ts
  packages/agent/src/utils.ts
  packages/agent/tests/connected-permissions.spec.ts
  packages/agent/tests/dwn-permissions-util.spec.ts
Due: agent

add changeset
  .changeset/olive-windows-give.md
Due: none

export util
  packages/agent/src/index.ts
Due: agent

fix codecov bot
  codecov.yml
Due: none

latest
  examples/assets/speech-bubble.png
  examples/dwa.html
  examples/idp.html
  examples/script.js
  examples/signal.html
  examples/styles.css
  examples/twitter.html
  examples/wallet-connect.html
  packages/agent/src/connect.ts
  packages/agent/src/oidc.ts
  packages/agent/tests/connect.spec.ts
Due: agent

prettier fmt
  examples/wallet-connect.html
Due: none

Update wallet-connect.html
  examples/wallet-connect.html
Due: none

Update codecov.yml
  codecov.yml
Due: none

PermissionGrant Signing (#746)
  .changeset/olive-windows-give.md
  package.json
  packages/agent/src/dwn-api.ts
  packages/agent/src/dwn-permissions-util.ts
  packages/agent/src/index.ts
  packages/agent/src/test-harness.ts
  packages/agent/src/types/dwn.ts
  packages/agent/src/utils.ts
  packages/agent/tests/connected-permissions.spec.ts
  packages/agent/tests/dwn-api.spec.ts
  packages/agent/tests/dwn-permissions-util.spec.ts
  packages/agent/tests/identity-api.spec.ts
  packages/agent/tests/utils/grants.ts
  pnpm-lock.yaml
Due: agent

permission grant flow for agent/identities
  packages/agent/src/dwn-api.ts
  packages/agent/src/hd-identity-vault.ts
  packages/agent/src/store-data-protocols.ts
  packages/agent/src/store-data.ts
  packages/agent/src/types/identity-vault.ts
Due: agent

refactor into smaller modules, fetching the grants, matchig the grant, singing as owner delegate
  packages/agent/src/dwn-api.ts
  packages/agent/src/hd-identity-vault.ts
  packages/agent/src/store-data-protocols.ts
  packages/agent/src/store-data.ts
  packages/agent/src/types/identity-vault.ts
Due: agent

stub and test connect with permissions
  packages/api/src/dwn-api.ts
  packages/api/src/web5.ts
  packages/api/tests/web5.spec.ts
Due: api

use permissions with records in DwnApi
  packages/agent/src/types/dwn.ts
  packages/api/src/dwn-api.ts
  packages/api/tests/dwn-api.spec.ts
Due: agent, api

mocked connect flow without sync
  packages/api/src/dwn-api.ts
  packages/api/src/web5.ts
  packages/api/tests/web5.spec.ts
Due: api

mock connect flow
  packages/api/src/web5.ts
Due: api

connectedDid in identity metatdata
  packages/agent/src/types/identity.ts
Due: agent

added isConnected method to platform agent
  packages/agent/src/types/agent.ts
  packages/agent/tests/utils/test-agent.ts
Due: agent

add isConnected to user, proxy and identity agents
  packages/identity-agent/src/identity-agent.ts
  packages/proxy-agent/src/proxy-agent.ts
  packages/user-agent/src/user-agent.ts
Due: identity-agent, proxy-agent, user-agent

add isConnected functionality
  packages/api/src/dwn-api.ts
  packages/api/src/web5.ts
  packages/api/tests/web5.spec.ts
Due: api

Path conditions:
  agent: any of: packages/agent/**
  api: any of: packages/api/**
  common: any of: packages/common/**
  credentials: any of: packages/credentials/**
  crypto: any of: packages/crypto/**
  dids: any of: packages/dids/**
  identity-agent: any of: packages/identity-agent/**
  crypto-aws-kms: any of: packages/crypto-aws-kms/**
  proxy-agent: any of: packages/proxy-agent/**
  user-agent: any of: packages/user-agent/**
