Repository TBD54566975/web5-js: changes, and which Codecov flags are due for each by the changed paths.
All: agent, api, common, credentials, crypto, dids, identity-agent, crypto-aws-kms, proxy-agent, user-agent

update ci
  .github/workflows/tests-ci.yml
Due: none

updates
  packages/credentials/tests/presentation-exchange.spec.ts
  packages/credentials/tests/verifiable-credential.spec.ts
  packages/crypto/tests/primitives/ed25519.spec.ts
  packages/crypto/tests/primitives/secp256k1.spec.ts
Due: credentials, crypto

update readme
  README.md
Due: none

Update README.md
  README.md
Due: none

vp impl
  packages/credentials/src/presentation-exchange.ts
  packages/credentials/src/validators.ts
  packages/credentials/src/verifiable-presentation.ts
  packages/credentials/tests/verifiable-presentation.spec.ts
Due: credentials

update
  packages/credentials/src/presentation-exchange.ts
Due: credentials

Create Submodule (#381)
  .github/workflows/tests-ci.yml
  .gitmodules
  README.md
  packages/credentials/tests/presentation-exchange.spec.ts
  packages/credentials/tests/verifiable-credential.spec.ts
  packages/crypto/tests/primitives/ed25519.spec.ts
  packages/crypto/tests/primitives/secp256k1.spec.ts
  test-vectors/credentials/verify.json
  test-vectors/crypto_ed25519/README.md
  test-vectors/crypto_ed25519/sign.json
  test-vectors/crypto_ed25519/verify.json
  test-vectors/crypto_es256k/README.md
  test-vectors/crypto_es256k/sign.json
  test-vectors/crypto_es256k/verify.json
  test-vectors/presentation_exchange/select_credentials.json
Due: credentials, crypto

Setup CodeQL SAST
  .github/workflows/codeql.yml
Due: none

Pushing latest WIP
  packages/agent/src/dwn-manager.ts
  packages/api/src/record.ts
  packages/api/tests/record.spec.ts
Due: agent, api

WIP
  packages/agent/src/dwn-manager.ts
Due: agent

PR candidate
  packages/api/src/record.ts
  packages/api/tests/record.spec.ts
Due: api

Adding changes to src
  packages/agent/src/dwn-manager.ts
  packages/agent/src/types/agent.ts
  packages/api/src/dwn-api.ts
  packages/api/src/record.ts
Due: agent, api

Updates from branch
  packages/api/tests/fixtures/protocol-definitions/email.json
  packages/api/tests/record.spec.ts
Due: api

Rename sdk-development -> web5-spec
  .github/workflows/tests-ci.yml
Due: none

sdk-report-runner
  .github/workflows/tests-ci.yml
Due: none

Removing logging
  packages/agent/src/dwn-manager.ts
  packages/api/src/record.ts
  packages/api/tests/record.spec.ts
Due: agent, api

Add docs
  README.md
Due: none

Update based on PR feedback
  packages/agent/src/dwn-manager.ts
  packages/api/src/record.ts
  packages/api/tests/record.spec.ts
Due: agent, api

update readme
  README.md
  packages/api/tests/record.spec.ts
Due: api

Rename sdk-development -> web5-spec (#384)
  .github/workflows/tests-ci.yml
Due: none

Lock dependencies
  .github/workflows/codeql.yml
Due: none

Update Web5 Test Vectors to latest
  test-vectors/README.md
  test-vectors/credentials/README.md
  test-vectors/credentials/create.json
  test-vectors/credentials/verify.json
  test-vectors/did_jwk/README.md
  test-vectors/did_jwk/resolve.json
  test-vectors/did_web/README.md
  test-vectors/did_web/resolve.json
  test-vectors/index.html
  test-vectors/presentation_exchange/README.md
  test-vectors/presentation_exchange/create_presentation_from_credentials.json
  test-vectors/presentation_exchange/select_credentials.json
  test-vectors/vectors.schema.json
Due: none

Fix issue with c8 not reporting code coverage and bump version
  package-lock.json
  packages/agent/.c8rc.json
  packages/agent/package.json
  packages/api/.c8rc.json
  packages/api/package.json
  packages/common/.c8rc.json
  packages/common/package.json
  packages/credentials/.c8rc.json
  packages/credentials/package.json
  packages/crypto-aws-kms/.c8rc.json
  packages/crypto-aws-kms/package.json
  packages/crypto/package.json
  packages/dids/.c8rc.json
  packages/dids/package.json
  packages/identity-agent/.c8rc.json
  packages/identity-agent/package.json
  packages/proxy-agent/.c8rc.json
  packages/proxy-agent/package.json
  packages/user-agent/.c8rc.json
  packages/user-agent/package.json
Due: agent, api, common, credentials, crypto, dids, identity-agent, crypto-aws-kms, proxy-agent, user-agent

Remove unnecessary option in crypto tsconfig and enable strict mode for dids
  packages/crypto/tests/tsconfig.json
  packages/dids/tsconfig.json
Due: crypto, dids

Add JWK Set to crypto package
  packages/crypto/src/jose/jwk.ts
Due: crypto

Add did:jwk and did:web implementations
  packages/dids/src/did-resolver.ts
  packages/dids/src/did-uri.ts
  packages/dids/src/methods/did-jwk.ts
  packages/dids/src/methods/did-method.ts
  packages/dids/src/methods/did-web.ts
  packages/dids/src/types.ts
  packages/dids/src/types/did-core.ts
  packages/dids/src/utils.ts
  packages/dids/tests/did-jwk.spec.ts
  packages/dids/tests/did-uri.spec.ts
  packages/dids/tests/did-web.spec.ts
  packages/dids/tests/fixtures/test-vectors/did-utils.ts
  packages/dids/tests/utils.spec.ts
Due: dids

Add utility type to @web5/common
  packages/common/src/type-utils.ts
  packages/common/src/types.ts
  packages/dids/tests/did-jwk.spec.ts
  packages/dids/tests/did-web.spec.ts
Due: common, dids

Improve DID Utility functions
  packages/dids/src/methods/did-jwk.ts
  packages/dids/src/utils.ts
  packages/dids/tests/fixtures/test-vectors/did-utils.ts
  packages/dids/tests/fixtures/test-vectors/utils/get-verification-method-by-key.json
  packages/dids/tests/fixtures/test-vectors/utils/get-verification-method-types.json
  packages/dids/tests/fixtures/test-vectors/utils/get-verification-methods.json
  packages/dids/tests/utils.spec.ts
Due: dids

Add FixedLengthArray utility type
  packages/common/src/type-utils.ts
Due: common

Add support for Base32Z to Convert utility
  packages/common/src/convert.ts
  packages/common/tests/convert.spec.ts
Due: common

Improve JWK type
  packages/crypto/src/jose.ts
  packages/crypto/src/jose/jwk.ts
  packages/crypto/tests/algorithms/aes-ctr.spec.ts
  packages/crypto/tests/algorithms/aes-gcm.spec.ts
  packages/crypto/tests/algorithms/ecdsa.spec.ts
  packages/crypto/tests/algorithms/eddsa.spec.ts
  packages/crypto/tests/fixtures/test-vectors/jose.ts
  packages/crypto/tests/local-kms-crypto.spec.ts
  packages/crypto/tests/primitives/aes-ctr.spec.ts
Due: crypto

Add InferKeyGeneratorAlgorithm utility type
  packages/crypto/src/types/key-generator.ts
Due: crypto

Remove did-resolver dependency
  packages/dids/package.json
Due: dids

Temporarily disable old implementations
  packages/dids/old/src/dht.ts
  packages/dids/old/src/did-dht.ts
  packages/dids/old/src/did-ion.ts
  packages/dids/old/src/did-key.ts
  packages/dids/old/src/did-resolver.ts
  packages/dids/old/src/resolver-cache-level.ts
  packages/dids/old/src/resolver-cache-noop.ts
  packages/dids/old/tests/dht.spec.ts
  packages/dids/old/tests/did-dht.spec.ts
  packages/dids/old/tests/did-ion.spec.ts
  packages/dids/old/tests/did-key.spec.ts
  packages/dids/old/tests/did-resolver.spec.ts
  packages/dids/old/tests/resolver-cache-level.spec.ts
  packages/dids/src/index.ts
  packages/dids/src/methods/did-dht.ts
  packages/dids/src/methods/did-ion.ts
  packages/dids/src/methods/did-jwk.ts
  packages/dids/src/methods/did-key.ts
  packages/dids/src/methods/did-method.ts
  packages/dids/src/types/did-core.ts
  packages/dids/src/utils.ts
  packages/dids/tests/did-dht.spec.ts
  packages/dids/tests/did-jwk.spec.ts
  packages/dids/tests/did-method.spec.ts
Due: dids

Update DID JWK and DHT implementations
  packages/crypto/src/index.ts
  packages/crypto/src/primitives/p256.ts
  packages/dids/package.json
  packages/dids/src/did-error.ts
  packages/dids/src/index.ts
  packages/dids/src/methods/did-dht.ts
  packages/dids/src/methods/did-jwk.ts
  packages/dids/src/utils.ts
  packages/dids/tests/did-dht.spec.ts
  packages/dids/tests/did-jwk.spec.ts
  packages/dids/tests/did-method.spec.ts
Due: crypto, dids

Rename createFromKeys to fromKeys and change default publishing behavior
  package-lock.json
  packages/dids/src/methods/did-dht.ts
Due: dids

Update JWK and DHT implementations
  package-lock.json
  packages/agent/package.json
  packages/dids/package.json
  packages/dids/src/did-error.ts
  packages/dids/src/methods/did-dht.ts
  packages/dids/src/methods/did-jwk.ts
  packages/dids/src/methods/did-method.ts
  packages/dids/tests/did-dht.spec.ts
  packages/dids/tests/did-jwk.spec.ts
  packages/dids/tests/did-web.spec.ts
  packages/proxy-agent/package.json
  packages/user-agent/package.json
Due: agent, dids, proxy-agent, user-agent

Path conditions:
  agent: any of: packages/agent/**
  api: any of: packages/api/**
  common: any of: packages/common/**
  credentials: any of: packages/credentials/**
  crypto: any of: packages/crypto/**
  dids: any of: packages/dids/**
  identity-agent: any of: packages/identity-agent/**
  crypto-aws-kms: any of: packages/crypto-aws-kms/**
  proxy-agent: any of: packages/proxy-agent/**
  user-agent: any of: packages/user-agent/**
