Repository TBD54566975/web5-js: changes, and which Codecov flags are due for each by the changed paths.
All: common, credentials, crypto, dids, web5, web5-agent, web5-proxy-agent, web5-user-agent

add more test coverage
  packages/agent/tests/sync-manager.spec.ts
  packages/agent/tests/utils/test-agent.ts
Due: none

data size test
  packages/agent/tests/sync-manager.spec.ts
Due: none

use sinon SinonFakeTimers for sync interval test, remove multiple dwn servers from tests
  .github/workflows/tests-ci.yml
  packages/agent/src/sync-manager.ts
  packages/agent/tests/sync-manager.spec.ts
  packages/dev-env/docker-compose.yaml
Due: none

dwn sdk rebase fixes
  packages/agent/src/sync-manager.ts
  packages/agent/tests/sync-manager.spec.ts
Due: none

update test timeouts
  packages/agent/tests/sync-manager.spec.ts
Due: none

add dht method
  .gitignore
  package-lock.json
  package.json
  packages/dids/src/dht.ts
  packages/dids/src/did-dht.ts
  packages/dids/src/types.ts
  packages/dids/tests/dht.spec.ts
  packages/dids/tests/did-dht.spec.ts
Due: dids

update dep location
  package-lock.json
  package.json
  packages/dids/package.json
Due: dids

fix build
  package-lock.json
  package.json
  packages/dids/src/dht.ts
  packages/dids/src/did-dht.ts
  packages/dids/src/types.ts
  packages/dids/tests/dht.spec.ts
  packages/dids/tests/did-dht.spec.ts
Due: dids

Another one
  packages/dids/tests/did-dht.spec.ts
Due: dids

lint
  packages/dids/src/dht.ts
  packages/dids/tests/did-dht.spec.ts
Due: dids

Update dwn-sdk-js to v0.2.4
  package-lock.json
  packages/agent/package.json
  packages/api/package.json
  packages/dev-env/docker-compose.yaml
  packages/identity-agent/package.json
  packages/proxy-agent/package.json
  packages/user-agent/package.json
Due: none

Fix build
  packages/api/src/dwn-api.ts
  packages/api/src/record.ts
Due: none

able to encode as a dns packet
  package-lock.json
  packages/dids/.mocharc.json
  packages/dids/package.json
  packages/dids/src/dht.ts
  packages/dids/tests/dht.spec.ts
  packages/dids/tsconfig.json
Due: dids

dids: Add feature to DidKeyMethod to optionally return X25519 keys with key set
  packages/agent/src/connect.ts
  packages/api/src/web5.ts
  packages/dids/src/did-key.ts
Due: dids

crypto: Add randomPin() function
  packages/crypto/src/utils.ts
  packages/crypto/tests/utils.spec.ts
Due: crypto

almost reconstructed
  packages/dids/src/dht.ts
  packages/dids/tests/dht.spec.ts
Due: dids

packets
  package-lock.json
  package.json
  packages/dids/package.json
  packages/dids/src/dht.ts
  packages/dids/src/did-dht.ts
  packages/dids/tests/dht.spec.ts
Due: dids

lint
  packages/dids/src/dht.ts
  packages/dids/src/did-dht.ts
  packages/dids/tests/dht.spec.ts
Due: dids

lints
  package-lock.json
  package.json
  packages/dids/package.json
Due: dids

one more
  package.json
Due: none

fix
  package.json
Due: none

fix lints...
  package.json
Due: none

whackamole
  package-lock.json
  package.json
Due: none

one more
  package-lock.json
  package.json
  packages/dids/package.json
  packages/dids/src/types.ts
Due: dids

more
  package.json
Due: none

fix tests
  packages/dids/src/did-dht.ts
  packages/dids/tests/did-dht.spec.ts
Due: dids

Update packages/dids/src/dht.ts
  packages/dids/src/dht.ts
Due: dids

merge
  packages/dids/.mocharc.json
  packages/dids/src/dht.ts
  packages/dids/src/did-dht.ts
  packages/dids/tests/dht.spec.ts
  packages/dids/tests/did-dht.spec.ts
Due: dids

imports
  packages/dids/src/dht.ts
  packages/dids/src/did-dht.ts
Due: dids

remove deps
  package-lock.json
  package.json
  packages/dids/package.json
Due: dids

add required deps back to top level `package.json`
  package-lock.json
  package.json
Due: none

crypto: Add HKDF crypto primitive
  packages/crypto/src/crypto-primitives/hkdf.ts
  packages/crypto/src/crypto-primitives/index.ts
  packages/crypto/src/crypto-primitives/secp256k1.ts
  packages/crypto/tests/crypto-primitives.spec.ts
  packages/crypto/tests/fixtures/test-vectors/hkdf.ts
Due: crypto

crypto: Rename additionalData to associatedData to match spec and modify XChaChaPoly1305 to combine ciphertext and tag inline with most implementations
  packages/agent/src/app-data-store.ts
  packages/crypto/src/crypto-primitives/aes-gcm.ts
  packages/crypto/src/crypto-primitives/xchacha20-poly1305.ts
  packages/crypto/src/types/web5-crypto.ts
  packages/crypto/tests/crypto-primitives.spec.ts
Due: crypto

crypto: minor formatting change
  packages/crypto/src/crypto-primitives/x25519.ts
Due: crypto

crypto: Add SHA-256 implementation
  packages/agent/src/app-data-store.ts
  packages/crypto/src/crypto-primitives/index.ts
  packages/crypto/src/crypto-primitives/sha256.ts
  packages/crypto/tests/crypto-primitives.spec.ts
  packages/crypto/tests/fixtures/test-vectors/sha.ts
Due: crypto

not quite working
  package-lock.json
  packages/dids/package.json
  packages/dids/src/dht.ts
  packages/dids/src/did-dht.ts
  packages/dids/tests/dht.spec.ts
Due: dids

remove deps
  package-lock.json
  packages/dids/package.json
Due: dids

replace noble with node:crypto
  packages/agent/src/app-data-store.ts
Due: none

Generate VUK with crypto.subtle
  packages/agent/src/app-data-store.ts
Due: none

Check for crypto subtle then fallback to noble
  packages/agent/src/app-data-store.ts
Due: none

Path conditions:
  common: any of: packages/common/**
  credentials: any of: packages/credentials/**
  crypto: any of: packages/crypto/**
  dids: any of: packages/dids/**
  web5: any of: packages/web5/**
  web5-agent: any of: packages/web5-agent/**
  web5-proxy-agent: any of: packages/web5-proxy-agent/**
  web5-user-agent: any of: packages/web5-user-agent/**
