Repository TBD54566975/web5-js: changes, and which Codecov flags are due for each by the changed paths.
All: agent, api, common, credentials, crypto, dids, identity-agent, crypto-aws-kms, proxy-agent, user-agent

use logger, update tests
  packages/agent/src/agent-did-resolver-cache.ts
  packages/agent/src/local-key-manager.ts
  packages/agent/tests/agent-did-resolver-cach.spec.ts
Due: agent

add changset, fix failing test due to logger change
  .changeset/brave-cameras-reply.md
  packages/agent/tests/agent-did-resolver-cach.spec.ts
Due: agent

Agent resolver refreshes did store and cache (#914)
  .changeset/brave-cameras-reply.md
  packages/agent/src/agent-did-resolver-cache.ts
  packages/agent/src/did-api.ts
  packages/agent/src/store-data.ts
  packages/agent/tests/agent-did-resolver-cach.spec.ts
  packages/agent/tests/did-api.spec.ts
  packages/agent/tests/local-key-manager.spec.ts
  packages/agent/tests/store-data.spec.ts
  packages/dids/src/bearer-did.ts
  packages/dids/tests/bearer-did.spec.ts
Due: agent, dids

fix tests
  packages/agent/tests/connect.spec.ts
Due: agent

add changeset
  .changeset/tidy-ladybugs-lick.md
Due: none

fix linter
  packages/agent/src/oidc.ts
  packages/agent/tests/connect.spec.ts
Due: agent

initial pass at breaking up submit auth response method
  packages/agent/src/oidc.ts
  packages/agent/tests/connect.spec.ts
Due: agent

make change work with existing oidc function
  packages/agent/src/oidc.ts
  packages/agent/tests/connect.spec.ts
Due: agent

move tests to the end of the file
  packages/agent/tests/connect.spec.ts
Due: agent

revert updates tests
  packages/agent/tests/connect.spec.ts
Due: agent

get and set dwn endpoints added to identity api
  packages/agent/src/identity-api.ts
  packages/agent/src/utils.ts
  packages/agent/tests/identity-api.spec.ts
Due: agent

remove unused function
  packages/agent/src/utils.ts
Due: agent

modify tests to avoid creating new did dht dids each run
  packages/agent/tests/identity-api.spec.ts
Due: agent

return a copy for did export
  packages/agent/src/bearer-identity.ts
  packages/agent/src/identity-api.ts
  packages/dids/src/bearer-did.ts
Due: agent, dids

add changeset
  .changeset/fair-pillows-notice.md
Due: none

add doc comments
  packages/agent/src/identity-api.ts
Due: agent

Ability to get and set DWN Service Endpoints from the IdentityAPI (#953)
  .changeset/fair-pillows-notice.md
  packages/agent/src/bearer-identity.ts
  packages/agent/src/identity-api.ts
  packages/agent/src/utils.ts
  packages/agent/tests/identity-api.spec.ts
  packages/dids/src/bearer-did.ts
Due: agent, dids

make sure protocolRole persists between requests
  packages/api/src/dwn-api.ts
  packages/api/src/record.ts
  packages/api/src/subscription-util.ts
Due: api

fix linting issue
  packages/api/src/dwn-api.ts
Due: api

instatiate record object with protocol role and use it when updating/reading/querying
  packages/api/src/dwn-api.ts
  packages/api/src/record.ts
  packages/api/tests/dwn-api.spec.ts
  packages/api/tests/fixtures/protocol-definitions/photos.json
Due: api

test query and subscribe ability to read data of records
  packages/api/src/dwn-api.ts
  packages/api/tests/dwn-api.spec.ts
  packages/api/tests/fixtures/protocol-definitions/notes.json
  packages/api/tests/fixtures/protocol-definitions/photos.json
Due: api

additional test coverage for roles cases
  packages/api/src/record.ts
  packages/api/tests/dwn-api.spec.ts
  packages/api/tests/fixtures/protocol-definitions/notes.json
  packages/api/tests/record.spec.ts
Due: api

flesh out protocolRole and add helper method to extract role
  packages/agent/src/utils.ts
  packages/agent/tests/utils.spec.ts
  packages/api/src/dwn-api.ts
  packages/api/src/record.ts
Due: agent, api

update comments/refactor
  packages/api/src/record.ts
Due: api

properly test expected behavior not only expeted results, add commens to code
  packages/api/src/record.ts
  packages/api/tests/dwn-api.spec.ts
  packages/api/tests/record.spec.ts
Due: api

unused imports
  packages/api/tests/dwn-api.spec.ts
  packages/api/tests/record.spec.ts
Due: api

complete coverage
  packages/agent/tests/utils.spec.ts
Due: agent

add changeset
  .changeset/many-suns-think.md
  .changeset/slimy-mayflies-hide.md
Due: none

Ensure `protocolRole` is maintained between query/read and subscribe/read. (#954)
  .changeset/many-suns-think.md
  .changeset/slimy-mayflies-hide.md
  packages/agent/src/utils.ts
  packages/agent/tests/utils.spec.ts
  packages/api/src/dwn-api.ts
  packages/api/src/record.ts
  packages/api/src/subscription-util.ts
  packages/api/tests/dwn-api.spec.ts
  packages/api/tests/fixtures/protocol-definitions/notes.json
  packages/api/tests/record.spec.ts
Due: agent, api

records can be updated without being stored
  packages/api/src/record.ts
  packages/api/tests/record.spec.ts
Due: api

lint and remote exclusive test
  packages/api/tests/record.spec.ts
Due: api

add changeset
  .changeset/old-buckets-kiss.md
Due: none

log potential errors with sync, avoid stopping sync completely
  packages/agent/src/sync-engine-level.ts
Due: agent

test sync error thrown
  packages/agent/tests/sync-engine-level.spec.ts
Due: agent

complete test coverage
  packages/agent/tests/sync-engine-level.spec.ts
Due: agent

add changeset
  .changeset/lucky-dots-clap.md
Due: none

feat: add ok boolean to DWNResponseStatus
  packages/agent/src/types/dwn.ts
  packages/api/src/dwn-api.ts
Due: agent, api

Currently sync interval stops if there is a failure, instead log failure and wait for the interval (#958)
  .changeset/lucky-dots-clap.md
  packages/agent/src/sync-engine-level.ts
  packages/agent/tests/sync-engine-level.spec.ts
Due: agent

records can be updated without being stored (#957)
  .changeset/old-buckets-kiss.md
  packages/api/src/record.ts
  packages/api/tests/record.spec.ts
Due: api

add changesets and comments
  .changeset/shy-grapes-juggle.md
  packages/agent/src/identity-api.ts
Due: agent

Path conditions:
  agent: any of: packages/agent/**
  api: any of: packages/api/**
  common: any of: packages/common/**
  credentials: any of: packages/credentials/**
  crypto: any of: packages/crypto/**
  dids: any of: packages/dids/**
  identity-agent: any of: packages/identity-agent/**
  crypto-aws-kms: any of: packages/crypto-aws-kms/**
  proxy-agent: any of: packages/proxy-agent/**
  user-agent: any of: packages/user-agent/**
