Repository TBD54566975/web5-js: changes, and which Codecov flags are due for each by the changed paths.
All: agent, api, common, credentials, crypto, dids, identity-agent, crypto-aws-kms, proxy-agent, user-agent

send cache full coverage
  packages/api/tests/send-cache.spec.ts
Due: api

Update crypto README
  packages/crypto-aws-kms/README.md
  packages/crypto/README.md
Due: crypto, crypto-aws-kms

Correct typo, add DHT test, and remove unused file
  packages/dids/tests/fixtures/test-vectors/did-resolver/resolve.json
  packages/dids/tests/methods/did-dht.spec.ts
  packages/dids/tests/methods/did-web.spec.ts
Due: dids

updated test to have a better description and comments
  packages/api/tests/dwn-api.spec.ts
Due: api

Record.store(), Record.import(), and roles API support (#385)
  README.md
  packages/agent/src/dwn-manager.ts
  packages/agent/src/types/agent.ts
  packages/agent/tests/dwn-manager.spec.ts
  packages/api/src/dwn-api.ts
  packages/api/src/record.ts
  packages/api/src/send-cache.ts
  packages/api/tests/dwn-api.spec.ts
  packages/api/tests/fixtures/protocol-definitions/email.json
  packages/api/tests/fixtures/protocol-definitions/photos.json
  packages/api/tests/record.spec.ts
  packages/api/tests/send-cache.spec.ts
Due: agent, api

Setup CodeQL SAST (#383)
  .github/workflows/codeql.yml
Due: none

migrate to arm runner for macOS gh actions (#390)
  .github/workflows/tests-ci.yml
Due: none

Rename Did to BearerDid
  packages/dids/src/methods/did-dht.ts
  packages/dids/src/methods/did-ion.ts
  packages/dids/src/methods/did-jwk.ts
  packages/dids/src/methods/did-key.ts
  packages/dids/src/methods/did-method.ts
  packages/dids/tests/fixtures/test-vectors/did-ion/to-keys.ts
  packages/dids/tests/methods/did-method.spec.ts
Due: dids

Rename Did to BearerDid (#396)
  packages/dids/src/methods/did-dht.ts
  packages/dids/src/methods/did-ion.ts
  packages/dids/src/methods/did-jwk.ts
  packages/dids/src/methods/did-key.ts
  packages/dids/src/methods/did-method.ts
  packages/dids/tests/fixtures/test-vectors/did-ion/to-keys.ts
  packages/dids/tests/methods/did-method.spec.ts
Due: dids

Rename DidUri to Did
  packages/dids/src/did.ts
  packages/dids/src/index.ts
  packages/dids/src/methods/did-dht.ts
  packages/dids/src/methods/did-ion.ts
  packages/dids/src/methods/did-jwk.ts
  packages/dids/src/methods/did-key.ts
  packages/dids/src/methods/did-web.ts
  packages/dids/src/resolver/did-resolver.ts
  packages/dids/tests/did.spec.ts
Due: dids

Fix comments that reference DidUri
  packages/dids/src/did.ts
  packages/dids/src/methods/did-method.ts
Due: dids

Rename `DidUri` to `Did` (#400)
  packages/dids/src/did.ts
  packages/dids/src/index.ts
  packages/dids/src/methods/did-dht.ts
  packages/dids/src/methods/did-ion.ts
  packages/dids/src/methods/did-jwk.ts
  packages/dids/src/methods/did-key.ts
  packages/dids/src/methods/did-method.ts
  packages/dids/src/methods/did-web.ts
  packages/dids/src/resolver/did-resolver.ts
  packages/dids/tests/did.spec.ts
Due: dids

refactor cred signing
  package-lock.json
  packages/credentials/package.json
  packages/credentials/src/jwt.ts
  packages/credentials/src/verifiable-credential.ts
  packages/credentials/tests/jwt.spec.ts
  packages/credentials/tests/presentation-exchange.spec.ts
  packages/credentials/tests/verifiable-credential.spec.ts
Due: credentials

Break out BearerDid/PortableDid and add DidRegistrationResult
  packages/dids/src/bearer-did.ts
  packages/dids/src/index.ts
  packages/dids/src/methods/did-dht.ts
  packages/dids/src/methods/did-ion.ts
  packages/dids/src/methods/did-jwk.ts
  packages/dids/src/methods/did-key.ts
  packages/dids/src/methods/did-method.ts
  packages/dids/src/portable-did.ts
  packages/dids/src/types/did-core.ts
  packages/dids/tests/fixtures/test-vectors/did-ion/to-keys.ts
  packages/dids/tests/methods/did-dht.spec.ts
  packages/dids/tests/methods/did-jwk.spec.ts
  packages/dids/tests/methods/did-key.spec.ts
  packages/dids/tests/methods/did-method.spec.ts
Due: dids

updates
  packages/credentials/src/jwt.ts
  packages/credentials/src/verifiable-credential.ts
  packages/credentials/tests/presentation-exchange.spec.ts
  packages/credentials/tests/verifiable-credential.spec.ts
Due: credentials

fixing jwt test
  packages/credentials/src/jwt.ts
  packages/credentials/tests/jwt.spec.ts
Due: credentials

updates
  packages/credentials/README.md
  packages/credentials/tests/jwt.spec.ts
  packages/credentials/tests/presentation-exchange.spec.ts
  packages/credentials/tests/verifiable-credential.spec.ts
Due: credentials

Add typedoc report and GH Pages publishing
  .github/workflows/docs-ci.yml
  .github/workflows/docs-publish.yml
  .gitignore
  CONTRIBUTING.md
  scripts/tbdocs-check-local.sh
Due: none

Fix contributing instructions
  CONTRIBUTING.md
Due: none

new test vector
  packages/credentials/tests/presentation-exchange.spec.ts
Due: credentials

remove comment
  packages/credentials/tests/presentation-exchange.spec.ts
Due: credentials

Add dids package to the build
  .github/workflows/docs-ci.yml
  scripts/tbdocs-check-local.sh
Due: none

new unit test
  packages/credentials/tests/presentation-exchange.spec.ts
Due: credentials

Refactor DIDs package to new API design
  packages/dids/src/bearer-did.ts
  packages/dids/src/index.ts
  packages/dids/src/methods/did-dht.ts
  packages/dids/src/methods/did-ion.ts
  packages/dids/src/methods/did-jwk.ts
  packages/dids/src/methods/did-key.ts
  packages/dids/src/methods/did-method.ts
  packages/dids/src/portable-did.ts
  packages/dids/src/types/did-core.ts
  packages/dids/src/types/multibase.ts
  packages/dids/src/types/portable-did.ts
  packages/dids/src/utils.ts
  packages/dids/tests/bearer-did.spec.ts
  packages/dids/tests/fixtures/test-vectors/did-ion/to-keys.ts
  packages/dids/tests/methods/did-dht.spec.ts
  packages/dids/tests/methods/did-ion.spec.ts
  packages/dids/tests/methods/did-jwk.spec.ts
  packages/dids/tests/methods/did-key.spec.ts
  packages/dids/tests/methods/did-method.spec.ts
  packages/dids/tests/resolver/did-resolver.spec.ts
  packages/dids/tests/utils.spec.ts
Due: dids

Fix broken TSDoc links
  packages/dids/src/bearer-did.ts
  packages/dids/src/methods/did-dht.ts
  packages/dids/src/methods/did-ion.ts
  packages/dids/src/methods/did-jwk.ts
  packages/dids/src/methods/did-key.ts
Due: dids

Bump @web5/dids to 0.4.0
  package-lock.json
  packages/dids/package.json
Due: dids

Fix example comment
  packages/dids/src/methods/did-key.ts
Due: dids

Fix method mixup typos in comments
  packages/dids/src/methods/did-ion.ts
  packages/dids/src/methods/did-key.ts
Due: dids

Refactor `@web5/dids` to adopt Web5 Spec API changes (#406)
  package-lock.json
  packages/dids/package.json
  packages/dids/src/bearer-did.ts
  packages/dids/src/index.ts
  packages/dids/src/methods/did-dht.ts
  packages/dids/src/methods/did-ion.ts
  packages/dids/src/methods/did-jwk.ts
  packages/dids/src/methods/did-key.ts
  packages/dids/src/methods/did-method.ts
  packages/dids/src/types/did-core.ts
  packages/dids/src/types/multibase.ts
  packages/dids/src/types/portable-did.ts
  packages/dids/src/utils.ts
  packages/dids/tests/bearer-did.spec.ts
  packages/dids/tests/fixtures/test-vectors/did-ion/to-keys.ts
  packages/dids/tests/methods/did-dht.spec.ts
  packages/dids/tests/methods/did-ion.spec.ts
  packages/dids/tests/methods/did-jwk.spec.ts
  packages/dids/tests/methods/did-key.spec.ts
  packages/dids/tests/methods/did-method.spec.ts
  packages/dids/tests/resolver/did-resolver.spec.ts
  packages/dids/tests/utils.spec.ts
Due: dids

upgrade packages and slow test
  package-lock.json
  package.json
  packages/agent/package.json
  packages/agent/src/dwn-manager.ts
  packages/agent/tests/dwn-manager.spec.ts
  packages/agent/tests/sync-manager.spec.ts
  packages/api/package.json
  packages/api/src/dwn-api.ts
  packages/dev-env/docker-compose.yaml
  packages/user-agent/package.json
Due: agent, api, user-agent

update identity-agent
  package-lock.json
  packages/identity-agent/package.json
Due: identity-agent

update proxy-agent
  package-lock.json
  packages/proxy-agent/package.json
Due: proxy-agent

increase timeouts
  packages/agent/tests/sync-manager.spec.ts
Due: agent

Revert changes to SyncManager tests
  packages/agent/tests/sync-manager.spec.ts
Due: agent

Minor nit - import ordering
  packages/api/src/dwn-api.ts
Due: api

Rebase on main
  package-lock.json
Due: none

Add typedoc report and GH Pages publishing (#402)
  .github/workflows/docs-ci.yml
  .github/workflows/docs-publish.yml
  .gitignore
  CONTRIBUTING.md
  scripts/tbdocs-check-local.sh
Due: none

Fix docs generation
  .github/workflows/docs-publish.yml
Due: none

Fix docs generation ii
  .github/workflows/docs-publish.yml
Due: none

Path conditions:
  agent: any of: packages/agent/**
  api: any of: packages/api/**
  common: any of: packages/common/**
  credentials: any of: packages/credentials/**
  crypto: any of: packages/crypto/**
  dids: any of: packages/dids/**
  identity-agent: any of: packages/identity-agent/**
  crypto-aws-kms: any of: packages/crypto-aws-kms/**
  proxy-agent: any of: packages/proxy-agent/**
  user-agent: any of: packages/user-agent/**
