Repository TBD54566975/web5-js: changes, and which Codecov flags are due for each by the changed paths.
All: common, credentials, crypto, dids, web5, web5-agent, web5-proxy-agent, web5-user-agent

codecov.yml:

comment:
  layout: "header, diff, components"

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto # auto compares coverage to the previous base commit
        threshold: 5% # allows a 5% drop from the previous base commit coverage
      - type: patch
        target: 100 # every PR opened should strive for full test coverage

  individual_components:
    - component_id: package_common
      name: common
      paths: ["packages/common/**"]

    - component_id: package_credentials
      name: credentials
      paths: ["packages/credentials/**"]

    - component_id: package_crypto
      name: crypto
      paths: ["packages/crypto/**"]

    - component_id: package_dids
      name: dids
      paths: ["packages/dids/**"]

    - component_id: package-web5
      name: web5
      paths: ["packages/web5/**"]

    - component_id: package-web5-agent
      name: web5-agent
      paths: ["packages/web5-agent/**"]

    - component_id: package-web5-proxy-agent
      name: web5-proxy-agent
      paths: ["packages/web5-proxy-agent/**"]

    - component_id: package-web5-user-agent
      name: web5-user-agent
      paths: ["packages/web5-user-agent/**"]

coverage:
  status:
    project:
      default:
        informational: true
    patch:
      default:
        informational: true # Don't gate PRs based on Codecov passing thresholds

Added ECDH X25519 and improved tests
  packages/crypto/src/algorithms-api/crypto-algorithm.ts
  packages/crypto/src/algorithms-api/ecc/base.ts
  packages/crypto/src/algorithms-api/ecc/ecdh.ts
  packages/crypto/src/algorithms-api/ecc/ecdsa.ts
  packages/crypto/src/algorithms-api/ecc/eddsa.ts
  packages/crypto/src/algorithms-api/errors.ts
  packages/crypto/src/algorithms-api/index.ts
  packages/crypto/src/crypto-algorithms/ed25519.ts
  packages/crypto/src/crypto-algorithms/index.ts
  packages/crypto/src/crypto-algorithms/secp256k1.ts
  packages/crypto/src/crypto-algorithms/x25519.ts
  packages/crypto/src/kms/default/algorithms/ecdh.ts
  packages/crypto/src/kms/default/algorithms/ecdsa.ts
  packages/crypto/src/kms/default/algorithms/eddsa.ts
  packages/crypto/src/kms/default/algorithms/index.ts
  packages/crypto/src/types-key-manager.d.ts
  packages/crypto/src/utils.ts
  packages/crypto/tests/algorithms-api.spec.ts
  packages/crypto/tests/crypto-algorithms.spec.ts
  packages/crypto/tests/kms-default.spec.ts
Due: crypto

Before attempting to support multiple import options
  packages/crypto/src/common/convert.ts
  packages/crypto/src/common/type-utils.ts
  packages/crypto/src/common/types.d.ts
  packages/crypto/src/crypto-algorithms/secp256k1.ts
  packages/crypto/src/key-manager.ts
  packages/crypto/src/kms/default/kms-default.ts
  packages/crypto/src/types-key-manager.d.ts
  packages/crypto/tests/common.spec.ts
  packages/crypto/tests/kms-default.spec.ts
Due: crypto

Implement decrypt() for LocalKms
  packages/crypto/src/kms-local/kms-local.ts
  packages/crypto/src/types-key-manager.d.ts
  packages/crypto/tests/kms-local.spec.ts
Due: crypto

change bundling strategy for `common` pkg
  .gitignore
  package-lock.json
  packages/common/.c8rc.json
  packages/common/.mocharc.json
  packages/common/build/bundles.js
  packages/common/build/esbuild-browser-config.cjs
  packages/common/package.json
  packages/common/src/stores.ts
  packages/common/tests/tsconfig.json
  packages/common/tsconfig.cjs.json
  packages/common/tsconfig.json
  packages/common/tsconfig.test.json
Due: common

change bundling strategy for `crypto` pkg
  package-lock.json
  packages/crypto/.c8rc.json
  packages/crypto/.mocharc.json
  packages/crypto/build/bundles.js
  packages/crypto/build/esbuild-browser-config.cjs
  packages/crypto/package.json
  packages/crypto/src/crypto-primitives/aes-ctr.ts
  packages/crypto/src/crypto-primitives/aes-gcm.ts
  packages/crypto/src/crypto-primitives/secp256k1.ts
  packages/crypto/src/key-manager/key-manager.ts
  packages/crypto/src/key-manager/key-store.ts
  packages/crypto/src/kms-local/key-store.ts
  packages/crypto/src/kms-local/kms-local.ts
  packages/crypto/tests/tsconfig.json
  packages/crypto/tsconfig.cjs.json
  packages/crypto/tsconfig.json
  packages/crypto/tsconfig.test.json
Due: crypto

update export directives in crypto pkg
  packages/crypto/package.json
Due: crypto

change bundling strategy for `credentials` pkg
  package-lock.json
  packages/common/package.json
  packages/credentials/.c8rc.json
  packages/credentials/.mocharc.json
  packages/credentials/build/bundles.js
  packages/credentials/build/esbuild-browser-config.cjs
  packages/credentials/package.json
  packages/credentials/tests/tsconfig.json
  packages/credentials/tsconfig.cjs.json
  packages/credentials/tsconfig.json
  packages/credentials/tsconfig.test.json
Due: common, credentials

change bundling strategy for `dids` pkg
  package-lock.json
  packages/dids/.c8rc.json
  packages/dids/.mocharc.json
  packages/dids/build/bundles.js
  packages/dids/package.json
  packages/dids/tests/tsconfig.json
  packages/dids/tsconfig.cjs.json
  packages/dids/tsconfig.json
  packages/dids/tsconfig.test.json
Due: dids

change bundling strategy of `web5-agent` pkk
  package-lock.json
  packages/web5-agent/.c8rc.json
  packages/web5-agent/.mocharc.json
  packages/web5-agent/build/bundles.js
  packages/web5-agent/build/esbuild-browser-config.cjs
  packages/web5-agent/package.json
  packages/web5-agent/src/web5-agent.ts
  packages/web5-agent/tests/tsconfig.json
  packages/web5-agent/tsconfig.cjs.json
  packages/web5-agent/tsconfig.json
  packages/web5-agent/tsconfig.test.json
Due: web5-agent

updates
  package-lock.json
  packages/credentials/package.json
  packages/credentials/src/types.ts
  packages/credentials/src/utils.ts
  packages/credentials/tests/example.spec.ts
  packages/credentials/tests/types.spec.ts
  packages/credentials/tests/utils.spec.ts
  packages/web5/src/vc-api.ts
Due: credentials, web5

updating test
  packages/web5/tests/web5-vc.spec.ts
Due: web5

fix vuln
  package-lock.json
Due: none

linter
  packages/credentials/src/types.ts
Due: credentials

updating tests
  packages/credentials/tests/types.spec.ts
  packages/credentials/tests/utils.spec.ts
Due: credentials

spacing
  packages/credentials/src/types.ts
Due: credentials

fixing test exclusion
  packages/credentials/.c8rc.json
Due: credentials

temporarily expose local web5-user-agent through `web5.techPreview.userAgent`
  packages/web5/src/web5.ts
Due: web5

fix type issue
  packages/web5/src/web5.ts
Due: web5

expose `ProfileManager` instead of `Web5UserAgent`
  packages/web5/src/web5.ts
Due: web5

remove unnecessary lines
  packages/web5/src/web5.ts
Due: web5

fix vuln
  package-lock.json
  package.json
  packages/credentials/src/main.ts
  packages/web5-agent/src/web5-agent.ts
  packages/web5-proxy-agent/src/web5-proxy-agent.ts
  packages/web5-user-agent/src/web5-user-agent.ts
  packages/web5/src/vc-api.ts
  packages/web5/tests/test-utils/test-user-agent.ts
  packages/web5/tests/web5-vc.spec.ts
Due: credentials, web5, web5-agent, web5-proxy-agent, web5-user-agent

updates
  package-lock.json
  package.json
  packages/credentials/package.json
  packages/web5-agent/src/web5-agent.ts
  packages/web5-proxy-agent/src/web5-proxy-agent.ts
  packages/web5-user-agent/src/web5-user-agent.ts
  packages/web5/package.json
  packages/web5/src/vc-api.ts
  packages/web5/src/web5.ts
  packages/web5/tests/web5-vc.spec.ts
Due: credentials, web5, web5-agent, web5-proxy-agent, web5-user-agent

add a few missing exports
  packages/web5/src/main.ts
Due: web5

[REF] Move the `recordID` property into the `filter` object
  packages/web5/src/dwn-api.ts
Due: web5

chore: set `recordID` as the only required field
  packages/web5/src/dwn-api.ts
Due: web5

remove unused imports
  packages/web5/src/dwn-api.ts
Due: web5

chore: tweak test test to fix failing builds
  packages/web5/tests/record.spec.ts
  packages/web5/tests/web5-dwn.spec.ts
Due: web5

fix vuln
  package-lock.json
  packages/credentials/package.json
Due: credentials

add a few missing exports (#156)
  packages/web5/src/main.ts
Due: web5

restructure
  package-lock.json
  packages/web5-agent/package.json
  packages/web5-agent/src/web5-agent.ts
  packages/web5-proxy-agent/src/web5-proxy-agent.ts
  packages/web5-user-agent/src/web5-user-agent.ts
  packages/web5/src/vc-api.ts
  packages/web5/src/web5.ts
  packages/web5/tests/web5-vc.spec.ts
Due: web5, web5-agent, web5-proxy-agent, web5-user-agent

updating vc in web5-agent to use any for now
  packages/web5-agent/src/web5-agent.ts
Due: web5-agent

linting
  packages/web5/tests/web5-vc.spec.ts
Due: web5

updating datatoblob
  packages/web5-agent/src/web5-agent.ts
  packages/web5-user-agent/src/utils.ts
  packages/web5-user-agent/src/web5-user-agent.ts
  packages/web5/src/vc-api.ts
  packages/web5/src/web5.ts
Due: web5, web5-agent, web5-user-agent

add vc type
  packages/web5-agent/src/web5-agent.ts
Due: web5-agent

signing with kid
  package.json
  packages/web5-agent/src/web5-agent.ts
  packages/web5-user-agent/src/utils.ts
  packages/web5-user-agent/src/web5-user-agent.ts
  packages/web5/src/vc-api.ts
  packages/web5/src/web5.ts
  packages/web5/tests/test-utils/test-user-agent.ts
  packages/web5/tests/web5-vc.spec.ts
Due: web5, web5-agent, web5-user-agent

change bundling strategy for `web5-user-agent` pkg
  package-lock.json
  packages/dids/package.json
  packages/web5-user-agent/.c8rc.json
  packages/web5-user-agent/.mocharc.json
  packages/web5-user-agent/build/bundles.js
  packages/web5-user-agent/build/esbuild-browser-config.cjs
  packages/web5-user-agent/package.json
  packages/web5-user-agent/playwright.config.ts
  packages/web5-user-agent/src/dwn-rpc-client.ts
  packages/web5-user-agent/src/sync-api.ts
  packages/web5-user-agent/src/web5-user-agent.ts
  packages/web5-user-agent/tests/browser/index.html
  packages/web5-user-agent/tests/browser/test.jpeg
  packages/web5-user-agent/tests/browser/web5-user-agent.spec.ts
  packages/web5-user-agent/tests/common/utils/test-user-agent.ts
  packages/web5-user-agent/tests/common/web5-user-agent.spec.ts
  packages/web5-user-agent/tests/tsconfig.json
  packages/web5-user-agent/tsconfig.cjs.json
  packages/web5-user-agent/tsconfig.json
  packages/web5-user-agent/tsconfig.test.json
Due: dids, web5-user-agent

change bundling strategy for `web5-proxy-agent` pkg
  package-lock.json
  packages/web5-proxy-agent/.c8rc.json
  packages/web5-proxy-agent/.mocharc.json
  packages/web5-proxy-agent/build/bundles.js
  packages/web5-proxy-agent/build/esbuild-browser-config.cjs
  packages/web5-proxy-agent/package.json
  packages/web5-proxy-agent/tests/tsconfig.json
  packages/web5-proxy-agent/tsconfig.cjs.json
  packages/web5-proxy-agent/tsconfig.json
  packages/web5-proxy-agent/tsconfig.test.json
Due: web5-proxy-agent

change bundling strategy for `web5` pkg
  package-lock.json
  packages/dids/build/esbuild-browser-config.cjs
  packages/web5-user-agent/build/esbuild-browser-config.cjs
  packages/web5-user-agent/package.json
  packages/web5/.c8rc.json
  packages/web5/.mocharc.json
  packages/web5/build/bundles.js
  packages/web5/build/esbuild-browser-config.cjs
  packages/web5/package.json
  packages/web5/src/did-resolution-cache.ts
  packages/web5/src/protocol.ts
  packages/web5/src/record.ts
  packages/web5/src/vc-api.ts
  packages/web5/src/web5.ts
  packages/web5/tests/fixtures/test-profiles.ts
  packages/web5/tests/record.spec.ts
  packages/web5/tests/tech-preview.spec.ts
  packages/web5/tests/test-utils/test-user-agent.ts
  packages/web5/tests/tsconfig.json
  packages/web5/tsconfig.cjs.json
  packages/web5/tsconfig.json
  packages/web5/tsconfig.test.json
Due: dids, web5, web5-user-agent

switch tests back to hitting deployed nodes
  packages/web5-user-agent/tests/common/web5-user-agent.spec.ts
  packages/web5/tests/fixtures/test-profiles.ts
Due: web5, web5-user-agent

bump `dwn-sdk-js`
  package-lock.json
  packages/crypto/src/main.ts
  packages/dids/package.json
  packages/web5-agent/package.json
  packages/web5-proxy-agent/package.json
Due: crypto, dids, web5-agent, web5-proxy-agent
