Repository TBD54566975/web5-js: changes, and which Codecov flags are due for each by the changed paths.
All: common, credentials, crypto, dids, web5, web5-agent, web5-proxy-agent, web5-user-agent

codecov.yml:

comment:
  layout: "header, diff, components"

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto # auto compares coverage to the previous base commit
        threshold: 5% # allows a 5% drop from the previous base commit coverage
      - type: patch
        target: 100 # every PR opened should strive for full test coverage

  individual_components:
    - component_id: package_common
      name: common
      paths: ["packages/common/**"]

    - component_id: package_credentials
      name: credentials
      paths: ["packages/credentials/**"]

    - component_id: package_crypto
      name: crypto
      paths: ["packages/crypto/**"]

    - component_id: package_dids
      name: dids
      paths: ["packages/dids/**"]

    - component_id: package-web5
      name: web5
      paths: ["packages/web5/**"]

    - component_id: package-web5-agent
      name: web5-agent
      paths: ["packages/web5-agent/**"]

    - component_id: package-web5-proxy-agent
      name: web5-proxy-agent
      paths: ["packages/web5-proxy-agent/**"]

    - component_id: package-web5-user-agent
      name: web5-user-agent
      paths: ["packages/web5-user-agent/**"]

coverage:
  status:
    project:
      default:
        informational: true
    patch:
      default:
        informational: true # Don't gate PRs based on Codecov passing thresholds

fix
  package-lock.json
Due: none

remove deps
  packages/dids/package.json
Due: dids

make relay configurable
  packages/dids/src/dht.ts
Due: dids

Restore dev dependencies
  package-lock.json
  packages/dids/package.json
Due: dids

Update README.md
  README.md
Due: none

Formatting, method signature, and ordering changes to align with other Web5 JS packages. Return boolean on publish.
  packages/dids/src/dht.ts
  packages/dids/src/did-dht.ts
  packages/dids/src/did-key.ts
  packages/dids/tests/dht.spec.ts
  packages/dids/tests/did-dht.spec.ts
Due: dids

Remove exclusive tests
  packages/dids/src/did-dht.ts
  packages/dids/tests/dht.spec.ts
  packages/dids/tests/did-dht.spec.ts
Due: dids

Bump package versions for new release
  package-lock.json
  packages/agent/package.json
  packages/api/package.json
  packages/credentials/package.json
  packages/dids/package.json
  packages/identity-agent/package.json
  packages/proxy-agent/package.json
  packages/user-agent/package.json
Due: credentials, dids

Fix test that would always pass
  packages/dids/tests/did-dht.spec.ts
Due: dids

Add DHT classes to the index barrel file
  packages/dids/src/index.ts
Due: dids

Add DID DHT method (#240)
  .gitignore
  package-lock.json
  package.json
  packages/agent/package.json
  packages/api/package.json
  packages/credentials/package.json
  packages/dids/.mocharc.json
  packages/dids/build/buffer-polyfill.cjs
  packages/dids/build/esbuild-browser-config.cjs
  packages/dids/package.json
  packages/dids/src/dht.ts
  packages/dids/src/did-dht.ts
  packages/dids/src/did-key.ts
  packages/dids/src/index.ts
  packages/dids/src/types.ts
  packages/dids/tests/dht.spec.ts
  packages/dids/tests/did-dht.spec.ts
  packages/dids/tsconfig.json
  packages/identity-agent/package.json
  packages/proxy-agent/package.json
  packages/user-agent/package.json
Due: credentials, dids

Expose DWN PermissionsGrant Message
  packages/agent/src/dwn-manager.ts
  packages/agent/src/types/agent.ts
  packages/api/src/dwn-api.ts
  packages/api/tests/dwn-api.spec.ts
Due: none

Test dwn send PermissionsGrant
  packages/api/src/dwn-api.ts
  packages/api/tests/dwn-api.spec.ts
Due: none

make linter happy
  packages/crypto/src/crypto-primitives/secp256k1.ts
Due: crypto

`Secp256k1` disable malleability check when verifying
  packages/crypto/src/crypto-primitives/secp256k1.ts
Due: crypto

Consolidate imports
  packages/api/src/dwn-api.ts
Due: none

refactoring credentials api interface
  package-lock.json
  packages/credentials/package.json
  packages/credentials/src/index.ts
  packages/credentials/src/presentation-exchange.ts
  packages/credentials/src/ssi.ts
  packages/credentials/src/types.ts
  packages/credentials/src/validators.ts
  packages/credentials/src/verifiable-credential.ts
  packages/credentials/tests/credential-manifest.spec.ts
  packages/credentials/tests/presentation-exchange.spec.ts
  packages/credentials/tests/ssi-validator.spec.ts
  packages/credentials/tests/ssi.spec.ts
  packages/credentials/tests/verifiable-credential.spec.ts
  packages/credentials/tests/verifiable-credentials.spec.ts
Due: credentials

fix comment
  packages/credentials/src/verifiable-credential.ts
Due: credentials

remove comments
  packages/credentials/tests/verifiable-credential.spec.ts
Due: credentials

fix lint
  packages/credentials/src/presentation-exchange.ts
Due: credentials

fix vuln
  package-lock.json
Due: none

Add Mozilla link
  CODE_OF_CONDUCT.md
Due: none

Fix typo
  CONTRIBUTING.md
Due: none

Add OSSF Scorecard
  .github/workflows/scorecard.yml
Due: none

Add OSSF Scorecard Badge to README
  README.md
Due: none

adding unit tests
  packages/credentials/src/verifiable-credential.ts
  packages/credentials/tests/presentation-exchange.spec.ts
  packages/credentials/tests/verifiable-credential.spec.ts
Due: credentials

fix linnt
  packages/credentials/src/verifiable-credential.ts
Due: credentials

removed unused dep
  package-lock.json
  packages/credentials/package.json
Due: credentials

Update CONTRIBUTING.md
  CONTRIBUTING.md
Due: none

Update CODE_OF_CONDUCT.md
  CODE_OF_CONDUCT.md
Due: none
