Repository TBD54566975/web5-js: changes, and which Codecov flags are due for each by the changed paths.
All: common, credentials, crypto, dids, web5, web5-agent, web5-proxy-agent, web5-user-agent

codecov.yml:

comment:
  layout: "header, diff, components"

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto # auto compares coverage to the previous base commit
        threshold: 5% # allows a 5% drop from the previous base commit coverage
      - type: patch
        target: 100 # every PR opened should strive for full test coverage

  individual_components:
    - component_id: package_common
      name: common
      paths: ["packages/common/**"]

    - component_id: package_credentials
      name: credentials
      paths: ["packages/credentials/**"]

    - component_id: package_crypto
      name: crypto
      paths: ["packages/crypto/**"]

    - component_id: package_dids
      name: dids
      paths: ["packages/dids/**"]

    - component_id: package-web5
      name: web5
      paths: ["packages/web5/**"]

    - component_id: package-web5-agent
      name: web5-agent
      paths: ["packages/web5-agent/**"]

    - component_id: package-web5-proxy-agent
      name: web5-proxy-agent
      paths: ["packages/web5-proxy-agent/**"]

    - component_id: package-web5-user-agent
      name: web5-user-agent
      paths: ["packages/web5-user-agent/**"]

coverage:
  status:
    project:
      default:
        informational: true
    patch:
      default:
        informational: true # Don't gate PRs based on Codecov passing thresholds

Add interface for granting and revoking DWN Permissions
  packages/api/src/dwn-api.ts
  packages/api/src/grant.ts
Due: none

adding credentials package to web5-js (#175)
  package-lock.json
  package.json
  packages/credentials/README.md
  packages/credentials/build/bundles.js
  packages/credentials/package.json
  packages/credentials/src/index.ts
  packages/credentials/src/ssi.ts
  packages/credentials/src/types.ts
  packages/credentials/src/utils.ts
  packages/credentials/src/validators.ts
  packages/credentials/tests/credential-manifest.spec.ts
  packages/credentials/tests/example.spec.ts
  packages/credentials/tests/presentation-exchange.spec.ts
  packages/credentials/tests/ssi-validator.spec.ts
  packages/credentials/tests/ssi.spec.ts
  packages/credentials/tests/utils.spec.ts
  packages/credentials/tests/verifiable-credentials.spec.ts
Due: credentials

Update package.json
  packages/credentials/package.json
Due: credentials

update `package-lock.json`
  package-lock.json
Due: none

Update package.json (#214)
  package-lock.json
  packages/credentials/package.json
Due: credentials

jose file covered
  packages/crypto/src/jose.ts
  packages/crypto/tests/fixtures/test-vectors/jose.ts
  packages/crypto/tests/jose.spec.ts
Due: crypto

remove unreachable condition
  packages/crypto/src/jose.ts
Due: crypto

added sanction cred test
  packages/credentials/src/types.ts
  packages/credentials/tests/ssi.spec.ts
Due: credentials

allow suffix data type to be set
  packages/dids/src/did-ion.ts
Due: dids

adding required field 'published' to protocols.configure example
  README.md
Due: none

100% tests coverage for `web5/crypto` (#215)
  packages/crypto/src/jose.ts
  packages/crypto/tests/fixtures/test-vectors/jose.ts
  packages/crypto/tests/jose.spec.ts
Due: crypto

fixing kid
  packages/credentials/tests/ssi.spec.ts
Due: credentials

hacktoberfest README.md
  README.md
Due: none

add some unit tests for VC and VP validation
  .github/workflows/tests-ci.yml
  package-lock.json
  packages/credentials/package.json
  packages/credentials/src/ssi.ts
  packages/credentials/tests/verifiable-credentials.spec.ts
Due: credentials

add some unit tests for VC and VP validation
  package-lock.json
  packages/credentials/tests/verifiable-credentials.spec.ts
Due: credentials

adding links
  README.md
Due: none

adding codesandbox for Hacktoberfest
  .codesandbox/tasks.json
  README.md
Due: none

remove tree
  README.md
Due: none

fixing kid (#219)
  packages/credentials/tests/ssi.spec.ts
Due: credentials

`[crypto/jose]` add `EdDSA` to `JwsHeaderParams['alg']`
  packages/crypto/src/jose.ts
Due: crypto

Adds comments and minor formatting change
  packages/crypto/src/jose.ts
Due: crypto

add `EdDSA` to `JwsHeaderParams['alg']` type (#194)
  packages/crypto/src/jose.ts
Due: crypto

hacktoberfest README.md (#220)
  README.md
Due: none

running tests based on feedback
  .codesandbox/tasks.json
Due: none

slight formatting update
  .codesandbox/tasks.json
Due: none

Aadding codesandbox for Hacktoberfest
  .codesandbox/tasks.json
  README.md
Due: none

Accept VCv1
  packages/credentials/src/types.ts
Due: credentials

rename CreateVpOption for credential
  packages/credentials/src/ssi.ts
  packages/credentials/src/types.ts
  packages/credentials/tests/ssi.spec.ts
Due: credentials

use exported var
  packages/credentials/src/types.ts
Due: credentials

Add test for JSON-LD VCs in VPs
  packages/credentials/src/types.ts
  packages/credentials/tests/ssi.spec.ts
Due: credentials

Update agent package to use dwn-sdk-js v0.2.2
  package-lock.json
  packages/agent/package.json
Due: none

Bump agent to dwn-sdk-js v0.2.2
  packages/agent/src/dwn-manager.ts
  packages/agent/src/test-managed-agent.ts
  packages/agent/tests/dwn-manager.spec.ts
  packages/agent/tests/utils/test-agent.ts
Due: none

Use latest dwn-server image
  packages/dev-env/docker-compose.yaml
Due: none

Bump version to v0.2.3
  package-lock.json
  packages/agent/package.json
Due: none

Export tech preview
  packages/api/src/index.ts
Due: none

failling test to Write and Read large data from remote node
  packages/agent/tests/dwn-manager.spec.ts
Due: none

Export tech preview (#227)
  packages/api/src/index.ts
Due: none

large data test
  packages/agent/tests/dwn-manager.spec.ts
Due: none

updated README
  packages/api/README.md
Due: none
