Repository TBD54566975/web5-js: changes, and which Codecov flags are due for each by the changed paths.
All: common, credentials, crypto, dids, web5, web5-agent, web5-proxy-agent, web5-user-agent

codecov.yml:

comment:
  layout: "header, diff, components"

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto # auto compares coverage to the previous base commit
        threshold: 5% # allows a 5% drop from the previous base commit coverage
      - type: patch
        target: 100 # every PR opened should strive for full test coverage

  individual_components:
    - component_id: package_common
      name: common
      paths: ["packages/common/**"]

    - component_id: package_credentials
      name: credentials
      paths: ["packages/credentials/**"]

    - component_id: package_crypto
      name: crypto
      paths: ["packages/crypto/**"]

    - component_id: package_dids
      name: dids
      paths: ["packages/dids/**"]

    - component_id: package-web5
      name: web5
      paths: ["packages/web5/**"]

    - component_id: package-web5-agent
      name: web5-agent
      paths: ["packages/web5-agent/**"]

    - component_id: package-web5-proxy-agent
      name: web5-proxy-agent
      paths: ["packages/web5-proxy-agent/**"]

    - component_id: package-web5-user-agent
      name: web5-user-agent
      paths: ["packages/web5-user-agent/**"]

coverage:
  status:
    project:
      default:
        informational: true
    patch:
      default:
        informational: true # Don't gate PRs based on Codecov passing thresholds

use existing variable
  packages/credentials/src/verifiable-credential.ts
Due: credentials

adding test vector
  packages/credentials/src/presentation-exchange.ts
  packages/credentials/tests/presentation-exchange.spec.ts
  test-vectors/presentation-exchange/select-credentials-v1.json
Due: credentials

updates
  packages/credentials/src/presentation-exchange.ts
Due: credentials

underscores
  packages/credentials/tests/presentation-exchange.spec.ts
  test-vectors/presentation-exchange/select_credentials_v1.json
Due: credentials

upload junit xml for tests
  .github/workflows/tests-ci.yml
  .gitignore
  package-lock.json
  packages/agent/package.json
  packages/api/package.json
  packages/common/package.json
  packages/credentials/package.json
  packages/crypto/package.json
  packages/dids/package.json
  packages/identity-agent/package.json
  packages/proxy-agent/package.json
  packages/user-agent/package.json
Due: common, credentials, crypto, dids

Improve Record class test structure and add failing test for newly discovered bug
  packages/api/tests/record.spec.ts
Due: none

Rename remoteTarget to remoteOrigin
  packages/api/src/dwn-api.ts
  packages/api/src/record.ts
Due: none

Correct typo in error message
  packages/agent/src/dwn-manager.ts
Due: none

Improve semantics of Record class
  packages/api/src/dwn-api.ts
  packages/api/src/record.ts
  packages/api/tests/record.spec.ts
Due: none

Updated README.md with clarification and alternatives for DID creation
  README.md
Due: none

Minor formatting and import statement changes for consistency
  packages/credentials/src/compact-jwt.ts
  packages/credentials/src/presentation-exchange.ts
  packages/credentials/src/utils.ts
  packages/credentials/src/validators.ts
  packages/credentials/src/verifiable-credential.ts
Due: credentials

Improve @web5/crypto utils.randomUuid performance
  packages/crypto/src/utils.ts
  packages/crypto/tests/utils.spec.ts
Due: crypto

Minor test formatting and imports
  packages/credentials/tests/compact-jwt.spec.ts
  packages/credentials/tests/presentation-exchange.spec.ts
  packages/credentials/tests/ssi-validator.spec.ts
  packages/credentials/tests/verifiable-credential.spec.ts
Due: credentials

Use @web5 UUID function
  package-lock.json
  packages/credentials/package.json
  packages/credentials/src/verifiable-credential.ts
Due: credentials

Minor nit
  packages/credentials/src/compact-jwt.ts
Due: credentials

Allow arbitrary JWS & JWE alg values
  packages/crypto/src/jose.ts
Due: crypto

Consistent async for create/verify and sync for parse
  packages/credentials/src/verifiable-credential.ts
  packages/credentials/tests/compact-jwt.spec.ts
  packages/credentials/tests/presentation-exchange.spec.ts
  packages/credentials/tests/verifiable-credential.spec.ts
Due: credentials

Consistent TSDoc comments
  packages/credentials/src/compact-jwt.ts
  packages/credentials/src/presentation-exchange.ts
  packages/credentials/src/utils.ts
  packages/credentials/src/verifiable-credential.ts
Due: credentials

Add JWT Header and Payload types
  packages/crypto/src/jose.ts
Due: crypto

Rename to Jwt, use repo design patterns, and Use JWT types from crypto package
  packages/credentials/src/index.ts
  packages/credentials/src/jwt.ts
  packages/credentials/src/verifiable-credential.ts
  packages/credentials/tests/compact-jwt.spec.ts
  packages/credentials/tests/verifiable-credential.spec.ts
Due: credentials

Consistently use options objects in method signatures
  packages/credentials/src/presentation-exchange.ts
  packages/credentials/src/verifiable-credential.ts
  packages/credentials/tests/jwt.spec.ts
  packages/credentials/tests/presentation-exchange.spec.ts
  packages/credentials/tests/verifiable-credential.spec.ts
Due: credentials

Bump credentials and crypto package versions
  package-lock.json
  packages/credentials/package.json
  packages/crypto/package.json
Due: credentials, crypto

Fix issue with web5-spec
  .web5-spec/credentials.ts
Due: none

Remove unused jwt-decode dependency
  package-lock.json
  packages/credentials/package.json
  packages/credentials/src/index.ts
  packages/credentials/tests/jwt.spec.ts
Due: credentials

Add JWT and DID `dereference()` (#339)
  .web5-spec/credentials.ts
  package-lock.json
  packages/credentials/package.json
  packages/credentials/src/index.ts
  packages/credentials/src/jwt.ts
  packages/credentials/src/presentation-exchange.ts
  packages/credentials/src/utils.ts
  packages/credentials/src/validators.ts
  packages/credentials/src/verifiable-credential.ts
  packages/credentials/tests/jwt.spec.ts
  packages/credentials/tests/presentation-exchange.spec.ts
  packages/credentials/tests/ssi-validator.spec.ts
  packages/credentials/tests/verifiable-credential.spec.ts
  packages/crypto/package.json
  packages/crypto/src/jose.ts
  packages/crypto/src/utils.ts
  packages/crypto/tests/utils.spec.ts
  packages/dids/src/did-resolver.ts
  packages/dids/src/types.ts
  packages/dids/src/utils.ts
  packages/dids/tests/did-resolver.spec.ts
Due: credentials, crypto, dids

update readme
  packages/credentials/README.md
  packages/credentials/src/presentation-exchange.ts
  packages/credentials/src/verifiable-credential.ts
  packages/credentials/tests/presentation-exchange.spec.ts
Due: credentials

fix path
  packages/credentials/tests/presentation-exchange.spec.ts
  test-vectors/presentation_exchange/select_credentials.json
Due: credentials

updates
  packages/credentials/README.md
  packages/credentials/src/verifiable-credential.ts
Due: credentials

rebase
  package-lock.json
Due: none

fix merge
  package-lock.json
Due: none

fix merge
  package-lock.json
  packages/credentials/package.json
  packages/credentials/tests/presentation-exchange.spec.ts
Due: credentials

Update .github/workflows/tests-ci.yml
  .github/workflows/tests-ci.yml
Due: none

Pin mocha-junit-reporter version
  package-lock.json
  packages/agent/package.json
  packages/api/package.json
  packages/common/package.json
  packages/credentials/package.json
  packages/crypto/package.json
  packages/dids/package.json
  packages/identity-agent/package.json
  packages/proxy-agent/package.json
  packages/user-agent/package.json
Due: common, credentials, crypto, dids

speed up ci (#325)
  .github/workflows/alpha-npm.yml
  .github/workflows/docs-ci.yml
  .github/workflows/docs-publish.yml
  .github/workflows/release-npm.yml
  .github/workflows/scorecard.yml
  .github/workflows/security.yml
  .github/workflows/tests-ci.yml
  package-lock.json
  package.json
  packages/agent/web-test-runner.config.cjs
Due: none

Update test-vectors/presentation_exchange/select_credentials.json
  test-vectors/presentation_exchange/select_credentials.json
Due: none

remove fs
  packages/credentials/tests/presentation-exchange.spec.ts
Due: credentials

remove await
  packages/credentials/tests/presentation-exchange.spec.ts
Due: credentials

Fix record author bug (#345)
  packages/agent/src/dwn-manager.ts
  packages/api/src/dwn-api.ts
  packages/api/src/record.ts
  packages/api/tests/record.spec.ts
Due: none

Select creds test vector junit report (#344)
  .github/workflows/tests-ci.yml
  .gitignore
  package-lock.json
  packages/agent/package.json
  packages/api/package.json
  packages/common/package.json
  packages/credentials/package.json
  packages/credentials/src/presentation-exchange.ts
  packages/credentials/tests/presentation-exchange.spec.ts
  packages/crypto/package.json
  packages/dids/package.json
  packages/identity-agent/package.json
  packages/proxy-agent/package.json
  packages/user-agent/package.json
  test-vectors/presentation_exchange/select_credentials.json
Due: common, credentials, crypto, dids
