Repository TBD54566975/web5-js: changes, and which Codecov flags are due for each by the changed paths.
All: common, credentials, crypto, dids, web5, web5-agent, web5-proxy-agent, web5-user-agent

Fix MVP for bug
  packages/api/src/dwn-api.ts
  packages/api/src/record.ts
Due: none

revert test config changes
  .github/workflows/tests-ci.yml
  packages/agent/tests/dwn-manager.spec.ts
  packages/agent/tests/sync-manager.spec.ts
  packages/agent/tests/test-config.ts
  packages/api/tests/dwn-api.spec.ts
  packages/api/tests/protocol.spec.ts
  packages/api/tests/record.spec.ts
  packages/api/tests/test-config.ts
Due: none

fix env var override
  packages/agent/build/esbuild-tests.cjs
  packages/agent/tests/dwn-manager.spec.ts
  packages/agent/tests/sync-manager.spec.ts
  packages/agent/tests/test-config.ts
  packages/agent/tests/utils/test-config.ts
  packages/api/build/esbuild-tests.cjs
  packages/api/tests/dwn-api.spec.ts
  packages/api/tests/protocol.spec.ts
  packages/api/tests/record.spec.ts
  packages/api/tests/test-config.ts
  packages/api/tests/utils/test-config.ts
  packages/common/build/esbuild-tests.cjs
  packages/credentials/build/esbuild-tests.cjs
  packages/crypto/build/esbuild-tests.cjs
  packages/dids/build/esbuild-tests.cjs
  packages/identity-agent/build/esbuild-tests.cjs
  packages/proxy-agent/build/esbuild-tests.cjs
  packages/user-agent/build/esbuild-tests.cjs
Due: common, credentials, crypto, dids

cleanup ci config
  .github/workflows/tests-ci.yml
Due: none

cleanup explicit deps
  package-lock.json
  packages/agent/package.json
  packages/api/package.json
  packages/common/package.json
  packages/credentials/package.json
  packages/crypto/package.json
  packages/dids/package.json
  packages/identity-agent/package.json
  packages/proxy-agent/package.json
  packages/user-agent/package.json
Due: common, credentials, crypto, dids

Initial refactor to replace Node Readable with web ReadableStream
  packages/api/src/record.ts
  packages/api/tests/record.spec.ts
Due: none

decouple tbdocs commenter (#323)
  .github/workflows/docs-ci.yml
  .github/workflows/tbdocs-commenter.yml
  .github/workflows/tests-ci.yml
Due: none

add back playwright
  package-lock.json
  packages/agent/package.json
  packages/api/package.json
  packages/common/package.json
  packages/credentials/package.json
  packages/crypto/package.json
  packages/dids/package.json
  packages/identity-agent/package.json
  packages/proxy-agent/package.json
  packages/user-agent/package.json
Due: common, credentials, crypto, dids

export resolver
  packages/dids/src/index.ts
Due: dids

fix weird tsc flake
  packages/dids/tsconfig.json
Due: dids

no need to export
  packages/dids/src/index.ts
Due: dids

add readme
  packages/identity-agent/README.md
Due: none

fix bizarre tsc errors
  packages/dids/src/resolver-cache-memory.ts
  packages/dids/tsconfig.json
Due: dids

bump timeout for webkit
  packages/agent/web-test-runner.config.cjs
Due: none

add test watch
  .eslintrc.cjs
  packages/agent/build/esbuild-browser-config.cjs
  packages/agent/build/esbuild-tests.cjs
  packages/agent/package.json
  packages/agent/web-test-runner.config.cjs
  packages/api/build/esbuild-browser-config.cjs
  packages/api/build/esbuild-tests.cjs
  packages/api/package.json
  packages/api/web-test-runner.config.cjs
  packages/common/build/esbuild-tests.cjs
  packages/common/package.json
  packages/common/web-test-runner.config.cjs
  packages/credentials/build/esbuild-tests.cjs
  packages/credentials/package.json
  packages/credentials/web-test-runner.config.cjs
  packages/crypto/build/esbuild-tests.cjs
  packages/crypto/package.json
  packages/crypto/web-test-runner.config.cjs
  packages/dids/build/buffer-polyfill.cjs
  packages/dids/build/esbuild-tests.cjs
  packages/dids/package.json
  packages/dids/web-test-runner.config.cjs
  packages/identity-agent/build/esbuild-browser-config.cjs
  packages/identity-agent/build/esbuild-tests.cjs
  packages/identity-agent/package.json
  packages/identity-agent/web-test-runner.config.cjs
  packages/proxy-agent/build/esbuild-browser-config.cjs
  packages/proxy-agent/build/esbuild-tests.cjs
  packages/proxy-agent/package.json
  packages/proxy-agent/web-test-runner.config.cjs
  packages/user-agent/build/esbuild-browser-config.cjs
  packages/user-agent/build/esbuild-tests.cjs
  packages/user-agent/package.json
  packages/user-agent/web-test-runner.config.cjs
Due: common, credentials, crypto, dids

cache playwright
  .github/workflows/tests-ci.yml
Due: none

remove unnecessary npm install
  .github/workflows/alpha-npm.yml
  .github/workflows/docs-ci.yml
  .github/workflows/release-npm.yml
  .github/workflows/tests-ci.yml
Due: none

use newer env var api
  .github/workflows/tests-ci.yml
Due: none

fix naming
  .github/workflows/tests-ci.yml
Due: none

add native dwn server
  .github/workflows/tests-ci.yml
  package-lock.json
  package.json
Due: none

add npm caching
  .github/workflows/alpha-npm.yml
  .github/workflows/docs-ci.yml
  .github/workflows/docs-publish.yml
  .github/workflows/release-npm.yml
  .github/workflows/scorecard.yml
  .github/workflows/tests-ci.yml
Due: none

run dwn server natively
  .github/workflows/tests-ci.yml
Due: none

cleanup bg processing
  .github/workflows/tests-ci.yml
Due: none

dial in the browser build
  .github/workflows/tests-ci.yml
Due: none

better naming
  .github/workflows/tests-ci.yml
Due: none

add parallelism
  .github/workflows/tests-ci.yml
  package.json
Due: none

fix parallelism
  .github/workflows/tests-ci.yml
  package.json
Due: none

weird bug
  package.json
Due: none

cleaner parallel config
  .github/workflows/tests-ci.yml
  package.json
Due: none

fix
  .github/workflows/tests-ci.yml
Due: none

harden agent test
  packages/agent/web-test-runner.config.cjs
Due: none

solidify parallel groups
  .github/workflows/tests-ci.yml
Due: none

do another run
  README.md
Due: none

add comment
  .github/workflows/tests-ci.yml
  README.md
Due: none

balance parallel groups
  .github/workflows/tests-ci.yml
Due: none

browser groups
  .github/workflows/tests-ci.yml
  packages/agent/web-test-runner.config.cjs
  packages/api/web-test-runner.config.cjs
  packages/common/web-test-runner.config.cjs
  packages/credentials/web-test-runner.config.cjs
  packages/crypto/web-test-runner.config.cjs
  packages/dids/web-test-runner.config.cjs
  packages/identity-agent/web-test-runner.config.cjs
  packages/proxy-agent/web-test-runner.config.cjs
  packages/user-agent/web-test-runner.config.cjs
Due: common, credentials, crypto, dids

Revert "browser groups"
  .github/workflows/tests-ci.yml
  packages/agent/web-test-runner.config.cjs
  packages/api/web-test-runner.config.cjs
  packages/common/web-test-runner.config.cjs
  packages/credentials/web-test-runner.config.cjs
  packages/crypto/web-test-runner.config.cjs
  packages/dids/web-test-runner.config.cjs
  packages/identity-agent/web-test-runner.config.cjs
  packages/proxy-agent/web-test-runner.config.cjs
  packages/user-agent/web-test-runner.config.cjs
Due: common, credentials, crypto, dids

Path conditions:
  common: any of: packages/common/**
  credentials: any of: packages/credentials/**
  crypto: any of: packages/crypto/**
  dids: any of: packages/dids/**
  web5: any of: packages/web5/**
  web5-agent: any of: packages/web5-agent/**
  web5-proxy-agent: any of: packages/web5-proxy-agent/**
  web5-user-agent: any of: packages/web5-user-agent/**
