Repository TBD54566975/web5-js: changes, and which Codecov flags are due for each by the changed paths.
All: agent, api, common, credentials, crypto, dids, identity-agent, crypto-aws-kms, proxy-agent, user-agent

codecov.yml:

comment:
  layout: "header, diff, components"

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto # auto compares coverage to the previous base commit
        threshold: 5% # allows a 5% drop from the previous base commit coverage
      - type: patch
        target: 90

  individual_components:
    - component_id: package-agent
      name: agent
      paths: ["packages/agent/**"]

    - component_id: package-api
      name: api
      paths: ["packages/api/**"]

    - component_id: package_common
      name: common
      paths: ["packages/common/**"]

    - component_id: package_credentials
      name: credentials
      paths: ["packages/credentials/**"]

    - component_id: package_crypto
      name: crypto
      paths: ["packages/crypto/**"]

    - component_id: package_dids
      name: dids
      paths: ["packages/dids/**"]

    - component_id: package-identity-agent
      name: identity-agent
      paths: ["packages/identity-agent/**"]

    - component_id: package-crypto-aws-kms
      name: crypto-aws-kms
      paths: ["packages/crypto-aws-kms/**"]

    - component_id: package-proxy-agent
      name: proxy-agent
      paths: ["packages/proxy-agent/**"]

    - component_id: package-user-agent
      name: user-agent
      paths: ["packages/user-agent/**"]

coverage:
  status:
    project:
      default:
        informational: true
    patch:
      default:
        informational: true # Don't gate PRs based on Codecov passing thresholds
        if_ci_failed: success

Update connect.ts
  packages/agent/src/connect.ts
Due: agent

run prettier and eslint
  packages/agent/src/connect.ts
  packages/agent/src/oidc.ts
  packages/agent/tests/connect.spec.ts
Due: agent

refactor grant api usage
  packages/agent/src/dwn-api.ts
  packages/agent/src/index.ts
  packages/agent/src/permissions-api.ts
  packages/agent/src/test-harness.ts
  packages/agent/src/types/agent.ts
  packages/agent/tests/connected-permissions.spec.ts
  packages/agent/tests/dwn-api.spec.ts
  packages/agent/tests/utils/grants.ts
  packages/agent/tests/utils/test-agent.ts
Due: agent

remove corepack
  bin/corepack
  package.json
Due: none

apply permissions api changes to agent implementations
  packages/agent/src/permissions-api.ts
  packages/identity-agent/src/identity-agent.ts
  packages/identity-agent/tests/identity-agent.spec.ts
  packages/proxy-agent/src/proxy-agent.ts
  packages/proxy-agent/tests/proxy-agent.spec.ts
  packages/user-agent/src/user-agent.ts
  packages/user-agent/tests/user-agent.spec.ts
Due: agent, identity-agent, proxy-agent, user-agent

grants API for DWN instance
  packages/api/src/dwn-api.ts
  packages/api/src/web5.ts
  packages/api/tests/dwn-api.spec.ts
  packages/api/tests/web5.spec.ts
Due: api

update connected permissions processing of grants, and tests
  packages/agent/src/permissions-api.ts
  packages/agent/tests/connected-permissions.spec.ts
  packages/agent/tests/dwn-api.spec.ts
Due: agent

better API support and testing for grants
  packages/agent/src/permissions-api.ts
  packages/api/src/dwn-api.ts
  packages/api/tests/dwn-api.spec.ts
Due: agent, api

permissions-api tests
  packages/agent/src/permissions-api.ts
  packages/agent/tests/permissions-api.spec.ts
Due: agent

increase coverage
  packages/agent/src/permissions-api.ts
  packages/agent/tests/permissions-api.spec.ts
Due: agent

fix broken api tests
  packages/api/src/dwn-api.ts
  packages/api/tests/dwn-api.spec.ts
Due: api

use AgentPermissionsApi type in Agent
  packages/agent/src/types/agent.ts
Due: agent

permissions-api with remote option
  packages/agent/src/permissions-api.ts
  packages/agent/src/types/permissions.ts
  packages/agent/tests/permissions-api.spec.ts
Due: agent

delegate did should use a did jwk
  packages/agent/src/oidc.ts
  packages/agent/tests/connect.spec.ts
Due: agent

client should use a did jwk
  packages/agent/src/connect.ts
  packages/agent/src/oidc.ts
  packages/agent/tests/connect.spec.ts
Due: agent

better comments
  packages/agent/src/oidc.ts
Due: agent

Update oidc.ts
  packages/agent/src/oidc.ts
Due: agent

export permission types
  packages/agent/src/index.ts
  packages/agent/tests/permissions-api.spec.ts
Due: agent

more complete grant api
  packages/api/src/dwn-api.ts
  packages/api/src/grant-request.ts
  packages/api/src/grant-revocation.ts
  packages/api/src/grant.ts
  packages/api/src/web5.ts
  packages/api/tests/dwn-api.spec.ts
  packages/api/tests/web5.spec.ts
Due: api

export permission conditions
  packages/agent/src/types/dwn.ts
Due: agent

Grant class testing
  packages/api/src/dwn-api.ts
  packages/api/src/grant.ts
  packages/api/tests/dwn-api.spec.ts
  packages/api/tests/grant.spec.ts
Due: api

more readable
  packages/agent/src/permissions-api.ts
Due: agent

refactor grants api
  packages/api/src/dwn-api.ts
  packages/api/src/grant-request.ts
  packages/api/src/permission-grant.ts
  packages/api/src/permission-request.ts
  packages/api/tests/dwn-api.spec.ts
  packages/api/tests/permission-grant.spec.ts
  packages/api/tests/permission-request.spec.ts
Due: api

increase coverage
  packages/agent/tests/permissions-api.spec.ts
  packages/api/tests/permission-grant.spec.ts
  packages/api/tests/permission-request.spec.ts
Due: agent, api

clean up uneeded util class and tests, refactor type usage
  packages/agent/src/dwn-permissions-util.ts
  packages/agent/src/index.ts
  packages/agent/src/permissions-api.ts
  packages/agent/src/types/dwn.ts
  packages/agent/tests/connected-permissions.spec.ts
  packages/agent/tests/dwn-permissions-util.spec.ts
  packages/agent/tests/permissions-api.spec.ts
  packages/agent/tests/utils/grants.ts
  packages/api/src/dwn-api.ts
  packages/api/src/permission-grant.ts
  packages/api/tests/dwn-api.spec.ts
Due: agent, api

test cached flow
  packages/api/tests/dwn-api.spec.ts
Due: api

add comments
  packages/agent/src/oidc.ts
  packages/agent/tests/connect.spec.ts
Due: agent

cleanup comments
  packages/agent/src/connect.ts
  packages/agent/src/oidc.ts
Due: agent

add some coverage
  packages/api/src/web5.ts
  packages/api/tests/web5.spec.ts
Due: api

reorganize
  packages/api/tests/web5.spec.ts
Due: api

Update web5.spec.ts
  packages/api/tests/web5.spec.ts
Due: api

feedback: dont encrypt with the code challenge
  packages/agent/src/connect.ts
  packages/agent/src/oidc.ts
  packages/agent/tests/connect.spec.ts
Due: agent

feedback disable code challenge
  packages/agent/src/connect.ts
  packages/agent/src/oidc.ts
  packages/agent/tests/connect.spec.ts
Due: agent

clean out todo
  packages/agent/src/connect.ts
Due: agent

Update connect.spec.ts
  packages/agent/tests/connect.spec.ts
Due: agent

Fixed tbdoc warning/errors
  packages/crypto/src/utils.ts
Due: crypto

feedback didjwk
  packages/agent/src/connect.ts
  packages/agent/tests/connect.spec.ts
Due: agent

cleanup crypto utils (#830)
  .changeset/friendly-carrots-return.md
  packages/agent/src/dwn-api.ts
  packages/agent/src/dwn-registrar.ts
  packages/agent/src/prototyping/clients/http-dwn-rpc-client.ts
  packages/agent/src/prototyping/clients/json-rpc-socket.ts
  packages/agent/src/prototyping/clients/web-socket-clients.ts
  packages/agent/src/prototyping/crypto/jose/jwe-flattened.ts
  packages/agent/src/rpc-client.ts
  packages/agent/tests/crypto-api.spec.ts
  packages/agent/tests/local-key-manager.spec.ts
  packages/agent/tests/prototyping/clients/json-rpc-socket.spec.ts
  packages/agent/tests/rpc-client.spec.ts
  packages/agent/tests/sync-engine-level.spec.ts
  packages/api/tests/utils/test-data-generator.ts
  packages/credentials/src/verifiable-credential.ts
  packages/credentials/src/verifiable-presentation.ts
  packages/crypto/README.md
  packages/crypto/package.json
  packages/crypto/src/index.ts
  packages/crypto/src/utils.ts
  packages/crypto/tests/algorithms/aes-ctr.spec.ts
  packages/crypto/tests/algorithms/aes-gcm.spec.ts
  packages/crypto/tests/utils.spec.ts
  packages/dids/src/bearer-did.ts
Due: agent, api, credentials, crypto, dids

add docs errors back
  .github/workflows/docs-ci.yml
Due: none
