Repository TBD54566975/web5-js: changes, and which Codecov flags are due for each by the changed paths.
All: agent, api, common, credentials, crypto, dids, identity-agent, crypto-aws-kms, proxy-agent, user-agent

codecov.yml:

comment:
  layout: "header, diff, components"

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto # auto compares coverage to the previous base commit
        threshold: 5% # allows a 5% drop from the previous base commit coverage
      - type: patch
        target: 90 # every PR opened should strive for at least 90% coverage

  individual_components:
    - component_id: package-agent
      name: agent
      paths: ["packages/agent/**"]

    - component_id: package-api
      name: api
      paths: ["packages/api/**"]

    - component_id: package_common
      name: common
      paths: ["packages/common/**"]

    - component_id: package_credentials
      name: credentials
      paths: ["packages/credentials/**"]

    - component_id: package_crypto
      name: crypto
      paths: ["packages/crypto/**"]

    - component_id: package_dids
      name: dids
      paths: ["packages/dids/**"]

    - component_id: package-identity-agent
      name: identity-agent
      paths: ["packages/identity-agent/**"]

    - component_id: package-crypto-aws-kms
      name: crypto-aws-kms
      paths: ["packages/crypto-aws-kms/**"]

    - component_id: package-proxy-agent
      name: proxy-agent
      paths: ["packages/proxy-agent/**"]

    - component_id: package-user-agent
      name: user-agent
      paths: ["packages/user-agent/**"]

coverage:
  status:
    project:
      default:
        informational: true
    patch:
      default:
        informational: true # Don't gate PRs based on Codecov passing thresholds

increase test coverage
  packages/agent/tests/dwn-api.spec.ts
Due: agent

uneccesary check, type system prevents this and the handler would never be used further in the code
  packages/agent/src/dwn-api.ts
Due: agent

add message subscription response object to exports
  packages/agent/src/types/dwn.ts
Due: agent

implement subscriptions over sockets for agent `sendRequest` flow
  packages/agent/src/dwn-api.ts
  packages/agent/src/prototyping/clients/dwn-rpc-types.ts
  packages/agent/src/prototyping/clients/web-socket-clients.ts
  packages/agent/src/rpc-client.ts
  packages/agent/tests/dwn-api.spec.ts
  packages/agent/tests/prototyping/clients/ws-dwn-rpc-client.spec.ts
  packages/agent/tests/rpc-client.spec.ts
Due: agent

additional coverage around dwn urls and socket urls
  packages/agent/tests/dwn-api.spec.ts
Due: agent

increase coverage
  packages/agent/tests/dwn-api.spec.ts
Due: agent

stringified `didResolutionMetadata` to get more information on resolution failures
  packages/agent/src/did-api.ts
Due: agent

Created dependabot.yml to track dependencies of packages depended by `tbdex` SDKs
  .github/dependabot.yml
Due: none

Updated CODEOWNERS
  CODEOWNERS
Due: none

Created dependabot.yml to track dependencies of packages depended by `tbdex` SDKs (#525)
  .github/dependabot.yml
  CODEOWNERS
Due: none

Updated eslint version and add --no-frozen-lockfile flag in CI
  .github/workflows/docs-ci.yml
  .github/workflows/docs-publish.yml
  .github/workflows/reports.yml
  .github/workflows/tests-ci.yml
  packages/agent/package.json
  packages/api/package.json
  packages/common/package.json
  packages/credentials/package.json
  packages/crypto-aws-kms/package.json
  packages/crypto/package.json
  packages/dids/package.json
  packages/identity-agent/package.json
  packages/proxy-agent/package.json
  packages/user-agent/package.json
Due: agent, api, common, credentials, crypto, dids, identity-agent, crypto-aws-kms, proxy-agent, user-agent

Check in WIP
  examples/assets/speech-bubble.png
  examples/blank.html
  examples/dignal.html
  examples/dwa.html
  examples/idp.html
  examples/sanjay.html
  examples/script.js
  examples/styles.css
  examples/testa.html
  package-lock.json
  packages/agent/package.json
  packages/agent/src/authServer.js
  packages/agent/src/connect.ts
  packages/agent/src/dwn-manager.ts
  packages/agent/src/events.ts
  packages/agent/src/index.ts
  packages/agent/src/json-rpc.ts
  packages/agent/src/kms-local.ts
  packages/agent/src/oidc.ts
  packages/agent/src/rpc-client.ts
  packages/agent/src/rpcServer.js
  packages/agent/src/types/agent.ts
  packages/agent/src/utils.ts
  packages/agent/src/ws-rpc-server.js
  packages/agent/tests/connect.spec.ts
  packages/agent/tests/km-wrap.spec.ts
  packages/agent/tests/utils.spec.ts
  packages/agent/tests/utils/test-agent.ts
  packages/api/src/auth-api.ts
  packages/api/src/level.js
  packages/api/src/web5.ts
  packages/api/tests/utils/test-user-agent.ts
  packages/crypto/src/crypto-algorithms/xchacha20-poly1305.ts
  packages/crypto/tests/crypto-algorithms.spec.ts
  packages/crypto/tests/thumb.spec.ts
  packages/identity-agent/src/identity-agent.ts
  packages/proxy-agent/src/proxy-agent.ts
  packages/user-agent/src/user-agent.ts
Due: agent, api, crypto, identity-agent, proxy-agent, user-agent

Undo eslint changes
  packages/agent/package.json
  packages/api/package.json
  packages/common/package.json
  packages/credentials/package.json
  packages/crypto-aws-kms/package.json
  packages/crypto/package.json
  packages/dids/package.json
  packages/identity-agent/package.json
  packages/proxy-agent/package.json
  packages/user-agent/package.json
Due: agent, api, common, credentials, crypto, dids, identity-agent, crypto-aws-kms, proxy-agent, user-agent

undo package.json change
  packages/dids/package.json
Due: dids

Bumped c8 dependencies
  packages/agent/package.json
  packages/api/package.json
  packages/common/package.json
  packages/credentials/package.json
  packages/crypto-aws-kms/package.json
  packages/crypto/package.json
  packages/dids/package.json
  packages/identity-agent/package.json
  packages/proxy-agent/package.json
  packages/user-agent/package.json
Due: agent, api, common, credentials, crypto, dids, identity-agent, crypto-aws-kms, proxy-agent, user-agent

Updated c8 dependencies and add --no-frozen-lockfile flag in CI (#551)
  .github/workflows/docs-ci.yml
  .github/workflows/docs-publish.yml
  .github/workflows/reports.yml
  .github/workflows/tests-ci.yml
  CODEOWNERS
  packages/agent/package.json
  packages/api/package.json
  packages/common/package.json
  packages/credentials/package.json
  packages/crypto-aws-kms/package.json
  packages/crypto/package.json
  packages/dids/package.json
  packages/identity-agent/package.json
  packages/proxy-agent/package.json
  packages/user-agent/package.json
Due: agent, api, common, credentials, crypto, dids, identity-agent, crypto-aws-kms, proxy-agent, user-agent

Add new web features module with networking feature installation
  packages/api/src/index.ts
  packages/api/src/service-worker.ts
  packages/api/src/web-features.ts
  tsconfig.json
Due: api

Update configs
  packages/api/tsconfig.json
  tsconfig.json
Due: api

Make TS happy
  packages/api/src/web-features.ts
Due: api

Make TS happy, part 2
  packages/api/src/service-worker.ts
  packages/api/src/web-features.ts
  packages/api/tsconfig.json
Due: api

TS and linting joy
  packages/api/src/service-worker.ts
  packages/api/src/web-features.ts
Due: api

nothing update
  README.md
Due: none

Remove needless lib config addition
  packages/api/tsconfig.json
Due: api

Add a helper method for generating a PaginationCursor (#513)
  .changeset/odd-eels-rest.md
  packages/agent/src/utils.ts
  packages/agent/tests/utils.spec.ts
  packages/api/package.json
  packages/api/src/record.ts
  packages/api/tests/record.spec.ts
  pnpm-lock.yaml
Due: agent, api

split changesets so agent and api changesets are in separate files (#523)
  .changeset/ninety-cows-hear.md
  .changeset/odd-eels-rest.md
Due: none

Remove unnecessary api release protection (#517)
  .changeset/old-hotels-yawn.md
  .github/workflows/release.yml
  scripts/changesets-api-release-check.sh
Due: none

Updated pnpm-lock.yaml
  pnpm-lock.yaml
Due: none

Updated pnpm-lock.yaml (#569)
  pnpm-lock.yaml
Due: none

`@web5/agent` DWN Subscriptions Support (#492)
  .changeset/six-pandas-tell.md
  .changeset/twelve-trainers-wonder.md
  package.json
  packages/agent/package.json
  packages/agent/src/did-api.ts
  packages/agent/src/dwn-api.ts
  packages/agent/src/prototyping/clients/dwn-rpc-types.ts
  packages/agent/src/prototyping/clients/web-socket-clients.ts
  packages/agent/src/rpc-client.ts
  packages/agent/src/test-harness.ts
  packages/agent/src/types/dwn.ts
  packages/agent/tests/dwn-api.spec.ts
  packages/agent/tests/prototyping/clients/ws-dwn-rpc-client.spec.ts
  packages/agent/tests/rpc-client.spec.ts
  packages/api/package.json
  packages/dev-env/docker-compose.yaml
  pnpm-lock.yaml
Due: agent, api

update to use default key type
  packages/dids/src/methods/did-dht.ts
Due: dids

bump agent version within identity-agent, proxy-agent, and user-agent, bump versions in api package
  packages/api/package.json
  packages/identity-agent/package.json
  packages/proxy-agent/package.json
  packages/user-agent/package.json
  pnpm-lock.yaml
Due: api, identity-agent, proxy-agent, user-agent

Always set alg and kid on expansion (#518)
  packages/dids/src/methods/did-dht.ts
Due: dids

split changeset
  .changeset/six-pandas-tell.md
Due: none
