Repository TBD54566975/web5-js: changes, and which Codecov flags are due for each by the changed paths.
All: agent, api, common, credentials, crypto, dids, identity-agent, crypto-aws-kms, proxy-agent, user-agent

fix tdocs
  packages/api/src/record.ts
Due: api

changeset for record delete state
  .changeset/eighty-spoons-cross.md
Due: none

update docs description for `record.author` to reflect the true intent of the field
  packages/api/src/record.ts
Due: api

updates to did dht spec
  packages/credentials/package.json
  packages/credentials/tests/jwt.spec.ts
  packages/dids/src/methods/did-dht.ts
  pnpm-lock.yaml
Due: credentials, dids

update test
  packages/credentials/tests/jwt.spec.ts
Due: credentials

linter
  packages/credentials/tests/jwt.spec.ts
Due: credentials

fix security audit
  pnpm-lock.yaml
Due: none

Update worker with caching API
  packages/api/src/service-worker.ts
  packages/api/src/web-features.ts
Due: api

Make TS feel good about its worthless existence
  packages/api/src/web-features.ts
Due: api

turn on test vectors and update test vector json
  packages/dids/tests/fixtures/test-vectors/did-dht/vector-1.json
  packages/dids/tests/fixtures/test-vectors/did-dht/vector-2.json
  packages/dids/tests/fixtures/test-vectors/did-dht/vector-3.json
  packages/dids/tests/methods/did-dht.spec.ts
Due: dids

updates
  packages/dids/src/methods/did-dht.ts
  packages/dids/tests/fixtures/test-vectors/did-dht/vector-1.json
  packages/dids/tests/fixtures/test-vectors/did-dht/vector-2.json
  packages/dids/tests/fixtures/test-vectors/did-dht/vector-3.json
Due: dids

respect the connectedDid when retreiving an identity list during Web5.connect()
  .changeset/two-waves-tap.md
  packages/api/src/web5.ts
  packages/api/tests/web5.spec.ts
Due: api

Check the status returned by processRequest when calling getAllRecords, fail if it is not a 200
  .changeset/young-pans-share.md
  packages/agent/src/store-did.ts
  packages/agent/src/store-identity.ts
  packages/agent/src/store-key.ts
  packages/agent/tests/store-data.spec.ts
  packages/agent/tests/store-did.spec.ts
  packages/agent/tests/store-identity.spec.ts
  packages/agent/tests/store-key.spec.ts
Due: agent

added note and reference to issue regarding multiple identities
  packages/api/src/web5.ts
Due: api

add debug, always choose the first identity in the list if no connectedDid is provided
  packages/api/src/web5.ts
  packages/api/tests/web5.spec.ts
Due: api

debug default to false
  packages/api/src/web5.ts
Due: api

test debug, modify changeset notes
  .changeset/two-waves-tap.md
  packages/api/src/web5.ts
  packages/api/tests/web5.spec.ts
Due: api

unused variable in test mock
  packages/api/tests/web5.spec.ts
Due: api

remove comment
  packages/dids/tests/methods/did-dht.spec.ts
Due: dids

update and put thumbprint in vectors temporarily
  packages/dids/src/methods/did-dht.ts
  packages/dids/tests/fixtures/test-vectors/did-dht/vector-1.json
  packages/dids/tests/fixtures/test-vectors/did-dht/vector-2.json
  packages/dids/tests/fixtures/test-vectors/did-dht/vector-3.json
Due: dids

fix lint
  packages/dids/src/methods/did-dht.ts
Due: dids

fix audit
  .github/workflows/tests-ci.yml
  package.json
  pnpm-lock.yaml
Due: none

add audit-ci.json
  audit-ci.json
Due: none

update
  .github/workflows/tests-ci.yml
Due: none

update
  .changeset/tender-bears-count.md
Due: none

update
  audit-ci.json
Due: none

fix unit test
  package.json
  packages/credentials/tests/jwt.spec.ts
  pnpm-lock.yaml
Due: credentials

fix import
  packages/credentials/tests/jwt.spec.ts
Due: credentials

fix stub
  packages/credentials/tests/jwt.spec.ts
Due: credentials

Update DID DHT Key Type to EdDSA (#653)
  .changeset/tender-bears-count.md
  .github/workflows/tests-ci.yml
  audit-ci.json
  package.json
  packages/credentials/package.json
  packages/credentials/tests/jwt.spec.ts
  packages/dids/src/methods/did-dht.ts
  packages/dids/tests/fixtures/test-vectors/did-dht/vector-1.json
  packages/dids/tests/fixtures/test-vectors/did-dht/vector-2.json
  packages/dids/tests/fixtures/test-vectors/did-dht/vector-3.json
  packages/dids/tests/methods/did-dht.spec.ts
  pnpm-lock.yaml
Due: credentials, dids

bump
  .changeset/slow-spoons-shave.md
Due: none

bump (#689)
  .changeset/slow-spoons-shave.md
Due: none

update dids to 1.1.1
  packages/credentials/package.json
Due: credentials

update pnpm-lock
  pnpm-lock.yaml
Due: none

Working link handling
  packages/api/src/web-features.ts
Due: api

make TS happy
  packages/api/src/web-features.ts
Due: api

Ignoring cross env import.meta
  packages/api/src/web-features.ts
Due: api

Add sw cache and link features
  packages/api/src/service-worker.ts
  packages/api/src/web-features.ts
Due: api

simplify request-uri
  packages/agent/src/authServer.js
Due: agent

Path conditions:
  agent: any of: packages/agent/**
  api: any of: packages/api/**
  common: any of: packages/common/**
  credentials: any of: packages/credentials/**
  crypto: any of: packages/crypto/**
  dids: any of: packages/dids/**
  identity-agent: any of: packages/identity-agent/**
  crypto-aws-kms: any of: packages/crypto-aws-kms/**
  proxy-agent: any of: packages/proxy-agent/**
  user-agent: any of: packages/user-agent/**
