Repository TBD54566975/web5-js: changes, and which Codecov flags are due for each by the changed paths.
All: agent, api, common, credentials, crypto, dids, identity-agent, crypto-aws-kms, proxy-agent, user-agent

codecov.yml:

comment:
  layout: "header, diff, components"

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto # auto compares coverage to the previous base commit
        threshold: 5% # allows a 5% drop from the previous base commit coverage
      - type: patch
        target: 90 # every PR opened should strive for at least 90% coverage

  individual_components:
    - component_id: package-agent
      name: agent
      paths: ["packages/agent/**"]

    - component_id: package-api
      name: api
      paths: ["packages/api/**"]

    - component_id: package_common
      name: common
      paths: ["packages/common/**"]

    - component_id: package_credentials
      name: credentials
      paths: ["packages/credentials/**"]

    - component_id: package_crypto
      name: crypto
      paths: ["packages/crypto/**"]

    - component_id: package_dids
      name: dids
      paths: ["packages/dids/**"]

    - component_id: package-identity-agent
      name: identity-agent
      paths: ["packages/identity-agent/**"]

    - component_id: package-crypto-aws-kms
      name: crypto-aws-kms
      paths: ["packages/crypto-aws-kms/**"]

    - component_id: package-proxy-agent
      name: proxy-agent
      paths: ["packages/proxy-agent/**"]

    - component_id: package-user-agent
      name: user-agent
      paths: ["packages/user-agent/**"]

coverage:
  status:
    project:
      default:
        informational: true
    patch:
      default:
        informational: true # Don't gate PRs based on Codecov passing thresholds

fix npx
  .github/workflows/tests-ci.yml
Due: none

be explicit about bins
  packages/agent/package.json
  packages/api/package.json
  packages/common/package.json
  packages/credentials/package.json
  packages/crypto-aws-kms/package.json
  packages/crypto/package.json
  packages/dids/package.json
  packages/identity-agent/package.json
  packages/proxy-agent/package.json
  packages/user-agent/package.json
Due: agent, api, common, credentials, crypto, dids, identity-agent, crypto-aws-kms, proxy-agent, user-agent

missed dep
  packages/identity-agent/package.json
  pnpm-lock.yaml
Due: identity-agent

fix filters
  .github/workflows/tests-ci.yml
  CONTRIBUTING.md
Due: none

fix filters
  .github/workflows/tests-ci.yml
Due: none

fix playwright
  .github/workflows/tests-ci.yml
Due: none

fix browser to run in sequence
  .github/workflows/tests-ci.yml
Due: none

updates to verify
  packages/credentials/src/jwt.ts
  packages/credentials/src/verifiable-credential.ts
  packages/credentials/src/verifiable-presentation.ts
  packages/credentials/tests/jwt.spec.ts
  packages/credentials/tests/verifiable-credential.spec.ts
Due: credentials

Add credentials to published api reference docs (#417)
  .github/workflows/docs-ci.yml
  .github/workflows/docs-publish.yml
  scripts/tbdocs-check-local.sh
Due: none

export vp
  packages/credentials/src/index.ts
  packages/credentials/src/validators.ts
  packages/credentials/src/verifiable-credential.ts
  packages/credentials/src/verifiable-presentation.ts
Due: credentials

fix unit test
  packages/credentials/tests/ssi-validator.spec.ts
Due: credentials

fix test
  packages/credentials/tests/ssi-validator.spec.ts
Due: credentials

Minor fix to type only import in VP tests
  packages/credentials/tests/verifiable-presentation.spec.ts
Due: credentials

Update CONTRIBUTING.md
  CONTRIBUTING.md
Due: none

Minor fixes
  .github/workflows/tests-ci.yml
  CONTRIBUTING.md
  packages/dids/package.json
Due: dids

Bump lock files
  package-lock.json
  pnpm-lock.yaml
Due: none

fix test node
  .github/workflows/tests-ci.yml
  package.json
Due: none

Add @types/node to all packages
  packages/agent/package.json
  packages/common/package.json
  packages/credentials/package.json
  packages/crypto-aws-kms/package.json
  packages/crypto/package.json
  packages/dids/package.json
Due: agent, common, credentials, crypto, dids, crypto-aws-kms

Bump PNPM lockfile and remove NPM lockfile
  .gitignore
  package-lock.json
  pnpm-lock.yaml
Due: none

Improve CONTRIBUTING doc
  CONTRIBUTING.md
Due: none

Fix ordering of clean script
  package.json
Due: none

Consistent use of quotation marks in GH workflows
  .github/workflows/alpha-npm.yml
  .github/workflows/docs-ci.yml
  .github/workflows/docs-publish.yml
  .github/workflows/release-npm.yml
  .github/workflows/tests-ci.yml
Due: none

Add version comments to pinned GH workflow actions
  .github/workflows/alpha-npm.yml
  .github/workflows/docs-ci.yml
  .github/workflows/docs-publish.yml
  .github/workflows/release-npm.yml
  .github/workflows/tests-ci.yml
Due: none

migrate to pnpm and fix CVE for ip transitive dependency (#419)
  .codesandbox/tasks.json
  .github/workflows/alpha-npm.yml
  .github/workflows/docs-ci.yml
  .github/workflows/docs-publish.yml
  .github/workflows/release-npm.yml
  .github/workflows/tests-ci.yml
  .gitignore
  .vscode/settings.json
  CONTRIBUTING.md
  package-lock.json
  package.json
  packages/agent/.vscode/tasks.json
  packages/agent/package.json
  packages/api/.vscode/tasks.json
  packages/api/package.json
  packages/common/.vscode/tasks.json
  packages/common/package.json
  packages/credentials/.vscode/tasks.json
  packages/credentials/package.json
  packages/credentials/tests/verifiable-presentation.spec.ts
  packages/crypto-aws-kms/.vscode/tasks.json
  packages/crypto-aws-kms/package.json
  packages/crypto/.vscode/tasks.json
  packages/crypto/package.json
  packages/dids/.vscode/tasks.json
  packages/dids/package.json
  packages/identity-agent/.vscode/tasks.json
  packages/identity-agent/package.json
  packages/proxy-agent/.vscode/tasks.json
  packages/proxy-agent/package.json
  packages/user-agent/.vscode/tasks.json
  packages/user-agent/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  web5-js.code-workspace
Due: agent, api, common, credentials, crypto, dids, identity-agent, crypto-aws-kms, proxy-agent, user-agent

Add crypto utility function and use in BearerDid
  packages/crypto/src/utils.ts
  packages/crypto/tests/utils.spec.ts
  packages/dids/src/bearer-did.ts
Due: crypto, dids

Update CODEOWNERS
  CODEOWNERS
Due: none

Update CODEOWNERS (#429)
  CODEOWNERS
Due: none

Improve error message
  packages/crypto/src/utils.ts
Due: crypto

Add crypto utility function and use in BearerDid (#430)
  packages/crypto/src/utils.ts
  packages/crypto/tests/utils.spec.ts
  packages/dids/src/bearer-did.ts
Due: crypto, dids

upgrade packages and slow test
  package-lock.json
  package.json
  packages/agent/package.json
  packages/agent/src/dwn-manager.ts
  packages/agent/tests/dwn-manager.spec.ts
  packages/agent/tests/sync-manager.spec.ts
  packages/api/package.json
  packages/api/src/dwn-api.ts
  packages/dev-env/docker-compose.yaml
  packages/user-agent/package.json
Due: agent, api, user-agent

update identity-agent
  package-lock.json
  packages/identity-agent/package.json
Due: identity-agent

update proxy-agent
  package-lock.json
  packages/proxy-agent/package.json
Due: proxy-agent

increase timeouts
  packages/agent/tests/sync-manager.spec.ts
Due: agent

Revert changes to SyncManager tests
  packages/agent/tests/sync-manager.spec.ts
Due: agent

Minor nit - import ordering
  packages/api/src/dwn-api.ts
Due: api

Rebase on main
  package-lock.json
Due: none
