Repository TBD54566975/web5-js: changes, and which Codecov flags are due for each by the changed paths.
All: agent, api, common, credentials, crypto, dids, identity-agent, crypto-aws-kms, proxy-agent, user-agent

codecov.yml:

comment:
  layout: "header, diff, components"

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto # auto compares coverage to the previous base commit
        threshold: 5% # allows a 5% drop from the previous base commit coverage
      - type: patch
        target: 90 # every PR opened should strive for at least 90% coverage

  individual_components:
    - component_id: package-agent
      name: agent
      paths: ["packages/agent/**"]

    - component_id: package-api
      name: api
      paths: ["packages/api/**"]

    - component_id: package_common
      name: common
      paths: ["packages/common/**"]

    - component_id: package_credentials
      name: credentials
      paths: ["packages/credentials/**"]

    - component_id: package_crypto
      name: crypto
      paths: ["packages/crypto/**"]

    - component_id: package_dids
      name: dids
      paths: ["packages/dids/**"]

    - component_id: package-identity-agent
      name: identity-agent
      paths: ["packages/identity-agent/**"]

    - component_id: package-crypto-aws-kms
      name: crypto-aws-kms
      paths: ["packages/crypto-aws-kms/**"]

    - component_id: package-proxy-agent
      name: proxy-agent
      paths: ["packages/proxy-agent/**"]

    - component_id: package-user-agent
      name: user-agent
      paths: ["packages/user-agent/**"]

coverage:
  status:
    project:
      default:
        informational: true
    patch:
      default:
        informational: true # Don't gate PRs based on Codecov passing thresholds

bump OSSF Scorecard action (#452)
  .github/workflows/scorecard.yml
Due: none

add dht resolve test vector
  packages/dids/src/methods/did-jwk.ts
  packages/dids/tests/methods/did-dht.spec.ts
  packages/dids/tests/methods/did-jwk.spec.ts
Due: dids

Setup Changesets
  .changeset/README.md
  .changeset/config.json
  .github/workflows/release-npm.yml
  .github/workflows/release.yml
  CONTRIBUTING.md
  package.json
  scripts/changesets-version.sh
Due: none

Update CONTRIBUTING.md
  CONTRIBUTING.md
Due: none

Update Changesets impl
  .github/workflows/docs-publish.yml
  .github/workflows/release.yml
  packages/agent/package.json
  packages/api/package.json
  packages/common/package.json
  packages/credentials/package.json
  packages/crypto-aws-kms/package.json
  packages/crypto/package.json
  packages/dids/package.json
  packages/identity-agent/package.json
  packages/proxy-agent/package.json
  packages/user-agent/package.json
  pnpm-lock.yaml
  scripts/changesets-api-release-check.sh
  scripts/changesets-version.sh
Due: agent, api, common, credentials, crypto, dids, identity-agent, crypto-aws-kms, proxy-agent, user-agent

Add instructions for `@web5/api` releases
  CONTRIBUTING.md
Due: none

Add DID resolution types and rename UniversalResolver
  packages/dids/src/index.ts
  packages/dids/src/methods/did-dht.ts
  packages/dids/src/methods/did-ion.ts
  packages/dids/src/methods/did-jwk.ts
  packages/dids/src/methods/did-key.ts
  packages/dids/src/methods/did-web.ts
  packages/dids/src/resolver/resolver-cache-level.ts
  packages/dids/src/resolver/resolver-cache-noop.ts
  packages/dids/src/resolver/universal-resolver.ts
  packages/dids/src/types/did-resolution.ts
  packages/dids/tests/resolver/resolver-cache-level.spec.ts
  packages/dids/tests/resolver/universal-resolver.spec.ts
Due: dids

Add DID resolution types and rename UniversalResolver (#454)
  packages/dids/src/index.ts
  packages/dids/src/methods/did-dht.ts
  packages/dids/src/methods/did-ion.ts
  packages/dids/src/methods/did-jwk.ts
  packages/dids/src/methods/did-key.ts
  packages/dids/src/methods/did-web.ts
  packages/dids/src/resolver/resolver-cache-level.ts
  packages/dids/src/resolver/resolver-cache-noop.ts
  packages/dids/src/resolver/universal-resolver.ts
  packages/dids/src/types/did-resolution.ts
  packages/dids/tests/resolver/resolver-cache-level.spec.ts
  packages/dids/tests/resolver/universal-resolver.spec.ts
Due: dids

update dids version and consume with creds
  packages/credentials/package.json
  packages/credentials/src/jwt.ts
  packages/dids/package.json
  pnpm-lock.yaml
Due: credentials, dids

revert node package json change
  packages/agent/package.json
  packages/api/package.json
  packages/common/package.json
  packages/credentials/package.json
  packages/crypto-aws-kms/package.json
  packages/crypto/package.json
  packages/dids/package.json
  packages/identity-agent/package.json
  packages/proxy-agent/package.json
  packages/user-agent/package.json
Due: agent, api, common, credentials, crypto, dids, identity-agent, crypto-aws-kms, proxy-agent, user-agent

Update did-dht.spec.ts
  packages/dids/tests/methods/did-dht.spec.ts
Due: dids

Add dht resolve test vector (#453)
  packages/dids/src/methods/did-jwk.ts
  packages/dids/tests/methods/did-dht.spec.ts
  packages/dids/tests/methods/did-jwk.spec.ts
Due: dids

updates
  packages/credentials/src/presentation-exchange.ts
  packages/credentials/tests/presentation-exchange.spec.ts
Due: credentials

Fix select credential bug (#450)
  packages/credentials/src/presentation-exchange.ts
  packages/credentials/tests/presentation-exchange.spec.ts
Due: credentials

revert node package json change (#457)
  packages/agent/package.json
  packages/api/package.json
  packages/common/package.json
  packages/credentials/package.json
  packages/crypto-aws-kms/package.json
  packages/crypto/package.json
  packages/dids/package.json
  packages/identity-agent/package.json
  packages/proxy-agent/package.json
  packages/user-agent/package.json
Due: agent, api, common, credentials, crypto, dids, identity-agent, crypto-aws-kms, proxy-agent, user-agent

update dids version and consume with creds (#456)
  packages/credentials/package.json
  packages/credentials/src/jwt.ts
  packages/dids/package.json
  pnpm-lock.yaml
Due: credentials, dids

update env
  .github/workflows/release-npm.yml
Due: none

update env (#458)
  .github/workflows/release-npm.yml
Due: none

update
  .github/workflows/release-npm.yml
Due: none

Update release-npm.yml
  .github/workflows/release-npm.yml
Due: none

Update env 2 (#459)
  .github/workflows/release-npm.yml
Due: none

update-env-3
  .github/workflows/release-npm.yml
Due: none

update-env-3 (#460)
  .github/workflows/release-npm.yml
Due: none

bump versions of various packages and dependencies for alignment
  packages/credentials/package.json
  packages/crypto-aws-kms/package.json
  packages/crypto/package.json
  packages/dids/package.json
  pnpm-lock.yaml
Due: credentials, crypto, dids, crypto-aws-kms

bump credentials version
  packages/credentials/package.json
Due: credentials

bump versions of various packages and dependencies for alignment (#461)
  packages/credentials/package.json
  packages/crypto-aws-kms/package.json
  packages/crypto/package.json
  packages/dids/package.json
  pnpm-lock.yaml
Due: credentials, crypto, dids, crypto-aws-kms

upgrade packages and slow test
  package-lock.json
  package.json
  packages/agent/package.json
  packages/agent/src/dwn-manager.ts
  packages/agent/tests/dwn-manager.spec.ts
  packages/agent/tests/sync-manager.spec.ts
  packages/api/package.json
  packages/api/src/dwn-api.ts
  packages/dev-env/docker-compose.yaml
  packages/user-agent/package.json
Due: agent, api, user-agent

update identity-agent
  package-lock.json
  packages/identity-agent/package.json
Due: identity-agent

update proxy-agent
  package-lock.json
  packages/proxy-agent/package.json
Due: proxy-agent

increase timeouts
  packages/agent/tests/sync-manager.spec.ts
Due: agent

Revert changes to SyncManager tests
  packages/agent/tests/sync-manager.spec.ts
Due: agent

Minor nit - import ordering
  packages/api/src/dwn-api.ts
Due: api

Rebase on main
  package-lock.json
Due: none

Add IdentityApi and more tests
  packages/agent/src/did-api.ts
  packages/agent/src/identity-api.ts
  packages/agent/src/internal.ts
  packages/agent/src/store-did.ts
  packages/agent/src/store-identity.ts
  packages/agent/src/test-harness.ts
  packages/agent/src/types/agent.ts
  packages/agent/src/types/did.ts
  packages/agent/src/types/identity.ts
  packages/agent/src/types/key-manager.ts
  packages/agent/tests/did-api.spec.ts
  packages/agent/tests/dwn-api.spec.ts
  packages/agent/tests/identity-api.spec.ts
  packages/agent/tests/store-did.spec.ts
  packages/agent/tests/store-identity.spec.ts
  packages/agent/tests/utils/test-agent.ts
Due: agent

Improve DidApi type inference and add more tests
  packages/agent/old/tests/dwn-manager.spec.ts
  packages/agent/src/did-api.ts
  packages/agent/src/dwn-api.ts
  packages/agent/src/types/agent-dwn.ts
  packages/agent/tests/did-api.spec.ts
  packages/agent/tests/dwn-api.spec.ts
Due: agent

Added support for Events and Protocols to AgentDwnApi
  packages/agent/old/tests/dwn-manager.spec.ts
  packages/agent/src/types/agent-dwn.ts
  packages/agent/tests/dwn-api.spec.ts
  packages/agent/tests/fixtures/protocol-definitions/email.json
Due: agent

AgentDwnApi sendRequest MVP
  packages/agent/.vscode/launch.json
  packages/agent/old/tests/dwn-manager.spec.ts
  packages/agent/old/tests/identity-manager.spec.ts
  packages/agent/src/bearer-identity.ts
  packages/agent/src/did-api.ts
  packages/agent/src/dwn-api.ts
  packages/agent/src/identity-api.ts
  packages/agent/src/internal.ts
  packages/agent/src/json-rpc.ts
  packages/agent/src/rpc-client.ts
  packages/agent/src/store-did.ts
  packages/agent/src/store-identity.ts
  packages/agent/src/test-harness.ts
  packages/agent/src/types/agent.ts
  packages/agent/src/types/did.ts
  packages/agent/src/types/identity.ts
  packages/agent/tests/did-api.spec.ts
  packages/agent/tests/dwn-api.spec.ts
  packages/agent/tests/identity-api.spec.ts
  packages/agent/tests/store-did.spec.ts
  packages/agent/tests/store-identity.spec.ts
  packages/agent/tests/utils/test-agent.ts
Due: agent

reset changes
  package-lock.json
  packages/agent/package.json
  packages/agent/tests/tsconfig.json
  packages/api/package.json
  packages/identity-agent/package.json
  packages/proxy-agent/package.json
  packages/user-agent/package.json
Due: agent, api, identity-agent, proxy-agent, user-agent

Add more AgentDwnApi sendRequest tests
  packages/agent/.vscode/launch.json
  packages/agent/old/tests/dwn-manager.spec.ts
  packages/agent/package.json
  packages/agent/tests/dwn-api.spec.ts
Due: agent
