Repository TBD54566975/web5-js: changes, and which Codecov flags are due for each by the changed paths.
All: agent, api, common, credentials, crypto, dids, identity-agent, crypto-aws-kms, proxy-agent, user-agent

codecov.yml:

comment:
  layout: "header, diff, components"

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto # auto compares coverage to the previous base commit
        threshold: 5% # allows a 5% drop from the previous base commit coverage
      - type: patch
        target: 90

  individual_components:
    - component_id: package-agent
      name: agent
      paths: ["packages/agent/**"]

    - component_id: package-api
      name: api
      paths: ["packages/api/**"]

    - component_id: package_common
      name: common
      paths: ["packages/common/**"]

    - component_id: package_credentials
      name: credentials
      paths: ["packages/credentials/**"]

    - component_id: package_crypto
      name: crypto
      paths: ["packages/crypto/**"]

    - component_id: package_dids
      name: dids
      paths: ["packages/dids/**"]

    - component_id: package-identity-agent
      name: identity-agent
      paths: ["packages/identity-agent/**"]

    - component_id: package-crypto-aws-kms
      name: crypto-aws-kms
      paths: ["packages/crypto-aws-kms/**"]

    - component_id: package-proxy-agent
      name: proxy-agent
      paths: ["packages/proxy-agent/**"]

    - component_id: package-user-agent
      name: user-agent
      paths: ["packages/user-agent/**"]

coverage:
  status:
    project:
      default:
        informational: true
    patch:
      default:
        informational: true # Don't gate PRs based on Codecov passing thresholds
        if_ci_failed: success

skip when grants are not present in sync
  packages/agent/src/sync-engine-level.ts
Due: agent

update dwn-sdk and account for 204 in sync
  packages/agent/src/sync-engine-level.ts
  packages/agent/tests/sync-engine-level.spec.ts
Due: agent

empty event log on error
  packages/agent/src/sync-engine-level.ts
Due: agent

fix tests
  packages/agent/tests/connect.spec.ts
  packages/api/src/web5.ts
  packages/api/tests/web5.spec.ts
Due: agent, api

Update audit-ci.json
  audit-ci.json
Due: none

fix npm audit
  audit-ci.json
  package.json
  packages/api/tests/web5.spec.ts
Due: api

[WIP] SyncEngine for specific protocols + delegate sync. (#836)
  .changeset/blue-roses-cough.md
  .changeset/green-dolls-provide.md
  audit-ci.json
  packages/agent/src/cached-permissions.ts
  packages/agent/src/dwn-api.ts
  packages/agent/src/index.ts
  packages/agent/src/store-data.ts
  packages/agent/src/sync-api.ts
  packages/agent/src/sync-engine-level.ts
  packages/agent/src/types/sync.ts
  packages/agent/tests/cached-permissions.spec.ts
  packages/agent/tests/dwn-api.spec.ts
  packages/agent/tests/store-data.spec.ts
  packages/agent/tests/sync-engine-level.spec.ts
  packages/api/src/dwn-api.ts
  packages/api/src/web5.ts
  packages/api/tests/dwn-api.spec.ts
  packages/api/tests/web5.spec.ts
Due: agent, api

rebase adjustment
  packages/api/src/dwn-api.ts
  packages/api/src/record.ts
  packages/api/tests/dwn-api.spec.ts
Due: api

test records.subscribe base case
  packages/api/src/dwn-api.ts
  packages/api/src/record.ts
  packages/api/tests/dwn-api.spec.ts
Due: api

add subscription doc to readme
  packages/api/README.md
Due: api

create a SubscriptionUtil class
  packages/api/src/dwn-api.ts
  packages/api/src/subscription-util.ts
Due: api

add changset
  .changeset/lovely-rules-fold.md
Due: none

add comments
  packages/api/src/dwn-api.ts
Due: api

[WIP] Records Subscriptions in `@web5/api` (#522)
  .changeset/lovely-rules-fold.md
  packages/api/README.md
  packages/api/src/dwn-api.ts
  packages/api/src/record.ts
  packages/api/src/subscription-util.ts
  packages/api/tests/dwn-api.spec.ts
Due: api

rebase
  packages/api/src/web5.ts
  packages/api/tests/web5.spec.ts
  pnpm-lock.yaml
Due: api

clean up PR
  audit-ci.json
  packages/agent/src/oidc.ts
  packages/agent/tests/connect.spec.ts
Due: agent

remove delegate grants return
  examples/wallet-connect.html
  packages/api/src/web5.ts
Due: api

add changeset
  .changeset/spicy-forks-attack.md
Due: none

Create tidy-ants-shave.md
  .changeset/tidy-ants-shave.md
Due: none

connect dwn integration (#850)
  .changeset/spicy-forks-attack.md
  .changeset/tidy-ants-shave.md
  examples/wallet-connect.html
  package.json
  packages/agent/src/connect.ts
  packages/agent/src/oidc.ts
  packages/agent/tests/connect.spec.ts
  packages/api/src/web5.ts
  packages/api/tests/did-api.spec.ts
  packages/api/tests/web5.spec.ts
  pnpm-lock.yaml
Due: agent, api

add changeset
  .changeset/fresh-olives-dance.md
Due: none

add requestPermissionsForProtocol helper method to connect module
  packages/agent/src/connect.ts
  packages/agent/tests/connect.spec.ts
Due: agent

rebase and update OIDC methods to account for change
  packages/agent/src/oidc.ts
  packages/agent/tests/connect.spec.ts
Due: agent

update permission helper
  examples/wallet-connect.html
  packages/agent/src/connect.ts
  packages/agent/src/oidc.ts
  packages/agent/tests/connect.spec.ts
  packages/api/src/web5.ts
Due: agent, api

registerIdentity does not require options, add test coverage
  packages/agent/src/sync-api.ts
  packages/agent/src/sync-engine-level.ts
  packages/agent/src/types/sync.ts
  packages/agent/tests/sync-engine-level.spec.ts
  packages/api/tests/web5.spec.ts
Due: agent, api

check for conflict response when sending to remote, also send protocol definition to remote
  packages/agent/src/oidc.ts
Due: agent

review comments
  packages/agent/src/sync-engine-level.ts
  packages/agent/tests/connect.spec.ts
Due: agent

recovery code: attempting to recover records
  packages/api/src/utils.ts
  packages/api/src/web5.ts
Due: api

move creating permission requests into the connect method, modify testing
  packages/agent/src/connect.ts
  packages/agent/tests/connect.spec.ts
  packages/agent/tests/rpc-client.spec.ts
  packages/agent/tests/sync-engine-level.spec.ts
  packages/api/src/web5.ts
  packages/api/tests/web5.spec.ts
Due: agent, api

update example
  examples/wallet-connect.html
Due: none

Add requestPermissionsForProtocol helper method to connect module (#854)
  .changeset/fresh-olives-dance.md
  examples/wallet-connect.html
  packages/agent/src/connect.ts
  packages/agent/src/oidc.ts
  packages/agent/src/sync-api.ts
  packages/agent/src/sync-engine-level.ts
  packages/agent/src/types/sync.ts
  packages/agent/tests/connect.spec.ts
  packages/agent/tests/rpc-client.spec.ts
  packages/agent/tests/sync-engine-level.spec.ts
  packages/api/src/web5.ts
  packages/api/tests/web5.spec.ts
Due: agent, api

update dwn-server/dwn-sdk-js
  package.json
  packages/agent/package.json
  packages/api/package.json
  packages/dev-env/docker-compose.yaml
  pnpm-lock.yaml
Due: agent, api

after rebase
  pnpm-lock.yaml
Due: none

add changesets
  .changeset/gold-tools-yell.md
  .changeset/warm-starfishes-beam.md
Due: none

include sinon.restore in more places where it might be needed
  packages/credentials/tests/jwt.spec.ts
  packages/credentials/tests/ssi-validator.spec.ts
  packages/credentials/tests/verifiable-credential.spec.ts
  packages/crypto-aws-kms/tests/utils.spec.ts
  packages/crypto/tests/local-key-manager.spec.ts
  packages/dids/tests/bearer-did.spec.ts
  packages/dids/tests/methods/did-dht.spec.ts
  packages/dids/tests/methods/did-ion.spec.ts
  packages/dids/tests/methods/did-web.spec.ts
  packages/dids/tests/resolver/resolver-cache-level.spec.ts
Due: credentials, crypto, dids, crypto-aws-kms

Upgrade dwn-server and dwn-sdk-js (#853)
  .changeset/gold-tools-yell.md
  .changeset/warm-starfishes-beam.md
  package.json
  packages/agent/package.json
  packages/api/package.json
  packages/credentials/tests/jwt.spec.ts
  packages/credentials/tests/ssi-validator.spec.ts
  packages/credentials/tests/verifiable-credential.spec.ts
  packages/crypto-aws-kms/tests/utils.spec.ts
  packages/crypto/tests/local-key-manager.spec.ts
  packages/dev-env/docker-compose.yaml
  packages/dids/tests/bearer-did.spec.ts
  packages/dids/tests/methods/did-dht.spec.ts
  packages/dids/tests/methods/did-ion.spec.ts
  packages/dids/tests/methods/did-web.spec.ts
  packages/dids/tests/resolver/resolver-cache-level.spec.ts
  pnpm-lock.yaml
Due: agent, api, credentials, crypto, dids, crypto-aws-kms

lint
  packages/agent/src/agent-did-resolver-cache.ts
  packages/agent/src/did-api.ts
Due: agent

modify workflow for alpha npm to build crypto first
  .github/workflows/alpha-npm.yml
Due: none

build sequentially for alpha tagging
  .github/workflows/alpha-npm.yml
  scripts/build-sequentially.sh
Due: none

pnpm build in workflow instead of script file
  .github/workflows/alpha-npm.yml
  scripts/build-sequentially.sh
Due: none
