Repository TBD54566975/web5-js: changes, and which Codecov flags are due for each by the changed paths.
All: agent, api, common, credentials, crypto, dids, identity-agent, crypto-aws-kms, proxy-agent, user-agent

Remove old dependencies and bump versions
  package-lock.json
  packages/agent/package.json
  packages/api/package.json
  packages/common/package.json
  packages/crypto-aws-kms/package.json
  packages/crypto/package.json
  packages/dids/package.json
  packages/dids/tests/tsconfig.json
  packages/dids/tsconfig.cjs.json
  packages/dids/tsconfig.json
  packages/dids/typings/decentralized-identity__ion-pow-sdk.d.ts
  packages/identity-agent/package.json
  packages/proxy-agent/package.json
  packages/user-agent/package.json
Due: agent, api, common, crypto, dids, identity-agent, crypto-aws-kms, proxy-agent, user-agent

Resolve package dependency issue
  package-lock.json
  packages/api/package.json
Due: api

Remove old test-vectors directory
  packages/dids/tests/methods/did-jwk.spec.ts
  packages/dids/tests/methods/did-web.spec.ts
  packages/dids/tests/resolver/did-resolver.spec.ts
  test-vectors/README.md
  test-vectors/credentials/README.md
  test-vectors/credentials/create.json
  test-vectors/credentials/verify.json
  test-vectors/did_jwk/README.md
  test-vectors/did_jwk/resolve.json
  test-vectors/did_web/README.md
  test-vectors/did_web/resolve.json
  test-vectors/index.html
  test-vectors/presentation_exchange/README.md
  test-vectors/presentation_exchange/create_presentation_from_credentials.json
  test-vectors/presentation_exchange/select_credentials.json
  test-vectors/vectors.schema.json
Due: dids

group pd test (#367)
  packages/credentials/tests/presentation-exchange.spec.ts
Due: credentials

Remove references to tags in the XChaCha20Poly1305 comments
  packages/crypto/src/primitives/xchacha20-poly1305.ts
Due: crypto

Updates from branch
  packages/api/tests/fixtures/protocol-definitions/email.json
  packages/api/tests/record.spec.ts
Due: api

Pass option to initial write processing
  packages/api/src/record.ts
Due: api

Add test for changing the protocol role that a record is being updated with
  packages/api/tests/dwn-api.spec.ts
  packages/api/tests/fixtures/protocol-definitions/photos.json
Due: api

clean up types, use web5/common removeUndefinedProperties
  packages/agent/src/dwn-manager.ts
  packages/api/src/record.ts
Due: agent, api

fix lint
  packages/api/src/record.ts
Due: api

method dyping more consistant
  packages/api/src/record.ts
  packages/api/tests/dwn-api.spec.ts
  packages/api/tests/record.spec.ts
Due: api

Some more clean up for import/store (#391)
  packages/agent/src/dwn-manager.ts
  packages/agent/src/types/agent.ts
  packages/api/src/record.ts
Due: agent, api

Add comment about send()'s new features
  packages/api/src/record.ts
Due: api

update readme
  README.md
  packages/api/tests/record.spec.ts
Due: api

Add docs
  README.md
Due: none

add code comments to make Frank smile
  packages/api/src/record.ts
Due: api

linting errors
  packages/api/tests/record.spec.ts
Due: api

Add comments to store/import and other functions added to Record class
  packages/api/src/record.ts
Due: api

Adding changes to src
  packages/agent/src/dwn-manager.ts
  packages/agent/src/types/agent.ts
  packages/api/src/dwn-api.ts
  packages/api/src/record.ts
Due: agent, api

Add new test for updating with existing role in play
  packages/api/tests/dwn-api.spec.ts
  packages/api/tests/fixtures/protocol-definitions/photos.json
Due: api

update test cases and coverage
  packages/api/src/record.ts
  packages/api/tests/record.spec.ts
Due: api

Delete unused test
  packages/api/tests/record.spec.ts
Due: api

remove errant only() in tests
  packages/api/tests/dwn-api.spec.ts
Due: api

Remove only() from test
  packages/api/tests/dwn-api.spec.ts
Due: api

Add role-based record tests, fix for cloned obj issue
  packages/agent/src/dwn-manager.ts
  packages/api/src/record.ts
  packages/api/tests/dwn-api.spec.ts
  packages/api/tests/fixtures/protocol-definitions/photos.json
  packages/api/tests/record.spec.ts
Due: agent, api

Updated protocol config, added elaborate role tests
  packages/api/tests/dwn-api.spec.ts
  packages/api/tests/fixtures/protocol-definitions/photos.json
Due: api

Removing logging
  packages/agent/src/dwn-manager.ts
  packages/api/src/record.ts
  packages/api/tests/record.spec.ts
Due: agent, api

Added comments and removed TODO
  packages/api/src/record.ts
  packages/api/tests/record.spec.ts
Due: api

Update based on PR feedback
  packages/agent/src/dwn-manager.ts
  packages/api/src/record.ts
  packages/api/tests/record.spec.ts
Due: agent, api

move SendCache class into it's own file, not exported in index.ts
  packages/api/src/record.ts
  packages/api/src/send-cache.ts
  packages/api/tests/record.spec.ts
  packages/api/tests/send-cache.spec.ts
Due: api

Store/Import Typing Updates (#388)
  packages/api/src/record.ts
Due: api

js doc updates
  packages/api/src/record.ts
Due: api

add test coverage to dwn manager
  packages/agent/tests/dwn-manager.spec.ts
Due: agent

Remove duplication from DidDhtUtils.identifierToIdentityKey()
  packages/dids/src/methods/did-dht.ts
Due: dids

Correct typo in comments
  packages/dids/src/did-error.ts
Due: dids

test coverage for store/import scenarios
  packages/api/src/record.ts
  packages/api/tests/record.spec.ts
Due: api

fix test case in dwn manager test
  packages/agent/tests/dwn-manager.spec.ts
Due: agent

remove unused import
  packages/agent/tests/dwn-manager.spec.ts
Due: agent

update test covreage for bug fix failures
  packages/api/tests/record.spec.ts
Due: api

remove unreachable code path
  packages/api/src/record.ts
Due: api

Path conditions:
  agent: any of: packages/agent/**
  api: any of: packages/api/**
  common: any of: packages/common/**
  credentials: any of: packages/credentials/**
  crypto: any of: packages/crypto/**
  dids: any of: packages/dids/**
  identity-agent: any of: packages/identity-agent/**
  crypto-aws-kms: any of: packages/crypto-aws-kms/**
  proxy-agent: any of: packages/proxy-agent/**
  user-agent: any of: packages/user-agent/**
