Repository TBD54566975/web5-js: changes, and which Codecov flags are due for each by the changed paths.
All: agent, api, common, credentials, crypto, dids, identity-agent, crypto-aws-kms, proxy-agent, user-agent

codecov.yml:

comment:
  layout: "header, diff, components"

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto # auto compares coverage to the previous base commit
        threshold: 5% # allows a 5% drop from the previous base commit coverage
      - type: patch
        target: 90 # every PR opened should strive for at least 90% coverage

  individual_components:
    - component_id: package-agent
      name: agent
      paths: ["packages/agent/**"]

    - component_id: package-api
      name: api
      paths: ["packages/api/**"]

    - component_id: package_common
      name: common
      paths: ["packages/common/**"]

    - component_id: package_credentials
      name: credentials
      paths: ["packages/credentials/**"]

    - component_id: package_crypto
      name: crypto
      paths: ["packages/crypto/**"]

    - component_id: package_dids
      name: dids
      paths: ["packages/dids/**"]

    - component_id: package-identity-agent
      name: identity-agent
      paths: ["packages/identity-agent/**"]

    - component_id: package-crypto-aws-kms
      name: crypto-aws-kms
      paths: ["packages/crypto-aws-kms/**"]

    - component_id: package-proxy-agent
      name: proxy-agent
      paths: ["packages/proxy-agent/**"]

    - component_id: package-user-agent
      name: user-agent
      paths: ["packages/user-agent/**"]

coverage:
  status:
    project:
      default:
        informational: true
    patch:
      default:
        informational: true # Don't gate PRs based on Codecov passing thresholds

Add IdentityApi and more tests
  packages/agent/src/did-api.ts
  packages/agent/src/identity-api.ts
  packages/agent/src/internal.ts
  packages/agent/src/store-did.ts
  packages/agent/src/store-identity.ts
  packages/agent/src/test-harness.ts
  packages/agent/src/types/agent.ts
  packages/agent/src/types/did.ts
  packages/agent/src/types/identity.ts
  packages/agent/src/types/key-manager.ts
  packages/agent/tests/did-api.spec.ts
  packages/agent/tests/dwn-api.spec.ts
  packages/agent/tests/identity-api.spec.ts
  packages/agent/tests/store-did.spec.ts
  packages/agent/tests/store-identity.spec.ts
  packages/agent/tests/utils/test-agent.ts
Due: agent

Improve DidApi type inference and add more tests
  packages/agent/old/tests/dwn-manager.spec.ts
  packages/agent/src/did-api.ts
  packages/agent/src/dwn-api.ts
  packages/agent/src/types/agent-dwn.ts
  packages/agent/tests/did-api.spec.ts
  packages/agent/tests/dwn-api.spec.ts
Due: agent

Added support for Events and Protocols to AgentDwnApi
  packages/agent/old/tests/dwn-manager.spec.ts
  packages/agent/src/types/agent-dwn.ts
  packages/agent/tests/dwn-api.spec.ts
  packages/agent/tests/fixtures/protocol-definitions/email.json
Due: agent

AgentDwnApi sendRequest MVP
  packages/agent/.vscode/launch.json
  packages/agent/old/tests/dwn-manager.spec.ts
  packages/agent/old/tests/identity-manager.spec.ts
  packages/agent/src/bearer-identity.ts
  packages/agent/src/did-api.ts
  packages/agent/src/dwn-api.ts
  packages/agent/src/identity-api.ts
  packages/agent/src/internal.ts
  packages/agent/src/json-rpc.ts
  packages/agent/src/rpc-client.ts
  packages/agent/src/store-did.ts
  packages/agent/src/store-identity.ts
  packages/agent/src/test-harness.ts
  packages/agent/src/types/agent.ts
  packages/agent/src/types/did.ts
  packages/agent/src/types/identity.ts
  packages/agent/tests/did-api.spec.ts
  packages/agent/tests/dwn-api.spec.ts
  packages/agent/tests/identity-api.spec.ts
  packages/agent/tests/store-did.spec.ts
  packages/agent/tests/store-identity.spec.ts
  packages/agent/tests/utils/test-agent.ts
Due: agent

reset changes
  package-lock.json
  packages/agent/package.json
  packages/agent/tests/tsconfig.json
  packages/api/package.json
  packages/crypto/package.json
  packages/dids/package.json
  packages/identity-agent/package.json
  packages/proxy-agent/package.json
  packages/user-agent/package.json
Due: agent, api, crypto, dids, identity-agent, proxy-agent, user-agent

Add more AgentDwnApi sendRequest tests
  packages/agent/.vscode/launch.json
  packages/agent/old/tests/dwn-manager.spec.ts
  packages/agent/package.json
  packages/agent/tests/dwn-api.spec.ts
Due: agent

Refactor data stores
  packages/agent/src/crypto-api.ts
  packages/agent/src/did-api.ts
  packages/agent/src/dwn-api.ts
  packages/agent/src/identity-api.ts
  packages/agent/src/local-key-manager.ts
  packages/agent/src/store-data.ts
  packages/agent/src/store-did.ts
  packages/agent/src/store-identity.ts
  packages/agent/src/store-key.ts
  packages/agent/src/test-harness.ts
  packages/agent/src/types/identity.ts
  packages/agent/src/types/key-manager.ts
  packages/agent/tests/crypto-api.spec.ts
  packages/agent/tests/dwn-api.spec.ts
  packages/agent/tests/identity-api.spec.ts
  packages/agent/tests/store-data.spec.ts
  packages/agent/tests/store-did.spec.ts
  packages/agent/tests/store-identity.spec.ts
  packages/agent/tests/store-key.spec.ts
Due: agent

Improve data store index/cache handling and rename to AgentDataStore
  packages/agent/src/did-api.ts
  packages/agent/src/identity-api.ts
  packages/agent/src/local-key-manager.ts
  packages/agent/src/store-data.ts
  packages/agent/src/store-did.ts
  packages/agent/src/store-identity.ts
  packages/agent/src/store-key.ts
  packages/agent/src/types/identity.ts
  packages/agent/tests/store-did.spec.ts
  packages/agent/tests/store-identity.spec.ts
  packages/agent/tests/store-key.spec.ts
Due: agent

DWN sendRequest and MVP of SyncApi working
  packages/agent/src/dwn-api.ts
  packages/agent/src/rpc-client.ts
  packages/agent/src/store-data.ts
  packages/agent/src/store-did.ts
  packages/agent/src/store-identity.ts
  packages/agent/src/store-key.ts
  packages/agent/src/sync-api.ts
  packages/agent/src/sync-engine-level.ts
  packages/agent/src/test-harness.ts
  packages/agent/src/types/agent.ts
  packages/agent/src/types/dwn.ts
  packages/agent/src/types/sync.ts
  packages/agent/src/types/vc.ts
  packages/agent/src/utils.ts
  packages/agent/tests/dwn-api.spec.ts
  packages/agent/tests/store-data.spec.ts
  packages/agent/tests/store-did.spec.ts
  packages/agent/tests/store-identity.spec.ts
  packages/agent/tests/store-key.spec.ts
  packages/agent/tests/sync-api.spec.ts
  packages/agent/tests/sync-engine-level.spec.ts
  packages/agent/tests/utils/test-agent.ts
Due: agent

Rename agent and sync tests working
  packages/agent/old/src/dwn-manager.ts
  packages/agent/old/tests/sync-manager.spec.ts
  packages/agent/src/crypto-api.ts
  packages/agent/src/did-api.ts
  packages/agent/src/dwn-api.ts
  packages/agent/src/identity-api.ts
  packages/agent/src/internal.ts
  packages/agent/src/local-key-manager.ts
  packages/agent/src/store-data.ts
  packages/agent/src/store-did.ts
  packages/agent/src/store-identity.ts
  packages/agent/src/store-key.ts
  packages/agent/src/sync-api.ts
  packages/agent/src/sync-engine-level.ts
  packages/agent/src/test-harness.ts
  packages/agent/src/types/agent.ts
  packages/agent/src/types/did.ts
  packages/agent/src/types/key-manager.ts
  packages/agent/src/types/sync.ts
  packages/agent/tests/crypto-api.spec.ts
  packages/agent/tests/did-api.spec.ts
  packages/agent/tests/dwn-api.spec.ts
  packages/agent/tests/identity-api.spec.ts
  packages/agent/tests/store-data.spec.ts
  packages/agent/tests/sync-api.spec.ts
  packages/agent/tests/sync-engine-level.spec.ts
  packages/agent/tests/utils/test-agent.ts
Due: agent

All sync tests passing and added createIdentity to test harness
  packages/agent/old/tests/sync-manager.spec.ts
  packages/agent/src/test-harness.ts
  packages/agent/tests/sync-api.spec.ts
  packages/agent/tests/sync-engine-level.spec.ts
Due: agent

Add more testing for SyncEngineLevel
  packages/agent/tests/sync-engine-level.spec.ts
Due: agent

Clean up internal utility functions
  packages/agent/old/tests/store-managed-key.spec.ts
  packages/agent/old/tests/utils/test-agent.ts
  packages/agent/old/tests/utils/test-config.ts
  packages/agent/src/internal.ts
  packages/agent/src/store-data.ts
  packages/agent/src/store-did.ts
  packages/agent/src/store-identity.ts
  packages/agent/src/store-key.ts
  packages/agent/src/utils-internal.ts
  packages/agent/tests/bench.ts
  packages/agent/tests/store-data.spec.ts
Due: agent

stage WIP
  packages/agent/old/src/app-data-store.ts
  packages/agent/package.json
  packages/agent/src/app-data-vault.ts
  packages/agent/src/types/app-data.ts
  packages/agent/src/utils-internal.ts
  packages/agent/tests/app-data-vault.spec.ts
  packages/agent/tests/utils-internal.spec.ts
Due: agent

Delete package-lock.json
  package-lock.json
Due: none

AppDataVault WIP
  package.json
  packages/agent/package.json
  packages/agent/src/app-data-vault.ts
  packages/agent/src/crypto-api.ts
  packages/agent/src/did-api.ts
  packages/agent/src/dwn-api.ts
  packages/agent/src/identity-api.ts
  packages/agent/src/local-key-manager.ts
  packages/agent/src/prototyping/add-to-common.ts
  packages/agent/src/prototyping/crypto-error.ts
  packages/agent/src/prototyping/crypto-hkdf.ts
  packages/agent/src/prototyping/crypto-params-direct.ts
  packages/agent/src/prototyping/crypto-pbkdf2.ts
  packages/agent/src/prototyping/crypto-utils.ts
  packages/agent/src/prototyping/crypto/algorithms/aes-kw.ts
  packages/agent/src/prototyping/crypto/jose/jwe.ts
  packages/agent/src/prototyping/crypto/primitives/aes-gcm.ts
  packages/agent/src/prototyping/crypto/primitives/aes-kw.ts
  packages/agent/src/prototyping/crypto/types/cipher.ts
  packages/agent/src/prototyping/crypto/types/key-wrapper.ts
  packages/agent/src/prototyping/crypto/types/params-kms.ts
  packages/agent/src/prototyping/dids/resolver-cache-memory.ts
  packages/agent/src/prototyping/dids/utils.ts
  packages/agent/src/store-did.ts
  packages/agent/src/test-harness.ts
  packages/agent/src/types/app-data.ts
  packages/agent/tests/app-data-vault.spec.ts
  packages/agent/tests/crypto-api.spec.ts
  packages/agent/tests/did-api.spec.ts
  packages/agent/tests/local-key-manager.spec.ts
  packages/agent/tests/prototyping/crypto/primitives/aes-kw.spec.ts
  packages/agent/tests/store-data.spec.ts
Due: agent

Fix launch.json issues
  packages/agent/.vscode/launch.json
  packages/crypto/.vscode/launch.json
  pnpm-lock.yaml
Due: agent, crypto

Switch to getJoseSignatureAlgorithmFromPublicKey in @web5/crypto
  packages/agent/src/dwn-api.ts
  packages/agent/src/prototyping/crypto-utils.ts
Due: agent

Fix prototyping directory structure
  packages/agent/src/app-data-vault.ts
  packages/agent/src/crypto-api.ts
  packages/agent/src/local-key-manager.ts
  packages/agent/src/prototyping/common/object.ts
  packages/agent/src/prototyping/crypto/algorithms/aes-kw.ts
  packages/agent/src/prototyping/crypto/crypto-error.ts
  packages/agent/src/prototyping/crypto/jose/jwe.ts
  packages/agent/src/prototyping/crypto/primitives/aes-kw.ts
  packages/agent/src/prototyping/crypto/primitives/hkdf.ts
  packages/agent/src/prototyping/crypto/primitives/pbkdf2.ts
  packages/agent/src/prototyping/crypto/types/cipher.ts
  packages/agent/src/prototyping/crypto/types/key-io.ts
  packages/agent/src/prototyping/crypto/types/params-direct.ts
  packages/agent/src/prototyping/crypto/types/params-kms.ts
  packages/agent/src/prototyping/crypto/utils.ts
  packages/agent/src/types/key-manager.ts
  packages/agent/tests/app-data-vault.spec.ts
  packages/agent/tests/crypto-api.spec.ts
  packages/agent/tests/local-key-manager.spec.ts
  packages/agent/tests/prototyping/dids/resolver-cache-memory.spec.ts
Due: agent

export vp (#423)
  packages/credentials/src/index.ts
  packages/credentials/src/validators.ts
  packages/credentials/src/verifiable-credential.ts
  packages/credentials/src/verifiable-presentation.ts
  packages/credentials/tests/ssi-validator.spec.ts
Due: credentials

CompactJwe.decrypt and FlattenedJwe.decrypt working
  packages/agent/src/app-data-vault.ts
  packages/agent/src/local-key-manager.ts
  packages/agent/src/prototyping/common/type-utils.ts
  packages/agent/src/prototyping/crypto/crypto-error.ts
  packages/agent/src/prototyping/crypto/jose/jwe.ts
  packages/agent/src/prototyping/crypto/utils.ts
  packages/agent/tests/app-data-vault.spec.ts
  packages/agent/tests/prototyping/crypto/jose/jwe.spec.ts
Due: agent

Removes Snyk
  .github/workflows/security.yml
Due: none

updates
  packages/credentials/src/jwt.ts
  packages/credentials/src/utils.ts
  packages/credentials/src/verifiable-credential.ts
  packages/credentials/src/verifiable-presentation.ts
  packages/credentials/tests/jwt.spec.ts
  packages/credentials/tests/verifiable-credential.spec.ts
Due: credentials

remove comment
  packages/credentials/src/verifiable-credential.ts
Due: credentials

Removes Snyk (#434)
  .github/workflows/security.yml
Due: none

merge and timestamp update
  packages/credentials/src/jwt.ts
  packages/credentials/src/utils.ts
  packages/credentials/src/validators.ts
  packages/credentials/tests/jwt.spec.ts
  packages/credentials/tests/utils.spec.ts
  packages/credentials/tests/verifiable-credential.spec.ts
Due: credentials

lint update
  packages/credentials/tests/verifiable-credential.spec.ts
Due: credentials

Enhanced CryptoApi support for key conversion and wrapping
  packages/agent/src/app-data-vault.ts
  packages/agent/src/crypto-api.ts
  packages/agent/src/local-key-manager.ts
  packages/agent/src/prototyping/crypto/algorithms/aes-gcm.ts
  packages/agent/src/prototyping/crypto/algorithms/aes-kw.ts
  packages/agent/src/prototyping/crypto/algorithms/ecdsa.ts
  packages/agent/src/prototyping/crypto/algorithms/eddsa.ts
  packages/agent/src/prototyping/crypto/algorithms/hkdf.ts
  packages/agent/src/prototyping/crypto/algorithms/pbkdf2.ts
  packages/agent/src/prototyping/crypto/crypto-error.ts
  packages/agent/src/prototyping/crypto/jose/jwe.ts
  packages/agent/src/prototyping/crypto/primitives/hkdf.ts
  packages/agent/src/prototyping/crypto/primitives/pbkdf2.ts
  packages/agent/src/prototyping/crypto/types/kdf.ts
  packages/agent/src/prototyping/crypto/types/key-converter.ts
  packages/agent/src/prototyping/crypto/types/key-manager.ts
  packages/agent/src/prototyping/crypto/types/params-direct.ts
  packages/agent/src/prototyping/crypto/types/params-kms.ts
  packages/agent/src/types/key-manager.ts
  packages/agent/tests/crypto-api.spec.ts
  packages/agent/tests/dwn-api.spec.ts
  packages/agent/tests/prototyping/crypto/algorithms/aes-kw.spec.ts
  packages/agent/tests/prototyping/crypto/fixtures/test-vectors/hkdf.ts
  packages/agent/tests/prototyping/crypto/jose/jwe.spec.ts
  packages/agent/tests/prototyping/crypto/primitives/hkdf.spec.ts
Due: agent

Split Crypto and KeyManager
  packages/agent/src/app-data-vault.ts
  packages/agent/src/crypto-api.ts
  packages/agent/src/did-api.ts
  packages/agent/src/dwn-api.ts
  packages/agent/src/identity-api.ts
  packages/agent/src/local-key-manager.ts
  packages/agent/src/prototyping/crypto/algorithms/hkdf.ts
  packages/agent/src/prototyping/crypto/algorithms/pbkdf2.ts
  packages/agent/src/prototyping/crypto/dsa.ts
  packages/agent/src/prototyping/crypto/jose/jwe.ts
  packages/agent/src/prototyping/crypto/types/crypto-api.ts
  packages/agent/src/prototyping/crypto/types/key-deriver.ts
  packages/agent/src/prototyping/crypto/types/key-manager.ts
  packages/agent/src/test-harness.ts
  packages/agent/src/types/agent.ts
  packages/agent/src/types/key-manager.ts
  packages/agent/tests/crypto-api.spec.ts
  packages/agent/tests/did-api.spec.ts
  packages/agent/tests/local-key-manager.spec.ts
  packages/agent/tests/store-data.spec.ts
  packages/agent/tests/store-did.spec.ts
  packages/agent/tests/store-identity.spec.ts
  packages/agent/tests/store-key.spec.ts
  packages/agent/tests/utils/test-agent.ts
Due: agent

AppDataVault refactored to use CompactJwe
  packages/agent/src/app-data-vault.ts
  packages/agent/src/crypto-api.ts
  packages/agent/src/prototyping/crypto/algorithms/pbkdf2.ts
  packages/agent/src/prototyping/crypto/jose/jwe.ts
  packages/agent/src/prototyping/crypto/types/crypto-api.ts
  packages/agent/src/prototyping/crypto/types/params-direct.ts
  packages/agent/src/prototyping/crypto/types/params-kms.ts
  packages/agent/src/types/app-data.ts
  packages/agent/tests/app-data-vault.spec.ts
  packages/agent/tests/prototyping/crypto/jose/jwe.spec.ts
Due: agent

Add hermit and update GH actions
  .github/workflows/alpha-npm.yml
  .github/workflows/docs-ci.yml
  .github/workflows/docs-publish.yml
  .github/workflows/release-npm.yml
  .github/workflows/tests-ci.yml
  bin/README.hermit.md
  bin/activate-hermit
  bin/hermit
  bin/hermit.hcl
Due: none

modify workflow
  .github/workflows/docs-publish.yml
Due: none

add pnpm
  bin/.pnpm-8.15.4.pkg
  bin/pnpm
Due: none

dwn ws client
  package.json
  packages/agent/package.json
  packages/agent/src/prototyping/clients/ws-dwn-rpc-client.ts
Due: agent

WebSocket Dwn Client
  packages/agent/package.json
  packages/agent/src/json-rpc.ts
  packages/agent/src/prototyping/clients/json-rpc-socket.ts
  packages/agent/src/prototyping/clients/ws-dwn-rpc-client.ts
  packages/agent/src/rpc-client.ts
  pnpm-lock.yaml
Due: agent

move rpc clients
  packages/agent/src/prototyping/clients/json-rpc-socket.ts
  packages/agent/src/prototyping/clients/json-rpc.ts
  packages/agent/src/prototyping/clients/rpc-client.ts
  packages/agent/src/prototyping/clients/ws-dwn-rpc-client.ts
  packages/agent/src/test-harness.ts
  packages/agent/src/types/agent.ts
  packages/agent/tests/prototyping/clients/ws-dwn-rpc-client.spec.ts
  packages/agent/tests/utils/test-agent.ts
Due: agent

organize classes and types, create websocket web5 rpc client
  packages/agent/src/prototyping/clients/http-clients.ts
  packages/agent/src/prototyping/clients/rpc-client.ts
  packages/agent/src/prototyping/clients/web-socket-clients.ts
  packages/agent/src/prototyping/clients/web5-rpc-client.ts
  packages/agent/src/prototyping/clients/web5-rpc-types.ts
  packages/agent/src/test-harness.ts
  packages/agent/src/types/agent.ts
  packages/agent/tests/prototyping/clients/ws-dwn-rpc-client.spec.ts
  packages/agent/tests/utils/test-agent.ts
Due: agent

make modifications to work in a browser context
  packages/agent/src/prototyping/clients/json-rpc-socket.ts
  packages/agent/tests/prototyping/clients/http-dwn-rpc-client.spec.ts
  packages/agent/tests/prototyping/clients/ws-dwn-rpc-client.spec.ts
Due: agent

test cases
  packages/agent/src/prototyping/clients/json-rpc-socket.ts
  packages/agent/src/prototyping/clients/web-socket-clients.ts
  packages/agent/tests/prototyping/clients/http-dwn-rpc-client.spec.ts
  packages/agent/tests/prototyping/clients/ws-dwn-rpc-client.spec.ts
Due: agent
