Repository TBD54566975/web5-js: changes, and which Codecov flags are due for each by the changed paths.
All: common, credentials, crypto, dids, web5, web5-agent, web5-proxy-agent, web5-user-agent

Changes in Readme
  README.md
Due: none

Minor change to DwnApi test to remove dependency on Record class
  packages/api/tests/dwn-api.spec.ts
Due: none

Fix MVP for bug
  packages/api/src/dwn-api.ts
  packages/api/src/record.ts
Due: none

Update README to remove reference to record.delete()
  README.md
  packages/api/README.md
Due: none

Update tests to cover local and remote query and read edge cases
  packages/api/tests/record.spec.ts
Due: none

Add tests for record.data.stream() and fix comment indendation
  packages/api/tests/record.spec.ts
Due: none

Add AsyncIterable methods to Convert utility
  packages/common/src/convert.ts
  packages/common/src/type-utils.ts
  packages/common/tests/convert.spec.ts
  packages/common/tests/object.spec.ts
  packages/common/tests/type-utils.spec.ts
Due: common

Add common capabilities for working with WHATWG and Node.js Streams
  packages/common/package.json
  packages/common/src/index.ts
  packages/common/src/stream-node.ts
  packages/common/src/stream.ts
  packages/common/tests/stream-node.spec.ts
  packages/common/tests/stream.spec.ts
Due: common

Fix bug with multiple calls to `record.data.*` after DWN reads and queries
  packages/api/src/dwn-api.ts
  packages/api/src/record.ts
  packages/api/tests/record.spec.ts
Due: none

Update `@web5/api` Record to use new common stream libraries
  package-lock.json
  packages/api/src/record.ts
  packages/api/tests/record.spec.ts
Due: none

Fix nested test and clean up commented out tests
  packages/common/tests/stream-node.spec.ts
Due: common

Export Readable from @web5/common
  packages/common/src/stream-node.ts
Due: common

Update README with new `record.data` methods
  README.md
  packages/api/README.md
Due: none

Fix tbdocs reporter errors
  packages/api/src/record.ts
Due: none

Switch to TBD ION node due to issue with MSFT node
  packages/dids/src/did-ion.ts
  packages/dids/tests/did-ion.spec.ts
Due: dids

Decouples security scanning analysis and add FOSSA
  .github/workflows/security.yml
  .github/workflows/tests-ci.yml
Due: none

snyk and fossa
  .github/workflows/security.yml
Due: none

updates
  packages/credentials/example/index.js
  packages/credentials/example/package-lock.json
  packages/credentials/example/package.json
Due: credentials

update vc sign
  packages/credentials/src/verifiable-credential.ts
  packages/credentials/tests/presentation-exchange.spec.ts
  packages/credentials/tests/verifiable-credential.spec.ts
Due: credentials

fix spec
  .web5-spec/credentials.ts
Due: none

Improve error handling, align key set with other methods, and increase test coverage
  packages/credentials/tests/verifiable-credential.spec.ts
  packages/dids/src/did-dht.ts
  packages/dids/tests/dht.spec.ts
  packages/dids/tests/did-dht.spec.ts
Due: credentials, dids

Update @web5/credentials with DID DHT key set changes
  packages/credentials/tests/verifiable-credential.spec.ts
Due: credentials

Bump package versions in preparation for @web5/api 0.8.3 release
  README.md
  package-lock.json
  packages/agent/package.json
  packages/api/README.md
  packages/api/package.json
  packages/common/package.json
  packages/credentials/package.json
  packages/crypto/package.json
  packages/dids/package.json
  packages/identity-agent/package.json
  packages/proxy-agent/package.json
  packages/user-agent/package.json
Due: common, credentials, crypto, dids

Export pex type directly
  packages/credentials/src/presentation-exchange.ts
Due: credentials

Path conditions:
  common: any of: packages/common/**
  credentials: any of: packages/credentials/**
  crypto: any of: packages/crypto/**
  dids: any of: packages/dids/**
  web5: any of: packages/web5/**
  web5-agent: any of: packages/web5-agent/**
  web5-proxy-agent: any of: packages/web5-proxy-agent/**
  web5-user-agent: any of: packages/web5-user-agent/**
