Repository TBD54566975/web5-js: changes, and which Codecov flags are due for each by the changed paths.
All: agent, api, common, credentials, crypto, dids, identity-agent, crypto-aws-kms, proxy-agent, user-agent

Refactor data stores
  packages/agent/src/crypto-api.ts
  packages/agent/src/did-api.ts
  packages/agent/src/dwn-api.ts
  packages/agent/src/identity-api.ts
  packages/agent/src/local-key-manager.ts
  packages/agent/src/store-data.ts
  packages/agent/src/store-did.ts
  packages/agent/src/store-identity.ts
  packages/agent/src/store-key.ts
  packages/agent/src/test-harness.ts
  packages/agent/src/types/identity.ts
  packages/agent/src/types/key-manager.ts
  packages/agent/tests/crypto-api.spec.ts
  packages/agent/tests/dwn-api.spec.ts
  packages/agent/tests/identity-api.spec.ts
  packages/agent/tests/store-data.spec.ts
  packages/agent/tests/store-did.spec.ts
  packages/agent/tests/store-identity.spec.ts
  packages/agent/tests/store-key.spec.ts
Due: agent

Improve data store index/cache handling and rename to AgentDataStore
  packages/agent/src/did-api.ts
  packages/agent/src/identity-api.ts
  packages/agent/src/local-key-manager.ts
  packages/agent/src/store-data.ts
  packages/agent/src/store-did.ts
  packages/agent/src/store-identity.ts
  packages/agent/src/store-key.ts
  packages/agent/src/types/identity.ts
  packages/agent/tests/store-did.spec.ts
  packages/agent/tests/store-identity.spec.ts
  packages/agent/tests/store-key.spec.ts
Due: agent

DWN sendRequest and MVP of SyncApi working
  packages/agent/src/dwn-api.ts
  packages/agent/src/rpc-client.ts
  packages/agent/src/store-data.ts
  packages/agent/src/store-did.ts
  packages/agent/src/store-identity.ts
  packages/agent/src/store-key.ts
  packages/agent/src/sync-api.ts
  packages/agent/src/sync-engine-level.ts
  packages/agent/src/test-harness.ts
  packages/agent/src/types/agent.ts
  packages/agent/src/types/dwn.ts
  packages/agent/src/types/sync.ts
  packages/agent/src/types/vc.ts
  packages/agent/src/utils.ts
  packages/agent/tests/dwn-api.spec.ts
  packages/agent/tests/store-data.spec.ts
  packages/agent/tests/store-did.spec.ts
  packages/agent/tests/store-identity.spec.ts
  packages/agent/tests/store-key.spec.ts
  packages/agent/tests/sync-api.spec.ts
  packages/agent/tests/sync-engine-level.spec.ts
  packages/agent/tests/utils/test-agent.ts
Due: agent

Rename agent and sync tests working
  packages/agent/old/src/dwn-manager.ts
  packages/agent/old/tests/sync-manager.spec.ts
  packages/agent/src/crypto-api.ts
  packages/agent/src/did-api.ts
  packages/agent/src/dwn-api.ts
  packages/agent/src/identity-api.ts
  packages/agent/src/internal.ts
  packages/agent/src/local-key-manager.ts
  packages/agent/src/store-data.ts
  packages/agent/src/store-did.ts
  packages/agent/src/store-identity.ts
  packages/agent/src/store-key.ts
  packages/agent/src/sync-api.ts
  packages/agent/src/sync-engine-level.ts
  packages/agent/src/test-harness.ts
  packages/agent/src/types/agent.ts
  packages/agent/src/types/did.ts
  packages/agent/src/types/key-manager.ts
  packages/agent/src/types/sync.ts
  packages/agent/tests/crypto-api.spec.ts
  packages/agent/tests/did-api.spec.ts
  packages/agent/tests/dwn-api.spec.ts
  packages/agent/tests/identity-api.spec.ts
  packages/agent/tests/store-data.spec.ts
  packages/agent/tests/sync-api.spec.ts
  packages/agent/tests/sync-engine-level.spec.ts
  packages/agent/tests/utils/test-agent.ts
Due: agent

All sync tests passing and added createIdentity to test harness
  packages/agent/old/tests/sync-manager.spec.ts
  packages/agent/src/test-harness.ts
  packages/agent/tests/sync-api.spec.ts
  packages/agent/tests/sync-engine-level.spec.ts
Due: agent

Add more testing for SyncEngineLevel
  packages/agent/tests/sync-engine-level.spec.ts
Due: agent

Clean up internal utility functions
  packages/agent/old/tests/store-managed-key.spec.ts
  packages/agent/old/tests/utils/test-agent.ts
  packages/agent/old/tests/utils/test-config.ts
  packages/agent/src/internal.ts
  packages/agent/src/store-data.ts
  packages/agent/src/store-did.ts
  packages/agent/src/store-identity.ts
  packages/agent/src/store-key.ts
  packages/agent/src/utils-internal.ts
  packages/agent/tests/bench.ts
  packages/agent/tests/store-data.spec.ts
Due: agent

stage WIP
  packages/agent/old/src/app-data-store.ts
  packages/agent/package.json
  packages/agent/src/app-data-vault.ts
  packages/agent/src/types/app-data.ts
  packages/agent/src/utils-internal.ts
  packages/agent/tests/app-data-vault.spec.ts
  packages/agent/tests/utils-internal.spec.ts
Due: agent

Delete package-lock.json
  package-lock.json
Due: none

AppDataVault WIP
  package.json
  packages/agent/package.json
  packages/agent/src/app-data-vault.ts
  packages/agent/src/crypto-api.ts
  packages/agent/src/did-api.ts
  packages/agent/src/dwn-api.ts
  packages/agent/src/identity-api.ts
  packages/agent/src/local-key-manager.ts
  packages/agent/src/prototyping/add-to-common.ts
  packages/agent/src/prototyping/crypto-error.ts
  packages/agent/src/prototyping/crypto-hkdf.ts
  packages/agent/src/prototyping/crypto-params-direct.ts
  packages/agent/src/prototyping/crypto-pbkdf2.ts
  packages/agent/src/prototyping/crypto-utils.ts
  packages/agent/src/prototyping/crypto/algorithms/aes-kw.ts
  packages/agent/src/prototyping/crypto/jose/jwe.ts
  packages/agent/src/prototyping/crypto/primitives/aes-gcm.ts
  packages/agent/src/prototyping/crypto/primitives/aes-kw.ts
  packages/agent/src/prototyping/crypto/types/cipher.ts
  packages/agent/src/prototyping/crypto/types/key-wrapper.ts
  packages/agent/src/prototyping/crypto/types/params-kms.ts
  packages/agent/src/prototyping/dids/resolver-cache-memory.ts
  packages/agent/src/prototyping/dids/utils.ts
  packages/agent/src/store-did.ts
  packages/agent/src/test-harness.ts
  packages/agent/src/types/app-data.ts
  packages/agent/tests/app-data-vault.spec.ts
  packages/agent/tests/crypto-api.spec.ts
  packages/agent/tests/did-api.spec.ts
  packages/agent/tests/local-key-manager.spec.ts
  packages/agent/tests/prototyping/crypto/primitives/aes-kw.spec.ts
  packages/agent/tests/store-data.spec.ts
Due: agent

Fix launch.json issues
  pnpm-lock.yaml
Due: none

Switch to getJoseSignatureAlgorithmFromPublicKey in @web5/crypto
  packages/agent/src/dwn-api.ts
  packages/agent/src/prototyping/crypto-utils.ts
Due: agent

Fix prototyping directory structure
  packages/agent/src/app-data-vault.ts
  packages/agent/src/crypto-api.ts
  packages/agent/src/local-key-manager.ts
  packages/agent/src/prototyping/common/object.ts
  packages/agent/src/prototyping/crypto/algorithms/aes-kw.ts
  packages/agent/src/prototyping/crypto/crypto-error.ts
  packages/agent/src/prototyping/crypto/jose/jwe.ts
  packages/agent/src/prototyping/crypto/primitives/aes-kw.ts
  packages/agent/src/prototyping/crypto/primitives/hkdf.ts
  packages/agent/src/prototyping/crypto/primitives/pbkdf2.ts
  packages/agent/src/prototyping/crypto/types/cipher.ts
  packages/agent/src/prototyping/crypto/types/key-io.ts
  packages/agent/src/prototyping/crypto/types/params-direct.ts
  packages/agent/src/prototyping/crypto/types/params-kms.ts
  packages/agent/src/prototyping/crypto/utils.ts
  packages/agent/src/types/key-manager.ts
  packages/agent/tests/app-data-vault.spec.ts
  packages/agent/tests/crypto-api.spec.ts
  packages/agent/tests/local-key-manager.spec.ts
  packages/agent/tests/prototyping/dids/resolver-cache-memory.spec.ts
Due: agent

CompactJwe.decrypt and FlattenedJwe.decrypt working
  packages/agent/src/app-data-vault.ts
  packages/agent/src/local-key-manager.ts
  packages/agent/src/prototyping/common/type-utils.ts
  packages/agent/src/prototyping/crypto/crypto-error.ts
  packages/agent/src/prototyping/crypto/jose/jwe.ts
  packages/agent/src/prototyping/crypto/utils.ts
  packages/agent/tests/app-data-vault.spec.ts
  packages/agent/tests/prototyping/crypto/jose/jwe.spec.ts
Due: agent

Enhanced CryptoApi support for key conversion and wrapping
  packages/agent/src/app-data-vault.ts
  packages/agent/src/crypto-api.ts
  packages/agent/src/local-key-manager.ts
  packages/agent/src/prototyping/crypto/algorithms/aes-gcm.ts
  packages/agent/src/prototyping/crypto/algorithms/aes-kw.ts
  packages/agent/src/prototyping/crypto/algorithms/ecdsa.ts
  packages/agent/src/prototyping/crypto/algorithms/eddsa.ts
  packages/agent/src/prototyping/crypto/algorithms/hkdf.ts
  packages/agent/src/prototyping/crypto/algorithms/pbkdf2.ts
  packages/agent/src/prototyping/crypto/crypto-error.ts
  packages/agent/src/prototyping/crypto/jose/jwe.ts
  packages/agent/src/prototyping/crypto/primitives/hkdf.ts
  packages/agent/src/prototyping/crypto/primitives/pbkdf2.ts
  packages/agent/src/prototyping/crypto/types/kdf.ts
  packages/agent/src/prototyping/crypto/types/key-converter.ts
  packages/agent/src/prototyping/crypto/types/key-manager.ts
  packages/agent/src/prototyping/crypto/types/params-direct.ts
  packages/agent/src/prototyping/crypto/types/params-kms.ts
  packages/agent/src/types/key-manager.ts
  packages/agent/tests/crypto-api.spec.ts
  packages/agent/tests/dwn-api.spec.ts
  packages/agent/tests/prototyping/crypto/algorithms/aes-kw.spec.ts
  packages/agent/tests/prototyping/crypto/fixtures/test-vectors/hkdf.ts
  packages/agent/tests/prototyping/crypto/jose/jwe.spec.ts
  packages/agent/tests/prototyping/crypto/primitives/hkdf.spec.ts
Due: agent

Split Crypto and KeyManager
  packages/agent/src/app-data-vault.ts
  packages/agent/src/crypto-api.ts
  packages/agent/src/did-api.ts
  packages/agent/src/dwn-api.ts
  packages/agent/src/identity-api.ts
  packages/agent/src/local-key-manager.ts
  packages/agent/src/prototyping/crypto/algorithms/hkdf.ts
  packages/agent/src/prototyping/crypto/algorithms/pbkdf2.ts
  packages/agent/src/prototyping/crypto/dsa.ts
  packages/agent/src/prototyping/crypto/jose/jwe.ts
  packages/agent/src/prototyping/crypto/types/crypto-api.ts
  packages/agent/src/prototyping/crypto/types/key-deriver.ts
  packages/agent/src/prototyping/crypto/types/key-manager.ts
  packages/agent/src/test-harness.ts
  packages/agent/src/types/agent.ts
  packages/agent/src/types/key-manager.ts
  packages/agent/tests/crypto-api.spec.ts
  packages/agent/tests/did-api.spec.ts
  packages/agent/tests/local-key-manager.spec.ts
  packages/agent/tests/store-data.spec.ts
  packages/agent/tests/store-did.spec.ts
  packages/agent/tests/store-identity.spec.ts
  packages/agent/tests/store-key.spec.ts
  packages/agent/tests/utils/test-agent.ts
Due: agent

AppDataVault refactored to use CompactJwe
  packages/agent/src/app-data-vault.ts
  packages/agent/src/crypto-api.ts
  packages/agent/src/prototyping/crypto/algorithms/pbkdf2.ts
  packages/agent/src/prototyping/crypto/jose/jwe.ts
  packages/agent/src/prototyping/crypto/types/crypto-api.ts
  packages/agent/src/prototyping/crypto/types/params-direct.ts
  packages/agent/src/prototyping/crypto/types/params-kms.ts
  packages/agent/src/types/app-data.ts
  packages/agent/tests/app-data-vault.spec.ts
  packages/agent/tests/prototyping/crypto/jose/jwe.spec.ts
Due: agent

Improve structure of JWE code
  packages/agent/src/prototyping/crypto/jose/jwe-compact.ts
  packages/agent/src/prototyping/crypto/jose/jwe-flattened.ts
  packages/agent/src/prototyping/crypto/jose/jwe.ts
  packages/agent/tests/prototyping/crypto/jose/jwe.spec.ts
Due: agent

Add AppDataVault docs
  packages/agent/src/app-data-vault.ts
Due: agent

Complete refactoring and renaming of IdentityVault
  packages/agent/src/hd-identity-vault.ts
  packages/agent/src/prototyping/crypto/jose/jwe-compact.ts
  packages/agent/src/prototyping/crypto/jose/jwe-flattened.ts
  packages/agent/src/prototyping/crypto/jose/jwe.ts
  packages/agent/src/store-data.ts
  packages/agent/src/test-harness.ts
  packages/agent/src/types/agent.ts
  packages/agent/src/types/app-data.ts
  packages/agent/src/types/identity-vault.ts
  packages/agent/tests/did-api.spec.ts
  packages/agent/tests/dwn-api.spec.ts
  packages/agent/tests/hd-identity-vault.spec.ts
  packages/agent/tests/identity-api.spec.ts
  packages/agent/tests/local-key-manager.spec.ts
  packages/agent/tests/prototyping/crypto/jose/jwe-compact.spec.ts
  packages/agent/tests/prototyping/crypto/jose/jwe-flattened.spec.ts
  packages/agent/tests/store-data.spec.ts
  packages/agent/tests/store-did.spec.ts
  packages/agent/tests/store-identity.spec.ts
  packages/agent/tests/store-key.spec.ts
  packages/agent/tests/sync-engine-level.spec.ts
  packages/agent/tests/utils/test-agent.ts
Due: agent

Fix @web5/agent exports and minor refactoring
  packages/agent/src/index.ts
  packages/agent/src/sync-engine-level.ts
  packages/agent/src/types/dwn.ts
  packages/agent/tests/utils/test-agent.ts
  pnpm-lock.yaml
Due: agent

Resolve key manager type issues in agent package
  packages/agent/src/did-api.ts
  packages/agent/src/identity-api.ts
  packages/agent/src/index.ts
  packages/agent/src/test-harness.ts
  packages/agent/src/types/agent.ts
  packages/agent/tests/utils/test-agent.ts
Due: agent

Remove test timeouts
  packages/agent/tests/dwn-api.spec.ts
  packages/agent/tests/hd-identity-vault.spec.ts
Due: agent

Add createDwn utility to Agent DWN API
  packages/agent/src/dwn-api.ts
Due: agent

Remove unused type definitions
  packages/agent/src/types/did.ts
Due: agent

Resolve bug in HdIdentityVault
  packages/agent/src/hd-identity-vault.ts
  packages/agent/src/types/identity-vault.ts
Due: agent

Update @web5/user-agent to use latest agent, crypto, dids packages
  packages/agent/src/prototyping/dids/utils.ts
  packages/agent/src/types/dwn.ts
  packages/user-agent/README.md
  packages/user-agent/package.json
  packages/user-agent/src/user-agent.ts
  packages/user-agent/tests/user-agent.spec.ts
  pnpm-lock.yaml
Due: agent, user-agent

Update @web5/proxy-agent to use latest agent, crypto, dids packages
  packages/proxy-agent/README.md
  packages/proxy-agent/package.json
  packages/proxy-agent/src/proxy-agent.ts
  packages/proxy-agent/tests/proxy-agent.spec.ts
  pnpm-lock.yaml
Due: proxy-agent

Remove chai-as-promised from @web5/agent
  packages/agent/package.json
  packages/agent/tests/prototyping/crypto/algorithms/aes-kw.spec.ts
  packages/agent/tests/prototyping/crypto/primitives/aes-kw.spec.ts
  packages/agent/tests/prototyping/dids/resolver-cache-memory.spec.ts
  pnpm-lock.yaml
Due: agent

Minor identity vault refactor
  packages/agent/src/hd-identity-vault.ts
  packages/agent/src/types/identity-vault.ts
  packages/agent/tests/hd-identity-vault.spec.ts
Due: agent

Add list() to IdentityApi and improve tests
  packages/agent/src/identity-api.ts
  packages/agent/tests/identity-api.spec.ts
Due: agent

Improve DX for Agent DidApi
  packages/agent/src/did-api.ts
  packages/agent/src/index.ts
  packages/agent/src/types/agent.ts
  packages/agent/tests/utils/test-agent.ts
Due: agent

Update user-agent and proxy-agent for identity vault changes
  packages/proxy-agent/src/proxy-agent.ts
  packages/proxy-agent/tests/proxy-agent.spec.ts
  packages/proxy-agent/tests/utils/test-config.ts
  packages/user-agent/src/user-agent.ts
  packages/user-agent/tests/user-agent.spec.ts
  packages/user-agent/tests/utils/test-config.ts
Due: proxy-agent, user-agent

Remove legacy code
  packages/agent/old/src/app-data-store.ts
  packages/agent/old/src/did-manager.ts
  packages/agent/old/src/dwn-manager.ts
  packages/agent/old/src/identity-manager.ts
  packages/agent/old/src/index.ts
  packages/agent/old/src/json-rpc.ts
  packages/agent/old/src/key-manager.ts
  packages/agent/old/src/kms-local.ts
  packages/agent/old/src/rpc-client.ts
  packages/agent/old/src/store-managed-did.ts
  packages/agent/old/src/store-managed-identity.ts
  packages/agent/old/src/store-managed-key.ts
  packages/agent/old/src/sync-manager.ts
  packages/agent/old/src/test-managed-agent.ts
  packages/agent/old/src/types/agent.ts
  packages/agent/old/src/types/managed-key.ts
  packages/agent/old/src/utils.ts
  packages/agent/old/tests/app-data-vault.spec.ts
  packages/agent/old/tests/fixtures/protocol-definitions/email.json
  packages/agent/old/tests/identity-manager.spec.ts
  packages/agent/old/tests/key-manager.spec.ts
  packages/agent/old/tests/kms-local.spec.ts
  packages/agent/old/tests/tsconfig.json
Due: agent

Fix typo in test harness
  packages/agent/src/test-harness.ts
Due: agent

Refactor DID API
  packages/api/src/did-api.ts
  packages/api/tests/did-api.spec.ts
Due: api

Update @web5/api to use latest web5 deps
  packages/agent/package.json
  packages/api/.vscode/launch.json
  packages/api/README.md
  packages/api/package.json
  packages/api/src/did-api.ts
  packages/api/src/dwn-api.ts
  packages/api/src/protocol.ts
  packages/api/src/record.ts
  packages/api/src/web5.ts
  packages/api/tests/dwn-api.spec.ts
  packages/api/tests/fixtures/protocol-definitions/photos.json
  packages/api/tests/protocol.spec.ts
  packages/api/tests/record.spec.ts
  packages/api/tests/send-cache.spec.ts
  packages/api/tests/utils.spec.ts
  packages/api/tests/utils/test-user-agent.ts
  packages/api/tests/vc-api.spec.ts
  packages/api/tests/web5.spec.ts
  pnpm-lock.yaml
Due: agent, api

Break up into smaller PRs
  packages/agent/build/esbuild-tests.cjs
  packages/crypto/.vscode/launch.json
  packages/crypto/package.json
  pnpm-lock.yaml
Due: agent, crypto

Minor api test improvements
  packages/api/tests/dwn-api.spec.ts
  packages/api/tests/protocol.spec.ts
  packages/api/tests/record.spec.ts
Due: api

Resolve Chrome browser AES 192 test failures
  packages/agent/tests/crypto-api.spec.ts
  packages/agent/tests/local-key-manager.spec.ts
  packages/agent/tests/utils/runtimes.ts
Due: agent

Path conditions:
  agent: any of: packages/agent/**
  api: any of: packages/api/**
  common: any of: packages/common/**
  credentials: any of: packages/credentials/**
  crypto: any of: packages/crypto/**
  dids: any of: packages/dids/**
  identity-agent: any of: packages/identity-agent/**
  crypto-aws-kms: any of: packages/crypto-aws-kms/**
  proxy-agent: any of: packages/proxy-agent/**
  user-agent: any of: packages/user-agent/**
