Repository TBD54566975/web5-js: changes, and which Codecov flags are due for each by the changed paths.
All: agent, api, common, credentials, crypto, dids, identity-agent, crypto-aws-kms, proxy-agent, user-agent

codecov.yml:

comment:
  layout: "header, diff, components"

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto # auto compares coverage to the previous base commit
        threshold: 5% # allows a 5% drop from the previous base commit coverage
      - type: patch
        target: 90 # every PR opened should strive for at least 90% coverage

  individual_components:
    - component_id: package-agent
      name: agent
      paths: ["packages/agent/**"]

    - component_id: package-api
      name: api
      paths: ["packages/api/**"]

    - component_id: package_common
      name: common
      paths: ["packages/common/**"]

    - component_id: package_credentials
      name: credentials
      paths: ["packages/credentials/**"]

    - component_id: package_crypto
      name: crypto
      paths: ["packages/crypto/**"]

    - component_id: package_dids
      name: dids
      paths: ["packages/dids/**"]

    - component_id: package-identity-agent
      name: identity-agent
      paths: ["packages/identity-agent/**"]

    - component_id: package-crypto-aws-kms
      name: crypto-aws-kms
      paths: ["packages/crypto-aws-kms/**"]

    - component_id: package-proxy-agent
      name: proxy-agent
      paths: ["packages/proxy-agent/**"]

    - component_id: package-user-agent
      name: user-agent
      paths: ["packages/user-agent/**"]

coverage:
  status:
    project:
      default:
        informational: true
    patch:
      default:
        informational: true # Don't gate PRs based on Codecov passing thresholds

update
  packages/dids/src/methods/did-dht.ts
Due: dids

rebalance ci
  .github/workflows/tests-ci.yml
Due: none

add changeset
  .changeset/proud-bottles-develop.md
Due: none

small client changes
  packages/agent/src/prototyping/clients/web5-rpc-client.ts
  packages/agent/src/prototyping/clients/web5-rpc-types.ts
Due: agent

split web5 rpc clients from dwn clients that are in prototyping
  packages/agent/src/index.ts
  packages/agent/src/prototyping/clients/dwn-rpc-types.ts
  packages/agent/src/prototyping/clients/http-dwn-rpc-client.ts
  packages/agent/src/prototyping/clients/web-socket-clients.ts
  packages/agent/src/prototyping/clients/web5-rpc-client.ts
  packages/agent/src/rpc-client.ts
  packages/agent/src/test-harness.ts
  packages/agent/src/types/agent.ts
  packages/agent/tests/prototyping/clients/http-dwn-rpc-client.spec.ts
  packages/agent/tests/prototyping/clients/http-web5-rpc-client.spec.ts
  packages/agent/tests/prototyping/clients/web5-rpc-client.spec.ts
  packages/agent/tests/prototyping/clients/ws-dwn-rpc-client.spec.ts
  packages/agent/tests/prototyping/clients/ws-web5-rpc-client.spec.ts
  packages/agent/tests/rpc-client.spec.ts
  packages/agent/tests/utils/test-agent.ts
Due: agent

add test cases for messageHandlers map
  packages/agent/tests/prototyping/clients/json-rpc-socket.spec.ts
Due: agent

bring in rpc clients
  packages/agent/package.json
  packages/agent/src/index.ts
  packages/agent/src/prototyping/clients/dwn-server-info-cache-level.ts
  packages/agent/src/prototyping/clients/dwn-server-info-cache-memory.ts
  packages/agent/src/prototyping/clients/dwn-server-info-cache-no-op.ts
  packages/agent/src/prototyping/clients/http-clients.ts
  packages/agent/src/prototyping/clients/json-rpc-socket.ts
  packages/agent/src/prototyping/clients/json-rpc.ts
  packages/agent/src/prototyping/clients/web-socket-clients.ts
  packages/agent/src/prototyping/clients/web5-rpc-client.ts
  packages/agent/src/prototyping/clients/web5-rpc-types.ts
  packages/agent/src/prototyping/crypto/jose/jwe.ts
  packages/agent/src/rpc-client.ts
  packages/agent/src/test-harness.ts
  packages/agent/src/types/agent.ts
  packages/agent/src/types/dwn.ts
  packages/agent/tests/prototyping/clients/dwn-server-info-cache.spec.ts
  packages/agent/tests/prototyping/clients/http-dwn-rpc-client.spec.ts
  packages/agent/tests/prototyping/clients/http-web5-rpc-client.spec.ts
  packages/agent/tests/prototyping/clients/json-rpc-socket.spec.ts
  packages/agent/tests/prototyping/clients/web5-rpc-client.spec.ts
  packages/agent/tests/prototyping/clients/ws-dwn-rpc-client.spec.ts
  packages/agent/tests/prototyping/clients/ws-web5-rpc-client.spec.ts
  packages/agent/tests/utils/test-agent.ts
  pnpm-lock.yaml
Due: agent

remove whitespace
  packages/agent/src/prototyping/crypto/jose/jwe.ts
  packages/agent/src/types/dwn.ts
  packages/agent/tests/rpc-client.spec.ts
Due: agent

cache interace change
  packages/agent/src/prototyping/clients/dwn-server-info-cache-level.ts
  packages/agent/src/prototyping/clients/dwn-server-info-cache-memory.ts
  packages/agent/src/prototyping/clients/dwn-server-info-cache-no-op.ts
  packages/agent/src/prototyping/clients/web5-rpc-types.ts
Due: agent

remove server-info interface, caching and functions to reduce review surface for PR
  packages/agent/src/prototyping/clients/dwn-server-info-cache-level.ts
  packages/agent/src/prototyping/clients/dwn-server-info-cache-memory.ts
  packages/agent/src/prototyping/clients/dwn-server-info-cache-no-op.ts
  packages/agent/src/prototyping/clients/http-clients.ts
  packages/agent/src/prototyping/clients/web-socket-clients.ts
  packages/agent/src/prototyping/clients/web5-rpc-client.ts
  packages/agent/src/prototyping/clients/web5-rpc-types.ts
  packages/agent/tests/prototyping/clients/dwn-server-info-cache.spec.ts
  packages/agent/tests/prototyping/clients/http-web5-rpc-client.spec.ts
  packages/agent/tests/prototyping/clients/web5-rpc-client.spec.ts
  packages/agent/tests/prototyping/clients/ws-web5-rpc-client.spec.ts
Due: agent

fix linting issue
  packages/agent/tests/prototyping/clients/http-web5-rpc-client.spec.ts
  packages/agent/tests/prototyping/clients/ws-dwn-rpc-client.spec.ts
Due: agent

uniform subscription handler type
  packages/agent/src/prototyping/clients/web-socket-clients.ts
  packages/agent/tests/prototyping/clients/ws-dwn-rpc-client.spec.ts
Due: agent

de-duplicate types/interfaces for dwn rpc
  packages/agent/src/prototyping/clients/dwn-rpc-types.ts
  packages/agent/src/rpc-client.ts
Due: agent

skip ttl test in browsers
  packages/agent/tests/prototyping/clients/dwn-server-info-cache.spec.ts
  packages/agent/tests/utils/runtimes.ts
Due: agent

create a map of message mandlers instead of listening to the socket event `message` many times
  packages/agent/src/prototyping/clients/json-rpc-socket.ts
Due: agent

Updated DID:DHT implementation to be compliant with vector 1
  packages/dids/.vscode/launch.json
  packages/dids/src/methods/did-dht.ts
  packages/dids/src/types/did-core.ts
  packages/dids/tests/fixtures/test-vectors/did-dht/vector-1-did-document.json
  packages/dids/tests/fixtures/test-vectors/did-dht/vector-1-dns-records.json
  packages/dids/tests/methods/did-dht.spec.ts
  web5-js.code-workspace
Due: dids

minor refactoring
  packages/dids/tests/methods/did-dht.spec.ts
Due: dids

changeset
  .changeset/two-moons-agree.md
Due: none

`@web5/agent` DWN + Web5 RPC Clients (#433)
  .changeset/proud-bottles-develop.md
  packages/agent/package.json
  packages/agent/src/index.ts
  packages/agent/src/prototyping/clients/dwn-rpc-types.ts
  packages/agent/src/prototyping/clients/http-dwn-rpc-client.ts
  packages/agent/src/prototyping/clients/json-rpc-socket.ts
  packages/agent/src/prototyping/clients/json-rpc.ts
  packages/agent/src/prototyping/clients/web-socket-clients.ts
  packages/agent/src/rpc-client.ts
  packages/agent/tests/prototyping/clients/http-dwn-rpc-client.spec.ts
  packages/agent/tests/prototyping/clients/json-rpc-socket.spec.ts
  packages/agent/tests/prototyping/clients/ws-dwn-rpc-client.spec.ts
  packages/agent/tests/rpc-client.spec.ts
  packages/agent/tests/utils/runtimes.ts
  pnpm-lock.yaml
Due: agent

typo
  packages/dids/tests/methods/did-dht.spec.ts
Due: dids

search exclude one more directory
  web5-js.code-workspace
Due: none

Added self to CODEOWNERS default owners
  CODEOWNERS
Due: none

Fixed annoy typedoc erros that have been there for a while
  .github/workflows/docs-ci.yml
  packages/api/src/record.ts
  packages/credentials/src/verifiable-credential.ts
  packages/crypto-aws-kms/src/ecdsa.ts
  packages/crypto-aws-kms/src/key-manager.ts
  packages/crypto-aws-kms/src/utils.ts
Due: api, credentials, crypto-aws-kms

one more typedoc fix
  packages/crypto-aws-kms/src/ecdsa.ts
Due: crypto-aws-kms

one more attempt
  packages/crypto-aws-kms/src/ecdsa.ts
Due: crypto-aws-kms

One last attempt...?
  packages/crypto-aws-kms/src/ecdsa.ts
Due: crypto-aws-kms

last time
  packages/crypto-aws-kms/src/ecdsa.ts
Due: crypto-aws-kms

Update packages/dids/src/methods/did-dht.ts
  packages/dids/src/methods/did-dht.ts
Due: dids

Addressed PR comments
  packages/crypto-aws-kms/src/utils.ts
Due: crypto-aws-kms

Address review comments
  packages/dids/src/methods/did-dht.ts
Due: dids

Updated DID:DHT implementation to be compliant with vector 1 (#504)
  .changeset/two-moons-agree.md
  CODEOWNERS
  packages/dids/.vscode/launch.json
  packages/dids/src/methods/did-dht.ts
  packages/dids/src/types/did-core.ts
  packages/dids/tests/fixtures/test-vectors/did-dht/vector-1-did-document.json
  packages/dids/tests/fixtures/test-vectors/did-dht/vector-1-dns-records.json
  packages/dids/tests/methods/did-dht.spec.ts
  web5-js.code-workspace
Due: dids

rebalance ci (#503)
  .github/workflows/tests-ci.yml
Due: none

chore: bump ion (#499)
  .changeset/shy-fireants-exist.md
  packages/dids/package.json
  pnpm-lock.yaml
Due: dids

add reference types from dwn-sdk-js to avoid pnpm build error https://github.com/microsoft/TypeScript/issues/47663\#issuecomment-1962129199
  packages/api/src/protocol.ts
  packages/api/src/record.ts
Due: api

add changesets
  .changeset/beige-tools-yawn.md
Due: none

[QoL] Fixed annoying TypeDoc errors that have been a distraction to PRs (#506)
  .github/workflows/docs-ci.yml
  packages/api/src/record.ts
  packages/credentials/src/verifiable-credential.ts
  packages/crypto-aws-kms/src/ecdsa.ts
  packages/crypto-aws-kms/src/key-manager.ts
  packages/crypto-aws-kms/src/utils.ts
Due: api, credentials, crypto-aws-kms
