Repository TBD54566975/web5-js: changes, and which Codecov flags are due for each by the changed paths.
All: common, credentials, crypto, dids, web5, web5-agent, web5-proxy-agent, web5-user-agent

Update packages/credentials/README.md
  packages/credentials/README.md
Due: credentials

Update packages/credentials/tests/presentation-exchange.spec.ts
  packages/credentials/tests/presentation-exchange.spec.ts
Due: credentials

minor readme updates
  packages/credentials/README.md
Due: credentials

Update `@web5/credentials` README (#349)
  packages/credentials/README.md
  packages/credentials/src/presentation-exchange.ts
  packages/credentials/src/verifiable-credential.ts
  packages/credentials/tests/presentation-exchange.spec.ts
Due: credentials

Modify and add types to match DID Core spec for DID dereferencing
  packages/dids/src/did-resolver.ts
  packages/dids/src/types.ts
  packages/dids/tests/did-resolver.spec.ts
Due: dids

Remove contentType from DID Resolution Results
  packages/credentials/tests/verifiable-credential.spec.ts
  packages/dids/src/did-dht.ts
  packages/dids/src/did-ion.ts
  packages/dids/src/did-key.ts
  packages/dids/tests/did-dht.spec.ts
Due: credentials, dids

Bump dids package version
  package-lock.json
  packages/agent/package.json
  packages/api/package.json
  packages/credentials/package.json
  packages/dids/package.json
  packages/identity-agent/package.json
  packages/proxy-agent/package.json
  packages/user-agent/package.json
Due: credentials, dids

Bump credentials package version
  package-lock.json
  packages/credentials/package.json
Due: credentials

rename
  packages/credentials/tests/presentation-exchange.spec.ts
Due: credentials

rename (#355)
  packages/credentials/tests/presentation-exchange.spec.ts
Due: credentials

final speedup
  .github/workflows/tests-ci.yml
Due: none

alphabetize
  .github/workflows/tests-ci.yml
Due: none

rebalance
  .github/workflows/tests-ci.yml
Due: none

fix bug in cache
  .github/workflows/tests-ci.yml
Due: none

fix lint errors
  packages/agent/src/sync-manager.ts
Due: none

do not start another sync interval until the push/pull have concluded
  packages/agent/src/dwn-manager.ts
  packages/agent/src/sync-manager.ts
  packages/agent/tests/dwn-manager.spec.ts
  packages/agent/tests/sync-manager.spec.ts
Due: none

update comments and sync mechanism
  packages/agent/src/sync-manager.ts
Due: none

update agent for new sdk
  package-lock.json
  packages/agent/package.json
  packages/agent/src/dwn-manager.ts
  packages/agent/src/sync-manager.ts
  packages/agent/tests/dwn-manager.spec.ts
  packages/agent/tests/sync-manager.spec.ts
  packages/api/package.json
Due: none

sync interval tests
  packages/agent/src/sync-manager.ts
  packages/agent/tests/sync-manager.spec.ts
Due: none

update server version
  packages/dev-env/docker-compose.yaml
Due: none

update server version
  package-lock.json
  package.json
Due: none

added subscription api
  packages/api/src/dwn-api.ts
  packages/api/src/subscriptions.ts
Due: none

updated README
  packages/api/README.md
Due: none

records subscribe test case
  packages/agent/src/dwn-manager.ts
  packages/api/src/dwn-api.ts
  packages/api/src/record.ts
  packages/api/tests/dwn-api.spec.ts
Due: none

responding with event stream
  packages/api/src/dwn-api.ts
Due: none

preliminary record subscribe
  packages/api/package.json
  packages/api/src/dwn-api.ts
  packages/api/src/subscriptions.ts
  packages/api/tests/dwn-api.spec.ts
Due: none

updated web5 subscription filter
  packages/api/README.md
Due: none

updated REAMDE and dwn spec
  packages/api/README.md
  packages/api/src/dwn-api.ts
Due: none

adding credentials.verify
  packages/credentials/tests/verifiable-credential.spec.ts
  test-vectors/credentials/verify.json
Due: credentials

subscriptions POC
  packages/agent/src/dwn-manager.ts
  packages/agent/src/store-managed-did.ts
  packages/agent/src/store-managed-identity.ts
  packages/agent/src/store-managed-key.ts
  packages/agent/src/sync-manager.ts
  packages/agent/tests/dwn-manager.spec.ts
  packages/agent/tests/sync-manager.spec.ts
  packages/api/src/dwn-api.ts
Due: none

trigger sdk-development report build workflow when this repo is merged
  .github/workflows/tests-ci.yml
  .web5-spec/Dockerfile
  .web5-spec/README.md
  .web5-spec/credentials.ts
  .web5-spec/did-ion.ts
  .web5-spec/encoders.ts
  .web5-spec/main.ts
  .web5-spec/openapi.d.ts
  .web5-spec/tsconfig.json
Due: none

trigger sdk-development report build workflow when this repo is merged (#359)
  .github/workflows/tests-ci.yml
  .web5-spec/Dockerfile
  .web5-spec/README.md
  .web5-spec/credentials.ts
  .web5-spec/did-ion.ts
  .web5-spec/encoders.ts
  .web5-spec/main.ts
  .web5-spec/openapi.d.ts
  .web5-spec/tsconfig.json
Due: none

Add tests for public JSON canonicalize method
  packages/crypto/tests/jose/utils.spec.ts
Due: crypto

Path conditions:
  common: any of: packages/common/**
  credentials: any of: packages/credentials/**
  crypto: any of: packages/crypto/**
  dids: any of: packages/dids/**
  web5: any of: packages/web5/**
  web5-agent: any of: packages/web5-agent/**
  web5-proxy-agent: any of: packages/web5-proxy-agent/**
  web5-user-agent: any of: packages/web5-user-agent/**
