Repository TBD54566975/web5-js: changes, and which Codecov flags are due for each by the changed paths.
All: agent, api, common, credentials, crypto, dids, identity-agent, crypto-aws-kms, proxy-agent, user-agent

codecov.yml:

comment:
  layout: "header, diff, components"

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto # auto compares coverage to the previous base commit
        threshold: 5% # allows a 5% drop from the previous base commit coverage
      - type: patch
        target: 90

  individual_components:
    - component_id: package-agent
      name: agent
      paths: ["packages/agent/**"]

    - component_id: package-api
      name: api
      paths: ["packages/api/**"]

    - component_id: package_common
      name: common
      paths: ["packages/common/**"]

    - component_id: package_credentials
      name: credentials
      paths: ["packages/credentials/**"]

    - component_id: package_crypto
      name: crypto
      paths: ["packages/crypto/**"]

    - component_id: package_dids
      name: dids
      paths: ["packages/dids/**"]

    - component_id: package-identity-agent
      name: identity-agent
      paths: ["packages/identity-agent/**"]

    - component_id: package-crypto-aws-kms
      name: crypto-aws-kms
      paths: ["packages/crypto-aws-kms/**"]

    - component_id: package-proxy-agent
      name: proxy-agent
      paths: ["packages/proxy-agent/**"]

    - component_id: package-user-agent
      name: user-agent
      paths: ["packages/user-agent/**"]

coverage:
  status:
    project:
      default:
        informational: true
    patch:
      default:
        informational: true # Don't gate PRs based on Codecov passing thresholds
        if_ci_failed: success

add ability to query for protocols with grants
  packages/agent/package.json
  packages/agent/src/connect.ts
  packages/agent/src/oidc.ts
  packages/agent/src/utils.ts
  packages/agent/tests/connect.spec.ts
  packages/api/src/dwn-api.ts
  packages/api/tests/web5.spec.ts
  pnpm-lock.yaml
Due: agent, api

lint fix
  packages/agent/src/utils.ts
Due: agent

allow query/configure of protocols with grants, query without grant for public protocols
  packages/agent/src/connect.ts
  packages/api/src/dwn-api.ts
Due: agent, api

add comments
  packages/agent/src/oidc.ts
  packages/api/src/dwn-api.ts
Due: agent, api

upgrade dwn-server
  package.json
  packages/agent/src/connect.ts
  packages/api/package.json
  packages/dev-env/docker-compose.yaml
  pnpm-lock.yaml
Due: agent, api

records query/read/subscribe should attempt with delegate DID if no permission is found
  packages/api/src/dwn-api.ts
Due: api

temporary change in protocols configure/query behavior
  packages/api/src/dwn-api.ts
  packages/api/tests/web5.spec.ts
Due: api

test protocol query/configure permissions, scopes to protocol for protocol interface messages
  packages/agent/src/permissions-api.ts
  packages/api/tests/dwn-api.spec.ts
Due: agent, api

add changeset
  .changeset/eighty-bikes-join.md
  .changeset/slimy-bulldogs-kiss.md
Due: none

Protocol Query with or without grant, Configure with grant. (#894)
  .changeset/eighty-bikes-join.md
  .changeset/slimy-bulldogs-kiss.md
  package.json
  packages/agent/package.json
  packages/agent/src/connect.ts
  packages/agent/src/oidc.ts
  packages/agent/src/permissions-api.ts
  packages/agent/src/utils.ts
  packages/agent/tests/connect.spec.ts
  packages/api/package.json
  packages/api/src/dwn-api.ts
  packages/api/src/web5.ts
  packages/api/tests/dwn-api.spec.ts
  packages/dev-env/docker-compose.yaml
  pnpm-lock.yaml
Due: agent, api

use workspace for deps
  packages/agent/package.json
  packages/api/package.json
  packages/credentials/package.json
  packages/crypto-aws-kms/package.json
  packages/crypto/package.json
  packages/dids/package.json
  packages/identity-agent/package.json
  packages/proxy-agent/package.json
  packages/user-agent/package.json
  pnpm-lock.yaml
Due: agent, api, credentials, crypto, dids, identity-agent, crypto-aws-kms, proxy-agent, user-agent

add changesets
  .changeset/tasty-years-argue.md
  .changeset/twelve-humans-doubt.md
Due: none

use workspace for deps (#903)
  .changeset/tasty-years-argue.md
  .changeset/twelve-humans-doubt.md
  packages/agent/package.json
  packages/api/package.json
  packages/credentials/package.json
  packages/crypto-aws-kms/package.json
  packages/crypto/package.json
  packages/dids/package.json
  packages/identity-agent/package.json
  packages/proxy-agent/package.json
  packages/user-agent/package.json
  pnpm-lock.yaml
Due: agent, api, credentials, crypto, dids, identity-agent, crypto-aws-kms, proxy-agent, user-agent

add a browser package
  CODEOWNERS
  packages/browser/.c8rc.json
  packages/browser/.mocharc.json
  packages/browser/build/esbuild-browser-config.cjs
  packages/browser/build/esbuild-tests.cjs
  packages/browser/package.json
  packages/browser/src/index.ts
  packages/browser/src/web-features.ts
  packages/browser/tests/tsconfig.json
  packages/browser/tests/web-features.spec.ts
  packages/browser/tsconfig.json
  packages/browser/web-test-runner.config.cjs
  pnpm-lock.yaml
  pnpm-workspace.yaml
  web5-js.code-workspace
Due: none

fix codeowners
  CODEOWNERS
Due: none

replace double quote
  packages/browser/src/web-features.ts
Due: none

modified npm commands and added to workflows
  .github/workflows/release-snapshot.yml
  .github/workflows/tests-ci.yml
  packages/browser/.mocharc.json
  packages/browser/CHANGELOG.md
  packages/browser/package.json
Due: none

skip browser in node tests
  .github/workflows/tests-ci.yml
Due: none

add a build:browser alias
  packages/browser/package.json
Due: none

modify the order so common comes first in build order
  .github/workflows/alpha-npm.yml
Due: none

remove web features from api pakage, add changesets
  .changeset/large-crews-divide.md
  .changeset/serious-ads-cheer.md
  package.json
  packages/api/src/index.ts
  packages/api/src/web-features.ts
Due: api

added readme and correted typo
  packages/browser/README.md
  packages/browser/package.json
Due: none

update readme
  packages/browser/README.md
Due: none

add a browser package (#905)
  .changeset/large-crews-divide.md
  .changeset/serious-ads-cheer.md
  .github/workflows/alpha-npm.yml
  .github/workflows/release-snapshot.yml
  .github/workflows/tests-ci.yml
  CODEOWNERS
  package.json
  packages/api/src/index.ts
  packages/browser/.c8rc.json
  packages/browser/CHANGELOG.md
  packages/browser/README.md
  packages/browser/build/esbuild-browser-config.cjs
  packages/browser/build/esbuild-tests.cjs
  packages/browser/package.json
  packages/browser/src/index.ts
  packages/browser/src/web-features.ts
  packages/browser/tests/tsconfig.json
  packages/browser/tests/web-features.spec.ts
  packages/browser/tsconfig.json
  packages/browser/web-test-runner.config.cjs
  pnpm-lock.yaml
  pnpm-workspace.yaml
  web5-js.code-workspace
Due: api

update reports workflow to ignore @web5/browser
  .github/workflows/reports.yml
Due: none

update reports workflow to ignore @web5/browser (#906)
  .github/workflows/reports.yml
Due: none

Fix a minor typo in the subscribe example
  packages/api/README.md
Due: api

hacktoberfest 2024 MD update
  CONTRIBUTING.md
  README.md
Due: none

reduce complexity of identity api, it is now scoped to the agent as a tenant
  packages/agent/src/did-api.ts
  packages/agent/src/identity-api.ts
  packages/agent/src/test-harness.ts
  packages/agent/tests/dwn-api.spec.ts
  packages/agent/tests/identity-api.spec.ts
  packages/agent/tests/permissions-api.spec.ts
  packages/agent/tests/store-identity.spec.ts
Due: agent

update api usage to remove explicit manage of identity
  packages/api/src/web5.ts
  packages/api/tests/dwn-api.spec.ts
  packages/api/tests/permission-grant.spec.ts
  packages/api/tests/permission-request.spec.ts
  packages/api/tests/protocol.spec.ts
  packages/api/tests/record.spec.ts
  packages/identity-agent/README.md
  packages/identity-agent/tests/managing-identities.spec.ts
Due: api, identity-agent

audit fix vuln
  packages/agent/package.json
Due: agent

install updated deps
  package.json
  pnpm-lock.yaml
Due: none

fix agent package json
  packages/agent/package.json
Due: agent

fix affected tests
  packages/identity-agent/tests/identity-agent.spec.ts
  packages/identity-agent/tests/managing-identities.spec.ts
  packages/proxy-agent/tests/proxy-agent.spec.ts
  packages/user-agent/tests/user-agent.spec.ts
Due: identity-agent, proxy-agent, user-agent

fix linting
  packages/identity-agent/tests/identity-agent.spec.ts
  packages/proxy-agent/tests/proxy-agent.spec.ts
  packages/user-agent/tests/user-agent.spec.ts
Due: identity-agent, proxy-agent, user-agent

increase coverage
  packages/agent/src/did-api.ts
  packages/agent/src/identity-api.ts
  packages/agent/tests/identity-api.spec.ts
Due: agent

fix lint
  packages/agent/tests/identity-api.spec.ts
Due: agent

add changesets
  .changeset/fifty-beers-bake.md
  .changeset/itchy-mayflies-camp.md
Due: none

added comments to the Identity and Did Api classes, will expand on DID in subsequent PR
  packages/agent/src/did-api.ts
  packages/agent/src/identity-api.ts
Due: agent

Attempt to fix tbdoc warnings
  packages/crypto/src/utils.ts
Due: crypto
