Repository TBD54566975/web5-js: changes, and which Codecov flags are due for each by the changed paths.
All: agent, api, common, credentials, crypto, dids, identity-agent, crypto-aws-kms, proxy-agent, user-agent

codecov.yml:

comment:
  layout: "header, diff, components"

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto # auto compares coverage to the previous base commit
        threshold: 5% # allows a 5% drop from the previous base commit coverage
      - type: patch
        target: 90 # every PR opened should strive for at least 90% coverage

  individual_components:
    - component_id: package-agent
      name: agent
      paths: ["packages/agent/**"]

    - component_id: package-api
      name: api
      paths: ["packages/api/**"]

    - component_id: package_common
      name: common
      paths: ["packages/common/**"]

    - component_id: package_credentials
      name: credentials
      paths: ["packages/credentials/**"]

    - component_id: package_crypto
      name: crypto
      paths: ["packages/crypto/**"]

    - component_id: package_dids
      name: dids
      paths: ["packages/dids/**"]

    - component_id: package-identity-agent
      name: identity-agent
      paths: ["packages/identity-agent/**"]

    - component_id: package-crypto-aws-kms
      name: crypto-aws-kms
      paths: ["packages/crypto-aws-kms/**"]

    - component_id: package-proxy-agent
      name: proxy-agent
      paths: ["packages/proxy-agent/**"]

    - component_id: package-user-agent
      name: user-agent
      paths: ["packages/user-agent/**"]

coverage:
  status:
    project:
      default:
        informational: true
    patch:
      default:
        informational: true # Don't gate PRs based on Codecov passing thresholds

remove dup doc
  packages/dids/src/methods/did-dht.ts
Due: dids

Fixed C&P comment
  packages/dids/src/methods/did-dht.ts
Due: dids

fix lint
  packages/dids/src/methods/did-dht.ts
Due: dids

#497 - Added support for publishing NS records + official test vector 2 compliance (#514)
  CODEOWNERS
  packages/dids/.c8rc.json
  packages/dids/src/methods/did-dht.ts
  packages/dids/tests/fixtures/test-vectors/did-dht/vector-1-did-document.json
  packages/dids/tests/fixtures/test-vectors/did-dht/vector-1-dns-records.json
  packages/dids/tests/fixtures/test-vectors/did-dht/vector-1.json
  packages/dids/tests/fixtures/test-vectors/did-dht/vector-2.json
  packages/dids/tests/methods/did-dht.spec.ts
Due: dids

`@web5/agent` Adding `DwnServerInfo` to RPC Clients (#489)
  .changeset/old-hotels-yawn.md
  packages/agent/.c8rc.json
  packages/agent/src/prototyping/clients/dwn-server-info-cache-memory.ts
  packages/agent/src/prototyping/clients/http-dwn-rpc-client.ts
  packages/agent/src/prototyping/clients/server-info-types.ts
  packages/agent/src/rpc-client.ts
  packages/agent/tests/prototyping/clients/dwn-server-info-cache.spec.ts
  packages/agent/tests/rpc-client.spec.ts
Due: agent

Remove unnecessary api release protection
  .changeset/old-hotels-yawn.md
  scripts/changesets-api-release-check.sh
Due: none

Fix release 1d59f714
  .github/workflows/release.yml
  scripts/changesets-api-release-check.sh
Due: none

Fix release 1d59f714
  scripts/changesets-api-release-check.sh
Due: none

Fix release 1d59f714
  .github/workflows/release.yml
Due: none

update
  packages/dids/src/methods/did-dht.ts
Due: dids

Fix changeset check script
  .changeset/old-hotels-yawn.md
  scripts/changesets-api-release-check.sh
Due: none

Cleanup
  .changeset/old-hotels-yawn.md
  .github/workflows/release.yml
Due: none

Remove unnecessary api release protection (#517)
  .changeset/old-hotels-yawn.md
  .github/workflows/release.yml
  scripts/changesets-api-release-check.sh
Due: none

manually bump agent adjacent packages
  packages/identity-agent/package.json
  packages/proxy-agent/package.json
  packages/user-agent/package.json
  pnpm-lock.yaml
Due: identity-agent, proxy-agent, user-agent

fix linting
  packages/agent/src/utils.ts
Due: agent

remove unused vars
  packages/agent/tests/utils.spec.ts
Due: agent

add test cases for record helper methods
  packages/api/tests/record.spec.ts
Due: api

add changeset
  .changeset/odd-eels-rest.md
Due: none

add test cases for utils
  packages/agent/tests/utils.spec.ts
Due: agent

add utils for constructing pagination cursors from a record
  packages/agent/src/utils.ts
  packages/api/package.json
  packages/api/src/record.ts
  pnpm-lock.yaml
Due: agent, api

fix linting error
  packages/agent/src/utils.ts
Due: agent

remove unused method
  packages/api/tests/record.spec.ts
Due: api

add documenting comments
  packages/agent/src/utils.ts
Due: agent

update changeset
  .changeset/odd-eels-rest.md
Due: none

update package versions after rebase
  packages/api/package.json
  pnpm-lock.yaml
Due: api

Add a helper method for generating a PaginationCursor (#513)
  .changeset/odd-eels-rest.md
  packages/agent/src/utils.ts
  packages/agent/tests/utils.spec.ts
  packages/api/package.json
  packages/api/src/record.ts
  packages/api/tests/record.spec.ts
  pnpm-lock.yaml
Due: agent, api

split changesets so agent and api changesets are in separate files
  .changeset/ninety-cows-hear.md
  .changeset/odd-eels-rest.md
Due: none

split changesets so agent and api changesets are in separate files (#523)
  .changeset/ninety-cows-hear.md
  .changeset/odd-eels-rest.md
Due: none

manually bump packages accordingly
  packages/api/package.json
  packages/identity-agent/package.json
  packages/proxy-agent/package.json
  packages/user-agent/package.json
  pnpm-lock.yaml
Due: api, identity-agent, proxy-agent, user-agent

support subscriptions in agent
  packages/agent/package.json
  packages/agent/src/dwn-api.ts
  packages/agent/src/test-harness.ts
  packages/agent/src/types/dwn.ts
  packages/agent/tests/dwn-api.spec.ts
  pnpm-lock.yaml
Due: agent

update api and server to support prune from newest dwn-sdk-js
  packages/api/package.json
  packages/dev-env/docker-compose.yaml
  pnpm-lock.yaml
Due: api

linting issue
  packages/agent/tests/rpc-client.spec.ts
Due: agent

update dwn-server
  package.json
  pnpm-lock.yaml
Due: none

add exports of subscription handler types to use in `api`
  packages/agent/src/types/dwn.ts
Due: agent

split changeset
  .changeset/six-pandas-tell.md
  .changeset/twelve-trainers-wonder.md
Due: none

add changesets
  .changeset/six-pandas-tell.md
Due: none
